Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

fix(env): update environment variable keys for Discord, GitHub, and Google integrations
  .changeset/few-chicken-roll.md
  packages/@studiocms/discord/src/effect/discord.ts
  packages/@studiocms/github/src/effect/github.ts
  packages/@studiocms/google/src/effect/google.ts
Due: plugins, @studiocms/discord, @studiocms/github, @studiocms/google

Update .changeset/few-chicken-roll.md
  .changeset/few-chicken-roll.md
Due: none

New Crowdin translations by GitHub Action
  packages/studiocms/src/handlers/plugin-i18n/zh.ts
  packages/studiocms/src/integrations/webVitals/i18n/zh.ts
  packages/studiocms/src/virtuals/i18n/translations/zh.json
Due: integrations, studiocms

[ci] changesets
  .changeset/wild-showers-visit.md
Due: none

fix(env): update environment variable keys for Discord, GitHub, and Google Plugins (#1000)
  .changeset/few-chicken-roll.md
  packages/@studiocms/discord/src/effect/discord.ts
  packages/@studiocms/github/src/effect/github.ts
  packages/@studiocms/google/src/effect/google.ts
Due: plugins, @studiocms/discord, @studiocms/github, @studiocms/google

chore(kysely): Tests, better types, and simplified migrations (#992)
  .changeset/wet-games-try.md
  README.md
  cspell.json
  packages/@withstudiocms/kysely/.gitignore
  packages/@withstudiocms/kysely/README.md
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/scripts/create-migration.ts
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/src/core/errors.ts
  packages/@withstudiocms/kysely/src/core/migrator.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.json
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.ts
  packages/@withstudiocms/kysely/src/schemas/migration-schema.json
  packages/@withstudiocms/kysely/src/utils/indexes.ts
  packages/@withstudiocms/kysely/src/utils/introspection.ts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/src/utils/sql.ts
  packages/@withstudiocms/kysely/src/utils/tables.ts
  packages/@withstudiocms/kysely/src/utils/triggers.ts
  packages/@withstudiocms/kysely/test/core/errors.test.ts
  packages/@withstudiocms/kysely/test/core/schema.test.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
  packages/@withstudiocms/kysely/test/utils/errors.test.ts
  packages/@withstudiocms/kysely/test/utils/introspection.test.ts
  packages/@withstudiocms/kysely/test/utils/tables.test.ts
  packages/@withstudiocms/kysely/test/utils/triggers.test.ts
  packages/@withstudiocms/kysely/vitest.config.ts
  vitest.config.ts
Due: tools-utils

[ci] changesets
  .changeset/strong-actors-type.md
Due: none

feat(tests): add reusable DB client fixture for Kysely tests and update introspection tests
  packages/@withstudiocms/kysely/.gitignore
  packages/@withstudiocms/kysely/test/test-utils.ts
  packages/@withstudiocms/kysely/test/utils/introspection.test.ts
Due: tools-utils

fix(tests): replace afterAll with afterEach for proper cleanup in introspection tests
  packages/@withstudiocms/kysely/test/utils/introspection.test.ts
Due: tools-utils

feat(tests): implement client core functionality tests for Kysely client
  packages/@withstudiocms/kysely/test/core/client.test.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
Due: tools-utils

fix(tests): add ignore comments for v8 compatibility in toEffect function
  packages/@withstudiocms/kysely/src/core/client.ts
Due: tools-utils

chore(tests): add nice views count changeset to improve testing
  .changeset/nice-views-count.md
Due: none

feat(tests): enhance DBClientFixture with LibsqlDialect instance for improved database connection
  packages/@withstudiocms/kysely/test/test-utils.ts
Due: tools-utils

feat(tests): add migrator core functionality tests for Kysely client
  packages/@withstudiocms/kysely/test/core/migrator.test.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
Due: tools-utils

feat(tests): update DBClientFixture to use migration folder for migrator instance
  packages/@withstudiocms/kysely/test/test-utils.ts
Due: tools-utils

feat(cache): add lastUpdatedAt to CacheEntry and CacheEntryStatus; enhance getFromNPM to include last cache update
  .changeset/shiny-yaks-invent.md
  packages/@withstudiocms/sdk/src/cache.ts
  packages/@withstudiocms/sdk/src/index.ts
  packages/@withstudiocms/sdk/src/modules/util/getFromNPM.ts
Due: tools-utils

fix(getFromNPM): update _remapData to accept package name and adjust cache key usage
  packages/@withstudiocms/sdk/src/modules/util/getFromNPM.ts
Due: tools-utils

fix(cache): enhance getCacheStatus to clean up expired entries
  packages/@withstudiocms/sdk/src/cache.ts
Due: tools-utils

fix(loader): enhance Windows compatibility in importBundledFile function
  packages/@withstudiocms/config-utils/src/loader.ts
Due: tools-utils, @withstudiocms/config-utils

fix(config): improve Windows support for config loading
  .changeset/wise-actors-relate.md
Due: none

fix(loader): use fileURLToPath for file access in loadConfigFile function
  packages/@withstudiocms/config-utils/src/loader.ts
Due: tools-utils, @withstudiocms/config-utils

feat(tests): Improve Kysely testing (#1007)
  .changeset/nice-views-count.md
  packages/@withstudiocms/kysely/.gitignore
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/test/core/client.test.ts
  packages/@withstudiocms/kysely/test/core/migrator.test.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
  packages/@withstudiocms/kysely/test/utils/introspection.test.ts
Due: tools-utils

feat(cache): enhance cache with lastUpdatedAt, and getFromNPM to include last cache update (#1008)
  .changeset/shiny-yaks-invent.md
  packages/@withstudiocms/sdk/src/cache.ts
  packages/@withstudiocms/sdk/src/index.ts
  packages/@withstudiocms/sdk/src/modules/util/getFromNPM.ts
Due: tools-utils

fix(config): enhance configuration file search for cross-platform compatibility
  packages/@withstudiocms/config-utils/src/watcher.ts
Due: tools-utils, @withstudiocms/config-utils

feat(plugins): update plugin hooks for dashboard and auth services
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, studiocms

fix(loader): improve cross-platform compatibility for file path handling in loadChangelog and readJson functions
  packages/@withstudiocms/internal_helpers/src/utils/jsonUtils.ts
  packages/@withstudiocms/internal_helpers/src/utils/loadChangelog.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix(config): enhance Windows support for configuration loading
  .changeset/wise-actors-relate.md
Due: none

fix(loader): convert cache JSON URL to file path for cross-platform compatibility
  .changeset/wise-actors-relate.md
  packages/studiocms/src/index.ts
Due: integrations, studiocms

feat(plugins): standardize hook names for authentication and configuration across plugins
  packages/@studiocms/auth0/src/index.ts
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/cloudinary-image-service/src/index.ts
  packages/@studiocms/discord/src/index.ts
  packages/@studiocms/github/src/index.ts
  packages/@studiocms/google/src/index.ts
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/wysiwyg/src/index.ts
  packages/studiocms/src/integrations/webVitals/checkForWebVitalsPlugin.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/test-utils.ts
Due: integrations, plugins, studiocms, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

feat(tests): update plugin hook names for consistency across test files
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/studiocms/test/test-utils.test.ts
Due: integrations, plugins, studiocms, @studiocms/cloudinary-image-service, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx

feat(tests): update plugin hook names for consistency across test files
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/studiocms/test/test-utils.test.ts
Due: integrations, plugins, studiocms, @studiocms/html, @studiocms/mdx

feat(tests): rename image hook to image-service for clarity
  packages/studiocms/test/test-utils.test.ts
Due: integrations, studiocms

feat(plugins): refactor plugin hooks for improved organization and clarity
  .changeset/tasty-books-stop.md
Due: none

feat(plugins): implement runHook function for dynamic plugin hook execution
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

feat(plugins): enhance runHook function to include safeData for improved logging
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

feat(plugins): optimize logger initialization in pluginHandler for improved performance
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

feat(plugins): enhance error handling in plugin hooks using Effect and Cause
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

feat(plugins): remove unused IntegrationHooks interface from global types
  packages/studiocms/src/global.d.ts
Due: integrations, studiocms

[ci] changesets
  .changeset/fast-pans-switch.md
Due: none

feat(plugins): refactor plugin hooks (#1010)
  .changeset/tasty-books-stop.md
  packages/@studiocms/auth0/src/index.ts
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/cloudinary-image-service/src/index.ts
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
  packages/@studiocms/discord/src/index.ts
  packages/@studiocms/github/src/index.ts
  packages/@studiocms/google/src/index.ts
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/wysiwyg/src/index.ts
  packages/studiocms/src/global.d.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/integrations/webVitals/checkForWebVitalsPlugin.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/test-utils.ts
  packages/studiocms/test/test-utils.test.ts
Due: integrations, plugins, studiocms, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
