Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

Update .changeset/plenty-parrots-sleep.md
  .changeset/plenty-parrots-sleep.md
Due: none

feat: integrate allure reporting into middleware and context utils tests, refactor for clarity
  packages/@withstudiocms/effect/test/astro/api-route.test.ts
  packages/@withstudiocms/effect/test/astro/context-utils.test.ts
  packages/@withstudiocms/effect/test/astro/utils/middleware.test.ts
Due: tools-utils, @withstudiocms/effect

feat: integrate allure reporting into test files and refactor for clarity
  packages/@withstudiocms/config-utils/test/test-utils.ts
  packages/@withstudiocms/config-utils/test/watcher.test.ts
  packages/@withstudiocms/config-utils/test/zod-utils.test.ts
  packages/@withstudiocms/config-utils/vitest.config.ts
Due: tools-utils, @withstudiocms/config-utils

Fix the page data form validation parsing of boolean select fields values by transforming the string values to boolean
  .changeset/giant-signs-tickle.md
  packages/studiocms/src/components/dashboard/content-mgmt/formdata-utils.ts
Due: integrations, studiocms

feat: enhance integration tests with allure reporting and refactor for clarity
  packages/@withstudiocms/config-utils/test/integration-utils.test.ts
Due: tools-utils, @withstudiocms/config-utils

feat: refactor tryCatch tests to use allure reporting and improve structure
  packages/@withstudiocms/config-utils/test/utils/tryCatch.test.ts
Due: tools-utils, @withstudiocms/config-utils

Move boolean transformer to seperate helper function
  .changeset/giant-signs-tickle.md
  packages/studiocms/src/components/dashboard/content-mgmt/formdata-utils.ts
Due: integrations, studiocms

feat: integrate allure reporting into config loader tests and refactor for clarity
  packages/@withstudiocms/config-utils/test/loader.test.ts
Due: tools-utils, @withstudiocms/config-utils

feat: add timeout to HTTPClient test for improved reliability
  packages/@withstudiocms/effect/test/effect.test.ts
Due: tools-utils, @withstudiocms/effect

Replace zod json string message for fixed error string (#946)
  .changeset/plenty-parrots-sleep.md
  packages/studiocms/src/routes/firstTimeSetupRoutes/api/step-2.ts
Due: integrations, studiocms

Fix the page data form validation parsing of boolean select fields (#950)
  .changeset/giant-signs-tickle.md
  packages/studiocms/src/components/dashboard/content-mgmt/formdata-utils.ts
Due: integrations, studiocms

feat: enhance logging and testing utilities with improved mock logger and allure integration
  cspell.json
  packages/@withstudiocms/component-registry/src/utils.ts
  packages/@withstudiocms/component-registry/test/test-utils.ts
  packages/@withstudiocms/component-registry/test/utils.test.ts
  packages/@withstudiocms/component-registry/vitest.config.ts
Due: tools-utils, @withstudiocms/component-registry

feat: add 'mycomponent' to cspell dictionary and refactor transformHTML tests for improved structure and allure integration
  cspell.json
  packages/@withstudiocms/component-registry/test/transform-html.test.ts
Due: tools-utils, @withstudiocms/component-registry

feat: integrate Allure reporting into ComponentRegistry tests for enhanced visibility and structure
  packages/@withstudiocms/component-registry/test/Registry.test.ts
Due: tools-utils, @withstudiocms/component-registry

feat: enhance ComponentRegistry tests with reusable component setup and improved allure reporting
  packages/@withstudiocms/component-registry/test/Registry.test.ts
Due: tools-utils, @withstudiocms/component-registry

feat: refactor Component Registry integration tests to enhance allure reporting and improve structure
  packages/@withstudiocms/component-registry/test/registry-test.test.ts
Due: tools-utils, @withstudiocms/component-registry

feat: enhance error handling tests with Allure reporting integration and improved structure
  packages/@withstudiocms/component-registry/test/errors.test.ts
Due: tools-utils, @withstudiocms/component-registry

feat: enhance tests with Allure reporting integration and improved structure across multiple test files
  packages/@withstudiocms/component-registry/test/Registry.test.ts
  packages/@withstudiocms/component-registry/test/registry/PropsParser.test.ts
  packages/@withstudiocms/component-registry/test/registry/consts.test.ts
  packages/@withstudiocms/component-registry/test/registry/handler.test.ts
Due: tools-utils, @withstudiocms/component-registry

refactor: remove commented-out test cases for buildAliasExports and buildVirtualImport
  packages/@withstudiocms/component-registry/test/registry/consts.test.ts
Due: tools-utils, @withstudiocms/component-registry

feat: integrate Allure reporting into component proxy tests, enhancing structure and error handling across various test files
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-codepoint.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-data-html.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-data-xml.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/index.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/util.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/index.test.ts
Due: tools-utils, @withstudiocms/component-registry

feat: enhance test structure and reporting with Allure integration, adding shared tags and parent suite configuration
  packages/@withstudiocms/auth-kit/test/index.test.ts
  packages/@withstudiocms/auth-kit/test/test-utils.ts
  packages/@withstudiocms/auth-kit/vitest.config.ts
Due: tools-utils, @withstudiocms/auth-kit

feat: integrate Allure reporting into config tests, enhancing structure and error handling
  packages/@withstudiocms/auth-kit/test/config.test.ts
Due: tools-utils, @withstudiocms/auth-kit

feat: enhance test structure and reporting with Allure integration for username and password validation tests
  cspell.json
  packages/@withstudiocms/auth-kit/test/utils/unsafeCheck.test.ts
  packages/@withstudiocms/auth-kit/test/utils/user.test.ts
Due: tools-utils, @withstudiocms/auth-kit

feat: integrate Allure reporting into password and session utility tests, enhancing structure and error handling
  packages/@withstudiocms/auth-kit/test/utils/password.test.ts
  packages/@withstudiocms/auth-kit/test/utils/session.test.ts
Due: tools-utils, @withstudiocms/auth-kit

feat: enhance test structure and reporting with Allure integration for encryption, password, and libravatar utility tests
  packages/@withstudiocms/auth-kit/src/utils/libravatar.ts
  packages/@withstudiocms/auth-kit/test/modules/encryption.test.ts
  packages/@withstudiocms/auth-kit/test/modules/password.test.ts
  packages/@withstudiocms/auth-kit/test/utils/libravatar.test.ts
Due: tools-utils, @withstudiocms/auth-kit

feat: integrate Allure reporting into session and user module tests, enhancing structure and error handling
  packages/@withstudiocms/auth-kit/test/modules/session.test.ts
  packages/@withstudiocms/auth-kit/test/modules/user.test.ts
  packages/@withstudiocms/auth-kit/test/utils/libravatar.test.ts
Due: tools-utils, @withstudiocms/auth-kit

feat: Enhance CI workflows with matrix strategies for type checks and bundle tests
  .github/actions/allure-report/action.yml
  .github/actions/coverage-report/action.yml
  .github/workflows/ci-testing.yml
  package.json
Due: none

fix(ci): Clean up CI configuration and enhance Allure report handling
  .github/actions/allure-report/action.yml
  .github/workflows/ci-testing.yml
Due: none

fix: Update CI configuration to ignore specific binaries for matrix builds
  knip.config.ts
Due: none

fix: Update Allure report comment format to simplify output
  .github/actions/allure-report/action.yml
Due: none

fix: Update ignoreBinaries patterns to use regex for matrix builds
  knip.config.ts
Due: none

fix: Update Allure report comment format to use markdown headers
  .github/actions/allure-report/action.yml
Due: none

fix: Rename vitest-tests job for clarity in CI workflow
  .github/actions/allure-report/action.yml
  .github/workflows/ci-testing.yml
Due: none

fix: Ensure fail-fast strategy is consistently applied in CI jobs
  .github/workflows/ci-testing.yml
Due: none

fix: Refactor CI jobs to use composite actions for type checks and bundle analysis
  .github/actions/bundle-analysis/action.yml
  .github/actions/type-check/action.yml
  .github/workflows/ci-testing.yml
Due: none
