Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

chore: remove legacy email domain verification code
  .changeset/shy-bobcats-cheer.md
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
Due: integrations, studiocms

chore: remove legacy email domain verification code (#1265)
  .changeset/shy-bobcats-cheer.md
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
Due: integrations, studiocms

feat: Add API endpoints for mailer, plugins, user profile, password reset, search list, taxonomy management, email templates, user management, email verification, and session verification
  .changeset/tricky-pandas-switch.md
  cspell.json
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/dashboard/errors.ts
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/api-tokens.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/config.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/content.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/create-endpoints.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/email-notifications-settings.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/mailer.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/plugins.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/profile.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/reset-password.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/search-list.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/taxonomy.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/templates.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/users.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/verify-email-endpoints.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/verify-session.ts
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/@withstudiocms/api-spec/src/index.ts
Due: tools-utils

fix: Update API documentation warning message for clarity
  packages/@withstudiocms/api-spec/src/index.ts
Due: tools-utils

refactor: Replace custom buildPartialSchema with Schema.partial for category and page data
  packages/@withstudiocms/api-spec/src/_internal/build-partial-schema.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
Due: tools-utils

fix: Update success response schema for logout, OAuth, and verify email endpoints to use Schema.Null
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/verify-email-endpoints.ts
Due: tools-utils

fix: Update export path for HttpApiScalar to scalar in package.json
  packages/@withstudiocms/api-spec/package.json
Due: tools-utils

refactor: Update documentation server script and remove old index file
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
Due: tools-utils

fix: Update redirect status codes from 303 to 302 for consistency in authentication endpoints
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/verify-email-endpoints.ts
Due: tools-utils

chore(api-spec): refactor and reorganize code structure
  .changeset/ripe-yaks-attack.md
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/auth/errors.ts
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/auth/schemas.ts
  packages/@withstudiocms/api-spec/src/dashboard/errors.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/templates.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/verify-email-endpoints.ts
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/integrations/errors.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/integrations/routes/db-studio.ts
  packages/@withstudiocms/api-spec/src/integrations/routes/storage.ts
  packages/@withstudiocms/api-spec/src/integrations/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/errors.ts
  packages/@withstudiocms/api-spec/src/rest-api/middleware.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
  packages/@withstudiocms/api-spec/src/sdk/errors.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/@withstudiocms/api-spec/src/sdk/schemas.ts
Due: tools-utils

refactor: update endpoint names to camelCase for consistency
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/mailer.ts
  packages/@withstudiocms/api-spec/src/integrations/routes/db-studio.ts
  packages/@withstudiocms/api-spec/src/integrations/routes/storage.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
Due: tools-utils

fix: remove unused dependency '@effect/cli' from package.json and pnpm-lock.yaml
  packages/@withstudiocms/api-spec/package.json
  pnpm-lock.yaml
Due: tools-utils

fix: reorder exports in package.json for sdk module
  packages/@withstudiocms/api-spec/package.json
Due: tools-utils

refactor: enhance makeHtmlComponent for improved HTML generation and error handling
  packages/@withstudiocms/api-spec/src/scalar.ts
Due: tools-utils

docs: enhance makeHtmlComponent JSDoc with parameter details and error handling
  packages/@withstudiocms/api-spec/src/scalar.ts
Due: tools-utils

feat(db): enhance database connection handling and configuration retrieval
  .changeset/new-garlics-happen.md
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/connection.ts
  packages/studiocms/src/toolbar/db-viewer/studio/env/libsql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/env/mysql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/env/postgres.ts
  packages/studiocms/src/toolbar/db-viewer/studio/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/type.ts
  packages/studiocms/src/toolbar/db-viewer/studio/virtual-connection/libsql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/virtual-connection/mysql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/virtual-connection/postgres.ts
  packages/studiocms/src/virtual.d.ts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

chore: add documentation comments for connection module
  packages/studiocms/src/toolbar/db-viewer/studio/connection.ts
Due: integrations, studiocms

chore: remove deprecated and unused virtual modules
  .changeset/warm-socks-raise.md
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

feat(api-spec): Implement dashboard api spec (#1268)
  .changeset/tricky-pandas-switch.md
  cspell.json
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
  packages/@withstudiocms/api-spec/src/_internal/build-partial-schema.ts
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/dashboard/errors.ts
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/api-tokens.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/config.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/content.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/create-endpoints.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/email-notifications-settings.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/mailer.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/plugins.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/profile.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/reset-password.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/search-list.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/taxonomy.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/templates.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/users.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/verify-email-endpoints.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/verify-session.ts
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
Due: tools-utils

chore(api-spec): refactor and reorganize code structure (#1269)
  .changeset/ripe-yaks-attack.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/auth/errors.ts
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/auth/schemas.ts
  packages/@withstudiocms/api-spec/src/dashboard/errors.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/mailer.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/templates.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/verify-email-endpoints.ts
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/integrations/errors.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/integrations/routes/db-studio.ts
  packages/@withstudiocms/api-spec/src/integrations/routes/storage.ts
  packages/@withstudiocms/api-spec/src/integrations/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/errors.ts
  packages/@withstudiocms/api-spec/src/rest-api/middleware.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
  packages/@withstudiocms/api-spec/src/scalar.ts
  packages/@withstudiocms/api-spec/src/sdk/errors.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/@withstudiocms/api-spec/src/sdk/schemas.ts
  pnpm-lock.yaml
Due: tools-utils

feat(db): enhance database connection handling and configuration retrieval (#1270)
  .changeset/new-garlics-happen.md
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/connection.ts
  packages/studiocms/src/toolbar/db-viewer/studio/env/libsql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/env/mysql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/env/postgres.ts
  packages/studiocms/src/toolbar/db-viewer/studio/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/type.ts
  packages/studiocms/src/toolbar/db-viewer/studio/virtual-connection/libsql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/virtual-connection/mysql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/virtual-connection/postgres.ts
  packages/studiocms/src/virtual.d.ts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

chore: remove deprecated and unused virtual modules (#1271)
  .changeset/warm-socks-raise.md
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

fix(frontend): fix slug regex to allow slashes inside slug
  .changeset/plain-meals-sort.md
  packages/studiocms/frontend/scripts/formdata-utils.ts
Due: integrations, studiocms

docs(frontend): ensure JSDocs are more clear with the regex slug matching
  packages/studiocms/frontend/scripts/formdata-utils.ts
Due: integrations, studiocms

updated changeset to have a more clear discription
  .changeset/plain-meals-sort.md
Due: none

fix(frontend): fix slug regex to allow slashes inside slug (#1272)
  .changeset/plain-meals-sort.md
  packages/studiocms/frontend/scripts/formdata-utils.ts
Due: integrations, studiocms

feat: update site configuration and add S3 storage integration
  playground/astro.config.mts
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: none

chore: update dependencies and ignore templates in knip.config
  knip.config.ts
  pnpm-lock.yaml
  scripts/update-templates.mjs
  templates/blog-libsql/package.json
  templates/blog-mysql/package.json
  templates/blog-postgres/package.json
  templates/headless-libsql/package.json
  templates/headless-mysql/package.json
  templates/headless-postgres/package.json
Due: none

lint
  biome.json
  knip.config.ts
  packages/create-studiocms/src/steps/template.ts
  packages/create-studiocms/src/templates.config.ts
  packages/create-studiocms/src/types.ts
  scripts/snapshot-templates.mjs
  templates/blog-libsql/studiocms.config.mjs
  templates/blog-libsql/tsconfig.json
  templates/blog-mysql/studiocms.config.mjs
  templates/blog-mysql/tsconfig.json
  templates/blog-postgres/studiocms.config.mjs
  templates/blog-postgres/tsconfig.json
  templates/headless-libsql/src/layouts/Layout.astro
  templates/headless-libsql/src/pages/index.astro
  templates/headless-libsql/studiocms.config.mjs
  templates/headless-libsql/tsconfig.json
  templates/headless-mysql/src/layouts/Layout.astro
  templates/headless-mysql/src/pages/index.astro
  templates/headless-mysql/studiocms.config.mjs
  templates/headless-mysql/tsconfig.json
  templates/headless-postgres/src/layouts/Layout.astro
  templates/headless-postgres/src/pages/index.astro
  templates/headless-postgres/studiocms.config.mjs
  templates/headless-postgres/tsconfig.json
Due: none

chore: clear ignored packages in config and add changeset for template loading simplification
  .changeset/config.json
  .changeset/four-queens-end.md
Due: none

refactor: streamline template loading by removing unnecessary snapshot function
  packages/create-studiocms/src/templates.config.ts
Due: none

chore: add changeset-version command to release job in CI workflow
  .github/workflows/ci-push-main.yml
Due: none

chore: add 'artipacked' to cspell words and update zizmor rules
  cspell.json
  zizmor.yml
Due: none

fix: correct template URL construction in getTemplateTarget function
  packages/create-studiocms/src/steps/template.ts
Due: none

fix: update sync job name to reflect correct branch pattern for templates
  .github/workflows/ci-template-sync.yml
Due: none

chore: add Template Dependencies group to renovate configuration
  .github/renovate.json
Due: none

fix: replace favicon.svg with updated logo design and styles
  playground/public/favicon.svg
Due: none

fix: update site URL configuration for different environments
  templates/blog-libsql/astro.config.mjs
  templates/blog-mysql/astro.config.mjs
  templates/blog-postgres/astro.config.mjs
  templates/headless-libsql/astro.config.mjs
  templates/headless-mysql/astro.config.mjs
  templates/headless-postgres/astro.config.mjs
Due: none

feat: update site configuration and add S3 storage integration (#1277)
  playground/astro.config.mts
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: none

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
