Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

chore(renovate): simplify configuration by extending withstudiocms/renovate-config
  .github/renovate.json
Due: none

chore(renovate): simplify configuration by extending withstudiocms/renovate-config (#827)
  .github/renovate.json
Due: none

chore: update GitHub Actions workflows and scripts
  .github/actions/pnpm-affected-packages/action.yml
  .github/actions/pnpm-package-paths/action.yml
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-changesets.yml
  .github/workflows/ci-crowdin-discord-bot.yml
  .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
  .github/workflows/ci-testing.yml
  .vscode/settings.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
Due: none

chore: add missing shell declaration for bash in action.yml files
  .github/actions/pnpm-affected-packages/action.yml
  .github/actions/pnpm-package-paths/action.yml
Due: none

chore: remove unnecessary job dependencies in CI workflow
  .github/workflows/ci-testing.yml
Due: none

Update .github/workflows/ci-testing.yml
  .github/workflows/ci-testing.yml
Due: none

chore: remove unnecessary date comment from install action in CI workflow
  .github/workflows/ci-checks.yml
Due: none

chore: update output description for affected packages in action.yml
  .github/actions/pnpm-affected-packages/action.yml
Due: none

chore: update GitHub Actions workflows and scripts (#828)
  .github/actions/pnpm-affected-packages/action.yml
  .github/actions/pnpm-package-paths/action.yml
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-changesets.yml
  .github/workflows/ci-crowdin-discord-bot.yml
  .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
  .github/workflows/ci-testing.yml
  .vscode/settings.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
Due: none

fix: update schema path in biome.json to use local configuration
  biome.json
Due: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-830.md
Due: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-832.md
Due: none

[ci] changesets
  .changeset/thirty-cars-dress.md
Due: none

chore: update CI workflow to include Biome linter and adjust biome.json rules
  .github/workflows/ci-checks.yml
  biome.json
Due: none

chore: add Biome setup step to CI workflow
  .github/workflows/ci-checks.yml
Due: none

chore: rearrange steps in CI workflow to install tools before running Biome linter
  .github/workflows/ci-checks.yml
Due: none

fix: replace Biome linter action with direct command in CI workflow
  .github/workflows/ci-checks.yml
Due: none

fix: simplify ci:lint command by removing unnecessary flags
  package.json
Due: none

fix: update noTsIgnore rule to warn in linter configuration
  biome.json
Due: none

chore: update CI workflow to include Biome linter and adjust biome.js rules (#836)
  .github/workflows/ci-checks.yml
  biome.json
  package.json
Due: none

[ci] lint
  .vscode/settings.json
  packages/@studiocms/html/src/lib/shared.ts
  packages/@studiocms/markdoc/src/lib/shared.ts
  packages/@studiocms/md/src/lib/shared.ts
  packages/@studiocms/mdx/src/lib/shared.ts
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/components/countdown.ts
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/rte/index.ts
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/tuiImageEditor/index.ts
  packages/@withstudiocms/auth-kit/src/utils/unsafeCheck.ts
  packages/@withstudiocms/component-registry/test/errors.test.ts
  packages/@withstudiocms/component-registry/test/test-utils.ts
  packages/@withstudiocms/config-utils/test/test-utils.ts
  packages/studiocms/src/cli/add/tryToInstallPlugins.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils

fix: remove unnecessary TypeScript error suppression in countdown component
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/components/countdown.ts
Due: plugins, @studiocms/wysiwyg

feat: add resolveBuiltIns function and corresponding tests for Node.js built-in module resolution
  packages/studiocms/src/integrations/node-namespace.ts
  packages/studiocms/test/integrations/node-namespace.test.ts
Due: integrations, studiocms

chore: add biome ignore comment for linting rules in node-namespace test file
  packages/studiocms/test/integrations/node-namespace.test.ts
Due: integrations, studiocms

fix: move v8 ignore comments to maintain clarity in nodeNamespaceBuiltinsAstro function
  packages/studiocms/src/integrations/node-namespace.ts
Due: integrations, studiocms

fix: add missing v8 ignore comments to plugins.ts for clarity
  packages/studiocms/src/integrations/plugins.ts
Due: integrations, studiocms

feat: add unit tests for robots integration functions and utilities
  packages/studiocms/src/integrations/robots/core.ts
  packages/studiocms/test/integrations/robots/core.test.ts
  packages/studiocms/test/integrations/robots/index.test.ts
  packages/studiocms/test/integrations/robots/utils.test.ts
Due: integrations, studiocms

fix: add v8 ignore comments for clarity in generateContent and createRobotsIntegration functions feat: add tests for measureExecutionTime utility function
  packages/studiocms/src/integrations/robots/core.ts
  packages/studiocms/src/integrations/robots/index.ts
  packages/studiocms/test/integrations/robots/utils.test.ts
Due: integrations, studiocms

fix: add v8 ignore comment for clarity in generateContent function
  packages/studiocms/src/integrations/robots/core.ts
Due: integrations, studiocms

feat: implement dynamic sitemap integration with safeString and template functions, add comprehensive tests
  packages/studiocms/src/integrations/dynamic-sitemap/index.ts
  packages/studiocms/src/integrations/dynamic-sitemap/sitemap-index.xml.ts
  packages/studiocms/test/integrations/dynamic-sitemap/index.test.ts
  packages/studiocms/test/integrations/dynamic-sitemap/sitemap-index.xml.test.ts
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

Add comprehensive tests for Web Vitals integration
  packages/studiocms/src/integrations/webVitals/checkForWebVitalsPlugin.ts
  packages/studiocms/src/integrations/webVitals/consts.ts
  packages/studiocms/src/integrations/webVitals/utils/webVitalsUtils.ts
  packages/studiocms/src/integrations/webVitals/webVital.ts
  packages/studiocms/src/integrations/webVitals/webVitalsRouteSummary.ts
  packages/studiocms/test/integrations/webVitals/schemas.test.ts
  packages/studiocms/test/integrations/webVitals/utils/buildDataObject.test.ts
  packages/studiocms/test/integrations/webVitals/utils/buildPageRouteDataObject.test.ts
  packages/studiocms/test/integrations/webVitals/utils/buildPerPageDataObject.test.ts
  packages/studiocms/test/integrations/webVitals/utils/checkDate.test.ts
  packages/studiocms/test/integrations/webVitals/utils/webVitalsUtils.test.ts
  packages/studiocms/test/integrations/webVitals/webVitalsRouteSummary.test.ts
  packages/studiocms/test/integrations/webVitals/webVitalsSummary.test.ts
  vitest.config.ts
Due: integrations, studiocms

fix: add v8 ignore comments for clarity in web vitals data processing functions
  packages/studiocms/src/integrations/webVitals/utils/buildPageRouteDataObject.ts
  packages/studiocms/src/integrations/webVitals/utils/buildPerPageDataObject.ts
  packages/studiocms/src/integrations/webVitals/utils/webVitalsUtils.ts
Due: integrations, studiocms

Remove obsolete test files and snapshots for various components; consolidate tests into a single components test file for improved organization and maintainability.
  packages/studiocms/test/components/__snapshots__/components.test.ts.snap
  packages/studiocms/test/components/auth/FallbackCanvas.test.ts
  packages/studiocms/test/components/auth/OAuthButton.test.ts
  packages/studiocms/test/components/auth/OAuthButtonStack.test.ts
  packages/studiocms/test/components/auth/StaticAuthCheck.test.ts
  packages/studiocms/test/components/auth/StudioCMSLogoSVG.test.ts
  packages/studiocms/test/components/auth/ThreeCanvasLoader.test.ts
  packages/studiocms/test/components/auth/__snapshots__/FallbackCanvas.test.ts.snap
  packages/studiocms/test/components/auth/__snapshots__/OAuthButton.test.ts.snap
  packages/studiocms/test/components/auth/__snapshots__/OAuthButtonStack.test.ts.snap
  packages/studiocms/test/components/auth/__snapshots__/StaticAuthCheck.test.ts.snap
  packages/studiocms/test/components/auth/__snapshots__/StudioCMSLogoSVG.test.ts.snap
  packages/studiocms/test/components/auth/__snapshots__/ThreeCanvasLoader.test.ts.snap
  packages/studiocms/test/components/components.test.ts
  packages/studiocms/test/components/first-time-setup/PageHeader.test.ts
  packages/studiocms/test/components/first-time-setup/__snapshots__/PageHeader.test.ts.snap
  packages/studiocms/test/components/shared/Code.test.ts
  packages/studiocms/test/components/shared/Favicons.test.ts
  packages/studiocms/test/components/shared/Global.test.ts
  packages/studiocms/test/components/shared/SSRUser.test.ts
  packages/studiocms/test/components/shared/ThemeManager.test.ts
  packages/studiocms/test/components/shared/TitleTags.test.ts
  packages/studiocms/test/components/shared/__snapshots__/Code.test.ts.snap
  packages/studiocms/test/components/shared/__snapshots__/Favicons.test.ts.snap
  packages/studiocms/test/components/shared/__snapshots__/Global.test.ts.snap
  packages/studiocms/test/components/shared/__snapshots__/SSRUser.test.ts.snap
  packages/studiocms/test/components/shared/__snapshots__/ThemeManager.test.ts.snap
  packages/studiocms/test/components/shared/__snapshots__/TitleTags.test.ts.snap
  packages/studiocms/test/test-utils.ts
  packages/studiocms/test/virtuals/components/CustomImage.test.ts
  packages/studiocms/test/virtuals/components/FormattedDate.test.ts
  packages/studiocms/test/virtuals/components/Generator.test.ts
  packages/studiocms/test/virtuals/components/Renderer.test.ts
  packages/studiocms/test/virtuals/components/__snapshots__/CustomImage.test.ts.snap
  packages/studiocms/test/virtuals/components/__snapshots__/FormattedDate.test.ts.snap
  packages/studiocms/test/virtuals/components/__snapshots__/Generator.test.ts.snap
  packages/studiocms/test/virtuals/components/__snapshots__/Renderer.test.ts.snap
  packages/studiocms/test/virtuals/components/__snapshots__/components.test.ts.snap
  packages/studiocms/test/virtuals/components/components.test.ts
Due: integrations, studiocms

feat: implement user permission level retrieval and add comprehensive tests for permission functions
  packages/studiocms/src/middleware/utils.ts
  packages/studiocms/src/virtuals/sdk/consts.ts
  packages/studiocms/src/virtuals/sdk/modules/config-types.ts
  packages/studiocms/src/virtuals/sdk/modules/config.ts
  packages/studiocms/src/virtuals/sdk/types/index.ts
  packages/studiocms/test/middleware/utils.test.ts
Due: integrations, studiocms

fix: add v8 ignore comments for middleware file to exclude from coverage reports
  packages/studiocms/src/middleware/index.ts
Due: integrations, studiocms

feat: add layout container tests and corresponding snapshots for AuthLayout and FirstTimeSetupLayout components
  packages/studiocms/test/fixtures/Generator.astro
  packages/studiocms/test/layouts/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/layouts/layouts.test.ts
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

fix: add v8 ignore comments for CLS and INP progress bar track color functions to exclude from coverage reports
  packages/studiocms/src/integrations/webVitals/utils/webVitalsUtils.ts
Due: integrations, studiocms

Refactor tests and remove unused components
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/__snapshots__/virtuals.components.test.ts.snap
  packages/studiocms/test/components.test.ts
  packages/studiocms/test/layouts.test.ts
  packages/studiocms/test/middleware/utils.test.ts
  packages/studiocms/test/virtuals.components.test.ts
  packages/studiocms/test/virtuals/components/__snapshots__/components.test.ts.snap
  packages/studiocms/test/virtuals/i18n/LanguageSelector.test.ts
  packages/studiocms/test/virtuals/i18n/__snapshots__/LanguageSelector.test.ts.snap
Due: integrations, studiocms

fix: exclude src/handlers directory from coverage reports
  vitest.config.ts
Due: none

fix: update coverage exclusion path for src/handlers directory
  vitest.config.ts
Due: none
