Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

feat(studiocms): enhance Astro workspace configuration to include frontend files
  knip.config.ts
Due: none

feat(studiocms): add SubPageRouter type and implement pages router with API routes
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/rest-router.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
Due: integrations, studiocms

Refactor API routes and remove deprecated endpoints
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/settings.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/users.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/pages/[id]/history/[diffid].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/pages/[id]/history/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/pages/[id]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/pages/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/tags.ts
Due: integrations, studiocms

refactor: remove deprecated folder, user, and settings API endpoints
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/settings.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/users.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/folders/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/folders/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/settings/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/users/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/users/index.ts
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, studiocms

remove todo comment
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/[...id].ts
Due: integrations, studiocms

feat(rest-router): enhance type definitions and documentation for route entries and registry
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/rest-router.ts
Due: integrations, studiocms

feat(collectors): exclude sensitive fields from author and contributors data
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/@withstudiocms/sdk/src/types.ts
Due: tools-utils

feat(rest-router): implement idOrPathRouter for handling root and sub-paths in REST API
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/rest-router.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
Due: integrations, studiocms

feat(rest-router): enhance SubPathRouter type definition for improved modularity
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/rest-router.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
Due: integrations, studiocms

fix(rest-router): clarify comment for root path handling in idOrPathRouter function
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/rest-router.ts
Due: integrations, studiocms

feat(sdk): add changeset to ensure pageData does not expose sensitive information
  .changeset/sixty-vans-melt.md
Due: none

fix(users): update default user rank to 'visitor' for improved permission handling
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/users.ts
Due: integrations, studiocms

fix(param-extractor): improve error handling by formatting API parameter decoding errors as JSON
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/param-extractor.ts
Due: integrations, studiocms

feat(studiocms): refactor REST API structure and consolidate routes (#1132)
  .changeset/clear-items-wonder.md
  .changeset/sixty-vans-melt.md
  knip.config.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/@withstudiocms/sdk/src/types.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/param-extractor.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/rest-router.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/settings.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/users.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/folders/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/folders/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/pages/[id]/history/[diffid].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/pages/[id]/history/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/pages/[id]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/pages/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/folders/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/folders/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/pages/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/pages/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/settings/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/users/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/users/index.ts
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, tools-utils, studiocms

feat(kysely): implement optional column types and update table schemas
  .changeset/cozy-mails-check.md
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/src/tables.ts
Due: tools-utils

feat(kysely): add support for optional column types and update related interfaces
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/src/tables.ts
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/rest_api/index.ts
  packages/@withstudiocms/sdk/src/types.ts
Due: tools-utils

fix(api): add createdAt field with undefined value in user-related routes
  packages/studiocms/frontend/middleware/index.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/profile.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/reset-password.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/update-user-notifications.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/users.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/verify-email.ts
Due: integrations, studiocms

fix(types): update package versions for auth-kit, kysely, sdk, and studiocms
  .changeset/cozy-mails-check.md
Due: none

fix: Adjust editor page CSS for a full-size editor and better spacing
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageCopyOutput.astro
  packages/studiocms/frontend/styles/dashboard-base.css
Due: integrations, studiocms

Create wacky-drinks-obey.md
  .changeset/wacky-drinks-obey.md
Due: none

Update dashboard-base.css
  packages/studiocms/frontend/styles/dashboard-base.css
Due: integrations, studiocms

fix: Adjust CSS for dashboard and auth pages
  .changeset/every-meals-draw.md
  packages/studiocms/frontend/components/dashboard/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/sidebar-modals/VersionModal.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/InnerSidebarElement.astro
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
  packages/studiocms/frontend/components/shared/foldertree/FolderTreeNode.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeNode.astro
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/styles/auth-layout.css
  packages/studiocms/frontend/styles/dashboard-base.css
  packages/studiocms/frontend/styles/folder-tree.css
Due: integrations, studiocms

fix: Adjust editor page CSS for a full-size editor and better spacing (#1135)
  .changeset/wacky-drinks-obey.md
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageCopyOutput.astro
  packages/studiocms/frontend/styles/dashboard-base.css
Due: integrations, studiocms

fix: Adjust CSS for dashboard and auth pages (#1136)
  .changeset/every-meals-draw.md
  packages/studiocms/frontend/components/dashboard/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/sidebar-modals/VersionModal.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/InnerSidebarElement.astro
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
  packages/studiocms/frontend/components/shared/foldertree/FolderTreeNode.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeNode.astro
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/styles/auth-layout.css
  packages/studiocms/frontend/styles/dashboard-base.css
  packages/studiocms/frontend/styles/folder-tree.css
Due: integrations, studiocms

Rework table types to better align with table schema. (#1134)
  .changeset/cozy-mails-check.md
  packages/@withstudiocms/auth-kit/src/types.ts
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/src/tables.ts
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/rest_api/index.ts
  packages/@withstudiocms/sdk/src/types.ts
  packages/studiocms/frontend/middleware/index.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/profile.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/reset-password.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/update-user-notifications.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/users.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/verify-email.ts
  packages/studiocms/src/virtuals/auth/core.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/auth-kit

fix: Make sure edit page tabs don't overflow
  .changeset/vast-areas-stand.md
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/InnerSidebarElement.astro
Due: integrations, studiocms

fix: Make sure edit page tabs don't overflow (#1137)
  .changeset/vast-areas-stand.md
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/InnerSidebarElement.astro
Due: integrations, studiocms

Refactor API route structure and utility functions
  .changeset/puny-icons-make.md
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/settings.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/users.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/fallback-list-pages.json.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/full-changelog.json.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/list-pages.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/update-latest-version-cache.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/utils/changelog.ts
  packages/studiocms/frontend/utils/build-partial-schema.ts
  packages/studiocms/frontend/utils/param-extractor.ts
  packages/studiocms/frontend/utils/rest-router.ts
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, studiocms

refactor: Extract response handling logic into a separate processHandler function
  packages/studiocms/frontend/utils/rest-router.ts
Due: integrations, studiocms

fix: Correct route key for update-latest-version-cache in API routes
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
Due: integrations, studiocms

refactor: Remove unused fallback_pages SDK route from routeMap
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, studiocms

refactor: Improve error handling in API response logging
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
Due: integrations, studiocms

Refactor API route structure and utility functions (#1138)
  .changeset/puny-icons-make.md
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/settings.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/users.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/fallback-list-pages.json.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/full-changelog.json.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/list-pages.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/update-latest-version-cache.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/utils/changelog.ts
  packages/studiocms/frontend/utils/build-partial-schema.ts
  packages/studiocms/frontend/utils/param-extractor.ts
  packages/studiocms/frontend/utils/rest-router.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, studiocms

[ci] changesets
  .changeset/shaky-mangos-rescue.md
Due: none

feat: Consolidate db-studio and storage API handlers into a unified integrations route
  .changeset/every-hotels-lead.md
  packages/studiocms/frontend/pages/studiocms_api/db-studio/query.ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/db-studio.ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/storage.ts
  packages/studiocms/frontend/utils/rest-router.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/storage-api.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

fix: Improve error handling for invalid JSON body in dbStudioSubRouter
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/db-studio.ts
Due: integrations, studiocms

feat: Consolidate db-studio and storage API handlers into a unified integrations route (#1141)
  .changeset/every-hotels-lead.md
  packages/studiocms/frontend/pages/studiocms_api/db-studio/query.ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/db-studio.ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/storage.ts
  packages/studiocms/frontend/utils/rest-router.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/storage-api.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

feat: consolidate authentication API routes and refactor shared utilities
  .changeset/cuddly-donuts-raise.md
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/callback.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/forgot-password.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/login.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/register.ts
  packages/studiocms/frontend/utils/rest-router.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, studiocms

feat: consolidate authentication API routes into a single handler and remove deprecated files
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/forgot-password.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/login.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/logout.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/register.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/frontend/types.ts
  packages/studiocms/src/handlers/frontend/utils.ts
Due: integrations, studiocms

fix: update authentication API URLs to ensure trailing slashes are consistent
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/components/utils.test.ts
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
