Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

fix type issues
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/integrations/webVitals/checkForWebVitalsPlugin.ts
Due: integrations, studiocms

remove unused file
  playground.Dockerfile
Due: none

Optimize middleware caching
  .changeset/shaky-bats-tie.md
  packages/studiocms/src/middleware/index.ts
  packages/studiocms/src/virtuals/sdk/modules/middlewares.ts
Due: integrations, studiocms

Update packages/studiocms/src/virtuals/sdk/modules/middlewares.ts
  packages/studiocms/src/virtuals/sdk/modules/middlewares.ts
Due: integrations, studiocms

apply code nit
  packages/studiocms/src/virtuals/sdk/modules/middlewares.ts
Due: integrations, studiocms

remove redundant check
  packages/studiocms/src/virtuals/sdk/modules/middlewares.ts
Due: integrations, studiocms

Optimize middleware caching (#882)
  .changeset/shaky-bats-tie.md
  packages/studiocms/src/middleware/index.ts
  packages/studiocms/src/virtuals/sdk/modules/middlewares.ts
Due: integrations, studiocms

re-add dockerfile
  playground.Dockerfile
Due: none

Update biome config and lint files
  biome.json
  packages/@studiocms/blog/src/components/navigation.css
  packages/@studiocms/blog/src/styles/base.css
  packages/@studiocms/devapps/src/effects/WordPressAPI/utils.ts
  packages/@studiocms/md/src/styles/md-remark-callouts/github.css
  packages/@studiocms/md/src/styles/md-remark-callouts/obsidian.css
  packages/@studiocms/md/src/styles/md-remark-callouts/vitepress.css
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/wysiwyg/src/styles/grapes.css
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@withstudiocms/auth-kit/src/config.ts
  packages/@withstudiocms/component-registry/test/registry/handler.test.ts
  packages/@withstudiocms/component-registry/test/utils.test.ts
  packages/@withstudiocms/config-utils/test/utils/tryCatch.test.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/getLatestVersion.test.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/integrationLogger.test.ts
  packages/studiocms/src/routes/api/dashboard/partials/Editor.astro
  packages/studiocms/src/styles/auth-layout.css
  packages/studiocms/src/virtuals/sdk/modules/middlewares.ts
  packages/studiocms/test/components/auth/component-scripts/formListener.test.ts
  packages/studiocms/test/schemas/config/developer.test.ts
  packages/studiocms/test/virtuals/i18n/client.test.ts
  packages/studiocms/test/virtuals/i18n/server.test.ts
  packages/studiocms/test/virtuals/notifier/client.test.ts
  packages/studiocms/test/virtuals/utils.test.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/blog, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/internal_helpers

fix test
  packages/@withstudiocms/component-registry/test/utils.test.ts
Due: tools-utils, @withstudiocms/component-registry

apply code nits
  packages/@withstudiocms/auth-kit/src/config.ts
  packages/studiocms/src/routes/api/dashboard/partials/Editor.astro
Due: integrations, tools-utils, studiocms, @withstudiocms/auth-kit

chore(lint): Update biome config and lint files (#884)
  biome.json
  packages/@studiocms/blog/src/components/navigation.css
  packages/@studiocms/blog/src/styles/base.css
  packages/@studiocms/devapps/src/effects/WordPressAPI/utils.ts
  packages/@studiocms/md/src/styles/md-remark-callouts/github.css
  packages/@studiocms/md/src/styles/md-remark-callouts/obsidian.css
  packages/@studiocms/md/src/styles/md-remark-callouts/vitepress.css
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/wysiwyg/src/styles/grapes.css
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@withstudiocms/auth-kit/src/config.ts
  packages/@withstudiocms/component-registry/test/registry/handler.test.ts
  packages/@withstudiocms/component-registry/test/utils.test.ts
  packages/@withstudiocms/config-utils/test/utils/tryCatch.test.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/getLatestVersion.test.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/integrationLogger.test.ts
  packages/studiocms/src/routes/api/dashboard/partials/Editor.astro
  packages/studiocms/src/styles/auth-layout.css
  packages/studiocms/src/virtuals/sdk/modules/middlewares.ts
  packages/studiocms/test/components/auth/component-scripts/formListener.test.ts
  packages/studiocms/test/schemas/config/developer.test.ts
  packages/studiocms/test/virtuals/i18n/client.test.ts
  packages/studiocms/test/virtuals/i18n/server.test.ts
  packages/studiocms/test/virtuals/notifier/client.test.ts
  packages/studiocms/test/virtuals/utils.test.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/blog, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/internal_helpers

update playground env
  playground.Dockerfile
Due: none

add new action
  .github/workflows/ci-deploy-playground.yml
Due: none

tweak
  .github/workflows/ci-deploy-playground.yml
Due: none

test
  playground.Dockerfile
Due: none

tweak
  playground/astro.config.mts
Due: none

swap back
  .github/workflows/ci-deploy-playground.yml
  playground.Dockerfile
Due: none

tweak dockerfile
  playground.Dockerfile
Due: none

fix?
  playground.Dockerfile
Due: none

fix
  playground.Dockerfile
Due: none

add dockerhub workflow
  .github/workflows/build-dockerhub-image.yml
Due: none

whoops missed this
  playground.Dockerfile
Due: none

remove unused workflow
  .github/workflows/build-dockerhub-image.yml
Due: none

Implement custom context for Plugin API endpoints that allows for passing custom data
  packages/studiocms/src/plugins.ts
  packages/studiocms/src/routes/api/dashboard/content/page.ts
  packages/studiocms/src/schemas/plugins/shared.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

add changeset
  .changeset/ripe-bats-yawn.md
Due: none

improve type building
  packages/studiocms/src/plugins.ts
Due: integrations, studiocms

apply nits
  packages/studiocms/src/routes/api/dashboard/content/page.ts
Due: integrations, studiocms

update feedback button to point to github
  .changeset/major-mice-lick.md
  packages/studiocms/src/components/dashboard/DashboardPageHeader.astro
Due: integrations, studiocms

apply code suggestions
  .changeset/major-mice-lick.md
  packages/studiocms/src/components/dashboard/DashboardPageHeader.astro
Due: integrations, studiocms

add missing translation
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

add changeset
  .changeset/old-doodles-work.md
Due: none

refactor(studiocms): better PageType option handling for plugins (#889)
  .changeset/ripe-bats-yawn.md
  packages/studiocms/src/plugins.ts
  packages/studiocms/src/routes/api/dashboard/content/page.ts
  packages/studiocms/src/schemas/plugins/shared.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

update and cleanup styles
  .changeset/icy-tables-stand.md
  packages/studiocms/src/components/dashboard/sidebar/VersionCheck.astro
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

chore(studiocms): update feedback button to point to github (#891)
  .changeset/major-mice-lick.md
  packages/studiocms/src/components/dashboard/DashboardPageHeader.astro
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
