Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

Update .changeset/thick-rivers-admire.md
  .changeset/thick-rivers-admire.md
Due: none

fix(toaster): update script import path for toast function on setup pages (#983)
  .changeset/thick-rivers-admire.md
  packages/studiocms/src/frontend/setup-pages/1-start.astro
  packages/studiocms/src/frontend/setup-pages/2-next.astro
Due: integrations, studiocms

[ci] changesets
  .changeset/polite-terms-argue.md
Due: none

feat(tests): enhance test structure and add allure reporting for Auth0 and Blog packages
  packages/@studiocms/auth0/test/index.test.ts
  packages/@studiocms/auth0/test/test-utils.ts
  packages/@studiocms/auth0/vitest.config.ts
  packages/@studiocms/blog/test/test-utils.ts
  packages/@studiocms/blog/test/types.test.ts
  packages/@studiocms/blog/vitest.config.ts
Due: plugins, @studiocms/auth0, @studiocms/blog

Enhance test coverage and structure for StudioCMS Blog components and utilities
  packages/@studiocms/blog/test/components/BaseHead.test.ts
  packages/@studiocms/blog/test/components/Footer.test.ts
  packages/@studiocms/blog/test/components/Navigation.test.ts
  packages/@studiocms/blog/test/components/PageList.test.ts
  packages/@studiocms/blog/test/components/PostHeader.test.ts
  packages/@studiocms/blog/test/components/RSSIcon.test.ts
  packages/@studiocms/blog/test/components/consts.test.ts
  packages/@studiocms/blog/test/components/editor.test.ts
  packages/@studiocms/blog/test/components/helpers.test.ts
  packages/@studiocms/blog/test/components/heroHelper.test.ts
  packages/@studiocms/blog/test/components/index.test.ts
  packages/@studiocms/blog/test/index.test.ts
  packages/@studiocms/blog/test/layouts/Layout.test.ts
  packages/@studiocms/blog/test/utils/remapFilter.test.ts
Due: plugins, @studiocms/blog

fix(tests): correct expected plugin name in Blog Plugin tests
  packages/@studiocms/blog/test/index.test.ts
Due: plugins, @studiocms/blog

feat(tests): enhance test structure and add allure reporting for Cloudinary Image Service
  packages/@studiocms/cloudinary-image-service/tests/cloudinary-js-service.test.ts
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
  packages/@studiocms/cloudinary-image-service/tests/test-utils.ts
  packages/@studiocms/cloudinary-image-service/tests/utils/readJson.test.ts
  packages/@studiocms/cloudinary-image-service/vitest.config.ts
Due: plugins, @studiocms/cloudinary-image-service

feat(tests): enhance test structure and add allure reporting for WordPress API and StudioCMS DevApps
  packages/@studiocms/devapps/tests/configs.test.ts
  packages/@studiocms/devapps/tests/index.test.ts
  packages/@studiocms/devapps/tests/schema.test.ts
  packages/@studiocms/devapps/tests/test-utils.ts
  packages/@studiocms/devapps/vitest.config.ts
Due: integrations, @studiocms/devapps

feat(tests): enhance allure reporting and test structure for WordPress API configs
  packages/@studiocms/devapps/tests/configs.test.ts
Due: integrations, @studiocms/devapps

feat(tests): refactor configuration validation tests for improved readability and structure
  packages/@studiocms/devapps/tests/configs.test.ts
Due: integrations, @studiocms/devapps

feat(tests): enhance test structure and add allure reporting for app-utils and pathGenerator utilities
  packages/@studiocms/devapps/tests/utils/app-utils.test.ts
  packages/@studiocms/devapps/tests/utils/pathGenerator.test.ts
Due: integrations, @studiocms/devapps

fix(tests): remove unused import 'it' from app-utils test file
  packages/@studiocms/devapps/tests/utils/app-utils.test.ts
Due: integrations, @studiocms/devapps

refactor(tests): remove redundant closeOnOutsideClick event handling tests
  packages/@studiocms/devapps/tests/utils/app-utils.test.ts
Due: integrations, @studiocms/devapps

feat(tests): refactor schema validation tests to use allure reporting and improve structure
  packages/@studiocms/devapps/tests/schema/index.test.ts
Due: integrations, @studiocms/devapps

feat(tests): enhance Discord plugin tests with allure reporting and improved structure
  packages/@studiocms/discord/test/index.test.ts
  packages/@studiocms/discord/test/test-utils.ts
  packages/@studiocms/discord/vitest.config.ts
Due: plugins, @studiocms/discord

feat(tests): enhance test structure and add allure reporting for GitHub and Google plugins
  packages/@studiocms/github/test/index.test.ts
  packages/@studiocms/github/test/test-utils.ts
  packages/@studiocms/github/vitest.config.ts
  packages/@studiocms/google/test/index.test.ts
  packages/@studiocms/google/test/test-utils.ts
  packages/@studiocms/google/vitest.config.ts
Due: plugins, @studiocms/github, @studiocms/google

feat(tests): integrate allure reporting and enhance test structure across multiple test files
  packages/@studiocms/html/test/components/editor.test.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/html/test/shared.test.ts
  packages/@studiocms/html/test/test-utils.ts
  packages/@studiocms/html/test/types.test.ts
  packages/@studiocms/html/vitest.config.ts
Due: plugins, @studiocms/html

feat(tests): integrate allure reporting and enhance test structure across multiple test files
  packages/@studiocms/markdoc/test/components/editor.test.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/markdoc/test/lib/render.test.ts
  packages/@studiocms/markdoc/test/test-utils.ts
  packages/@studiocms/markdoc/vitest.config.ts
Due: plugins, @studiocms/markdoc

feat(tests): integrate allure reporting and enhance test structure across multiple test files
  packages/@studiocms/md/test/components/editor.test.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/md/test/lib/markdown-prerender.test.ts
  packages/@studiocms/md/test/test-utils.ts
  packages/@studiocms/md/vitest.config.ts
Due: plugins, @studiocms/md

feat(tests): enhance plugin creation tests with allure reporting for callout themes
  packages/@studiocms/md/test/index.test.ts
Due: plugins, @studiocms/md

refactor(tests): Enhance MDX component and plugin tests with Allure integration
  packages/@studiocms/mdx/test/components/editor.test.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/mdx/test/lib/render.test.ts
  packages/@studiocms/mdx/test/test-utils.ts
  packages/@studiocms/mdx/vitest.config.ts
Due: plugins, @studiocms/mdx

Refactor WYSIWYG tests to use Allure for enhanced reporting
  packages/@studiocms/wysiwyg/test/components/Editor.test.ts
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Editor.test.ts.snap
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Render.test.ts.snap
  packages/@studiocms/wysiwyg/test/index.test.ts
  packages/@studiocms/wysiwyg/test/lib/utils.test.ts
  packages/@studiocms/wysiwyg/test/routes/grapes-css.test.ts
  packages/@studiocms/wysiwyg/test/routes/partial.test.ts
  packages/@studiocms/wysiwyg/test/routes/store.test.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@studiocms/wysiwyg/test/types.test.ts
  packages/@studiocms/wysiwyg/vitest.config.ts
Due: plugins, @studiocms/wysiwyg

refactor(tests): enhance test structure and add Allure reporting
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/__snapshots__/virtuals.components.test.ts.snap
  packages/studiocms/test/components.test.ts
  packages/studiocms/test/config.test.ts
  packages/studiocms/test/consts.test.ts
  packages/studiocms/test/errors.test.ts
  packages/studiocms/test/layouts.test.ts
  packages/studiocms/test/oAuthUtils.test.ts
  packages/studiocms/test/test-utils.test.ts
  packages/studiocms/test/test-utils.ts
  packages/studiocms/test/virtuals.components.test.ts
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

fix(tests): update parameter logging to use JSON.stringify for expected and actual values
  packages/studiocms/test/consts.test.ts
Due: integrations, studiocms

refactor(tests): update test names for clarity in consts.test.ts
  packages/studiocms/test/consts.test.ts
Due: integrations, studiocms

refactor(tests): enhance test structure and integrate Allure reporting in utils.test.ts
  packages/studiocms/test/virtuals/utils.test.ts
Due: integrations, studiocms

refactor(tests): enhance test structure and integrate Allure reporting across multiple test files
  packages/studiocms/test/virtuals/notifier/client.test.ts
  packages/studiocms/test/virtuals/scripts/user-quick-tools.test.ts
  packages/studiocms/test/virtuals/template-engine/default-template.test.ts
Due: integrations, studiocms

refactor(tests): remove obsolete test files for SDK components
  packages/studiocms/test/virtuals/sdk/consts.test.ts
  packages/studiocms/test/virtuals/sdk/effect/generators.test.ts
  packages/studiocms/test/virtuals/sdk/effect/lib/jwt-generator.test.ts
  packages/studiocms/test/virtuals/sdk/effect/parsers.test.ts
  packages/studiocms/test/virtuals/sdk/errors.test.ts
  packages/studiocms/test/virtuals/sdk/utils.test.ts
Due: integrations, studiocms

refactor(tests): enhance test structure and integrate Allure reporting across multiple test files
  packages/studiocms/test/virtuals/lib/headDefaults.test.ts
  packages/studiocms/test/virtuals/lib/makeAPIRoute.test.ts
  packages/studiocms/test/virtuals/lib/makePublicRoute.test.ts
  packages/studiocms/test/virtuals/lib/routeMap.test.ts
  packages/studiocms/test/virtuals/mailer/template.test.ts
  packages/studiocms/test/virtuals/mailer/templates/notification.test.ts
  packages/studiocms/test/virtuals/mailer/templates/password-reset.test.ts
  packages/studiocms/test/virtuals/mailer/templates/user-invite.test.ts
  packages/studiocms/test/virtuals/mailer/templates/verify-email.test.ts
  packages/studiocms/test/virtuals/scripts/user-quick-tools.test.ts
Due: integrations, studiocms

refactor(tests): integrate Allure reporting and enhance test structure in i18n test files
  packages/studiocms/test/virtuals/i18n/client.test.ts
  packages/studiocms/test/virtuals/i18n/config.test.ts
  packages/studiocms/test/virtuals/i18n/server.test.ts
Due: integrations, studiocms

refactor(tests): enhance validImages test structure and integrate Allure reporting
  packages/studiocms/test/virtuals/auth/getLabelForPermissionLevel.test.ts
  packages/studiocms/test/virtuals/auth/validImages/index.test.ts
Due: integrations, studiocms

refactor(tests): enhance tinyMDParser test structure and integrate Allure reporting
  packages/studiocms/test/utils/effects/logger.test.ts
  packages/studiocms/test/utils/tinyMDParser.test.ts
Due: integrations, studiocms

refactor(tests): enhance test structure and integrate Allure reporting in plugin schemas
  packages/studiocms/test/schemas/plugins/index.test.ts
  packages/studiocms/test/schemas/plugins/shared.test.ts
Due: integrations, studiocms

refactor(tests): update local suite name and enhance test case naming in shared plugins schemas
  packages/studiocms/test/schemas/plugins/shared.test.ts
Due: integrations, studiocms

refactor(tests): update import paths and enhance subSuite naming in plugin schemas tests
  packages/studiocms/test/schemas/plugins/index.test.ts
  packages/studiocms/test/schemas/plugins/shared.test.ts
Due: integrations, studiocms

refactor(tests): enhance test structure and integrate Allure reporting across config schemas
  packages/studiocms/test/schemas/config/auth.test.ts
  packages/studiocms/test/schemas/config/dashboard.test.ts
  packages/studiocms/test/schemas/config/developer.test.ts
  packages/studiocms/test/schemas/config/index.test.ts
  packages/studiocms/test/schemas/config/sdk.test.ts
Due: integrations, studiocms

refactor(tests): enhance Middleware Utils tests structure and integrate Allure reporting
  packages/studiocms/test/middleware/utils.test.ts
Due: integrations, studiocms

refactor(tests): enhance integration tests for nodeNamespaceBuiltinsAstro and resolveBuiltIns
  packages/studiocms/test/integrations/node-namespace.test.ts
Due: integrations, studiocms

refactor(tests): enhance Web Vitals tests with Allure reporting and improve test structure
  packages/studiocms/test/integrations/webVitals/schemas.test.ts
  packages/studiocms/test/integrations/webVitals/webVitalsRouteSummary.test.ts
  packages/studiocms/test/integrations/webVitals/webVitalsSummary.test.ts
Due: integrations, studiocms
