Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

feat: implement Storage Manager URL generator and integrate new components in content management pages
  .changeset/warm-ads-add.md
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/shared/storage-manager/BrowserCopyOutput.astro
  packages/studiocms/frontend/components/shared/storage-manager/BrowserInputArray.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageCopyOutput.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

fix: correct import statement for BrowserInputArray in configuration page
  packages/studiocms/frontend/pages/[dashboard]/configuration.astro
Due: integrations, studiocms

fix: remove redundant CSS rules for storage copy output component
  packages/studiocms/frontend/components/shared/storage-manager/StorageCopyOutput.astro
Due: integrations, studiocms

fix: refactor disabled state handling in StorageCopyOutput component
  packages/studiocms/frontend/components/shared/storage-manager/StorageCopyOutput.astro
Due: integrations, studiocms

New Crowdin translations by GitHub Action
  packages/studiocms/src/virtuals/i18n/translations/de.json
  packages/studiocms/src/virtuals/i18n/translations/es.json
  packages/studiocms/src/virtuals/i18n/translations/fr.json
  packages/studiocms/src/virtuals/i18n/translations/nl.json
  packages/studiocms/src/virtuals/i18n/translations/no.json
  packages/studiocms/src/virtuals/i18n/translations/zh.json
Due: integrations, studiocms

Fix client-payload formatting in CI workflow
  .github/workflows/ci-crowdin-sync.yml
Due: none

fix: update client-payload formatting in Crowdin CI workflow
  .github/workflows/ci-crowdin-sync.yml
Due: none

feat: implement file browser and storage input components for config and content pages (#1100)
  .changeset/smart-hoops-yell.md
  packages/studiocms/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/shared/storage-manager/BrowserArray.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageInput.astro
  packages/studiocms/frontend/pages/[dashboard]/configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
Due: integrations, studiocms

[ci] changesets
  .changeset/large-towns-retire.md
Due: none

feat: add StorageAPI transformer for automatic URL swapping (#1101)
  .changeset/sparkly-poems-teach.md
  packages/@withstudiocms/component-registry/src/runtime.ts
  packages/@withstudiocms/component-registry/src/transform-html.ts
  packages/studiocms/src/virtuals/components/renderFn.ts
  packages/studiocms/src/virtuals/components/ultrahtml-transformers/storage-api.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry

feat: update CI workflows to ignore certain paths and add changeset check
  .github/workflows/ci-bot-changesets.yml
  .github/workflows/ci-check-changeset.yml
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-testing.yml
Due: none

feat: rename CI workflow to clarify purpose as changeset check
  .github/workflows/ci-check-changeset.yml
Due: none

Fix client-payload formatting in Crowdin CI workflow (#1104)
  .github/workflows/ci-crowdin-sync.yml
Due: none

refactor: cleanup ci and try to better limit when workflows should run (#1105)
  .github/workflows/ci-bot-changesets.yml
  .github/workflows/ci-check-changeset.yml
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-testing.yml
Due: none

feat: implement Storage Manager URL generator Utility for content management (#1102)
  .changeset/warm-ads-add.md
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/shared/storage-manager/BrowserCopyOutput.astro
  packages/studiocms/frontend/components/shared/storage-manager/BrowserInputArray.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageCopyOutput.astro
  packages/studiocms/frontend/pages/[dashboard]/configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

feat: integrate Storage Manager API for Custom Image component to resolve image URLs from storage
  .changeset/jolly-numbers-open.md
  packages/studiocms/src/virtuals/components/CustomImage.astro
  packages/studiocms/src/virtuals/components/ultrahtml-transformers/storage-api.ts
Due: integrations, studiocms

feat: enhance error handling for storage URL resolution in CustomImage component
  packages/studiocms/src/virtuals/components/CustomImage.astro
Due: integrations, studiocms

feat: add storage API resolver utilities for dynamic URL resolution
  .changeset/humble-suns-occur.md
  packages/studiocms/package.json
  packages/studiocms/src/storage-api.ts
Due: integrations, studiocms

feat: add timeout support to storage URL resolution utilities
  .changeset/humble-suns-occur.md
  packages/studiocms/src/storage-api.ts
Due: integrations, studiocms

feat: integrate Storage Manager API for Custom Image component to resolve image URLs from storage (#1106)
  .changeset/jolly-numbers-open.md
  packages/studiocms/src/virtuals/components/CustomImage.astro
  packages/studiocms/src/virtuals/components/ultrahtml-transformers/storage-api.ts
Due: integrations, studiocms

feat: dedupe storage manager resolver utility and enhance identifier validation
  .changeset/eight-laws-ask.md
  packages/studiocms/package.json
  packages/studiocms/src/storage-api.ts
  packages/studiocms/src/virtuals/components/CustomImage.astro
  packages/studiocms/src/virtuals/components/ultrahtml-transformers/storage-api.ts
  packages/studiocms/src/virtuals/sdk/index.ts
Due: integrations, studiocms

fix: clarify comment for identifier validation in storageManagerResolver
  packages/studiocms/src/virtuals/sdk/index.ts
Due: integrations, studiocms

fix: ensure value is a string before checking storage identifier in walkAndResolve
  packages/studiocms/src/virtuals/components/ultrahtml-transformers/storage-api.ts
Due: integrations, studiocms

feat: update issue templates for better reporting and add new RFC issue template
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/2-rendering-issue.yml
  .github/ISSUE_TEMPLATE/3-auth-issue.yml
  .github/ISSUE_TEMPLATE/4-migration-issue.yml
  .github/ISSUE_TEMPLATE/5-kysely-sdk.yml
  .github/ISSUE_TEMPLATE/6-template-lang.yml
  .github/ISSUE_TEMPLATE/98-RFC-issue.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat: update Template-lang issue report to include package name in description and improve clarity
  .github/ISSUE_TEMPLATE/6-template-lang.yml
Due: none

feat: add storage API resolver utilities for dynamic URL resolution (#1107)
  .changeset/humble-suns-occur.md
  packages/studiocms/package.json
  packages/studiocms/src/storage-api.ts
Due: integrations, studiocms

feat: update issue templates (#1110)
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/2-rendering-issue.yml
  .github/ISSUE_TEMPLATE/3-auth-issue.yml
  .github/ISSUE_TEMPLATE/4-migration-issue.yml
  .github/ISSUE_TEMPLATE/5-kysely-sdk.yml
  .github/ISSUE_TEMPLATE/6-template-lang.yml
  .github/ISSUE_TEMPLATE/98-RFC-issue.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat: dedupe storage manager resolver utility and enhance identifier validation (#1108)
  .changeset/eight-laws-ask.md
  packages/studiocms/package.json
  packages/studiocms/src/storage-api.ts
  packages/studiocms/src/virtuals/components/CustomImage.astro
  packages/studiocms/src/virtuals/components/ultrahtml-transformers/storage-api.ts
  packages/studiocms/src/virtuals/sdk/index.ts
Due: integrations, studiocms

feat: implement Component Registry UI and enhance content management tools
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageCopyOutput.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/consts.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/ui.d.ts
Due: integrations, studiocms

feat: add new component registry UI for content editing and system management
  .changeset/tasty-comics-greet.md
Due: none

fix: simplify triggerId validation and clean up unused code in ComponentRegistryUI
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
Due: integrations, studiocms

fix: enforce required triggerId prop in ComponentRegistryUI and remove validation error handling
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
Due: integrations, studiocms

fix: improve error handling for missing triggerId in ComponentRegistryUI
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
Due: integrations, studiocms

fix: update error message for missing triggerId in ComponentRegistryUI
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
Due: integrations, studiocms

fix: adjust styling and structure of output code section in ComponentRegistryUI
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
Due: integrations, studiocms

fix: remove unused static method for language change in ComponentRegistryUI
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
Due: integrations, studiocms

feat(studiocms): Component Registry UI for content editing and system management pages (#1111)
  .changeset/tasty-comics-greet.md
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/shared/ComponentRegistryUI.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageCopyOutput.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/consts.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/ui.d.ts
Due: integrations, studiocms

feat: Implement new FolderTree rendering system and update content management inner sidebar
  .changeset/cute-coins-show.md
  packages/studiocms/frontend/components/dashboard/content-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/components/shared/foldertree/FolderTreeLeaf.astro
  packages/studiocms/frontend/components/shared/foldertree/FolderTreeNode.astro
  packages/studiocms/frontend/components/shared/foldertree/FolderTreeNodeTree.astro
  packages/studiocms/frontend/components/shared/foldertree/FolderTreeRenderer.astro
  packages/studiocms/frontend/components/shared/foldertree/folderTree.css
  packages/studiocms/frontend/components/shared/foldertree/shared.ts
  packages/studiocms/frontend/pages/[dashboard]/content-management/createfolder.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editfolder.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/index.astro
  packages/studiocms/frontend/styles/dashboard-base.css
Due: integrations, studiocms

feat: Increase icon and font sizes in FolderTree component for better visibility
  packages/studiocms/frontend/components/shared/foldertree/FolderTreeRenderer.astro
  packages/studiocms/frontend/components/shared/foldertree/folderTree.css
Due: integrations, studiocms

feat: Decrease font size of leaf badges for improved design consistency
  packages/studiocms/frontend/components/shared/foldertree/folderTree.css
Due: integrations, studiocms
