Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

refactor(middleware): remove unused 'next' parameter from defineDataMiddleware function
  packages/@withstudiocms/effect/src/astro/data-middleware.ts
Due: tools-utils, @withstudiocms/effect

feat(middleware): implement data middleware and associated error handling (#1215)
  .changeset/two-rats-chew.md
  packages/@withstudiocms/effect/src/astro/data-middleware.ts
  packages/@withstudiocms/effect/src/astro/index.ts
  packages/@withstudiocms/effect/test/astro/data-middleware.test.ts
Due: tools-utils, @withstudiocms/effect

Fixes the issue where blog posts would show an incorrect publish date after being edited
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
  packages/studiocms/frontend/scripts/formdata-utils.ts
Due: integrations, studiocms

feat(auth): implement middleware-level permission checks for dashboard routes (#1214)
  .changeset/metal-trains-lead.md
  packages/studiocms/frontend/middleware/_authmap.ts
  packages/studiocms/frontend/middleware/index.ts
  packages/studiocms/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

feat: migrate to updated cli-kit package and refactor CLI commands
  .changeset/loud-meals-bet.md
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/db-studio.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/utils/rest-router.ts
  packages/studiocms/package.json
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/crypto/genJWT/index.ts
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/cli/getTurso/index.ts
  packages/studiocms/src/cli/init/index.ts
  packages/studiocms/src/cli/init/steps/env.ts
  packages/studiocms/src/cli/init/steps/next.ts
  packages/studiocms/src/cli/migrator/index.ts
  packages/studiocms/src/cli/users/index.ts
  packages/studiocms/src/cli/users/shared.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
  packages/studiocms/src/cli/users/steps/next.ts
  packages/studiocms/src/cli/utils/context.ts
  packages/studiocms/src/cli/utils/intro.ts
  pnpm-lock.yaml
Due: integrations, studiocms

fix: remove outdated @withstudiocms/cli-kit dependency from pnpm workspace
  pnpm-workspace.yaml
Due: none

fix: preserve original publishedAt when updating pages (Fixes #1216)
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
Due: integrations, studiocms

Update logic to only set publishedAt when transitioning from draft to published, preserving original publication dates for existing posts
  .changeset/eight-otters-flow.md
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
Due: integrations, studiocms

Refined logic to prevent overwriting publishedAt on every save. Now it only updates when a page transitions from draft to published status
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
Due: integrations, studiocms

Update .changeset/eight-otters-flow.md
  .changeset/eight-otters-flow.md
Due: none

fix: preserve original publishedAt when updating pages (Fixes #1216) (#1220)
  .changeset/eight-otters-flow.md
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
Due: integrations, studiocms

feat: migrate to updated cli-kit package and refactor CLI commands (#1219)
  .changeset/loud-meals-bet.md
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/db-studio.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/utils/rest-router.ts
  packages/studiocms/package.json
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/crypto/genJWT/index.ts
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/cli/getTurso/index.ts
  packages/studiocms/src/cli/init/index.ts
  packages/studiocms/src/cli/init/steps/env.ts
  packages/studiocms/src/cli/init/steps/next.ts
  packages/studiocms/src/cli/migrator/index.ts
  packages/studiocms/src/cli/users/index.ts
  packages/studiocms/src/cli/users/shared.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
  packages/studiocms/src/cli/users/steps/next.ts
  packages/studiocms/src/cli/utils/context.ts
  packages/studiocms/src/cli/utils/intro.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

feat: add @studiocms/upgrade package with CLI upgrade utility
  .changeset/chatty-taxes-dream.md
  .changeset/eager-beans-hope.md
  .changeset/lovely-pumas-push.md
  .github/renovate.json
  cspell.json
  knip.config.ts
  packages/@studiocms/upgrade/CHANGELOG.md
  packages/@studiocms/upgrade/LICENSE
  packages/@studiocms/upgrade/README.md
  packages/@studiocms/upgrade/package.json
  packages/@studiocms/upgrade/src/args.ts
  packages/@studiocms/upgrade/src/context.ts
  packages/@studiocms/upgrade/src/index.ts
  packages/@studiocms/upgrade/src/messages.ts
  packages/@studiocms/upgrade/src/npm-utils.ts
  packages/@studiocms/upgrade/src/steps/install.ts
  packages/@studiocms/upgrade/src/steps/verify.ts
  packages/@studiocms/upgrade/tsconfig.json
  packages/@studiocms/upgrade/tsconfig.tspc.json
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/@studiocms/upgrade/upgrade.mjs
  packages/@withstudiocms/cli-kit/src/messages.ts
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms

Refactor code structure for improved readability and maintainability
  .changeset/beige-readers-sell.md
  packages/@studiocms/upgrade/README.md
  packages/@studiocms/upgrade/src/context.ts
  packages/@studiocms/upgrade/src/messages.ts
  packages/@studiocms/upgrade/src/npm-utils.ts
  packages/@studiocms/upgrade/src/steps/install.ts
  packages/@studiocms/upgrade/src/steps/verify.ts
  packages/@studiocms/upgrade/upgrade.mjs
  packages/@withstudiocms/cli-kit/src/messages.ts
  packages/@withstudiocms/cli-kit/src/package-json.ts
Due: tools-utils

fix: update package.json to correct description and bin exports
  packages/@studiocms/upgrade/package.json
Due: none

Merge Task: @studiocms/upgrade package (#1222)
  .changeset/beige-readers-sell.md
  .changeset/chatty-taxes-dream.md
  .changeset/eager-beans-hope.md
  .changeset/lovely-pumas-push.md
  .github/renovate.json
  cspell.json
  knip.config.ts
  packages/@studiocms/upgrade/CHANGELOG.md
  packages/@studiocms/upgrade/LICENSE
  packages/@studiocms/upgrade/README.md
  packages/@studiocms/upgrade/package.json
  packages/@studiocms/upgrade/src/args.ts
  packages/@studiocms/upgrade/src/context.ts
  packages/@studiocms/upgrade/src/index.ts
  packages/@studiocms/upgrade/src/messages.ts
  packages/@studiocms/upgrade/src/npm-utils.ts
  packages/@studiocms/upgrade/src/steps/install.ts
  packages/@studiocms/upgrade/src/steps/verify.ts
  packages/@studiocms/upgrade/tsconfig.json
  packages/@studiocms/upgrade/tsconfig.tspc.json
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/@studiocms/upgrade/upgrade.mjs
  packages/@withstudiocms/cli-kit/src/messages.ts
  packages/@withstudiocms/cli-kit/src/package-json.ts
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms

feat: add create-studiocms CLI utility for StudioCMS project setup
  knip.config.ts
  package.json
  packages/create-studiocms/CHANGELOG.md
  packages/create-studiocms/LICENSE
  packages/create-studiocms/README.md
  packages/create-studiocms/create-studiocms.mjs
  packages/create-studiocms/package.json
  packages/create-studiocms/src/args.ts
  packages/create-studiocms/src/context.ts
  packages/create-studiocms/src/index.ts
  packages/create-studiocms/src/messages.ts
  packages/create-studiocms/src/next.ts
  packages/create-studiocms/src/templates.config.ts
  packages/create-studiocms/src/types.ts
  packages/create-studiocms/tsconfig.json
  packages/create-studiocms/tsconfig.tspc.json
  packages/create-studiocms/tsdown.config.ts
  pnpm-lock.yaml
Due: none

feat: add changeset for migrating to main repo and rewriting to Effect
  .changeset/smooth-zoos-lie.md
Due: none

feat: refactor project setup steps and utilities for improved structure and clarity
  packages/create-studiocms/src/context.ts
  packages/create-studiocms/src/index.ts
  packages/create-studiocms/src/steps/_shared.ts
  packages/create-studiocms/src/steps/intro.ts
  packages/create-studiocms/src/steps/next.ts
  packages/create-studiocms/src/steps/projectName.ts
  packages/create-studiocms/src/steps/template.ts
  packages/create-studiocms/src/steps/verify.ts
  packages/create-studiocms/src/utils/messages.ts
  packages/create-studiocms/src/utils/project-name.ts
Due: none

feat: add documentation for project directory validation functions
  packages/create-studiocms/src/steps/_shared.ts
Due: none

fix: clarify comment regarding file writing steps in CLI command
  packages/create-studiocms/src/index.ts
Due: none

feat: integrate template selection step into CLI command for project setup
  packages/create-studiocms/src/index.ts
  packages/create-studiocms/src/steps/projectName.ts
  packages/create-studiocms/src/steps/template.ts
Due: none

feat: add dependency installation and git initialization steps to CLI
  packages/create-studiocms/src/index.ts
  packages/create-studiocms/src/steps/dependencies.ts
  packages/create-studiocms/src/steps/git.ts
Due: none

fix: update README and error messages for clarity; refactor promise handling in CLI steps
  packages/create-studiocms/README.md
  packages/create-studiocms/create-studiocms.mjs
  packages/create-studiocms/src/index.ts
  packages/create-studiocms/src/steps/dependencies.ts
  packages/create-studiocms/src/steps/intro.ts
  packages/create-studiocms/src/steps/template.ts
  packages/create-studiocms/src/steps/verify.ts
  packages/create-studiocms/src/utils/messages.ts
Due: none

Merge Task: create-studiocms (#1224)
  .changeset/smooth-zoos-lie.md
  knip.config.ts
  package.json
  packages/create-studiocms/CHANGELOG.md
  packages/create-studiocms/LICENSE
  packages/create-studiocms/README.md
  packages/create-studiocms/create-studiocms.mjs
  packages/create-studiocms/package.json
  packages/create-studiocms/src/args.ts
  packages/create-studiocms/src/context.ts
  packages/create-studiocms/src/index.ts
  packages/create-studiocms/src/steps/_shared.ts
  packages/create-studiocms/src/steps/dependencies.ts
  packages/create-studiocms/src/steps/git.ts
  packages/create-studiocms/src/steps/intro.ts
  packages/create-studiocms/src/steps/next.ts
  packages/create-studiocms/src/steps/projectName.ts
  packages/create-studiocms/src/steps/template.ts
  packages/create-studiocms/src/steps/verify.ts
  packages/create-studiocms/src/templates.config.ts
  packages/create-studiocms/src/types.ts
  packages/create-studiocms/src/utils/messages.ts
  packages/create-studiocms/src/utils/project-name.ts
  packages/create-studiocms/tsconfig.json
  packages/create-studiocms/tsconfig.tspc.json
  packages/create-studiocms/tsdown.config.ts
  pnpm-lock.yaml
Due: none

feat(api): enhance REST API specification with categories and folders endpoints
  .changeset/wise-pens-film.md
  packages/@withstudiocms/api-spec/src/rest-api/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/middleware.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/util/build-partial-schema.ts
Due: tools-utils

feat(api): add settings and tags endpoints with corresponding schemas
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
Due: tools-utils

feat(api): implement user management endpoints with corresponding schemas
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
Due: tools-utils

feat(api): add StringIdParam for user ID endpoints
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
Due: tools-utils

feat(api): add secure pages endpoints with search parameters and CRUD operations
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
Due: tools-utils

refactor(api): move buildPartialSchema utility to _utils and update import path
  packages/@withstudiocms/api-spec/src/_utils/build-partial-schema.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
Due: tools-utils

feat(api): enhance API specifications with new secure and public endpoints, update build scripts, and add documentation server
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
  packages/@withstudiocms/api-spec/srv/index.ts
  packages/@withstudiocms/api-spec/tsconfig.json
  packages/@withstudiocms/api-spec/tsconfig.tspc.json
  packages/@withstudiocms/api-spec/tsdown.config.ts
  pnpm-lock.yaml
Due: tools-utils

feat(api): add ignoreBinaries option to extras configuration for API specifications
  knip.config.ts
Due: none

refactor(api): update comments for clarity in API documentation route
  packages/@withstudiocms/api-spec/srv/index.ts
Due: tools-utils

refactor(api): remove ExternalDocs annotation and update Description for clarity in API specifications
  packages/@withstudiocms/api-spec/src/index.ts
Due: tools-utils

refactor(api): simplify titles in REST API specifications for consistency
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
Due: tools-utils

refactor(api): add TODO for custom scalar layer to enhance API specs configuration
  packages/@withstudiocms/api-spec/srv/index.ts
Due: tools-utils

Refactor API Specification: Consolidate Public and Secure Endpoints
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/middleware.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
  packages/@withstudiocms/api-spec/srv/index.ts
Due: tools-utils

refactor(api): enhance description in REST API specification for clarity and resources
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
Due: tools-utils

refactor(api): enhance API specifications with detailed documentation for public and secure endpoints
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
Due: tools-utils
