Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true
  comment: #this is a top-level key
    layout: "diff, flags, files, components" # show component info in the PR comment
    behavior: default
    require_changes: false # if true: only post the comment if coverage changes
    require_base: false # [true :: must have a base report to post]
    require_head: true # [true :: must have a head report to post]
    hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: withstudiocms_auth-kit
      name: "@withstudiocms/auth-kit"
      paths:
        - packages/@withstudiocms/auth-kit/**
    - component_id: withstudiocms_buildkit
      name: "@withstudiocms/buildkit"
      paths:
        - packages/@withstudiocms/buildkit/**
    - component_id: withstudiocms_component-registry
      name: "@withstudiocms/component-registry"
      paths:
        - packages/@withstudiocms/component-registry/**
    - component_id: withstudiocms_config-utils
      name: "@withstudiocms/config-utils"
      paths:
        - packages/@withstudiocms/config-utils/**
    - component_id: withstudiocms_effect
      name: "@withstudiocms/effect"
      paths:
        - packages/@withstudiocms/effect/**
    - component_id: withstudiocms_internal_helpers
      name: "@withstudiocms/internal_helpers"
      paths:
        - packages/@withstudiocms/internal_helpers/**

fix: restore coverage configuration and correct component IDs in Codecov settings
  .codecov.yml
Due: none

fix: remove duplicate coverage configuration and streamline settings
  .codecov.yml
Due: none

fix: update Codecov layout and remove unused default rules
  .codecov.yml
Due: none

fix: correct parameter in resolveOrCreateConfig function call
  .changeset/vast-ghosts-draw.md
  packages/studiocms/src/cli/add/index.ts
Due: none

Update .changeset/vast-ghosts-draw.md
  .changeset/vast-ghosts-draw.md
Due: none

test: add comprehensive tests for builder functionality
  .gitignore
  packages/@withstudiocms/buildkit/test/builder.test.js
Due: @withstudiocms/buildkit

refactor(cli): remove test command and related options from help output
  packages/@withstudiocms/buildkit/lib/cmds/help.js
  packages/@withstudiocms/buildkit/lib/cmds/test.js
  packages/@withstudiocms/buildkit/lib/index.js
  packages/@withstudiocms/buildkit/test/cli.test.js
Due: @withstudiocms/buildkit

test: remove 'test' command from help output
  packages/@withstudiocms/buildkit/test/cli.test.js
Due: @withstudiocms/buildkit

test(cli): enhance CLI tests with additional entry point checks and cleanup
  packages/@withstudiocms/buildkit/test/builder.test.js
  packages/@withstudiocms/buildkit/test/cli.test.js
Due: @withstudiocms/buildkit

test: improve tests and remove old test scripts migrated to Vitest
  .changeset/good-plums-wish.md
Due: none

test: clean up 'dist' directory after tests in builder and CLI
  packages/@withstudiocms/buildkit/test/builder.test.js
  packages/@withstudiocms/buildkit/test/cli.test.js
Due: @withstudiocms/buildkit

docs: add coverage badge to buildkit readme
  packages/@withstudiocms/buildkit/README.md
Due: @withstudiocms/buildkit

docs: update licensing link in README
  packages/@withstudiocms/buildkit/README.md
Due: @withstudiocms/buildkit

test: refactor tests to use temporary directories and improve cleanup
  .changeset/good-plums-wish.md
  packages/@withstudiocms/buildkit/test/builder.test.js
  packages/@withstudiocms/buildkit/test/cli.test.js
Due: @withstudiocms/buildkit

test: add support for --test-report flag in builder and update tests
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/@withstudiocms/buildkit/test/builder.test.js
Due: @withstudiocms/buildkit

test: update external dependencies order in test for builder
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/@withstudiocms/buildkit/test/builder.test.js
Due: @withstudiocms/buildkit

fix: correct parameter in resolveOrCreateConfig function call (#789)
  .changeset/vast-ghosts-draw.md
  packages/studiocms/src/cli/add/index.ts
Due: none

test: add comprehensive tests for builder functionality (#790)
  .changeset/good-plums-wish.md
  .gitignore
  packages/@withstudiocms/buildkit/README.md
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/@withstudiocms/buildkit/lib/cmds/help.js
  packages/@withstudiocms/buildkit/lib/cmds/test.js
  packages/@withstudiocms/buildkit/lib/index.js
  packages/@withstudiocms/buildkit/test/builder.test.js
  packages/@withstudiocms/buildkit/test/cli.test.js
Due: @withstudiocms/buildkit

feat: enhance password configuration and testing for AuthKit
  .changeset/all-bears-slide.md
  packages/@withstudiocms/auth-kit/README.md
  packages/@withstudiocms/auth-kit/src/config.ts
  packages/@withstudiocms/auth-kit/test/config.test.ts
  packages/@withstudiocms/auth-kit/test/index.test.ts
  vitest.config.ts
Due: @withstudiocms/auth-kit

fix: correct glob pattern for excluding auth-kit scripts in coverage
  vitest.config.ts
Due: none

test: improve test coverage for config and scrypt; export makePasswordModConfig; update coverage excludes
  .changeset/all-bears-slide.md
  packages/@withstudiocms/auth-kit/test/config.test.ts
  packages/@withstudiocms/auth-kit/test/index.test.ts
Due: @withstudiocms/auth-kit

chore: add v8 ignore comments to AuthKit service for improved compatibility
  packages/@withstudiocms/auth-kit/src/index.ts
Due: @withstudiocms/auth-kit

chore: add v8 ignore comments for compatibility improvements across multiple modules
  packages/@withstudiocms/auth-kit/src/config.ts
  packages/@withstudiocms/auth-kit/src/modules/encryption.ts
  packages/@withstudiocms/auth-kit/src/modules/user.ts
  packages/@withstudiocms/auth-kit/src/utils/libravatar.ts
  packages/@withstudiocms/auth-kit/src/utils/password.ts
  packages/@withstudiocms/auth-kit/src/utils/user.ts
Due: @withstudiocms/auth-kit

feat: enhance password configuration and testing for AuthKit (#791)
  .changeset/all-bears-slide.md
  packages/@withstudiocms/auth-kit/README.md
  packages/@withstudiocms/auth-kit/src/config.ts
  packages/@withstudiocms/auth-kit/src/index.ts
  packages/@withstudiocms/auth-kit/src/modules/encryption.ts
  packages/@withstudiocms/auth-kit/src/modules/user.ts
  packages/@withstudiocms/auth-kit/src/utils/libravatar.ts
  packages/@withstudiocms/auth-kit/src/utils/password.ts
  packages/@withstudiocms/auth-kit/src/utils/user.ts
  packages/@withstudiocms/auth-kit/test/config.test.ts
  packages/@withstudiocms/auth-kit/test/index.test.ts
  vitest.config.ts
Due: @withstudiocms/auth-kit

docs: update README for clarity and organization, enhance setup instructions
  README.md
Due: none

docs: improve clarity and consistency in README content
  README.md
Due: none

docs: add note about potential breaking changes during beta phase
  packages/studiocms/README.md
Due: none

docs: update README for clarity and organization (#792)
  README.md
  packages/studiocms/README.md
Due: none

feat: enhance testing capabilities and add new tests for middleware and ClackError
  .changeset/upset-cobras-press.md
  .github/renovate.json
  package.json
  packages/@withstudiocms/effect/README.md
  packages/@withstudiocms/effect/src/astro/middleware.ts
  packages/@withstudiocms/effect/src/astro/utils/api-route.ts
  packages/@withstudiocms/effect/src/astro/utils/middleware.ts
  packages/@withstudiocms/effect/src/clack.ts
  packages/@withstudiocms/effect/src/deepmerge.ts
  packages/@withstudiocms/effect/test/astro/utils/middleware.test.ts
  packages/@withstudiocms/effect/test/clack.test.ts
  packages/@withstudiocms/effect/test/effect.test.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: @withstudiocms/effect

feat: export useClackError and useClackErrorPromise functions for better accessibility
  packages/@withstudiocms/effect/src/clack.ts
  packages/@withstudiocms/effect/test/clack.test.ts
Due: @withstudiocms/effect

feat: add v8 ignore comments to validateRequest function for improved performance
  packages/@withstudiocms/effect/src/astro/utils/api-route.ts
Due: @withstudiocms/effect

feat: update .codecov.yml to enhance coverage reporting and component paths
  .codecov.yml
Due: none

feat: enhance testing config and add new tests (#793)
  .changeset/upset-cobras-press.md
  .codecov.yml
  .github/renovate.json
  package.json
  packages/@withstudiocms/effect/README.md
  packages/@withstudiocms/effect/src/astro/middleware.ts
  packages/@withstudiocms/effect/src/astro/utils/api-route.ts
  packages/@withstudiocms/effect/src/astro/utils/middleware.ts
  packages/@withstudiocms/effect/src/clack.ts
  packages/@withstudiocms/effect/src/deepmerge.ts
  packages/@withstudiocms/effect/test/astro/utils/middleware.test.ts
  packages/@withstudiocms/effect/test/clack.test.ts
  packages/@withstudiocms/effect/test/effect.test.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: @withstudiocms/effect

feat: add integration tests and update configurations for testing utilities
  .changeset/ripe-flies-scream.md
  .vscode/settings.json
  package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/astro.config.mts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/example.config.mjs
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/src/pages/index.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/tsconfig.json
  packages/@withstudiocms/config-utils/test/integration-utils.test.ts
  packages/@withstudiocms/config-utils/test/test-utils.ts
  packages/@withstudiocms/config-utils/test/utils/tryCatch.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @withstudiocms/config-utils

feat: add astro-integration-kit dependency to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: update configuration to include build kit and refine test exclusions
  knip.config.ts
  package.json
  packages/@withstudiocms/config-utils/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: @withstudiocms/config-utils

fix: add v8 ignore comments for indirect testing in config utilities
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
Due: @withstudiocms/config-utils

fix: update test suite description for clarity in integration tests
  packages/@withstudiocms/config-utils/test/integration-utils.test.ts
Due: @withstudiocms/config-utils

docs: add codecov badge to README for better visibility of test coverage
  packages/@withstudiocms/config-utils/README.md
Due: @withstudiocms/config-utils
