Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

feat(static): improve URL handling in makeStaticFileMiddleware for path prefix support
  packages/effectify/src/static.ts
Due: none

feat(static): enhance StaticFileOpts interface for improved middleware configuration
  packages/effectify/src/static.ts
Due: none

feat(static): rename StaticFileOpts to StaticFileConfig and enhance documentation for middleware options
  packages/effectify/src/static.ts
Due: none

chore: add effectify dependency and new schemas for plugin validation (#1307)
  .changeset/some-dolls-show.md
  packages/studiocms/package.json
  packages/studiocms/src/schemas/external-schemas.ts
  packages/studiocms/src/schemas/plugins/i18n.effect.ts
  packages/studiocms/src/schemas/plugins/index.effect.ts
  packages/studiocms/src/schemas/plugins/shared.effect.ts
  pnpm-lock.yaml
Due: integrations, studiocms

fix(static): remove unnecessary yield from response in makeStaticFileMiddleware
  packages/effectify/src/static.ts
Due: none

fix(static): remove unnecessary yield from setHeader in makeStaticFileMiddleware
  packages/effectify/src/static.ts
Due: none

fix(static): remove unnecessary options from HttpServerResponse.file in makeStaticFileMiddleware
  packages/effectify/src/static.ts
Due: none

feat: add effect-based configuration resolver and update peer dependencies (#1308)
  .changeset/warm-nights-fix.md
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/types.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/config-utils

fix(static): clean URL before resolving file path in makeStaticFileMiddleware
  packages/effectify/src/static.ts
Due: none

feat(static): add regex for hashed asset filenames and improve caching logic in makeStaticFileMiddleware
  packages/effectify/src/static.ts
Due: none

refactor: Rework API specification to use individual specs (#1305)
  .changeset/lazy-seals-admire.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
Due: tools-utils

feat(static): enhance URL handling in makeStaticFileMiddleware with error logging for malformed URLs
  packages/effectify/src/static.ts
Due: none

feat(static): introduce static file serving router and example usage (#1309)
  .changeset/green-poets-help.md
  packages/effectify/README.md
  packages/effectify/package.json
  packages/effectify/scratchpad/static.ts
  packages/effectify/scratchpad/static/index.html
  packages/effectify/src/static.ts
Due: none

feat(schemas): add new effect-based configuration schemas for authentication, dashboard, and database
  .changeset/three-lands-shout.md
  packages/studiocms/src/schemas/config/auth.effect.ts
  packages/studiocms/src/schemas/config/dashboard.effect.ts
  packages/studiocms/src/schemas/config/db.effect.ts
  packages/studiocms/src/schemas/custom.ts
Due: integrations, studiocms

feat(schemas): add demo mode and developer configuration schemas
  packages/studiocms/src/schemas/config/developer.effect.ts
  packages/studiocms/src/schemas/config/sdk.effect.ts
Due: integrations, studiocms

feat(schemas): add description annotation to DemoModeSchema
  packages/studiocms/src/schemas/config/developer.effect.ts
Due: integrations, studiocms

feat(schemas): add annotations for OptionalWithDefaults schema
  packages/studiocms/src/schemas/custom.ts
Due: integrations, studiocms

feat(schemas): enhance SDK configuration schemas with detailed annotations and default cache settings
  packages/studiocms/src/schemas/config/sdk.effect.ts
Due: integrations, studiocms

feat(schemas): introduce DefaultCacheLifetime constant and update cache schemas to use it
  packages/studiocms/src/consts.ts
  packages/studiocms/src/schemas/config/index.effect.ts
  packages/studiocms/src/schemas/config/sdk.effect.ts
Due: integrations, studiocms

feat(schemas): add I18nKeySchema for validating translation keys in plugin configurations
  packages/studiocms/src/schemas/external-schemas.ts
Due: integrations, studiocms

feat(schemas): add LocaleConfigSchema and FeaturesConfigSchema with detailed annotations for dashboard settings
  packages/studiocms/src/schemas/config/index.effect.ts
  packages/studiocms/src/schemas/config/sdk.effect.ts
  packages/studiocms/src/schemas/custom.ts
Due: integrations, studiocms

feat(schemas): add detailed annotations for FeaturesConfigSchema and introduce DateTimeFormatOptions schema for date and time formatting
  packages/studiocms/src/schemas/config/index.effect.ts
  packages/studiocms/src/schemas/custom.ts
  packages/studiocms/src/schemas/external-schemas.ts
Due: integrations, studiocms

feat(schemas): add RobotsTXTConfigSchema and integrate search engine bots into the configuration
  cspell.json
  packages/studiocms/src/integrations/robots/schema.effect.ts
  packages/studiocms/src/schemas/config/index.effect.ts
Due: integrations, studiocms

feat(schemas): add new effect-based configuration schemas (#1311)
  .changeset/three-lands-shout.md
  cspell.json
  packages/studiocms/src/consts.ts
  packages/studiocms/src/integrations/robots/schema.effect.ts
  packages/studiocms/src/schemas/config/auth.effect.ts
  packages/studiocms/src/schemas/config/dashboard.effect.ts
  packages/studiocms/src/schemas/config/db.effect.ts
  packages/studiocms/src/schemas/config/developer.effect.ts
  packages/studiocms/src/schemas/config/index.effect.ts
  packages/studiocms/src/schemas/config/sdk.effect.ts
  packages/studiocms/src/schemas/custom.ts
  packages/studiocms/src/schemas/external-schemas.ts
Due: integrations, studiocms

Refactor schemas and validation logic to use Effect library
  packages/@studiocms/blog/src/components/BaseHead.astro
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/blog/src/types.ts
  packages/@studiocms/blog/test/types.test.ts
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/html/src/types.ts
  packages/@studiocms/html/test/types.test.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/headConfigSchema.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/create-user-invite.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/create-user.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/profile.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/users.ts
  packages/studiocms/frontend/setup-pages/studiocms_api/dashboard/step-2.ts
  packages/studiocms/package.json
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/plugins.effect.ts
  packages/studiocms/src/schemas/external-schemas.ts
  packages/studiocms/src/schemas/index.effect.ts
  packages/studiocms/src/virtuals/lib/headDefaults.ts
  pnpm-lock.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/blog, @studiocms/html, @withstudiocms/internal_helpers

feat: enhance UI icon validation and streamline test instance setup
  packages/studiocms/src/schemas/external-schemas.ts
  packages/studiocms/src/test-utils.ts
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

fix: ensure default sanitize options are included in HTML schema tests
  packages/@studiocms/html/src/types.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/html/test/types.test.ts
Due: plugins, @studiocms/html

feat: integrate Effect library for schema validation in HeadConfigSchema tests
  packages/@withstudiocms/internal_helpers/test/headConfigSchema.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix: correct input structure for HeadConfigSchema parsing in tests
  packages/@withstudiocms/internal_helpers/test/headConfigSchema.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

feat: refactor Markdown schema definitions to use Effect library for improved validation
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/src/types.ts
Due: plugins, @studiocms/md

fix: add default sanitize options to plugin configuration
  packages/@studiocms/md/test/index.test.ts
Due: plugins, @studiocms/md

feat: migrate schema validation to Effect library for improved parsing and error handling
  packages/@studiocms/devapps/src/index.ts
  packages/@studiocms/devapps/src/schema/index.ts
  packages/@studiocms/devapps/tests/schema/index.test.ts
Due: integrations, @studiocms/devapps

feat: enhance schema annotations for WP Importer and Apps configuration
  packages/@studiocms/devapps/src/schema/index.ts
Due: integrations, @studiocms/devapps

refactor: update comments for StudioCMS development applications schema types
  packages/@studiocms/devapps/src/schema/index.ts
Due: integrations, @studiocms/devapps

fix: update test cases to handle undefined input as empty object
  packages/@studiocms/devapps/tests/schema/index.test.ts
Due: integrations, @studiocms/devapps

feat: migrate WYSIWYG schema validation to Schema.decodeSync for improved error handling
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/src/types.ts
  packages/@studiocms/wysiwyg/test/types.test.ts
Due: plugins, @studiocms/wysiwyg

feat: deprecate Zod-based config functions in favor of effect-based schemas for improved validation and asynchronous support
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/zod-utils.ts
Due: tools-utils, @withstudiocms/config-utils

docs: update migration task comment for zod v4 compatibility and provide refactoring guidance
  packages/@withstudiocms/sdk/src/lib/pluginUtils.ts
Due: tools-utils, @withstudiocms/sdk

feat: migrate schemas from Zod to Effect for improved validation and type safety
  packages/studiocms/frontend/web-vitals/endpoint.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/plugins/analytics/assets/schemas.ts
  packages/studiocms/src/plugins/analytics/schemas.ts
Due: integrations, studiocms

feat: add changeset for migration from Zod Schemas to Effect Schemas
  .changeset/happy-carpets-leave.md
Due: none
