Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

lint
  packages/studiocms/src/handlers/astroConfigCheck.ts
  packages/studiocms/src/handlers/changelog.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/routeHandler.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/integrations/dynamic-sitemap/index.ts
  packages/studiocms/src/integrations/node-namespace.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/tsconfig.json
  packages/studiocms/vitest.config.ts
  playground/astro.config.mts
Due: integrations, studiocms

test: enhance virtualImportsPlugin tests with allure steps and context handling
  packages/@withstudiocms/internal_helpers/test/virtualImportsPlugin.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

test: enhance virtualImportsPlugin tests for context handling and assertions
  packages/@withstudiocms/internal_helpers/test/virtualImportsPlugin.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor: migrate from 'virtual:studiocms/site' to 'astro:config/client' and update dependencies
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/auth/verify-email.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

chore: bump to Astro 6.1.0 and migrate back to astro:config virtual module
  .changeset/shaggy-parents-tickle.md
Due: none

chore: update dependencies and TypeScript version across templates
  .github/renovate.json
  packages/@studiocms/markdown-remark/package.json
  packages/@withstudiocms/config-utils/package.json
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  templates/blog-libsql/package.json
  templates/blog-mysql/package.json
  templates/blog-postgres/package.json
  templates/headless-libsql/package.json
  templates/headless-mysql/package.json
  templates/headless-postgres/package.json
  tsconfig.json
  zizmor.yml
Due: tools-utils, @withstudiocms/config-utils

chore: add @types/node as a devDependency and update tsconfig files
  packages/@withstudiocms/cli-kit/package.json
  packages/studiocms/tsconfig.build.json
  packages/studiocms/tsconfig.tspc.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: integrations, tools-utils, studiocms, @withstudiocms/cli-kit

fix: update import assertion syntax and clean up configuration files
  packages/studiocms/src/virtuals/i18n/config.ts
  playground/astro.config.mts
  pnpm-workspace.yaml
Due: integrations, studiocms

fix: update i18n virtual module dynamic import for TypeScript 6 support
  .changeset/bumpy-yaks-mix.md
Due: none

Refactor migration to astro:config/client and update dependencies (#1584)
  .changeset/shaggy-parents-tickle.md
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/auth/verify-email.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

Update dependencies and TypeScript version in templates (#1585)
  .changeset/bumpy-yaks-mix.md
  .github/renovate.json
  packages/@studiocms/markdown-remark/package.json
  packages/@withstudiocms/cli-kit/package.json
  packages/@withstudiocms/config-utils/package.json
  packages/studiocms/src/virtuals/i18n/config.ts
  packages/studiocms/tsconfig.build.json
  packages/studiocms/tsconfig.tspc.json
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  templates/blog-libsql/package.json
  templates/blog-mysql/package.json
  templates/blog-postgres/package.json
  templates/headless-libsql/package.json
  templates/headless-mysql/package.json
  templates/headless-postgres/package.json
  tsconfig.base.json
  tsconfig.json
  zizmor.yml
Due: integrations, tools-utils, studiocms, @withstudiocms/config-utils, @withstudiocms/cli-kit

fix(deps): update ultrahtml dependency to use catalog version
  packages/@studiocms/markdown-remark/package.json
  packages/@withstudiocms/component-registry/package.json
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry

Create every-places-arrive.md
  .changeset/every-places-arrive.md
Due: none

fix(deps): update tinyexec dependency to use catalog version
  packages/@withstudiocms/cli-kit/package.json
  packages/@withstudiocms/internal_helpers/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tools-utils, @withstudiocms/internal_helpers, @withstudiocms/cli-kit

fix(deps): add "diff" to ignored dependencies in renovate configuration
  .github/renovate.json
Due: none

fix(deps): update suneditor integration and improve editor setup
  packages/@studiocms/html/src/components/editor.astro
Due: plugins, @studiocms/html

fix(deps): remove @types/js-yaml dependency
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/core/frontmatter.ts
  pnpm-lock.yaml
Due: none

fix(deps): add 'du' to ignoreBinaries in knip configuration
  knip.config.ts
Due: none

refactor: update TypeScript SDK path in settings and extensions, remove unused imports
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  playground/studiocms.config.mts
Due: none

refactor: simplify path resolution in component registry and remove unused resolver function
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/component-registry/src/utils.ts
  packages/studiocms/src/virtuals/i18n/config.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry

refactor: update component registry handler to ensure consistent naming and simplify imports
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/studiocms/src/index.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry

refactor: encapsulate code diff handling in an IIFE for improved readability and maintainability
  packages/@withstudiocms/component-registry/test/utils.test.ts
  packages/studiocms/frontend/components/shared/Code.astro
  packages/studiocms/test/__snapshots__/components.test.ts.snap
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry

refactor: remove unused @studiocms/s3-storage dependency from package.json and configuration
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: none

refactor: add changeset for fixing component registry path resolution
  .changeset/beige-lizards-cover.md
  .changeset/whole-clocks-say.md
Due: none

Refactor TypeScript SDK paths and simplify component registry (#1602)
  .changeset/beige-lizards-cover.md
  .changeset/whole-clocks-say.md
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/component-registry/src/utils.ts
  packages/@withstudiocms/component-registry/test/utils.test.ts
  packages/studiocms/frontend/components/shared/Code.astro
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtuals/i18n/config.ts
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry

Start of Allure v3
  .devcontainer/devcontainer.json
  .github/workflows/ci-testing.yml
  .gitignore
  .vscode/settings.json
  allurerc.mjs
  cspell.json
  package.json
  pnpm-lock.yaml
Due: none

upload base files
  CNAME.txt
  gitignore.txt
  nojekyll.txt
Due: none

CI setup for new Allure v3
  .github/workflows/ci-testing.yml
Due: none

correct actions
  .github/workflows/ci-testing.yml
Due: none

lint
  allurerc.mjs
  cspell.json
Due: none

fix test naming
  packages/@studiocms/auth0/test/test-utils.ts
  packages/@studiocms/blog/test/test-utils.ts
  packages/@studiocms/cloudinary-image-service/tests/test-utils.ts
  packages/@studiocms/devapps/tests/test-utils.ts
  packages/@studiocms/discord/test/test-utils.ts
  packages/@studiocms/github/test/test-utils.ts
  packages/@studiocms/google/test/test-utils.ts
  packages/@studiocms/html/test/test-utils.ts
  packages/@studiocms/markdoc/test/test-utils.ts
  packages/@studiocms/markdown-remark/test/test-utils.ts
  packages/@studiocms/md/test/test-utils.ts
  packages/@studiocms/mdx/test/test-utils.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@withstudiocms/auth-kit/test/test-utils.ts
  packages/@withstudiocms/buildkit/test/test-utils.js
  packages/@withstudiocms/cli-kit/test/test-utils.ts
  packages/@withstudiocms/component-registry/test/test-utils.ts
  packages/@withstudiocms/config-utils/test/test-utils.ts
  packages/@withstudiocms/effect/test/test-utils.ts
  packages/@withstudiocms/internal_helpers/test/test-utils.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
  packages/@withstudiocms/template-lang/test/index.test.ts
  packages/effectify/test/test-utils.ts
  packages/studiocms/test/test-utils.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/cli-kit

Update test snapshots
  packages/@studiocms/blog/test/layouts/__snapshots__/Layout.test.ts.snap
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Editor.test.ts.snap
  packages/effectify/test/__snapshots__/zod.test.ts.snap
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/__snapshots__/virtuals.components.test.ts.snap
Due: integrations, plugins, studiocms, @studiocms/blog, @studiocms/wysiwyg

Update knip config, and remove legacy allure command line
  knip.config.ts
  package.json
  pnpm-lock.yaml
Due: none

lint again
  knip.config.ts
Due: none

remove now unused action
  .github/actions/allure-report/action.yml
Due: none

fix annoying spacing
  package.json
Due: none

cleanup testing definitions to ignore packages without tests
  .codecov.yml
  allurerc.mjs
  vitest.config.ts
Due: none

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**
