Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

feat: refactor form data handling to use Effect Schemas for improved validation and type safety
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/scripts/formdata-utils.ts
  packages/studiocms/frontend/scripts/formdata.ts
Due: integrations, studiocms

fix: update regex for stringified array validation in StringOrStringArrayToStringArraySchema
  packages/studiocms/frontend/scripts/formdata.ts
Due: integrations, studiocms

Refactor schemas in StudioCMS to use Effect library for validation and structure; update plugin tester to handle async integration hooks
  packages/studiocms/src/consts.ts
  packages/studiocms/src/handlers/frontend/types.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/integrations/robots/index.ts
  packages/studiocms/src/integrations/robots/schema.effect.ts
  packages/studiocms/src/integrations/robots/schema.ts
  packages/studiocms/src/plugins.effect.ts
  packages/studiocms/src/schemas/config/auth.effect.ts
  packages/studiocms/src/schemas/config/auth.ts
  packages/studiocms/src/schemas/config/dashboard.effect.ts
  packages/studiocms/src/schemas/config/dashboard.ts
  packages/studiocms/src/schemas/config/db.effect.ts
  packages/studiocms/src/schemas/config/db.ts
  packages/studiocms/src/schemas/config/developer.effect.ts
  packages/studiocms/src/schemas/config/developer.ts
  packages/studiocms/src/schemas/config/index.effect.ts
  packages/studiocms/src/schemas/config/index.ts
  packages/studiocms/src/schemas/config/sdk.effect.ts
  packages/studiocms/src/schemas/config/sdk.ts
  packages/studiocms/src/schemas/index.effect.ts
  packages/studiocms/src/schemas/index.ts
  packages/studiocms/src/schemas/plugins/i18n.effect.ts
  packages/studiocms/src/schemas/plugins/i18n.ts
  packages/studiocms/src/schemas/plugins/index.effect.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/schemas/plugins/shared.effect.ts
  packages/studiocms/src/schemas/plugins/shared.ts
  packages/studiocms/src/test-utils.ts
Due: integrations, studiocms

feat: update hooks in plugins to use async functions for improved handling
  packages/@studiocms/auth0/src/index.ts
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/cloudinary-image-service/src/index.ts
  packages/@studiocms/discord/src/index.ts
  packages/@studiocms/github/src/index.ts
  packages/@studiocms/google/src/index.ts
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/html/src/types.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/src/types.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/s3-storage/src/index.ts
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/src/types.ts
  packages/studiocms/package.json
  packages/studiocms/src/cli/utils/loadConfig.ts
  packages/studiocms/src/db/plugins.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, plugins, studiocms, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

fix: update schema validation method in vitest config to use Effect library
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

refactor: update schema tests to use Effect library for validation and remove deprecated tests
  packages/studiocms/test/consts.test.ts
  packages/studiocms/test/schemas/config/auth.test.ts
  packages/studiocms/test/schemas/config/dashboard.test.ts
  packages/studiocms/test/schemas/config/developer.test.ts
  packages/studiocms/test/schemas/config/index.test.ts
  packages/studiocms/test/schemas/config/sdk.test.ts
  packages/studiocms/test/schemas/plugins/index.test.ts
  packages/studiocms/test/schemas/plugins/shared.test.ts
Due: integrations, studiocms

feat: update plugin hooks to align with new schemas
  .changeset/sweet-cities-give.md
Due: none

refactor: update comments to indicate phase-out of AstroDB (Drizzle) migrator in favor of Kysely
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/index.ts
Due: none

refactor: remove global type definitions and update hook schema to support synchronous functions
  packages/studiocms/src/global.d.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, studiocms

refactor: update plugin and storage manager definitions to use encoded types for better validation
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/plugins.ts
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, studiocms

refactor: add 'as const' assertion to hookKeys array for improved type safety
  packages/studiocms/src/test-utils.ts
Due: integrations, studiocms

refactor: update plugin function return types to use StudioCMSPluginDef for consistency
  packages/@studiocms/auth0/src/index.ts
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/discord/src/index.ts
  packages/@studiocms/github/src/index.ts
  packages/@studiocms/google/src/index.ts
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/s3-storage/src/index.ts
  packages/@studiocms/wysiwyg/src/index.ts
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, plugins, studiocms, @studiocms/auth0, @studiocms/blog, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

refactor: update storage manager type definitions for consistency and clarity
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
Due: integrations, studiocms

refactor: update minimum version for plugins and tests to 0.3.0 for consistency
  packages/@studiocms/auth0/src/index.ts
  packages/@studiocms/auth0/test/index.test.ts
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/blog/test/index.test.ts
  packages/@studiocms/cloudinary-image-service/src/index.ts
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
  packages/@studiocms/discord/src/index.ts
  packages/@studiocms/discord/test/index.test.ts
  packages/@studiocms/github/src/index.ts
  packages/@studiocms/github/test/index.test.ts
  packages/@studiocms/google/src/index.ts
  packages/@studiocms/google/test/index.test.ts
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/s3-storage/src/index.ts
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
  packages/studiocms/src/test-utils.ts
Due: integrations, plugins, studiocms, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

refactor: update StudioCMSPluginTester to expose plugin property for better access
  packages/studiocms/src/test-utils.ts
  packages/studiocms/test/test-utils.test.ts
Due: integrations, studiocms

feat(patch): add patch for @changesets/assemble-release-plan to change version type from major to minor
  package.json
  patches/@changesets__assemble-release-plan.patch
  pnpm-lock.yaml
Due: none

feat(patch): add patch for @changesets/assemble-release-plan to change version type from major to minor (#1329)
  package.json
  patches/@changesets__assemble-release-plan.patch
  pnpm-lock.yaml
Due: none

feat: add debug output field to issue templates and update version placeholder
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-rendering-issue.yml
  .github/ISSUE_TEMPLATE/3-auth-issue.yml
  .github/ISSUE_TEMPLATE/4-migration-issue.yml
  .github/ISSUE_TEMPLATE/5-kysely-sdk.yml
  .github/ISSUE_TEMPLATE/6-template-lang.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: require debug output in issue templates for better bug reporting
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-rendering-issue.yml
  .github/ISSUE_TEMPLATE/3-auth-issue.yml
  .github/ISSUE_TEMPLATE/4-migration-issue.yml
Due: none

fix: update debug output command in issue templates from npm to pnpm
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-rendering-issue.yml
  .github/ISSUE_TEMPLATE/3-auth-issue.yml
  .github/ISSUE_TEMPLATE/4-migration-issue.yml
Due: none

Update Issue and pull request templates (#1332)
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-rendering-issue.yml
  .github/ISSUE_TEMPLATE/3-auth-issue.yml
  .github/ISSUE_TEMPLATE/4-migration-issue.yml
  .github/ISSUE_TEMPLATE/5-kysely-sdk.yml
  .github/ISSUE_TEMPLATE/6-template-lang.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[ci] changesets
  .changeset/blue-eggs-sin.md
Due: none

Create lucky-ways-sniff.md
  .changeset/lucky-ways-sniff.md
Due: none

feat(auth): update authentication middleware and role management
  .changeset/heavy-plums-type.md
  packages/studiocms/frontend/components/shared/DynamicSettingsRenderer.astro
  packages/studiocms/frontend/middleware/_authmap.ts
  packages/studiocms/frontend/middleware/index.ts
  packages/studiocms/frontend/pages/[dashboard]/[...pluginPage].astro
  packages/studiocms/frontend/pages/[dashboard]/configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createfolder.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editfolder.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/index.astro
  packages/studiocms/frontend/pages/[dashboard]/index.astro
  packages/studiocms/frontend/pages/[dashboard]/login.astro
  packages/studiocms/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/frontend/pages/[dashboard]/plugins/[plugin].astro
  packages/studiocms/frontend/pages/[dashboard]/profile.astro
  packages/studiocms/frontend/pages/[dashboard]/signup.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/index.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/[dashboard]/unverified-email.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/index.astro
  packages/studiocms/src/schemas/plugins/shared.ts
Due: integrations, studiocms

chore(deps): remove unused micromatch and @types/micromatch dependencies
  packages/studiocms/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

Apply code suggestions
  packages/studiocms/frontend/middleware/index.ts
  packages/studiocms/frontend/pages/[dashboard]/[...pluginPage].astro
  packages/studiocms/frontend/pages/[dashboard]/configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createfolder.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editfolder.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/index.astro
  packages/studiocms/frontend/pages/[dashboard]/index.astro
  packages/studiocms/frontend/pages/[dashboard]/plugins/[plugin].astro
  packages/studiocms/frontend/pages/[dashboard]/profile.astro
  packages/studiocms/frontend/pages/[dashboard]/signup.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/index.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/index.astro
  packages/studiocms/src/schemas/plugins/shared.ts
Due: integrations, studiocms

feat(auth): update authentication middleware and role management (#1342)
  .changeset/heavy-plums-type.md
  packages/studiocms/frontend/components/shared/DynamicSettingsRenderer.astro
  packages/studiocms/frontend/middleware/_authmap.ts
  packages/studiocms/frontend/middleware/index.ts
  packages/studiocms/frontend/pages/[dashboard]/[...pluginPage].astro
  packages/studiocms/frontend/pages/[dashboard]/configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createfolder.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editfolder.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/index.astro
  packages/studiocms/frontend/pages/[dashboard]/index.astro
  packages/studiocms/frontend/pages/[dashboard]/login.astro
  packages/studiocms/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/frontend/pages/[dashboard]/plugins/[plugin].astro
  packages/studiocms/frontend/pages/[dashboard]/profile.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/index.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/[dashboard]/unverified-email.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/index.astro
  packages/studiocms/package.json
  packages/studiocms/src/schemas/plugins/shared.ts
  pnpm-lock.yaml
Due: integrations, studiocms

fix(folder): update folder deletion schema to prevent server errors
  .changeset/common-poets-wish.md
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/folder.ts
Due: integrations, studiocms

feat(setup): update done page instructions and add new configuration snippet
  .changeset/fancy-laws-type.md
  packages/studiocms/frontend/components/first-time-setup/snippets/opt1-astro.config.diff
  packages/studiocms/frontend/components/first-time-setup/snippets/opt2-astro.config.diff
  packages/studiocms/frontend/components/first-time-setup/snippets/studiocms.config.diff
  packages/studiocms/frontend/setup-pages/3-done.astro
Due: integrations, studiocms

fix(cli): improve optional option parsing in env functions
  .changeset/tired-dodos-reply.md
  packages/studiocms/src/cli/init/steps/env.ts
Due: integrations, studiocms

fix(cli): update function signatures to accept undefined values
  packages/studiocms/src/cli/init/steps/env.ts
Due: integrations, studiocms

fix(cli): simplify string checks in emptyStringToUndefined and NumberStringToUndefined functions
  packages/studiocms/src/cli/init/steps/env.ts
Due: integrations, studiocms

fix(folder): update folder deletion schema to prevent server errors (#1351)
  .changeset/common-poets-wish.md
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/folder.ts
Due: integrations, studiocms

feat(setup): update done page instructions and add new configuration snippet (#1352)
  .changeset/fancy-laws-type.md
  packages/studiocms/frontend/components/first-time-setup/snippets/opt1-astro.config.diff
  packages/studiocms/frontend/components/first-time-setup/snippets/opt2-astro.config.diff
  packages/studiocms/frontend/components/first-time-setup/snippets/studiocms.config.diff
  packages/studiocms/frontend/setup-pages/3-done.astro
Due: integrations, studiocms

fix(cli): improve optional option parsing in env functions (#1353)
  .changeset/tired-dodos-reply.md
  packages/studiocms/src/cli/init/steps/env.ts
Due: integrations, studiocms

feat(markdown-remark): add initial implementation and configuration for markdown processing
  cspell.json
  package.json
  packages/@studiocms/markdown-remark/CHANGELOG.md
  packages/@studiocms/markdown-remark/LICENSE
  packages/@studiocms/markdown-remark/README.md
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/core/index.ts
  packages/@studiocms/markdown-remark/src/errors.ts
  packages/@studiocms/markdown-remark/src/index.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/src/types.ts
  packages/@studiocms/markdown-remark/tsconfig.json
  packages/@studiocms/markdown-remark/tsconfig.tspc.json
  packages/@studiocms/markdown-remark/tsdown.config.ts
  pnpm-lock.yaml
  tsdown.shared.ts
Due: none

feat(markdown-remark): enhance error handling and improve type definitions with detailed documentation
  packages/@studiocms/markdown-remark/src/errors.ts
  packages/@studiocms/markdown-remark/src/types.ts
Due: none

Migrate markdown-remark-processor into markdown-remark/core
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/core/import-plugin.ts
  packages/@studiocms/markdown-remark/src/core/index.ts
  packages/@studiocms/markdown-remark/src/core/load-plugins.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/index.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/github.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/obsidian.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/vitepress.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/types.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/utils.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/index.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-autolink-headings.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-images.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/index.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/remark-collect-images.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/remark-discord-subtext.ts
  pnpm-lock.yaml
Due: none

feat(styles): add new callout styles for GitHub, Obsidian, and VitePress themes, and implement heading styles
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/styles/callouts/github.css
  packages/@studiocms/markdown-remark/src/styles/callouts/obsidian.css
  packages/@studiocms/markdown-remark/src/styles/callouts/vitepress.css
  packages/@studiocms/markdown-remark/src/styles/headings.css
Due: none
