Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

Refactor card classes for consistency across dashboard components
  .changeset/light-seals-visit.md
  packages/studiocms/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/frontend/components/dashboard/profile/BasicInfo.astro
  packages/studiocms/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/frontend/components/dashboard/profile/SocialSignin.astro
  packages/studiocms/frontend/components/dashboard/profile/UpdatePassword.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/SocialSignin.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
Due: integrations, studiocms

Update .changeset/light-seals-visit.md
  .changeset/light-seals-visit.md
Due: none

Refactor card classes for consistent dashboard components (#1685)
  .changeset/light-seals-visit.md
  packages/studiocms/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/frontend/components/dashboard/profile/BasicInfo.astro
  packages/studiocms/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/frontend/components/dashboard/profile/SocialSignin.astro
  packages/studiocms/frontend/components/dashboard/profile/UpdatePassword.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/SocialSignin.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
Due: integrations, studiocms

fix(kysely): collision-free _kysely_schema_v1 ids
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/test/utils/migrator.test.ts
Due: tools-utils, @withstudiocms/kysely

add changeset
  .changeset/olive-kids-join.md
Due: none

test(kysely): make schema-history id test deterministic
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/test/utils/migrator.test.ts
Due: tools-utils, @withstudiocms/kysely

fix(kysely): collision-free `_kysely_schema_v1` ids (#1690)
  .changeset/olive-kids-join.md
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/test/utils/migrator.test.ts
Due: tools-utils, @withstudiocms/kysely

feat(effect): add date and multiline clack wrappers
  .changeset/fifty-owls-mix.md
  packages/@withstudiocms/effect/src/clack.ts
Due: tools-utils, @withstudiocms/effect

feat(effect): add date and multiline clack wrappers (#1691)
  .changeset/fifty-owls-mix.md
  packages/@withstudiocms/effect/src/clack.ts
Due: tools-utils, @withstudiocms/effect

chore(studiocms): remove deprecated `studiocmsMinimumVersion` from Plugin API
  .changeset/silent-hands-attend.md
  packages/@studiocms/blog/src/index.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/test-utils.ts
Due: integrations, plugins, studiocms, @studiocms/blog

fix: normalize Windows paths in virtual module imports
  .changeset/eager-masks-beg.md
  .github/workflows/ci-path-resolver.yml
  packages/@studiocms/blog/vitest.config.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
  packages/@withstudiocms/internal_helpers/src/toModuleSpecifier.ts
  packages/@withstudiocms/internal_helpers/src/utils/pageTypeFilter.ts
  packages/@withstudiocms/internal_helpers/test/pathResolver.test.ts
  packages/@withstudiocms/internal_helpers/test/toModuleSpecifier.test.ts
  packages/@withstudiocms/internal_helpers/test/utils.test.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/src/virtuals/utils.ts
  packages/studiocms/test/virtuals/utils.test.ts
  packages/studiocms/vitest.config.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/blog, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @withstudiocms/component-registry, @withstudiocms/internal_helpers

fix: normalize Windows paths in toModuleSpecifier function
  packages/@withstudiocms/internal_helpers/src/toModuleSpecifier.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix: normalize Windows paths in virtual module imports (#1693)
  .changeset/eager-masks-beg.md
  .github/workflows/ci-path-resolver.yml
  packages/@studiocms/blog/vitest.config.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
  packages/@withstudiocms/internal_helpers/src/toModuleSpecifier.ts
  packages/@withstudiocms/internal_helpers/src/utils/pageTypeFilter.ts
  packages/@withstudiocms/internal_helpers/test/pathResolver.test.ts
  packages/@withstudiocms/internal_helpers/test/toModuleSpecifier.test.ts
  packages/@withstudiocms/internal_helpers/test/utils.test.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/src/virtuals/utils.ts
  packages/studiocms/test/virtuals/utils.test.ts
  packages/studiocms/vitest.config.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/blog, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @withstudiocms/component-registry, @withstudiocms/internal_helpers

Create sour-days-camp.md
  .changeset/sour-days-camp.md
Due: none

Update katex dependency version
  .changeset/hip-doors-make.md
Due: none

Update sanitize-html dependency version
  .changeset/fifty-lizards-greet.md
Due: none

Create sharp-ghosts-train.md
  .changeset/sharp-ghosts-train.md
Due: none

Update deepmerge options type for improved type safety
  .changeset/violet-pillows-go.md
  packages/@withstudiocms/effect/src/deepmerge.ts
Due: tools-utils, @withstudiocms/effect

Create eighty-actors-sleep.md
  .changeset/eighty-actors-sleep.md
Due: none

Create strict-boats-fail.md
  .changeset/strict-boats-fail.md
Due: none
