Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

Add @changesets packages to ignoreDeps in renovate.json
  .github/renovate.json
Due: none

Update biome.json to include SVG files in the ignore list
  biome.json
Due: none

Create kind-bears-cover.md
  .changeset/kind-bears-cover.md
Due: none

Update @scure/base dependency to version ^2.3.0
  .changeset/bumpy-clouds-trade.md
Due: none

Update AWS S3 Dependencies to ^3.1113.0
  .changeset/solid-mugs-care.md
Due: none

chore: update minimumReleaseAgeExclude to include all @astrojs packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Implement code changes to enhance functionality and improve performance
  pnpm-lock.yaml
Due: none

Add @changesets packages to ignoreDeps in renovate.json (#1700)
  .github/renovate.json
Due: none

Migrate from external `kysely-turso` package to local driver implementation
  .changeset/calm-books-dance.md
  knip.config.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/dialect-config.ts
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/dialect.ts
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/driver.ts
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/index.ts
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/utils.ts
  packages/@withstudiocms/kysely/src/drivers/libsql.ts
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/studiocms/src/consts.ts
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  templates/blog-libsql/package.json
  templates/headless-libsql/package.json
Due: integrations, tools-utils, studiocms, @withstudiocms/kysely

Remove unused "drizzle-orm" from ignored dependencies in renovate.json
  .github/renovate.json
Due: none

Update Kysely dependencies and add migration support
  .github/renovate.json
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/core/migrator.ts
  packages/@withstudiocms/kysely/src/kysely-migration.ts
  packages/@withstudiocms/kysely/src/kysely-readonly.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  templates/blog-libsql/package.json
  templates/headless-libsql/package.json
Due: tools-utils, @withstudiocms/kysely

Refactor import statements in migrator.ts for Kysely types
  packages/@withstudiocms/sdk/src/migrator.ts
Due: tools-utils, @withstudiocms/sdk

Remove "kysely" from ignored dependencies and add changeset for Kysely and Libsql database client updates
  .changeset/sixty-results-sip.md
  .github/renovate.json
Due: none

Update import for MigrationInfo and MigrationResult from Kysely migration module
  packages/studiocms/src/cli/migrator/index.ts
Due: integrations, studiocms

Update versioning for studiocms and related dependencies
  .changeset/sixty-results-sip.md
Due: none

Migrate from external kysely-turso package to local driver implementation (#1714)
  .changeset/calm-books-dance.md
  .github/renovate.json
  knip.config.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/dialect-config.ts
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/dialect.ts
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/driver.ts
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/index.ts
  packages/@withstudiocms/kysely/src/drivers/kysely-turso/utils.ts
  packages/@withstudiocms/kysely/src/drivers/libsql.ts
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/studiocms/src/consts.ts
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  templates/blog-libsql/package.json
  templates/headless-libsql/package.json
Due: integrations, tools-utils, studiocms, @withstudiocms/kysely

Update Kysely dependencies and update migration functionality (#1715)
  .changeset/sixty-results-sip.md
  .github/renovate.json
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/core/migrator.ts
  packages/@withstudiocms/kysely/src/kysely-migration.ts
  packages/@withstudiocms/kysely/src/kysely-readonly.ts
  packages/@withstudiocms/sdk/src/migrator.ts
  packages/studiocms/src/cli/migrator/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  templates/blog-libsql/package.json
  templates/headless-libsql/package.json
Due: integrations, tools-utils, studiocms, @withstudiocms/kysely, @withstudiocms/sdk

[ci] changesets
  .changeset/sour-lights-hammer.md
Due: none

[ci] changesets
  .changeset/soft-frogs-doubt.md
Due: none

[ci] changesets
  .changeset/fluffy-planets-think.md
Due: none

chore(studiocms): remove deprecated `studiocmsMinimumVersion` from Plugin API (#1692)
  .changeset/silent-hands-attend.md
  packages/@studiocms/blog/src/index.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/test-utils.ts
Due: integrations, plugins, studiocms, @studiocms/blog
