Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

feat: add build step for StudioCMS packages and enhance parseCallouts function with tests
  .github/workflows/ci-checks.yml
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/test/lib/markdown-prerender.test.ts
Due: plugins, @studiocms/md

refactor: clean up v8 ignore comments in parseStudioCMSMDOpts function
  packages/@studiocms/md/src/lib/markdown-prerender.ts
Due: plugins, @studiocms/md

refactor: optimize callout theme resolution and improve preRender function logic
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/test/components/editor.test.ts
Due: plugins, @studiocms/md

Update packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/src/lib/markdown-prerender.ts
Due: plugins, @studiocms/md

tests(studiocms/md): improve tests, and fix knip ci (#816)
  .github/workflows/ci-checks.yml
  packages/@studiocms/md/src/components/TinyMDE.astro
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/test/components/editor.test.ts
  packages/@studiocms/md/test/components/renderer.test.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/md/test/lib/markdown-prerender.test.ts
  packages/@studiocms/md/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/md

feat(blog): implement internal blog integration and add tests for configuration and routing
  packages/@studiocms/blog/package.json
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/blog/src/types.ts
  packages/@studiocms/blog/src/utils/remapFilter.ts
  packages/@studiocms/blog/test/index.test.ts
  packages/@studiocms/blog/test/types.test.ts
  packages/@studiocms/blog/test/utils/remapFilter.test.ts
  packages/@studiocms/blog/vitest.config.ts
  packages/@studiocms/md/src/index.ts
  vitest.config.ts
Due: plugins, @studiocms/blog, @studiocms/md

feat(blog): enhance remapFilter functionality with additional tests and API context handling
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/blog/src/utils/remapFilter.ts
  packages/@studiocms/blog/test/utils/remapFilter.test.ts
Due: plugins, @studiocms/blog

feat(tests): add comprehensive tests for heroHelper and FALLBACK_OG_IMAGE functionality
  packages/@studiocms/blog/src/utils/remapFilter.ts
  packages/@studiocms/blog/test/components/consts.test.ts
  packages/@studiocms/blog/test/components/heroHelper.test.ts
  packages/@studiocms/blog/vitest.config.ts
Due: plugins, @studiocms/blog

feat(tests): add tests for BaseHead, Footer, RSSIcon, Editor, and Renderer components
  packages/@studiocms/blog/src/utils/remapFilter.ts
  packages/@studiocms/blog/test/components/BaseHead.test.ts
  packages/@studiocms/blog/test/components/Footer.test.ts
  packages/@studiocms/blog/test/components/RSSIcon.test.ts
  packages/@studiocms/blog/test/components/editor.test.ts
  packages/@studiocms/blog/test/components/renderer.test.ts
Due: plugins, @studiocms/blog

feat(tests): add Navigation component tests and enhance MockAstroLocals utility
  packages/@studiocms/blog/test/components/Navigation.test.ts
  packages/@studiocms/blog/test/test-utils.ts
  packages/@studiocms/blog/vitest.config.ts
Due: plugins, @studiocms/blog

feat(tests): add additional assertions for Navigation component rendering
  packages/@studiocms/blog/test/components/Navigation.test.ts
Due: plugins, @studiocms/blog

feat(tests): add tests for PostHeader component and create fixture components for CustomImage and FormattedDate
  packages/@studiocms/blog/test/components/PostHeader.test.ts
  packages/@studiocms/blog/test/fixtures/CustomImage.astro
  packages/@studiocms/blog/test/fixtures/FormattedDate.astro
  packages/@studiocms/blog/vitest.config.ts
Due: plugins, @studiocms/blog

fix(tests): correct date assertion in PostHeader component test
  packages/@studiocms/blog/test/components/PostHeader.test.ts
Due: plugins, @studiocms/blog

feat(tests): add Layout component tests to ensure correct rendering
  packages/@studiocms/blog/test/components/PostHeader.test.ts
  packages/@studiocms/blog/test/layouts/Layout.test.ts
Due: plugins, @studiocms/blog

fix(config): exclude runtime and routes files from coverage
  vitest.config.ts
Due: none

feat(tests): add PageList component tests for rendering with and without blog posts
  packages/@studiocms/blog/src/components/PageList.astro
  packages/@studiocms/blog/test/components/PageList.test.ts
Due: plugins, @studiocms/blog

feat(mdx): add tests for MDX editor and renderer components
  packages/@studiocms/mdx/package.json
  packages/@studiocms/mdx/test/components/editor.test.ts
  packages/@studiocms/mdx/test/components/renderer.test.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/mdx/test/lib/render.test.ts
  packages/@studiocms/mdx/test/test-utils.ts
  packages/@studiocms/mdx/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/mdx

refactor(tests): remove unused test utilities and cleanup global state handling
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/mdx/test/test-utils.ts
Due: plugins, @studiocms/mdx

apply code suggestions
  packages/@studiocms/blog/src/routes/rss.xml.ts
  packages/@studiocms/blog/src/utils/remapFilter.ts
  packages/@studiocms/blog/test/components/PageList.test.ts
  packages/@studiocms/blog/test/components/PostHeader.test.ts
  packages/@studiocms/blog/test/layouts/Layout.test.ts
  packages/@studiocms/blog/test/utils/remapFilter.test.ts
  vitest.config.ts
Due: plugins, @studiocms/blog

feat(scripts): add test script to package.json for Vitest integration
  packages/@studiocms/blog/package.json
Due: plugins, @studiocms/blog

feat(blog): implement internal blog integration and add tests (#817)
  packages/@studiocms/blog/package.json
  packages/@studiocms/blog/src/components/PageList.astro
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/blog/src/routes/rss.xml.ts
  packages/@studiocms/blog/src/types.ts
  packages/@studiocms/blog/src/utils/remapFilter.ts
  packages/@studiocms/blog/test/components/BaseHead.test.ts
  packages/@studiocms/blog/test/components/Footer.test.ts
  packages/@studiocms/blog/test/components/Navigation.test.ts
  packages/@studiocms/blog/test/components/PageList.test.ts
  packages/@studiocms/blog/test/components/PostHeader.test.ts
  packages/@studiocms/blog/test/components/RSSIcon.test.ts
  packages/@studiocms/blog/test/components/consts.test.ts
  packages/@studiocms/blog/test/components/editor.test.ts
  packages/@studiocms/blog/test/components/heroHelper.test.ts
  packages/@studiocms/blog/test/components/renderer.test.ts
  packages/@studiocms/blog/test/fixtures/CustomImage.astro
  packages/@studiocms/blog/test/fixtures/FormattedDate.astro
  packages/@studiocms/blog/test/index.test.ts
  packages/@studiocms/blog/test/layouts/Layout.test.ts
  packages/@studiocms/blog/test/test-utils.ts
  packages/@studiocms/blog/test/types.test.ts
  packages/@studiocms/blog/test/utils/remapFilter.test.ts
  packages/@studiocms/blog/vitest.config.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/blog, @studiocms/md

chore: moar cleanup
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/mdx/test/components/editor.test.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/mdx/test/lib/render.test.ts
  packages/@studiocms/mdx/vitest.config.ts
Due: plugins, @studiocms/mdx

feat(mdx): add tests for MDX editor and renderer components (#818)
  packages/@studiocms/mdx/package.json
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/mdx/test/components/editor.test.ts
  packages/@studiocms/mdx/test/components/renderer.test.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/mdx/test/lib/render.test.ts
  packages/@studiocms/mdx/test/test-utils.ts
  packages/@studiocms/mdx/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/mdx

[ci] lint
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/mdx/test/lib/render.test.ts
  packages/@studiocms/mdx/test/test-utils.ts
Due: plugins, @studiocms/mdx

feat(tests): add tests for markdoc plugin and rendering functionality
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdoc/src/lib/render.ts
  packages/@studiocms/markdoc/test/components/editor.test.ts
  packages/@studiocms/markdoc/test/components/renderer.test.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/markdoc/test/lib/render.test.ts
  packages/@studiocms/markdoc/test/react-renderer/MarkDocReactRenderer.test.tsx
  packages/@studiocms/markdoc/test/react-renderer/ReactWrapper.test.ts
  packages/@studiocms/markdoc/test/react-renderer/renderReact.test.ts
  packages/@studiocms/markdoc/test/test-utils.ts
  packages/@studiocms/markdoc/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/markdoc

chore(package): remove test coverage script from package.json
  packages/@studiocms/markdoc/package.json
Due: plugins, @studiocms/markdoc

chore(package): update devDependencies in markdoc package.json to remove unused vitest dependency
  packages/@studiocms/markdoc/package.json
Due: plugins, @studiocms/markdoc

feat(tests): add tests for markdoc plugin and rendering functionality (#820)
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdoc/src/lib/render.ts
  packages/@studiocms/markdoc/test/components/editor.test.ts
  packages/@studiocms/markdoc/test/components/renderer.test.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/markdoc/test/lib/render.test.ts
  packages/@studiocms/markdoc/test/react-renderer/MarkDocReactRenderer.test.tsx
  packages/@studiocms/markdoc/test/react-renderer/ReactWrapper.test.ts
  packages/@studiocms/markdoc/test/react-renderer/renderReact.test.ts
  packages/@studiocms/markdoc/test/test-utils.ts
  packages/@studiocms/markdoc/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/markdoc

[ci] lint
  packages/@studiocms/markdoc/src/lib/render.ts
  packages/@studiocms/markdoc/test/components/editor.test.ts
  packages/@studiocms/markdoc/test/components/renderer.test.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/markdoc/test/lib/render.test.ts
  packages/@studiocms/markdoc/test/react-renderer/ReactWrapper.test.ts
  packages/@studiocms/markdoc/test/react-renderer/renderReact.test.ts
Due: plugins, @studiocms/markdoc

feat(vitest): update coverage exclude patterns to include additional directories
  vitest.config.ts
Due: none

feat(tests): add UI coverage reporting for Vitest
  package.json
  vitest.config.ts
Due: none

Tweak vitest config (#821)
  package.json
  vitest.config.ts
Due: none

feat(tests): add comprehensive tests for WYSIWYG package
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/test/components/Editor.test.ts
  packages/@studiocms/wysiwyg/test/components/Render.test.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
  packages/@studiocms/wysiwyg/test/lib/utils.test.ts
  packages/@studiocms/wysiwyg/test/routes/grapes-css.test.ts
  packages/@studiocms/wysiwyg/test/routes/partial.test.ts
  packages/@studiocms/wysiwyg/test/routes/store.test.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@studiocms/wysiwyg/test/types.test.ts
  packages/@studiocms/wysiwyg/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/wysiwyg

feat(wysiwyg): integrate sanitize-html for improved content sanitization and update dependencies
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/test/components/Render.test.ts
  pnpm-lock.yaml
Due: plugins, @studiocms/wysiwyg

feat(tests): add vitest configuration and initial tests for StudioCMS plugin functionality
  packages/studiocms/package.json
  packages/studiocms/src/plugins.ts
  packages/studiocms/src/routes/firstTimeSetupRoutes/2-next.astro
  packages/studiocms/test/test-utils.test.ts
  packages/studiocms/vitest.config.ts
  vitest.config.ts
Due: integrations, studiocms

feat(tests): add 'studiocms' project to vitest configuration
  vitest.config.ts
Due: none

feat(tests): add unit tests for error handling and utility functions in StudioCMS
  packages/studiocms/src/effect.ts
  packages/studiocms/test/errors.test.ts
  packages/studiocms/test/oAuthUtils.test.ts
Due: integrations, studiocms

feat(tests): add unit tests for StudioCMS configuration and constants
  packages/studiocms/test/config.test.ts
  packages/studiocms/test/consts.test.ts
Due: integrations, studiocms

feat(tests): add unit tests for logger and markdown parsing functionality
  packages/studiocms/src/consts.ts
  packages/studiocms/src/utils/effects/index.ts
  packages/studiocms/src/utils/effects/logger.ts
  packages/studiocms/src/utils/effects/smtp.ts
  packages/studiocms/src/utils/safeString.ts
  packages/studiocms/test/utils/effects/logger.test.ts
  packages/studiocms/test/utils/tinyMDParser.test.ts
  vitest.config.ts
Due: integrations, studiocms

feat(logger): add v8 ignore comments to improve performance in logger functions
  packages/studiocms/src/utils/effects/logger.ts
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
