Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

refactor(libsql-viewer): Remove outdated TODO comments for database dialect support
  packages/@studiocms/devapps/src/apps/libsql-viewer.ts
  packages/@studiocms/devapps/src/index.ts
Due: integrations, @studiocms/devapps

refactor(folders): Clean up folder structure system and ensure correct resolution of urlRoute property (#1049)
  .changeset/config.json
  .changeset/tender-cities-train.md
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/@withstudiocms/sdk/src/modules/util/slugify.ts
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreateFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/shared.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/folder.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/folders/[id].ts
  playground/astro.config.mts
Due: integrations, tools-utils, studiocms

cleanup(mailer): remove deprecated mailer templates and related code (#1050)
  .changeset/tasty-pets-mix.md
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/auth/verify-email.ts
  packages/studiocms/src/virtuals/mailer/template.ts
  packages/studiocms/src/virtuals/mailer/templates/index.ts
  packages/studiocms/src/virtuals/mailer/templates/notification.ts
  packages/studiocms/src/virtuals/mailer/templates/password-reset.ts
  packages/studiocms/src/virtuals/mailer/templates/user-invite.ts
  packages/studiocms/src/virtuals/mailer/templates/verify-email.ts
Due: integrations, studiocms

refactor(effect): remove deprecated drizzle client and related dependencies (#1051)
  .changeset/polite-stamps-cheer.md
  packages/@studiocms/migrator/package.json
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/drizzle.ts
  packages/@withstudiocms/effect/test/drizzle.test.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/effect

feat(adapter): add adapter import and update debug info structure
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

feat(debug): enhance debug information with database dialect and host OS details
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

refactor: update debug info structure and plugin naming for consistency
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/integrations/node-namespace.ts
  packages/studiocms/test/integrations/node-namespace.test.ts
  playground/astro.config.mts
Due: integrations, studiocms

fix(avatar): ensure fallback image is displayed when avatar URL is invalid
  packages/studiocms/frontend/components/shared/SSRUser.astro
Due: integrations, studiocms

feat(db-viewer): integrate DbStudioElement and enhance message handling
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/studiocms_api/db-studio/query.ts
  packages/studiocms/src/toolbar/db-viewer/index.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
Due: integrations, studiocms

fix(db-viewer): prevent multiple canvas creations by initializing only once
  packages/studiocms/frontend/pages/studiocms_api/db-studio/query.ts
  packages/studiocms/src/toolbar/db-viewer/index.ts
Due: integrations, studiocms

feat(debug): implement debug info provider and enhance debug information structure
  .changeset/grumpy-areas-stand.md
  cspell.json
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/debug-styler.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/get-package-manger.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/process-node-version-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/process-package-manager-user-agent-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/system-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/definitions.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/bun-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/noop-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/pnpm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/yarn-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/locals.d.ts
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/frontend/scripts/debug-styler.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

feat(debug): enhance DebugInfoProvider to accept dynamic indentation and options for styled output
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/debug-styler.ts
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

refactor(debug): update documentation for FormatOptions and DebugStyler class
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/debug-styler.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor(biome): consolidate web vitals i18n file exclusions
  biome.json
Due: none

feat(analytics): enhance web vitals metrics with detailed documentation and structured data handling
  packages/studiocms/src/plugins/analytics/assets/consts.ts
  packages/studiocms/src/plugins/analytics/assets/dashboard-grid-items/shared.ts
  packages/studiocms/src/plugins/analytics/assets/utils/buildDataObject.ts
  packages/studiocms/src/plugins/analytics/assets/utils/checkDate.ts
  packages/studiocms/src/plugins/analytics/assets/webVital.ts
  packages/studiocms/src/plugins/analytics/consts.ts
  packages/studiocms/src/plugins/analytics/db-client.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/src/plugins/analytics/schemas.ts
  packages/studiocms/src/plugins/analytics/table.ts
Due: integrations, studiocms

refactor(analytics): remove unused DBServerMetricConversionSchema and streamline timestamp handling
  packages/studiocms/frontend/web-vitals/endpoint.ts
  packages/studiocms/src/plugins/analytics/schemas.ts
  playground/studiocms.config.mts
Due: integrations, studiocms

fix(analytics): improve error handling in getWebVitals function
  packages/studiocms/frontend/web-vitals/middleware.ts
  packages/studiocms/src/plugins/analytics/assets/webVital.ts
Due: integrations, studiocms

fix(analytics): ensure response body is present before processing in onRequest middleware
  packages/studiocms/frontend/web-vitals/middleware.ts
Due: integrations, studiocms

Add new System Management and built-in DB Viewer (#1052)
  .changeset/cuddly-jars-yawn.md
  cspell.json
  packages/@studiocms/devapps/src/apps/libsql-viewer.ts
  packages/@studiocms/devapps/src/index.ts
  packages/studiocms/frontend/components/dashboard/sidebarConfig.ts
  packages/studiocms/frontend/components/shared/SSRUser.astro
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/frontend/pages/studiocms_api/db-studio/query.ts
  packages/studiocms/frontend/scripts/debug-styler.ts
  packages/studiocms/package.json
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/integrations/node-namespace.ts
  packages/studiocms/src/toolbar/db-viewer/config.ts
  packages/studiocms/src/toolbar/db-viewer/db-shared-types.ts
  packages/studiocms/src/toolbar/db-viewer/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/connection.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/base.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/mysql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/postgres.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/sqlite.ts
  packages/studiocms/src/toolbar/db-viewer/studio/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/type.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
  packages/studiocms/src/toolbar/utils/app-utils.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/src/virtuals/lib/routeMap.ts
  packages/studiocms/src/virtuals/stubs/config.stub.js
  packages/studiocms/test/integrations/node-namespace.test.ts
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, studiocms, @studiocms/devapps

fix(debug): correct example output in stripNamespace function documentation refactor(debug): remove unused DebugStyler class
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
  packages/studiocms/frontend/scripts/debug-styler.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

feat(debug): implement debug info provider and enhance debug information structure (#1053)
  .changeset/grumpy-areas-stand.md
  cspell.json
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/debug-styler.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/get-package-manger.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/process-node-version-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/process-package-manager-user-agent-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/system-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/definitions.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/bun-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/noop-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/pnpm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/yarn-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/locals.d.ts
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/frontend/scripts/debug-styler.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

[ci] changesets
  .changeset/kind-humans-worry.md
Due: none

Update tsx dependency to version ^4.21.0
  .changeset/purple-adults-mate.md
Due: none

refactor: remove libSQL Viewer and update related configurations in StudioCMS DevApps
  .changeset/frank-apes-peel.md
  packages/@studiocms/devapps/README.md
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/src/apps/libsql-viewer.ts
  packages/@studiocms/devapps/src/index.ts
  packages/@studiocms/devapps/src/routes/outerbase.astro
  packages/@studiocms/devapps/src/schema/index.ts
  packages/@studiocms/devapps/src/virt.d.ts
  packages/@studiocms/devapps/tests/configs.test.ts
  packages/@studiocms/devapps/tests/index.test.ts
  packages/@studiocms/devapps/tests/schema/index.test.ts
Due: integrations, @studiocms/devapps

refactor(tests): remove redundant test case for wpImporter boolean input
  packages/@studiocms/devapps/tests/schema/index.test.ts
Due: integrations, @studiocms/devapps

feat: integrate Tinyexec for command execution and enhance package manager interfaces
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/debug-styler.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/get-package-manger.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/tinyexec.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/definitions.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/bun-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/noop-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/pnpm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/yarn-package-manager.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/internal_helpers

chore: add changeset for improving code structure and enhancing debug helpers
  .changeset/moody-files-admire.md
Due: none

feat: add debug command to CLI for gathering StudioCMS debug information
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/cli/debug/utils/loadAstroConfig.ts
  packages/studiocms/src/cli/debug/utils/loadStudioCMSConfig.ts
  packages/studiocms/src/cli/index.ts
  playground/astro.config.mts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

feat: add `studiocms debug` command for displaying debug information
  .changeset/tricky-trees-joke.md
Due: none

feat: consolidate configuration loading for Astro and StudioCMS into a single function
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/cli/debug/utils/loadAstroConfig.ts
  packages/studiocms/src/cli/debug/utils/loadStudioCMSConfig.ts
Due: integrations, studiocms

feat: enhance debug styling and command execution with improved type definitions and error handling
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/debug-styler.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/tinyexec.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/definitions.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/pnpm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/yarn-package-manager.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix: reorder CLI subcommands for improved organization
  packages/studiocms/src/cli/index.ts
Due: integrations, studiocms

feat: enhance debug command to conditionally log information based on debug mode
  packages/studiocms/src/cli/debug/index.ts
Due: integrations, studiocms

fix: update package manager methods to include parameter for package name and improve version retrieval logic
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/bun-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/noop-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/pnpm-package-manager.ts
Due: tools-utils, @withstudiocms/internal_helpers

feat: add BareNpmLikeVersionOutput interface and enhance package manager version retrieval for studiocms dependencies
  packages/@withstudiocms/internal_helpers/src/debug-provider/definitions.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/pnpm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/yarn-package-manager.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix: update error handling in createPrettyError and enhance type definition in loadConfig
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/debug/index.ts
Due: integrations, studiocms

feat: move debug option to a dedicated module and update CLI commands to use it
  packages/studiocms/src/cli/crypto/genJWT/index.ts
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/cli/init/index.ts
  packages/studiocms/src/cli/migrator/index.ts
  packages/studiocms/src/cli/users/index.ts
  packages/studiocms/src/cli/utils/debugOpt.ts
Due: integrations, studiocms

fix: refactor createPrettyError to return a new Error object with improved formatting
  packages/studiocms/src/cli/add/index.ts
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
