Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

Update js-yaml dependency version
  .changeset/short-emus-mix.md
Due: none

Update SMTP transport configuration to use MailDefaults and enhance test response handling
  packages/@withstudiocms/effect/src/smtp.ts
  packages/@withstudiocms/effect/test/smtp.test.ts
Due: tools-utils, @withstudiocms/effect

Create fair-suits-return.md
  .changeset/fair-suits-return.md
Due: none

Create brave-trams-grow.md
  .changeset/brave-trams-grow.md
Due: none

Refactor language flag handling and enhance UI options logging
  packages/studiocms/src/consts.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtuals/i18n/config.ts
  packages/studiocms/src/virtuals/i18n/overrides.ts
Due: integrations, studiocms

Remove debug logging for current flags in StudioCMS integration
  packages/studiocms/src/index.ts
Due: integrations, studiocms

Fix circle-flags error by adding overrides for missing lang-* flags
  .changeset/wicked-pianos-swim.md
Due: none

Update @astrojs/internal-helpers to version 0.11.0 in dependency catalogs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add changeset for updating @astrojs/internal-helpers dependency to ^0.11.0
  .changeset/empty-cycles-drive.md
Due: none

Refactor language flag handling (#1746)
  .changeset/wicked-pianos-swim.md
  packages/studiocms/src/consts.ts
  packages/studiocms/src/virtuals/i18n/config.ts
  packages/studiocms/src/virtuals/i18n/overrides.ts
Due: integrations, studiocms

Update @astrojs/internal-helpers to support version 0.11.0 in dependency catalog (#1747)
  .changeset/empty-cycles-drive.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Refactor Markdown parsing by replacing micromark with satteri and updating dependencies
  cspell.json
  packages/studiocms/frontend/components/dashboard/sidebar-modals/VersionModal.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/package.json
  packages/studiocms/src/utils/tinyMDParser.ts
  packages/studiocms/test/utils/tinyMDParser.test.ts
  pnpm-lock.yaml
Due: integrations, studiocms

Migrate from Micromark to Satteri for dashboard frontend and SDK markdown parsing
  .changeset/loose-mangos-rescue.md
Due: none

Migrate markdown parsing from mdast-util-from-markdown to satteri and update dependencies
  .changeset/beige-cooks-sneeze.md
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/utils/loadChangelog.ts
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

Remove mdast-util-from-markdown from pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Cleanup deprecated route resolver functions and related tests
  .changeset/four-coins-kneel.md
  packages/studiocms/src/consts.ts
  packages/studiocms/src/types.ts
  packages/studiocms/test/consts.test.ts
Due: integrations, studiocms

Refactor dependencies in package.json and pnpm-lock.yaml, removing deprecated packages and updating devDependencies. Clean up test files by removing unused tests and adjusting imports.
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/test/core/index.test.ts
  packages/@studiocms/markdown-remark/test/core/remark-plugins/remark-collect-images.test.ts
  packages/@studiocms/md/test/index.test.ts
  pnpm-lock.yaml
Due: plugins, @studiocms/md

Remove Turso sponsorship from README files
  README.md
  packages/studiocms/README.md
Due: integrations, studiocms

Add changeset for updating README sponsor section
  .changeset/rare-wolves-sort.md
Due: none
