Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

remove keyframes fadeIn
  packages/studiocms/src/components/shared/SSRUser.astro
Due: integrations, studiocms

update lockfile
  pnpm-lock.yaml
Due: none

creates SVG directly as direct child of container instead of creating div child
  packages/studiocms/src/components/shared/SSRUser.astro
Due: integrations, studiocms

Update packages/studiocms/src/components/shared/SSRUser.astro
  packages/studiocms/src/components/shared/SSRUser.astro
Due: integrations, studiocms

feat(i18n): Add French translations and integrate i18n support in graphjs editor
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/i18n/index.ts
  packages/@studiocms/wysiwyg/src/components/Editor.astro
Due: plugins, @studiocms/wysiwyg

fix(i18n): lint fix
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/i18n/index.ts
Due: plugins, @studiocms/wysiwyg

update effect deps (#942)
  .changeset/khaki-ties-matter.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): Update permissions to write for label management jobs
  .github/workflows/ci-labeler.yml
Due: none

Add Allure Test Report badge (#941)
  README.md
Due: none

fix(ci): Update permissions to write for label management jobs (#944)
  .github/workflows/ci-labeler.yml
Due: none

fix: Move avatar loading to client-side to eliminate render blocking (#938)
  .changeset/violet-pants-invite.md
  packages/studiocms/src/components/shared/SSRUser.astro
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/components.test.ts
Due: integrations, studiocms

feat: add project names to vitest configurations for better identification
  packages/@studiocms/auth0/vitest.config.ts
  packages/@studiocms/blog/vitest.config.ts
  packages/@studiocms/cloudinary-image-service/vitest.config.ts
  packages/@studiocms/devapps/vitest.config.ts
  packages/@studiocms/discord/vitest.config.ts
  packages/@studiocms/github/vitest.config.ts
  packages/@studiocms/google/vitest.config.ts
  packages/@studiocms/html/vitest.config.ts
  packages/@studiocms/markdoc/vitest.config.ts
  packages/@studiocms/md/vitest.config.ts
  packages/@studiocms/mdx/vitest.config.ts
  packages/@studiocms/wysiwyg/vitest.config.ts
  packages/@withstudiocms/auth-kit/vitest.config.ts
  packages/@withstudiocms/buildkit/vitest.config.ts
  packages/@withstudiocms/component-registry/vitest.config.ts
  packages/@withstudiocms/config-utils/vitest.config.ts
  packages/@withstudiocms/effect/vitest.config.ts
  packages/@withstudiocms/internal_helpers/vitest.config.ts
  packages/@withstudiocms/template-lang/test/engine.test.ts
  packages/@withstudiocms/template-lang/test/index.test.ts
  packages/@withstudiocms/template-lang/test/parser.test.ts
  packages/@withstudiocms/template-lang/test/renderer.test.ts
  packages/@withstudiocms/template-lang/vitest.config.ts
  packages/studiocms/vitest.config.ts
  vitest.config.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

fix: exclude vitest.config.ts from changed file patterns
  .changeset/config.json
Due: none

fix: update schema path and refine changed file patterns in config.json
  .changeset/config.json
Due: none

fix: remove TypeScript config files from changed file patterns in config.json
  .changeset/config.json
Due: none

fix: expand changed file patterns in config.json to include additional documentation files
  .changeset/config.json
Due: none

feat: enhance test structure and add allure reporting for internal_helpers package
  packages/@withstudiocms/internal_helpers/test/pathGenerators.test.ts
  packages/@withstudiocms/internal_helpers/test/test-utils.ts
  packages/@withstudiocms/internal_helpers/test/urlGenFactory.test.ts
  packages/@withstudiocms/internal_helpers/vitest.config.ts
  packages/@withstudiocms/template-lang/test/index.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor: streamline allure tags usage by introducing sharedTags in test-utils
  packages/@withstudiocms/internal_helpers/test/pathGenerators.test.ts
  packages/@withstudiocms/internal_helpers/test/test-utils.ts
  packages/@withstudiocms/internal_helpers/test/urlGenFactory.test.ts
  packages/@withstudiocms/template-lang/test/index.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix: remove unused import of 'it' from pathGenerators.test.ts
  packages/@withstudiocms/internal_helpers/test/pathGenerators.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

feat: enhance HeadConfigSchema tests with allure reporting and structured test cases
  packages/@withstudiocms/internal_helpers/test/headConfigSchema.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

Replace zod json string message for fixed error string
  packages/studiocms/src/routes/firstTimeSetupRoutes/api/step-2.ts
Due: integrations, studiocms

feat: implement comprehensive utility function tests with allure reporting
  packages/@withstudiocms/internal_helpers/test/test-utils.ts
  packages/@withstudiocms/internal_helpers/test/utils.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/jsonUtils.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/loadChangelog.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/pageTypeFilter.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/safeString.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

feat: add markdown URL and username constants for improved test readability
  packages/@withstudiocms/internal_helpers/test/test-utils.ts
  packages/@withstudiocms/internal_helpers/test/utils.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix: correct logging behavior for debug messages when verbose is false
  .changeset/perky-mangos-dig.md
  packages/@withstudiocms/internal_helpers/src/astro-integration/integrationLogger.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration.test.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/getLatestVersion.test.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/integrationLogger.test.ts
  packages/@withstudiocms/internal_helpers/test/test-utils.ts
Due: tools-utils, @withstudiocms/internal_helpers

feat: enhance test structure with allure reporting and shared utilities
  packages/@withstudiocms/buildkit/test/builder.test.js
  packages/@withstudiocms/buildkit/test/cli.test.js
  packages/@withstudiocms/buildkit/test/test-utils.js
  packages/@withstudiocms/buildkit/vitest.config.ts
Due: tools-utils, @withstudiocms/buildkit

chore: update allure-js-commons to version 3.4.1 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

feat: add global labels for allure reporting configuration
  vitest.config.ts
Due: none

feat: refactor Vitest configuration to use shared settings and remove unused test UI scripts
  package.json
  packages/@withstudiocms/buildkit/vitest.config.ts
  packages/@withstudiocms/internal_helpers/vitest.config.ts
  packages/@withstudiocms/template-lang/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
  vitest.shared.ts
Due: tools-utils, @withstudiocms/buildkit, @withstudiocms/internal_helpers

refactor: reorganize allure commands in package.json for clarity and consistency
  package.json
Due: none

feat: enhance SMTP service tests with allure reporting and shared utilities
  packages/@withstudiocms/effect/test/smtp.test.ts
  packages/@withstudiocms/effect/test/test-utils.ts
  packages/@withstudiocms/effect/vitest.config.ts
Due: tools-utils, @withstudiocms/effect

feat: integrate allure reporting into SMTP service tests and refactor test names for clarity
  packages/@withstudiocms/effect/test/effect.test.ts
  packages/@withstudiocms/effect/test/scrypt.test.ts
  packages/@withstudiocms/effect/test/smtp.test.ts
Due: tools-utils, @withstudiocms/effect

refactor: remove unused imports and standardize test function usage in effect and scrypt test files
  packages/@withstudiocms/effect/test/effect.test.ts
  packages/@withstudiocms/effect/test/scrypt.test.ts
Due: tools-utils, @withstudiocms/effect

Parse zod errors instead of fixed error message
  .changeset/plenty-parrots-sleep.md
  packages/studiocms/src/routes/firstTimeSetupRoutes/api/step-2.ts
Due: integrations, studiocms

feat: enhance tests with allure reporting and refactor for clarity in clack, deepmerge, and drizzle test files
  packages/@withstudiocms/effect/test/clack.test.ts
  packages/@withstudiocms/effect/test/deepmerge.test.ts
  packages/@withstudiocms/effect/test/drizzle.test.ts
Due: tools-utils, @withstudiocms/effect

feat: integrate allure reporting into response helpers tests and refactor for clarity
  packages/@withstudiocms/effect/test/astro/response-helpers.test.ts
Due: tools-utils, @withstudiocms/effect

feat: enhance context utils tests with allure reporting and refactor for clarity
  packages/@withstudiocms/effect/test/astro/context-utils.test.ts
Due: tools-utils, @withstudiocms/effect

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
