Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

feat: refactor error handling in API routes to use a centralized onError function
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
Due: integrations, studiocms

feat: refactor shared handlers and CORS configuration in authentication routes
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
Due: integrations, studiocms

feat: enhance error logging by integrating logger in API error handling
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
Due: integrations, studiocms

feat: consolidate authentication API routes and refactor shared utilities (#1142)
  .changeset/cuddly-donuts-raise.md
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/callback.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/forgot-password.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/login.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/logout.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/register.ts
  packages/studiocms/frontend/utils/rest-router.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/frontend/types.ts
  packages/studiocms/src/handlers/frontend/utils.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/components/utils.test.ts
Due: integrations, studiocms

chore(deps): update dotenv and drizzle-orm dependencies in package.json and pnpm-lock.yaml
  cspell.json
  packages/@studiocms/migrator/package.json
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

chore(deps): add changeset for pnpm catalog dependency cleanup
  .changeset/olive-streets-brake.md
Due: none

feat: implement unified migration/schema table types for automated management and type generation
  .changeset/fresh-facts-crash.md
  packages/@withstudiocms/kysely/src/core/migration-schema.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
Due: tools-utils

chore: add v8 ignore comments for migration schema file
  packages/@withstudiocms/kysely/src/core/migration-schema.ts
Due: tools-utils

chore: add TODO comments for migrating custom migrations and table definitions to the StudioCMS SDK package
  packages/@withstudiocms/kysely/src/migrator.ts
  packages/@withstudiocms/kysely/src/tables.ts
Due: tools-utils

chore: add TODO for creating Astro integration with Kysely support
  packages/@withstudiocms/kysely/src/index.ts
Due: tools-utils

feat: implement MigrationSchemaManager for managing schema definitions and migrations
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

fix: make previousSchemaDefinition optional in MigrationSchemaManager and related functions
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

Update fresh-facts-crash.md
  .changeset/fresh-facts-crash.md
Due: none

fix: bind createSchemaTable method and improve error handling in MigrationSchemaManager
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

fix: update query in MigrationSchemaManager to retrieve the latest schema definition
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

fix: update MigrationSchemaManager constructor to handle undefined previousSchemaDefinition
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

feat: enhance environment variable loading for dialect drivers with support for prefixed and un-prefixed variables
  .changeset/itchy-balloons-sleep.md
  packages/@withstudiocms/kysely/src/drivers/libsql.ts
  packages/@withstudiocms/kysely/src/drivers/mysql.ts
  packages/@withstudiocms/kysely/src/drivers/postgres.ts
Due: tools-utils

feat: enhance environment variable loading for MySQL, PostgreSQL, and LibSQL drivers with support for prefixed variables
  packages/@withstudiocms/kysely/src/drivers/libsql.ts
  packages/@withstudiocms/kysely/src/drivers/mysql.ts
  packages/@withstudiocms/kysely/src/drivers/postgres.ts
Due: tools-utils

feat: improve environment variable loading for dialect drivers to support unprefixed and CMS_-prefixed variables
  .changeset/itchy-balloons-sleep.md
Due: none

feat: implement unified migration/schema table types for automated management and type generation (#1145)
  .changeset/fresh-facts-crash.md
  packages/@withstudiocms/kysely/src/core/migration-schema.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/src/index.ts
  packages/@withstudiocms/kysely/src/migrator.ts
  packages/@withstudiocms/kysely/src/tables.ts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

feat(kysely): enhance environment variable loading for dialect drivers (#1146)
  .changeset/itchy-balloons-sleep.md
  packages/@withstudiocms/kysely/src/drivers/libsql.ts
  packages/@withstudiocms/kysely/src/drivers/mysql.ts
  packages/@withstudiocms/kysely/src/drivers/postgres.ts
Due: tools-utils

Cleans up pnpm catalog dependencies (#1144)
  .changeset/olive-streets-brake.md
  cspell.json
  packages/@studiocms/migrator/package.json
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

feat: consolidate and clean up page partial routes and implement new editor and render components
  .changeset/little-corners-report.md
  packages/studiocms/frontend/pages/studiocms_api/partials/editor.astro
  packages/studiocms/frontend/pages/studiocms_api/partials/render.astro
  packages/studiocms/frontend/pages/studiocms_api/partials/user-list-items.astro
  packages/studiocms/frontend/pages/studiocms_api/renderer/render.astro
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, studiocms

feat: migrate table schemas from @withstudiocms/kysely to @withstudiocms/sdk
  .changeset/breezy-towns-clean.md
  .changeset/chatty-candies-rescue.md
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/src/effects/WordPressAPI/converters.ts
  packages/@studiocms/devapps/src/effects/WordPressAPI/importers.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/index.ts
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/src/context.ts
  packages/@withstudiocms/sdk/src/lib/pluginUtils.ts
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
  packages/@withstudiocms/sdk/src/modules/plugins/index.ts
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/@withstudiocms/sdk/src/modules/resetTokenBucket/index.ts
  packages/@withstudiocms/sdk/src/modules/rest_api/index.ts
  packages/@withstudiocms/sdk/src/modules/update/index.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/@withstudiocms/sdk/src/modules/util/folderTree.ts
  packages/@withstudiocms/sdk/src/tables.ts
  packages/@withstudiocms/sdk/src/types.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/folder.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
  packages/studiocms/src/db/index.ts
  packages/studiocms/src/db/plugins.ts
  packages/studiocms/src/handlers/storage-manager/core/database.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @studiocms/devapps

feat: update imports and dependencies for @withstudiocms/sdk and @withstudiocms/kysely
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/src/db/client.ts
  packages/@studiocms/migrator/src/lib/remapUtils.ts
  packages/@studiocms/migrator/src/lib/tableMap.ts
  packages/@withstudiocms/kysely/src/index.ts
  packages/@withstudiocms/kysely/src/schema.ts
  packages/@withstudiocms/kysely/test/core/client.test.ts
  packages/@withstudiocms/sdk/src/context.ts
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/delete/index.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/@withstudiocms/sdk/src/modules/resetTokenBucket/index.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/studiocms/src/db/index.ts
  packages/studiocms/src/db/plugins.ts
  packages/studiocms/src/plugins/analytics/table.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms

Update breezy-towns-clean.md
  .changeset/breezy-towns-clean.md
Due: none

fix: reorder imports for consistency in table.ts
  packages/studiocms/src/plugins/analytics/table.ts
Due: integrations, studiocms

feat: consolidate and clean up page partial routes and implement new editor and render components (#1150)
  .changeset/little-corners-report.md
  packages/studiocms/frontend/pages/studiocms_api/partials/editor.astro
  packages/studiocms/frontend/pages/studiocms_api/partials/render.astro
  packages/studiocms/frontend/pages/studiocms_api/partials/user-list-items.astro
  packages/studiocms/frontend/pages/studiocms_api/renderer/render.astro
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, studiocms

repo(vscode): add Knip extension and configuration settings for improved linting
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: add Knip configuration settings for improved linting and editor support
  .devcontainer/devcontainer.json
Due: none

feat(migrations): add migration scripts for initial setup, deprecations, and URL mapping
  .changeset/brown-pots-rush.md
  .changeset/young-rabbits-ask.md
  package.json
  packages/@studiocms/migrator/src/db/client.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/@withstudiocms/kysely/test/core/migrator.test.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/scripts/create-migration.ts
  packages/@withstudiocms/sdk/src/migrations/20251025T040912_init.ts
  packages/@withstudiocms/sdk/src/migrations/20251130T150847_drop_deprecated.ts
  packages/@withstudiocms/sdk/src/migrations/20251221T002125_url-mapping.ts
  packages/@withstudiocms/sdk/src/migrator.ts
  packages/studiocms/src/cli/migrator/index.ts
Due: integrations, tools-utils, studiocms

refactor(index): remove migrator documentation to streamline exports
  packages/@withstudiocms/kysely/src/index.ts
Due: tools-utils

refactor(migrator): rename migrationFolder to migrations for clarity
  packages/@withstudiocms/kysely/src/core/migrator.ts
Due: tools-utils

refactor(migrator): simplify importMigration function by returning migration directly
  packages/@withstudiocms/sdk/src/migrator.ts
Due: tools-utils

fix(dependencies): restore tsx in sdk devDependencies and update pnpm-lock.yaml
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/sdk/package.json
  pnpm-lock.yaml
Due: tools-utils

Update .changeset/young-rabbits-ask.md
  .changeset/young-rabbits-ask.md
Due: none

refactor(DBFixture): remove commented-out migrator methods for clarity
  packages/@withstudiocms/kysely/src/test-utils.ts
Due: tools-utils

Add vscode recommends and config for new knip extension to go along with our knip config (#1152)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat(migrations): Move StudioCMS Migration system from kysely package to sdk package (#1153)
  .changeset/brown-pots-rush.md
  .changeset/young-rabbits-ask.md
  package.json
  packages/@studiocms/migrator/src/db/client.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/core/migrator.ts
  packages/@withstudiocms/kysely/src/index.ts
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/@withstudiocms/kysely/test/core/migrator.test.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/scripts/create-migration.ts
  packages/@withstudiocms/sdk/src/migrations/20251025T040912_init.ts
  packages/@withstudiocms/sdk/src/migrations/20251130T150847_drop_deprecated.ts
  packages/@withstudiocms/sdk/src/migrations/20251221T002125_url-mapping.ts
  packages/@withstudiocms/sdk/src/migrator.ts
  packages/studiocms/src/cli/migrator/index.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms
