Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

fix(rendering): add export for renderPostProcessorAugments in vitest configuration
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

feat(studiocms): migrate to @withstudiocms/api-spec (part 1/3) (#1373)
  .changeset/old-jobs-relate.md
  .changeset/pretty-months-drive.md
  .changeset/stale-cities-float.md
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/integrations/routes/db-studio.ts
  packages/effectify/package.json
  packages/effectify/src/httpApi.ts
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/db-studio-driver.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/parseLogLevel.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integrations.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/frontend/pages/studiocms_api/_middleware/astroLocals.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/_effects/index.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/db-studio.ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/storage.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
  packages/studiocms/package.json
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/routeHandler.ts
  packages/studiocms/src/handlers/storage-manager/core/effectify-astro-context.ts
  packages/studiocms/src/virtual.d.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms

feat(studiocms): More API migration progress (#1374)
  .changeset/red-cars-film.md
  .changeset/shaggy-pears-press.md
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/src/tables.ts
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/PageTypeHandler.astro
  packages/studiocms/frontend/components/dashboard/sidebar/VersionCheck.astro
  packages/studiocms/frontend/components/dashboard/sidebar/VersionCheckChangelog.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItem.astro
  packages/studiocms/frontend/pages/[dashboard]/login.astro
  packages/studiocms/frontend/pages/[dashboard]/signup.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/frontend/pages/studiocms_api/partials/user-list-items.astro
  packages/studiocms/frontend/scripts/auth/formListener.ts
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/toolbar/db-viewer/db-shared-types.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
  packages/studiocms/test/components/formListener.test.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/sdk

feat(api-spec): deduplicate API spec definitions and enhance LocalsSessionData middleware context
  .changeset/cozy-cities-burn.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/consts.ts
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_middleware/astroLocals.ts
Due: integrations, tools-utils, studiocms

feat(rendering): extend rendering functionality (#1375)
  .changeset/icy-pandas-trade.md
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/types.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/components/Renderer.astro
  packages/studiocms/src/virtuals/components/renderFn.ts
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

feat(api-spec): deduplicate API spec definitions and enhance LocalsSessionData middleware context (#1381)
  .changeset/cozy-cities-burn.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/consts.ts
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_middleware/astroLocals.ts
Due: integrations, tools-utils, studiocms

[ci] changesets
  .changeset/silent-plants-tease.md
Due: none

Update dependency @types/nodemailer to version ^7.0.11
  .changeset/sweet-fans-complain.md
Due: none

fix: correct wording in migrator README for clarity
  packages/@studiocms/migrator/README.md
Due: none

refactor: remove references to @studiocms/migrator from issue templates and configuration files
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/4-migration-issue.yml
  AGENTS.md
  knip.config.ts
  studiocms.config.mts
Due: none

fix: correct typo in migrator README regarding built-in database layer
  packages/@studiocms/migrator/README.md
Due: none

refactor: remove legacy migrator package references from configuration
  knip.config.ts
Due: none

Refactor authentication and integration API handlers
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/oauth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integration/dbStudio.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integration/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integration/storageManager.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_middleware/restApi.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[...all].ts
Due: integrations, studiocms

feat: implement RestAPIAuthorization middleware with error handling and user validation
  packages/@withstudiocms/api-spec/src/rest-api/middleware.ts
  packages/studiocms/frontend/pages/studiocms_api/_middleware/astroLocals.ts
  packages/studiocms/frontend/pages/studiocms_api/_middleware/restApi.ts
Due: integrations, tools-utils, studiocms

fix: update error message for NotFoundError during token verification
  packages/studiocms/frontend/pages/studiocms_api/_middleware/restApi.ts
Due: integrations, studiocms

feat: add placeholder Live REST API and V1 Handler layers with initial export
  cspell.json
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/index.ts
Due: integrations, studiocms

feat: update exports
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/index.ts
Due: integrations, studiocms

feat: implement REST API v1 handlers with public and secure endpoints, including shared error handling
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/public.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, tools-utils, studiocms

feat: add shared notifier error handling and implement category management endpoints with authorization
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, studiocms

feat: add shared page collection error handlers for consistent error responses in REST API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, studiocms

feat: enhance folder API endpoints with success response schema and authorization checks
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, tools-utils, studiocms

feat: add settings endpoints
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, tools-utils, studiocms

feat: update dynamic site configuration schema and ensure mutable payload in settings update endpoint
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
Due: tools-utils

feat: implement page endpoints
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, tools-utils, studiocms

tag endpoints
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, studiocms

Refactor: Consolidate REST API routes into a single handler
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/[...path].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/auth-token.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/settings.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/users.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, tools-utils, studiocms

feat: add SDK API route to consolidate SDK-related endpoints
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
Due: integrations, studiocms

feat: add Integrations API handler and update route configuration
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, studiocms

feat: migrate RestAPI to new API-Spec package for improved type safety
  .changeset/all-places-find.md
  .changeset/legal-cats-own.md
Due: none

Update strip-ansi dependency version
  .changeset/neat-radios-raise.md
Due: none

fix(deps): add mysql2 to ignored dependencies in renovate configuration
  .github/renovate.json
Due: none

fix(deps): add mysql2 to ignored dependencies in renovate configuration (#1408)
  .github/renovate.json
Due: none

fix(api): update UsersTableBase to use Select for omitting fields
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
Due: tools-utils

add changeset
  .changeset/modern-bars-begin.md
Due: none

fix(api): add catch-all route layer for unmatched requests
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
Due: integrations, studiocms

feat(ci): add tangle-mirror job to CI workflow
  .github/workflows/ci-push-main.yml
  cspell.json
Due: none

fix(ci): correct job name from 'tangle-mirror' to 'tangled-mirror'
  .github/workflows/ci-push-main.yml
Due: none
