Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Update boxen to version 9.0.0 across packages (#1767)
  .changeset/humble-papayas-wonder.md
  packages/@withstudiocms/cli-kit/package.json
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/cli-kit

Update `studiocms add` command to support new OAuth plugin structure (#1768)
  .changeset/lemon-eggs-join.md
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/add/npm-utils.ts
  packages/studiocms/src/cli/add/validatePlugins.ts
Due: integrations, studiocms

Update renovate.json to disable effect dependencies and ignore additional packages
  .github/renovate.json
Due: none

Update renovate.json to disable effect dependencies and ignore additional packages (#1769)
  .github/renovate.json
Due: none

centralize markdown processing utility to internal helpers package
  .changeset/loose-mangos-rescue.md
  packages/@withstudiocms/internal_helpers/src/markdown.ts
  packages/studiocms/frontend/components/dashboard/sidebar-modals/VersionModal.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

update ignoreDependencies in knip.config.ts for satteri package
  knip.config.ts
Due: none

Refactor core Markdown parsing by replacing micromark/mdast with satteri (#1749)
  .changeset/beige-cooks-sneeze.md
  .changeset/loose-mangos-rescue.md
  cspell.json
  knip.config.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/markdown.ts
  packages/@withstudiocms/internal_helpers/src/utils/loadChangelog.ts
  packages/studiocms/frontend/components/dashboard/sidebar-modals/VersionModal.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/package.json
  packages/studiocms/src/utils/tinyMDParser.ts
  packages/studiocms/test/utils/tinyMDParser.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**
