Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

feat: enhance CreatePage and PageHeader components with publish functionality and validation for form fields
  .changeset/cuddly-garlics-yell.md
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/src/routes/api/dashboard/content/page.ts
Due: integrations, studiocms

fix: improve validation for string fields and refactor page data construction
  .changeset/cuddly-garlics-yell.md
  packages/studiocms/src/routes/api/dashboard/content/page.ts
Due: integrations, studiocms

fix: remove default categories and tags from page data and improve validation for id and slug fields
  packages/studiocms/src/routes/api/dashboard/content/page.ts
Due: integrations, studiocms

apply code suggestion
  packages/studiocms/src/routes/api/dashboard/content/page.ts
Due: integrations, studiocms

Update packages/studiocms/src/routes/api/dashboard/content/page.ts
  packages/studiocms/src/routes/api/dashboard/content/page.ts
Due: integrations, studiocms

lint
  packages/studiocms/src/routes/api/dashboard/content/page.ts
Due: integrations, studiocms

feat: fix slug handling and createpage form (#852)
  .changeset/cuddly-garlics-yell.md
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/src/routes/api/dashboard/content/page.ts
Due: integrations, studiocms

fix: enhance TypeScript declaration generation in buildkit
  .changeset/breezy-trains-leave.md
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
Due: tools-utils, @withstudiocms/buildkit

fix: enhance TypeScript declaration generation in buildkit (#854)
  .changeset/breezy-trains-leave.md
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
Due: tools-utils, @withstudiocms/buildkit

fix: add missing ARG and ENV variables in Dockerfile
  playground.Dockerfile
Due: none

fix: reorder ENV declarations in Dockerfile for clarity
  playground.Dockerfile
Due: none

fix: add DOKPLOY environment variable and update site configuration in Astro config
  .vscode/settings.json
  playground.Dockerfile
  playground/astro.config.mts
Due: none

fix: replace DOKPLOY_DEPLOY_URL with PR_URL in Dockerfile and Astro config
  playground.Dockerfile
  playground/astro.config.mts
Due: none

fix: simplify site URL assignment in Astro config
  playground/astro.config.mts
Due: none

fix: replace PR_URL with DOKPLOY_DEPLOY_URL in Dockerfile and Astro config
  playground.Dockerfile
  playground/astro.config.mts
Due: none

fix: remove unused hostUtils module and clean up imports in Astro config
  playground/astro.config.mts
  playground/hostUtils.ts
Due: none

fix: improve site URL assignment logic in Astro config
  playground/astro.config.mts
Due: none

fix: add start script for Dokploy in package.json
  package.json
Due: none

fix: remove unused start script for Dokploy in package.json
  package.json
Due: none

refactor: streamline CI checks by consolidating linter jobs and removing redundant steps
  .github/workflows/ci-checks.yml
Due: none

feat: add initial configuration for secrets inheritance in zizmor.yml
  zizmor.yml
Due: none

refactor: update CI workflows to inherit secrets and streamline job definitions
  .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
  zizmor.yml
Due: none

refactor: rename jobs for clarity and consistency in CI workflows
  .github/workflows/ci-checks.yml
  .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-renovate-changeset.yml
  .vscode/settings.json
Due: none

docs: enhance pull request template with clearer guidelines for descriptions and testing
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refactor: update bug report template with additional package options and placeholder version refactor: remove unused pnpm affected packages and package paths actions
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/actions/pnpm-affected-packages/action.yml
  .github/actions/pnpm-package-paths/action.yml
Due: none

refactor and cleanup .github files (#858)
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/pnpm-affected-packages/action.yml
  .github/actions/pnpm-package-paths/action.yml
  .github/workflows/ci-checks.yml
  .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
  .vscode/settings.json
  zizmor.yml
Due: none

feat: enhance TypeScript declaration generation and support for .stub file copying
  .changeset/pretty-kids-bathe.md
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/@withstudiocms/buildkit/package.json
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/buildkit

fix: set default TypeScript config file to 'tsconfig.json' in builder function
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
Due: tools-utils, @withstudiocms/buildkit

fix: add TypeScript return type to cloudinaryImageService function and clean up builder.js
  packages/@studiocms/cloudinary-image-service/src/index.ts
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
Due: plugins, tools-utils, @studiocms/cloudinary-image-service, @withstudiocms/buildkit

fix: update build scripts in package.json for better modularity and clarity
  package.json
Due: none

feat: add TypeScript declaration generation plugin and update builder configuration
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/studiocms/tsconfig.json
Due: integrations, tools-utils, studiocms, @withstudiocms/buildkit

fix: remove unused esbuild-plugin-d.ts dependency from package.json and pnpm-lock.yaml
  packages/@withstudiocms/buildkit/package.json
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/buildkit

fix: simplify build scripts in package.json and update ci:build command
  package.json
  packages/studiocms/tsconfig.json
Due: integrations, studiocms

fix: improve buildkit type generation and support for `.stub` file copy
  .changeset/pretty-kids-bathe.md
Due: none

fix: remove unused type import from cloudinary image service
  packages/@studiocms/cloudinary-image-service/src/index.ts
Due: plugins, @studiocms/cloudinary-image-service

fix: add v8 ignore comments to prevent optimization for specific code sections
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/@withstudiocms/buildkit/lib/index.js
Due: tools-utils, @withstudiocms/buildkit

fix: add `.stub` file extension to the list of copied asset types in README
  packages/@withstudiocms/buildkit/README.md
Due: tools-utils, @withstudiocms/buildkit

feat: investigate TypeScript declaration generation and add support for .stub file copying (#859)
  .changeset/pretty-kids-bathe.md
  packages/@withstudiocms/buildkit/README.md
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/@withstudiocms/buildkit/lib/index.js
Due: tools-utils, @withstudiocms/buildkit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
