Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

feat(kysely): add URL mapping table and migration for Storage Manager
  .changeset/nine-bushes-tie.md
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/src/migrations/20251221T002125_url-mapping.ts
  packages/@withstudiocms/kysely/src/migrator.ts
  packages/@withstudiocms/kysely/src/tables.ts
Due: tools-utils

feat(storage-manager): integrate database operations for URL mappings
  packages/studiocms/src/handlers/storage-manager/core/database.ts
Due: integrations, studiocms

feat(database): enhance UrlMappingDatabase with CRUD operations and automatic cleanup for expired URLs
  packages/studiocms/src/handlers/storage-manager/core/database.ts
Due: integrations, studiocms

feat(storage-manager): configure database integration for StudioCMS SDK
  .changeset/thick-nights-wait.md
Due: none

fix(migration): update GitHub PR reference for URL mapping table migration
  packages/@withstudiocms/kysely/src/migrations/20251221T002125_url-mapping.ts
Due: tools-utils

feat(s3-storage): Introduce S3 Storage manager plugin with comprehensive functionality
  .changeset/large-parrots-end.md
  packages/@studiocms/s3-storage/.gitignore
  packages/@studiocms/s3-storage/LICENSE
  packages/@studiocms/s3-storage/README.md
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/s3-storage/src/index.ts
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
  packages/@studiocms/s3-storage/tsconfig.json
  packages/@studiocms/s3-storage/tsconfig.tspc.json
  pnpm-lock.yaml
Due: none

feat(s3-storage): enhance documentation for S3 Storage Manager plugin initialization
  packages/@studiocms/s3-storage/src/index.ts
Due: none

feat(s3-storage): add 's3-storage' to atStudioCMSPackages configuration
  knip.config.ts
Due: none

feat(s3-storage): refactor S3 client builder for improved configuration handling
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
Due: none

feat(s3-storage): update README to clarify plugin usage and configuration
  packages/@studiocms/s3-storage/README.md
Due: none

feat(studiocms): Setup URLMappingDatabase for new Storage Manager (#1085)
  .changeset/nine-bushes-tie.md
  .changeset/thick-nights-wait.md
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/src/migrations/20251221T002125_url-mapping.ts
  packages/@withstudiocms/kysely/src/migrator.ts
  packages/@withstudiocms/kysely/src/tables.ts
  packages/studiocms/src/handlers/storage-manager/core/database.ts
Due: integrations, tools-utils, studiocms

[ci] changesets
  .changeset/common-buckets-type.md
Due: none

feat(s3-storage): Introduce S3 Storage manager plugin (#1086)
  .changeset/large-parrots-end.md
  knip.config.ts
  packages/@studiocms/s3-storage/.gitignore
  packages/@studiocms/s3-storage/LICENSE
  packages/@studiocms/s3-storage/README.md
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/s3-storage/src/index.ts
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
  packages/@studiocms/s3-storage/tsconfig.json
  packages/@studiocms/s3-storage/tsconfig.tspc.json
  pnpm-lock.yaml
Due: none

reset lockfile
  pnpm-lock.yaml
Due: none

reset lockfile (#1093)
  pnpm-lock.yaml
Due: none

chore(deps): add AWS S3 dependencies group to renovate configuration
  .github/renovate.json
Due: none

chore(deps): refine AWS S3 dependencies in renovate configuration
  .github/renovate.json
Due: none

feat: add file browser access to system management page with identifier output utility
  .changeset/violet-games-enter.md
  packages/studiocms/frontend/components/shared/storage-manager/StorageFileBrowser.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: integrations, studiocms

feat: add isDefaultManager export to storage-manager and update usage in system management
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

fix: improve focus outline styling in system management page
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

feat: add isDefaultManager export to storageManager in pluginHandler
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

feat: update CI configuration and add libsql dependencies in package.json
  .github/workflows/ci-testing.yml
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-headless/package.json
  pnpm-lock.yaml
Due: none

fix: update ignoreDependencies to include @libsql/client and @libsql/kysely-libsql
  knip.config.ts
Due: none

fix: update button color based on isDefaultManager status in system management page
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

feat(storage): introduce StorageManager API for resolving image URLs in site config and page data
  .changeset/upset-maps-rhyme.md
  packages/@withstudiocms/sdk/src/context.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/studiocms/src/virtuals/sdk/index.ts
Due: integrations, tools-utils, studiocms

fix(collectors): improve error message for storage manager URL resolution failure
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
Due: tools-utils

feat(storage): implement resolveStorageManagerUrls function for URL resolution in SDK modules
  packages/@withstudiocms/sdk/src/lib/storage-manager.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
Due: tools-utils

refactor(storage): streamline resolveStorageManagerUrls usage in SDK modules
  packages/@withstudiocms/sdk/src/lib/storage-manager.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
Due: tools-utils

fix(config): add type assertion for resolved dynamic configuration entry
  packages/@withstudiocms/sdk/src/modules/config/index.ts
Due: tools-utils

fix(storage): correct early return to continue iteration for attribute resolution
  packages/@withstudiocms/sdk/src/lib/storage-manager.ts
Due: tools-utils

chore(deps): add AWS S3 dependencies group to renovate configuration (#1097)
  .github/renovate.json
Due: none

feat(sdk): introduce StorageManager API for resolving image URLs (#1099)
  .changeset/upset-maps-rhyme.md
  packages/@withstudiocms/sdk/src/context.ts
  packages/@withstudiocms/sdk/src/lib/storage-manager.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/studiocms/src/virtuals/sdk/index.ts
Due: integrations, tools-utils, studiocms

feat: implement file browser and storage input components in configuration page
  .changeset/smart-hoops-yell.md
  packages/studiocms/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/frontend/components/shared/storage-manager/BrowserArray.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageInput.astro
  packages/studiocms/frontend/pages/[dashboard]/configuration.astro
Due: integrations, studiocms

feat: integrate StorageInput and BrowserArray components in CreatePage and EditPage
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/createpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
Due: integrations, studiocms

fix: correct CSS nesting for button styles in StorageInput component
  packages/studiocms/frontend/components/shared/storage-manager/StorageInput.astro
Due: integrations, studiocms

feat: add file browser access to system management page with identifier output utility (#1098)
  .changeset/violet-games-enter.md
  .github/workflows/ci-testing.yml
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-headless/package.json
  knip.config.ts
  packages/studiocms/frontend/components/shared/storage-manager/StorageFileBrowser.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: integrations, studiocms

feat: add transformer option in component registry and implement StorageAPI transformer for automatic URL swapping
  .changeset/sparkly-poems-teach.md
  packages/@withstudiocms/component-registry/src/runtime.ts
  packages/@withstudiocms/component-registry/src/transform-html.ts
  packages/studiocms/src/virtuals/components/renderFn.ts
  packages/studiocms/src/virtuals/components/ultrahtml-transformers/storage-api.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry

fix: ensure unique input ID generation and add aria-label to button in StorageInput component
  packages/studiocms/frontend/components/shared/storage-manager/StorageInput.astro
Due: integrations, studiocms

feat: enhance renderFn to apply Storage API transformer after content rendering for proper URL handling
  packages/studiocms/src/virtuals/components/renderFn.ts
Due: integrations, studiocms

fix: update resolveUrl function to handle missing site and JSON parsing errors
  packages/studiocms/src/virtuals/components/ultrahtml-transformers/storage-api.ts
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
