Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

refactor: reorganize internal helpers and migrate debug provider to CLI providers
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/formatter.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/get-package-manger.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/process-node-version-provider.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/process-package-manager-user-agent-provider.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/system-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/tinyexec.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/definitions.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/index.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/bun-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/noop-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/pnpm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/yarn-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix: update cli-providers exports to specify core directory for types and default files
  packages/@withstudiocms/internal_helpers/package.json
Due: tools-utils, @withstudiocms/internal_helpers

refactor: remove unused StudioCMSLocals interface from locals.d.ts
  packages/@withstudiocms/internal_helpers/src/locals.d.ts
Due: tools-utils, @withstudiocms/internal_helpers

feat: add shell argument to getTurso command for customizable installation
  packages/studiocms/src/cli/getTurso/index.ts
Due: integrations, studiocms

fix: correct error handling in getTurso command for improved clarity
  packages/studiocms/src/cli/getTurso/index.ts
Due: integrations, studiocms

refactor(@studiocms/devapps): remove libSQL Viewer and update related configurations (#1066)
  .changeset/frank-apes-peel.md
  packages/@studiocms/devapps/README.md
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/src/apps/libsql-viewer.ts
  packages/@studiocms/devapps/src/index.ts
  packages/@studiocms/devapps/src/routes/outerbase.astro
  packages/@studiocms/devapps/src/schema/index.ts
  packages/@studiocms/devapps/src/virt.d.ts
  packages/@studiocms/devapps/tests/configs.test.ts
  packages/@studiocms/devapps/tests/index.test.ts
  packages/@studiocms/devapps/tests/schema/index.test.ts
Due: integrations, @studiocms/devapps

feat: Enhance debug helpers, and add debug command (#1067)
  .changeset/moody-files-admire.md
  .changeset/tricky-trees-joke.md
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/formatter.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/get-package-manger.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/process-node-version-provider.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/process-package-manager-user-agent-provider.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/system-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/core/tinyexec.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/definitions.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/index.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/bun-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/noop-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/pnpm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/cli-providers/infra/yarn-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/core/debug-styler.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/definitions.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/npm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/pnpm-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/debug-provider/infra/yarn-package-manager.ts
  packages/@withstudiocms/internal_helpers/src/locals.d.ts
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/crypto/genJWT/index.ts
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/cli/getTurso/index.ts
  packages/studiocms/src/cli/index.ts
  packages/studiocms/src/cli/init/index.ts
  packages/studiocms/src/cli/migrator/index.ts
  packages/studiocms/src/cli/users/index.ts
  packages/studiocms/src/cli/utils/debugOpt.ts
  playground/astro.config.mts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

fix(migrator): remove non-existent 'augments' column from StudioCMSPageData schema
  .changeset/chubby-animals-learn.md
  packages/@studiocms/migrator/src/db/astro-db-schema.ts
Due: none

refactor: Move template editor logic into component instead of built script
  .changeset/silver-papers-train.md
  packages/studiocms/frontend/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtuals/scripts/template-editor.ts
Due: integrations, studiocms

fix: Update Ace Editor import and initialization for proper functionality
  packages/studiocms/frontend/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/theme.d.ts
Due: integrations, studiocms

refactor: Move template editor logic into component instead of built script (#1069)
  .changeset/silver-papers-train.md
  packages/studiocms/frontend/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/index.ts
  packages/studiocms/src/theme.d.ts
  packages/studiocms/src/virtuals/scripts/template-editor.ts
Due: integrations, studiocms

fix(migrator): remove non-existent 'augments' column from StudioCMSPageData schema (#1068)
  .changeset/chubby-animals-learn.md
  packages/@studiocms/migrator/src/db/astro-db-schema.ts
Due: none

New Crowdin translations by GitHub Action
  packages/studiocms/src/plugins/analytics/i18n/no.ts
  packages/studiocms/src/plugins/analytics/i18n/zh.ts
  packages/studiocms/src/virtuals/i18n/translations/de.json
  packages/studiocms/src/virtuals/i18n/translations/es.json
  packages/studiocms/src/virtuals/i18n/translations/fr.json
  packages/studiocms/src/virtuals/i18n/translations/nl.json
  packages/studiocms/src/virtuals/i18n/translations/no.json
  packages/studiocms/src/virtuals/i18n/translations/zh.json
Due: integrations, studiocms

[ci] changesets
  .changeset/floppy-wings-cut.md
Due: none

fix: ensure DB Studio custom element is defined if devtoolbar is absent
  .changeset/social-tips-bake.md
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

fix: add TODO comments for DebugInfoProvider setup in production
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

fix: update import statement for DbStudioElement in system-management.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

fix(studocms) Ensure DB Studio custom element class is available without dev toolbar (#1076)
  .changeset/social-tips-bake.md
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

tweak changeset config
  .changeset/config.json
Due: none

fix(debug-info): resolve unavailable outputs during production
  .changeset/thick-aliens-like.md
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

tweak changeset config (#1079)
  .changeset/config.json
Due: none

fix(debug-info): resolve unavailable outputs during production (#1080)
  .changeset/thick-aliens-like.md
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

feat(storage-manager): implement new Storage Manager API with core functionalities
  .changeset/vast-facts-invent.md
  packages/studiocms/frontend/pages/studiocms_api/storage/manager.ts
  packages/studiocms/package.json
  packages/studiocms/src/global.d.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/core/api-core.ts
  packages/studiocms/src/handlers/storage-manager/core/astro-context.ts
  packages/studiocms/src/handlers/storage-manager/core/database.ts
  packages/studiocms/src/handlers/storage-manager/core/no-op-storage-manager.ts
  packages/studiocms/src/handlers/storage-manager/core/url-mapping.ts
  packages/studiocms/src/handlers/storage-manager/definitions.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/plugins.ts
  packages/studiocms/src/schemas/config/index.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

fix(storage-manager): simplify APIContext type definition in manager.ts
  packages/studiocms/frontend/pages/studiocms_api/storage/manager.ts
Due: integrations, studiocms

Refactor code structure for improved readability and maintainability
  cspell.json
  packages/studiocms/frontend/components/shared/storage-manager/StorageFileBrowser.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageFileBrowser.css
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/i18n/server.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

feat(storage-manager): add API documentation for Storage Manager with PUT and POST methods
  packages/studiocms/src/handlers/storage-manager/api.md
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, studiocms

fix(storage-manager): update No-Op Storage Manager name to include "(built-in)" for clarity
  packages/studiocms/src/handlers/storage-manager/no-op.ts
Due: integrations, studiocms

fix(storage-manager): remove unnecessary comment from StorageManagerPluginHooks interface
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, studiocms

feat(storage-manager): add detailed documentation for API core, context driver, no-op storage service, and URL mapping service
  packages/studiocms/src/handlers/storage-manager/core/api-core.ts
  packages/studiocms/src/handlers/storage-manager/core/astro-context.ts
  packages/studiocms/src/handlers/storage-manager/core/no-op-storage-manager.ts
  packages/studiocms/src/handlers/storage-manager/core/url-mapping.ts
  packages/studiocms/src/handlers/storage-manager/definitions.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
  packages/studiocms/src/plugins.ts
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, studiocms

fix(storage-manager): enhance documentation for APICore initialization and translation map generation
  packages/studiocms/frontend/components/shared/storage-manager/StorageFileBrowser.astro
  packages/studiocms/frontend/pages/studiocms_api/storage/manager.ts
Due: integrations, studiocms

fix(storage-manager): improve theme handling in StorageFileBrowser CSS and enhance error logging in plugin handler
  packages/studiocms/frontend/components/shared/storage-manager/StorageFileBrowser.css
  packages/studiocms/frontend/pages/studiocms_api/storage/manager.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/definitions.ts
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

fix(storage-manager): refactor NoOpStorageService to use shared response method for POST and PUT endpoints
  packages/studiocms/src/handlers/storage-manager/core/no-op-storage-manager.ts
Due: integrations, studiocms

fix(storage-manager): update NoOpStorageManager identifier for consistency
  packages/studiocms/src/handlers/storage-manager/no-op.ts
Due: integrations, studiocms

refactor(debug-info): improve sorting of installed plugins in DebugInfoProvider
  .changeset/wet-stamps-brake.md
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor(debug-info): enhance plugin sorting logic in DebugInfoProvider
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor(debug-info): improve sorting of installed plugins (#1082)
  .changeset/wet-stamps-brake.md
  packages/@withstudiocms/internal_helpers/src/debug-info-provider.ts
Due: tools-utils, @withstudiocms/internal_helpers

feat(crowdin): add support for dispatching events on PR creation
  .github/workflows/ci-crowdin-sync.yml
Due: none

fix(ci-crowdin-sync): correct JSON formatting in client-payload for repository dispatch
  .github/workflows/ci-crowdin-sync.yml
Due: none

feat(crowdin): add support for dispatching events on PR creation (#1083)
  .github/workflows/ci-crowdin-sync.yml
Due: none

feat(studiocms): implement new Storage Manager API (#1081)
  .changeset/vast-facts-invent.md
  cspell.json
  packages/studiocms/frontend/components/shared/storage-manager/StorageFileBrowser.astro
  packages/studiocms/frontend/components/shared/storage-manager/StorageFileBrowser.css
  packages/studiocms/frontend/pages/studiocms_api/storage/manager.ts
  packages/studiocms/package.json
  packages/studiocms/src/global.d.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/api.md
  packages/studiocms/src/handlers/storage-manager/core/api-core.ts
  packages/studiocms/src/handlers/storage-manager/core/astro-context.ts
  packages/studiocms/src/handlers/storage-manager/core/database.ts
  packages/studiocms/src/handlers/storage-manager/core/no-op-storage-manager.ts
  packages/studiocms/src/handlers/storage-manager/core/url-mapping.ts
  packages/studiocms/src/handlers/storage-manager/definitions.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/plugins.ts
  packages/studiocms/src/schemas/config/index.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/i18n/server.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
