Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

feat(renderFn): Implement render function with support for prefix, suffix, and component augments
  packages/studiocms/src/virtuals/components/renderFn.ts
Due: integrations, studiocms

feat(renderFn): Enhance render function with detailed augmentation interfaces and improved handling of prefix/suffix components
  packages/studiocms/src/virtuals/components/renderFn.ts
Due: integrations, studiocms

refactor(renderFn): Simplify RenderAugment type and enhance handlePrefixSuffix function
  packages/studiocms/src/virtuals/components/renderFn.ts
Due: integrations, studiocms

feat(renderFn): Introduce NewRenderer component and enhance render function with prefix/suffix augmentation support
  cspell.json
  packages/studiocms/src/types.ts
  packages/studiocms/src/virtuals/components/NewRenderer.astro
  packages/studiocms/src/virtuals/components/renderFn.ts
Due: integrations, studiocms

feat(renderer): refactor and consolidate renderer components across plugins
  packages/@studiocms/blog/src/components/render.ts
  packages/@studiocms/blog/src/components/renderer.astro
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/html/package.json
  packages/@studiocms/html/src/components/render.ts
  packages/@studiocms/html/src/components/renderer.astro
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/markdoc/src/components/MarkDocRenderer.astro
  packages/@studiocms/markdoc/src/components/render.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdoc/src/lib/render.ts
  packages/@studiocms/markdoc/src/react-renderer/MarkDocReactRenderer.tsx
  packages/@studiocms/markdoc/src/react-renderer/ReactWrapper.astro
  packages/@studiocms/markdoc/src/react-renderer/renderReact.ts
  packages/@studiocms/markdoc/src/types.ts
  packages/@studiocms/md/package.json
  packages/@studiocms/md/src/components/markdown-render.astro
  packages/@studiocms/md/src/components/render.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/mdx/src/components/MDXRenderer.astro
  packages/@studiocms/mdx/src/components/render.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/wysiwyg/src/components/Render.astro
  packages/@studiocms/wysiwyg/src/components/render.ts
  packages/@studiocms/wysiwyg/src/index.ts
  packages/studiocms/src/schemas/plugins/shared.ts
  packages/studiocms/src/virtuals/components/NewRenderer.astro
  packages/studiocms/src/virtuals/components/Renderer.astro
Due: integrations, plugins, studiocms, @studiocms/blog, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

Update lockfile
  pnpm-lock.yaml
Due: none

refactor(tests): remove obsolete test files for renderer components
  packages/@studiocms/html/test/components/renderer.test.ts
  packages/@studiocms/markdoc/test/components/renderer.test.ts
  packages/@studiocms/markdoc/test/react-renderer/MarkDocReactRenderer.test.tsx
  packages/@studiocms/markdoc/test/react-renderer/ReactWrapper.test.ts
  packages/@studiocms/markdoc/test/react-renderer/renderReact.test.ts
  packages/@studiocms/markdoc/vitest.config.ts
  packages/@studiocms/md/test/components/renderer.test.ts
  packages/@studiocms/mdx/test/components/renderer.test.ts
  packages/@studiocms/wysiwyg/test/components/Render.test.ts
Due: plugins, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

refactor(tests): remove obsolete renderer component test file
  packages/@studiocms/blog/test/components/renderer.test.ts
Due: plugins, @studiocms/blog

fix(tests): update renderer component paths to use render.js
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
Due: plugins, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

fix(renderers): update renderer imports to use render.js for consistency
  packages/@studiocms/html/src/virtual.d.ts
  packages/@studiocms/markdoc/src/virtual.d.ts
  packages/@studiocms/mdx/src/virtual.d.ts
Due: plugins, @studiocms/html, @studiocms/markdoc, @studiocms/mdx

refactor(tests): update renderer component reference to use render.js
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/markdoc/test/lib/render.test.ts
Due: plugins, @studiocms/markdoc

refactor(tests): remove obsolete PageTypeDefaultsOrString tests
  packages/studiocms/test/schemas/plugins/shared.test.ts
Due: integrations, studiocms

fix(renderFn): update ComponentRenderAugment interface to be exported and refactor augment handling logic
  packages/studiocms/src/types.ts
  packages/studiocms/src/virtuals/components/renderFn.ts
Due: integrations, studiocms

feat(plugins): implement render augment schemas and integrate into plugin handler
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/types.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/components/Renderer.astro
Due: integrations, studiocms

feat(dashboard): add augments support to page creation and editing forms
  packages/studiocms/src/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/src/components/dashboard/configuration/LoginPreview.astro
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/formdata-utils.ts
  packages/studiocms/src/db/config.ts
  packages/studiocms/src/routes/api/dashboard/content/page.ts
  packages/studiocms/src/virtuals/components/Renderer.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

refactor(pluginHandler): simplify content generation for dashboard components and endpoints
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

feat(i18n): implement augment translations support and update related components
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/schemas/plugins/i18n.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/i18n/plugin.ts
Due: integrations, studiocms

feat(augments): update CMS plugin augments handling in CreatePage and EditPage components
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
Due: integrations, studiocms

feat(plugins): add support for exporting render augments in test integration
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

feat(renderer): implement new StudioCMS rendering system with plugin augmentation support
  .changeset/big-tips-wonder.md
  .changeset/silent-hats-make.md
Due: none

feat(knip.config): add ignore pattern for test-utils in markdoc configuration
  knip.config.ts
Due: none

feat(test-utils): comment out makeRendererProps function for future use
  packages/@studiocms/wysiwyg/test/test-utils.ts
Due: plugins, @studiocms/wysiwyg

feat(test-utils): add TODO for creating testers for Plugin Renderers and RendererAugments
  packages/studiocms/src/test-utils.ts
Due: integrations, studiocms

feat(renderer): refactor rendering system to JavaScript modules for plugin-based augmentation support
  .changeset/big-tips-wonder.md
  packages/@studiocms/blog/src/components/render.ts
  packages/@studiocms/html/src/components/render.ts
  packages/@studiocms/markdoc/src/components/render.ts
  packages/@studiocms/md/src/components/render.ts
  packages/@studiocms/mdx/src/components/render.ts
  packages/@studiocms/wysiwyg/src/components/render.ts
  packages/studiocms/src/components/dashboard/configuration/LoginPreview.astro
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/routes/api/dashboard/content/page.ts
  packages/studiocms/src/virtuals/i18n/plugin.ts
Due: integrations, plugins, studiocms, @studiocms/blog, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

fix(pluginHandler): correct destructuring in plugin components mapping
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

fix: Move avatar loading to client-side to eliminate render blocking
  .changeset/violet-pants-invite.md
  packages/studiocms/src/components/shared/SSRUser.astro
Due: integrations, studiocms

Add SSRUser tests and Make avatar loading better
  packages/studiocms/src/components/shared/SSRUser.astro
  packages/studiocms/test/SSRUser.test.ts
Due: integrations, studiocms

feat: improve avatar loading and expand SSRUser test
  packages/studiocms/src/components/shared/SSRUser.astro
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/components.test.ts
Due: integrations, studiocms

feat: preserve existing snapshot tests and add new ones and remove http
  packages/studiocms/src/components/shared/SSRUser.astro
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/components.test.ts
Due: integrations, studiocms

Delete packages/studiocms/test/SSRUser.test.ts
  packages/studiocms/test/SSRUser.test.ts
Due: integrations, studiocms

Prevent redefinition of 'studiocms-avatar' element
  packages/studiocms/src/components/shared/SSRUser.astro
Due: integrations, studiocms

New Crowdin translations by GitHub Action
  packages/studiocms/src/virtuals/i18n/translations/de.json
  packages/studiocms/src/virtuals/i18n/translations/es.json
  packages/studiocms/src/virtuals/i18n/translations/fr.json
  packages/studiocms/src/virtuals/i18n/translations/nl.json
  packages/studiocms/src/virtuals/i18n/translations/zh.json
Due: integrations, studiocms

[ci] changesets
  .changeset/shaky-dryers-enter.md
Due: none

[ci] changesets
  .changeset/khaki-ties-matter.md
Due: none

Create CNAME
  CNAME
Due: none

Add Allure Test Report badge
  README.md
Due: none

Update packages/studiocms/src/components/shared/SSRUser.astro
  packages/studiocms/src/components/shared/SSRUser.astro
Due: integrations, studiocms
