Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

refactor(tests): update import paths to use alias and remove unused logger tests
  packages/studiocms/test/components.test.ts
  packages/studiocms/test/components/formListener.test.ts
  packages/studiocms/test/components/utils.test.ts
  packages/studiocms/test/layouts.test.ts
  packages/studiocms/test/middleware/utils.test.ts
  packages/studiocms/test/test-utils.ts
  packages/studiocms/test/utils/effects/logger.test.ts
Due: integrations, studiocms

fix: update type definitions for error handling in WordPressAPIUtils
  .changeset/nice-drinks-behave.md
  packages/@studiocms/devapps/src/effects/WordPressAPI/utils.ts
Due: integrations, @studiocms/devapps

fix loading issue
  package.json
  packages/studiocms/src/consts.ts
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

fix: update playground ignoreDependencies to include additional libraries
  knip.config.ts
Due: none

refactor: remove unnecessary fullWidth attribute from Card components in onboarding pages
  packages/studiocms/frontend/setup-pages/1-start.astro
  packages/studiocms/frontend/setup-pages/2-next.astro
  packages/studiocms/frontend/setup-pages/3-done.astro
Due: integrations, studiocms

refactor(config): Simplify StudioCMS config loading and processing; remove inline config support
  .changeset/great-adults-hammer.md
  packages/@studiocms/migrator/start.mjs
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/zod-utils.ts
  packages/studiocms/src/cli/utils/getCliDbClient.ts
  packages/studiocms/src/cli/utils/loadConfig.ts
  packages/studiocms/src/db/plugins.ts
  packages/studiocms/src/index.ts
  playground/astro.config.mts
Due: integrations, tools-utils, studiocms, @withstudiocms/config-utils

dedupe: Update import paths for parseMarkdown utility and remove obsolete file
  packages/studiocms/frontend/components/dashboard/sidebar-modals/VersionModal.astro
  packages/studiocms/frontend/lib/tinyMDParser.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/partials/LiveRender.astro
  packages/studiocms/frontend/pages/studiocms_api/renderer/render.astro
  packages/studiocms/package.json
Due: integrations, studiocms

refactor(zod-utils): Enhance parseAndMerge function to return default options when configFile is undefined
  packages/@withstudiocms/config-utils/src/zod-utils.ts
  packages/@withstudiocms/config-utils/test/zod-utils.test.ts
Due: tools-utils, @withstudiocms/config-utils

refactor(watcher): Update exists function to accept PathLike type for improved type safety
  packages/@withstudiocms/config-utils/src/watcher.ts
  packages/studiocms/src/index.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/config-utils

refactor(folders): Clean up folder structure system and ensure correct resolution of urlRoute property
  .changeset/config.json
  .changeset/tender-cities-train.md
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/@withstudiocms/sdk/src/modules/util/slugify.ts
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreateFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/shared.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/folder.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/folders/[id].ts
  playground/astro.config.mts
Due: integrations, tools-utils, studiocms

refactor(shared): Remove commented-out code and clean up exports
  packages/studiocms/frontend/components/dashboard/content-mgmt/shared.ts
Due: integrations, studiocms

refactor(astro.config): Simplify frontend path handling by consolidating logic in appendDistFrontendPaths function
  playground/astro.config.mts
Due: none

refactor(slugify): Enhance slugify function to use escaped separator for improved character handling
  packages/@withstudiocms/sdk/src/modules/util/slugify.ts
Due: tools-utils

refactor(slugify): Improve empty string handling and enhance separator logic
  packages/@withstudiocms/sdk/src/modules/util/slugify.ts
Due: tools-utils

refactor(slugify): Consolidate slugify options into a dedicated interface for improved clarity
  packages/@withstudiocms/sdk/src/modules/util/slugify.ts
Due: tools-utils

refactor(config): Simplify StudioCMS config loading and processing (#1048)
  .changeset/great-adults-hammer.md
  packages/@studiocms/migrator/start.mjs
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/watcher.ts
  packages/@withstudiocms/config-utils/src/zod-utils.ts
  packages/@withstudiocms/config-utils/test/zod-utils.test.ts
  packages/studiocms/frontend/components/dashboard/sidebar-modals/VersionModal.astro
  packages/studiocms/frontend/lib/tinyMDParser.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/partials/LiveRender.astro
  packages/studiocms/frontend/pages/studiocms_api/renderer/render.astro
  packages/studiocms/package.json
  packages/studiocms/src/cli/utils/getCliDbClient.ts
  packages/studiocms/src/cli/utils/loadConfig.ts
  packages/studiocms/src/db/plugins.ts
  packages/studiocms/src/index.ts
  playground/astro.config.mts
Due: integrations, tools-utils, studiocms, @withstudiocms/config-utils

cleanup(mailer): remove deprecated mailer templates and related code
  .changeset/tasty-pets-mix.md
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/auth/verify-email.ts
  packages/studiocms/src/virtuals/mailer/template.ts
  packages/studiocms/src/virtuals/mailer/templates/index.ts
  packages/studiocms/src/virtuals/mailer/templates/notification.ts
  packages/studiocms/src/virtuals/mailer/templates/password-reset.ts
  packages/studiocms/src/virtuals/mailer/templates/user-invite.ts
  packages/studiocms/src/virtuals/mailer/templates/verify-email.ts
Due: integrations, studiocms

refactor(effect): remove deprecated drizzle client and related dependencies
  .changeset/polite-stamps-cheer.md
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/drizzle.ts
  packages/@withstudiocms/effect/test/drizzle.test.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/effect

refactor(knip): add '@astrojs/db' to migrator ignoreDependencies
  knip.config.ts
Due: none

refactor(migrator): remove '@astrojs/db' from dependencies and migrator ignore list
  knip.config.ts
  packages/@studiocms/migrator/package.json
  pnpm-lock.yaml
Due: none

feat(db-viewer): Implement database viewer with support for MySQL, PostgreSQL, and SQLite drivers
  packages/studiocms/frontend/pages/studiocms_api/db-studio/query.ts
  packages/studiocms/package.json
  packages/studiocms/src/toolbar/db-viewer/db-shared-types.ts
  packages/studiocms/src/toolbar/db-viewer/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/connection.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/base.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/mysql.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/postgres.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/sqlite.ts
  packages/studiocms/src/toolbar/db-viewer/studio/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/type.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
  packages/studiocms/src/toolbar/utils/app-utils.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/stubs/config.stub.js
  pnpm-lock.yaml
Due: integrations, studiocms

feat(toolbar): Add built-in development toolbar app
  .changeset/cuddly-jars-yawn.md
Due: none

fix(viewer): Improve debug logging format for executed queries
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
Due: integrations, studiocms

feat(toolbar): Add setupDevToolbar for database viewer integration
  packages/studiocms/src/handlers/setupDevToolbar.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/toolbar/db-viewer/studio/drivers/mysql.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
  playground/astro.config.mts
Due: integrations, studiocms

feat(db-studio): Implement database viewer setup and logging enhancements
  packages/studiocms/frontend/pages/studiocms_api/db-studio/query.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/index.ts
Due: integrations, studiocms

feat(system-management): Add system management page and sidebar link
  packages/studiocms/frontend/components/dashboard/sidebarConfig.ts
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/package.json
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/toolbar/db-viewer/config.ts
  packages/studiocms/src/toolbar/db-viewer/index.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, studiocms

feat(system-management): Enhance i18n support with new labels and improve UI text
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

feat(system-management): Add TODOs for displaying debug information in system management refactor(playground): Remove unused devApps dependency from package.json and pnpm-lock.yaml
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

feat(db-studio): Add comments for clarity on DB Studio toolbar app registration and API route injection
  packages/studiocms/src/handlers/setupDbStudio.ts
Due: integrations, studiocms

feat(debug-styler): Implement DebugStyler class for formatted debug output and add debug information display in system management
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/frontend/scripts/debug-styler.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

feat(system-management): Enhance debug information display and add translation for clipboard copy confirmation
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

feat(system-management): Refactor i18n and debug output copy logic for improved organization and clarity
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

feat(system-management): Add support for additional OS labels and format host information in debug output
  cspell.json
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

feat(system-management): Refactor i18n logic for improved organization and clarity
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

feat(system-management): Add comments for clarity in DB Studio modal and system utilities card
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

refactor(debug-styler): Simplify debug output formatting method
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
  packages/studiocms/frontend/scripts/debug-styler.ts
Due: integrations, studiocms

refactor(system-management): Inline debug data formatting and alert state functions
  packages/studiocms/frontend/pages/[dashboard]/system-management.astro
Due: integrations, studiocms

feat(db-studio): Implement demo mode check in POST request handler
  packages/studiocms/frontend/pages/studiocms_api/db-studio/query.ts
Due: integrations, studiocms

feat(system-management): Implement System Management dashboard and built-in database viewer utility
  .changeset/cuddly-jars-yawn.md
Due: none
