Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

feat(markdown-remark): add rehypeHeadingIds plugin for collecting headings and assigning unique IDs
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/core/index.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/index.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-collect-headings.ts
  packages/@studiocms/markdown-remark/src/types.ts
  pnpm-lock.yaml
Due: none

refactor(markdown-remark): reorganize plugin loading utilities and separate import logic into dedicated files
  packages/@studiocms/markdown-remark/src/core/index.ts
  packages/@studiocms/markdown-remark/src/core/plugin-utils/import-plugin.ts
  packages/@studiocms/markdown-remark/src/core/plugin-utils/load-plugins.ts
Due: none

fix(package): remove redundant test script from package.json
  packages/@studiocms/markdown-remark/package.json
Due: none

fix(package): add missing module type declaration in package.json and update import path in tsdown.config.ts
  package.json
  packages/@studiocms/markdown-remark/tsdown.config.ts
  tsconfig.base.json
Due: none

feat(package): add types and default exports for integration module in package.json
  packages/@studiocms/markdown-remark/package.json
Due: none

fix(package): update @astrojs/internal-helpers dependency to use catalog:min in package.json and pnpm files
  packages/@studiocms/markdown-remark/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(package): add publint dependency and update pnpm-lock.yaml
  package.json
  packages/@studiocms/markdown-remark/src/index.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/tsdown.config.ts
  pnpm-lock.yaml
Due: none

feat(package): integrate @withstudiocms/internal_helpers and update related configurations
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/index.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/github.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/obsidian.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/vitepress.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/utils.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-collect-headings.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/remark-collect-images.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/remark-discord-subtext.ts
  packages/@studiocms/markdown-remark/src/integration/consts.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/src/types.ts
  pnpm-lock.yaml
Due: none

Resetup integration
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/errors.ts
  packages/@studiocms/markdown-remark/src/integration/components/live.ts
  packages/@studiocms/markdown-remark/src/integration/components/types.ts
  packages/@studiocms/markdown-remark/src/integration/components/virtual.ts
  packages/@studiocms/markdown-remark/src/integration/decoder/decode-codepoint.ts
  packages/@studiocms/markdown-remark/src/integration/decoder/decode-data-html.ts
  packages/@studiocms/markdown-remark/src/integration/decoder/decode-data-xml.ts
  packages/@studiocms/markdown-remark/src/integration/decoder/index.ts
  packages/@studiocms/markdown-remark/src/integration/decoder/util.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/src/integration/integration-utils.ts
  packages/@studiocms/markdown-remark/src/integration/runtime.ts
  packages/@studiocms/markdown-remark/src/integration/shared.ts
  packages/@studiocms/markdown-remark/src/integration/utils.ts
  packages/@studiocms/markdown-remark/src/integration/virtual.d.ts
  packages/@studiocms/markdown-remark/tsdown.config.ts
  pnpm-lock.yaml
Due: none

feat(markdown-remark): export StudioCMSMarkdownRemarkIntegrationOptions type from types.ts
  packages/@studiocms/markdown-remark/src/index.ts
Due: none

fix(virtual): update comments to clarify type handling and remove unnecessary biome ignore
  packages/@studiocms/markdown-remark/src/integration/components/virtual.ts
Due: none

feat(config): add 'markdown-remark' to StudioCMS package list and clean up pnpm workspace dependencies
  knip.config.ts
  pnpm-workspace.yaml
Due: none

feat(markdown-remark): enhance error handling and logging in Markdown component integration
  packages/@studiocms/markdown-remark/src/integration/components/live.ts
  packages/@studiocms/markdown-remark/src/integration/components/types.ts
  packages/@studiocms/markdown-remark/src/integration/components/virtual.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/src/integration/shared.ts
  packages/@studiocms/markdown-remark/src/types.ts
Due: none

feat(markdown-remark): update default integration options and enhance configuration types
  packages/@studiocms/markdown-remark/src/integration/consts.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/src/types.ts
Due: none

feat(markdown-remark): enhance documentation with detailed comments for plugins and configurations
  packages/@studiocms/markdown-remark/src/core/plugin-utils/import-plugin.ts
  packages/@studiocms/markdown-remark/src/core/plugin-utils/load-plugins.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/github.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/obsidian.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/themes/vitepress.config.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/types.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/utils.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-autolink-headings.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/remark-collect-images.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/remark-discord-subtext.ts
  packages/@studiocms/markdown-remark/src/errors.ts
  packages/@studiocms/markdown-remark/src/integration/components/live.ts
  packages/@studiocms/markdown-remark/src/integration/components/virtual.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/src/integration/shared.ts
  packages/@studiocms/markdown-remark/src/types.ts
Due: none

feat(markdown-remark): migrate to main mono repo, add frontmatter parsing, and enhance tests
  .changeset/fifty-years-relax.md
  .codecov.yml
  cspell.json
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/core/frontmatter.ts
  packages/@studiocms/markdown-remark/src/core/index.ts
  packages/@studiocms/markdown-remark/test/core/frontmatter.test.ts
  packages/@studiocms/markdown-remark/test/core/index.test.ts
  packages/@studiocms/markdown-remark/test/core/rehype-plugins/rehype-autolink-headings.test.ts
  packages/@studiocms/markdown-remark/test/core/remark-plugins/remark-collect-images.test.ts
  packages/@studiocms/markdown-remark/test/core/remark-plugins/remark-discord-subtext.test.ts
  packages/@studiocms/markdown-remark/test/test-utils.ts
  packages/@studiocms/markdown-remark/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: none

fix(docs): update changelog links in README for correct repository path
  packages/@studiocms/markdown-remark/README.md
Due: none

feat(markdown-remark): improve error handling and clean up code in integration and plugins
  package.json
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-autolink-headings.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/remark-discord-subtext.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
Due: none

feat(verify): implement latest version check in the verify step
  .changeset/brown-planets-obey.md
  packages/create-studiocms/package.json
  packages/create-studiocms/src/steps/verify.ts
  pnpm-lock.yaml
Due: none

fix(index): replace readJson with direct import of package.json
  packages/create-studiocms/src/index.ts
Due: none

fix(dependencies): remove internal_helpers from package.json and pnpm-lock.yaml
  packages/create-studiocms/package.json
  pnpm-lock.yaml
Due: none

fix(verify): handle latest version check more gracefully and improve fetch error handling
  packages/create-studiocms/src/steps/verify.ts
Due: none

fix(verify): simplify update confirmation check in version logging
  packages/create-studiocms/src/steps/verify.ts
Due: none

fix(verify): enhance version comparison by validating semantic versioning
  packages/create-studiocms/src/steps/verify.ts
Due: none

fix(verify): improve update confirmation check to handle symbol type
  packages/create-studiocms/src/steps/verify.ts
Due: none

[ci] changesets
  .changeset/cool-frogs-beg.md
Due: none

feat(create-studiocms): implement latest version check in the verify step (#1358)
  .changeset/brown-planets-obey.md
  packages/create-studiocms/package.json
  packages/create-studiocms/src/index.ts
  packages/create-studiocms/src/steps/verify.ts
  pnpm-lock.yaml
Due: none

fix(ci): simplify workflow triggers and update vitest configuration for image remote patterns
  .github/workflows/ci-testing.yml
  packages/@studiocms/blog/vitest.config.ts
  packages/studiocms/vitest.config.ts
Due: integrations, plugins, studiocms, @studiocms/blog

fix(tests): update snapshot for CustomImage component to use mock path
  packages/studiocms/test/__snapshots__/virtuals.components.test.ts.snap
Due: integrations, studiocms

fix(ci): simplify workflow triggers and update vitest configuration for image remote patterns (#1369)
  .github/workflows/ci-testing.yml
  packages/@studiocms/blog/vitest.config.ts
  packages/studiocms/test/__snapshots__/virtuals.components.test.ts.snap
  packages/studiocms/vitest.config.ts
Due: integrations, plugins, studiocms, @studiocms/blog

fix(deps): migrate from @studiocms/markdown-remark-processor to @studiocms/markdown-remark package
  .changeset/wicked-lights-battle.md
  packages/@studiocms/md/package.json
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/test/lib/markdown-prerender.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: plugins, @studiocms/md

fix(plugin): streamline dynamic import handling for Vite compatibility
  .changeset/sweet-meals-join.md
  packages/@studiocms/markdown-remark/src/core/plugin-utils/import-plugin.ts
Due: none

fix(migrator): handle concurrent schema updates to prevent errors
  .changeset/eager-hairs-obey.md
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils, @withstudiocms/kysely

fix(migrator): handle unique ID conflict error in schemaManager
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils, @withstudiocms/kysely

fix(migrator): limit attempts for saving schema to prevent infinite loops on ID conflicts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils, @withstudiocms/kysely

fix(migrator): enhance error handling and schema parsing in migration process
  packages/@withstudiocms/kysely/src/utils/errors.ts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/src/utils/types.ts
Due: tools-utils, @withstudiocms/kysely

fix(migrator): implement retry mechanism for schema saving to handle ID conflicts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils, @withstudiocms/kysely

fix(migrator): refactor retry mechanism for schema saving to improve error handling and logging
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils, @withstudiocms/kysely

fix(migrator): adjust max retry attempts and add condition for SaveError handling in schemaManager
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils, @withstudiocms/kysely
