Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

fix(styles): correct box-shadow definition in base.css
  .changeset/great-dragons-grin.md
  packages/@studiocms/blog/src/styles/base.css
Due: plugins, @studiocms/blog

feat: add Effect diagnostics check and related scripts to CI workflow
  .changeset/forty-rats-wash.md
  .github/actions/effect-check/action.yml
  .github/workflows/ci-testing.yml
  package.json
  packages/@studiocms/auth0/package.json
  packages/@studiocms/blog/package.json
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/devapps/package.json
  packages/@studiocms/discord/package.json
  packages/@studiocms/github/package.json
  packages/@studiocms/google/package.json
  packages/@studiocms/html/package.json
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/md/package.json
  packages/@studiocms/mdx/package.json
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/wysiwyg/package.json
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/component-registry/package.json
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/template-lang/package.json
  packages/studiocms/package.json
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

fix: improve CI effect check commands for parallel execution and output aggregation
  package.json
Due: none

fix: update CI effect check commands for workspace concurrency
  package.json
Due: none

fix: remove obsolete effect-check commands from package.json files
  .changeset/forty-rats-wash.md
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/template-lang/package.json
Due: tools-utils, @withstudiocms/config-utils, @withstudiocms/internal_helpers

Update .changeset/forty-rats-wash.md
  .changeset/forty-rats-wash.md
Due: none

fix: standardize component registry key format in configuration
  playground/studiocms.config.mts
Due: none

fix: update import path for ComponentRegistryError to include file extension
  packages/@withstudiocms/component-registry/src/utils.ts
Due: tools-utils, @withstudiocms/component-registry

fix: update error handling in tests to use ComponentRegistryError for improved type safety
  packages/@withstudiocms/component-registry/test/utils.test.ts
Due: tools-utils, @withstudiocms/component-registry

feat: add Effect diagnostics check and related scripts to CI workflow (#1157)
  .changeset/forty-rats-wash.md
  .github/actions/effect-check/action.yml
  .github/workflows/ci-testing.yml
  package.json
  packages/@studiocms/auth0/package.json
  packages/@studiocms/blog/package.json
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/devapps/package.json
  packages/@studiocms/discord/package.json
  packages/@studiocms/github/package.json
  packages/@studiocms/google/package.json
  packages/@studiocms/html/package.json
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/md/package.json
  packages/@studiocms/mdx/package.json
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/wysiwyg/package.json
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/component-registry/package.json
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/sdk/package.json
  packages/studiocms/package.json
  playground/studiocms.config.mts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/effect

refactor: remove deprecated hideDefaultIndex site config variable and update usages across StudioCMS
  .changeset/two-poems-joke.md
  packages/@studiocms/blog/test/test-utils.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@withstudiocms/sdk/src/consts.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
  packages/@withstudiocms/sdk/src/types.ts
  packages/studiocms/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/middleware/utils.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/setup-pages/studiocms_api/dashboard/step-1.ts
  packages/studiocms/test/middleware/utils.test.ts
  packages/studiocms/test/test-utils.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/blog, @studiocms/wysiwyg

refactor: remove deprecated hideDefaultIndex site config variable and document breaking change
  .changeset/two-poems-joke.md
Due: none

refactor: rename filtering function to remove index reference and update usages
  packages/@withstudiocms/sdk/src/modules/get/index.ts
Due: tools-utils

refactor: remove default-index reference from documentation and filtering function
  packages/@withstudiocms/sdk/src/modules/get/index.ts
Due: tools-utils

refactor: implement draft exclusion for GET.pageFolderTree() in SDK
  .changeset/many-onions-itch.md
  packages/@withstudiocms/sdk/src/modules/get/index.ts
Due: tools-utils

refactor: update draft exclusion logic in GET.pageFolderTree() for SDK
  .changeset/many-onions-itch.md
  packages/@withstudiocms/sdk/src/modules/get/index.ts
Due: tools-utils

feat(transformHTML): enforce CustomElements and Components in sanitize options
  .changeset/smooth-numbers-rescue.md
  packages/@withstudiocms/component-registry/src/transform-html.ts
Due: tools-utils, @withstudiocms/component-registry

debug: Add hyphenated component for testing purposes
  playground/studiocms.config.mts
Due: none

feat(transformHTML): enforce sanitization of StudioCMS components and custom elements
  .changeset/smooth-numbers-rescue.md
  packages/@withstudiocms/component-registry/src/transform-html.ts
Due: tools-utils, @withstudiocms/component-registry

refactor: remove deprecated hideDefaultIndex site config variable and update usages across StudioCMS (#1163)
  .changeset/two-poems-joke.md
  packages/@studiocms/blog/test/test-utils.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@withstudiocms/sdk/src/consts.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
  packages/@withstudiocms/sdk/src/types.ts
  packages/studiocms/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/middleware/utils.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/frontend/setup-pages/studiocms_api/dashboard/step-1.ts
  packages/studiocms/test/middleware/utils.test.ts
  packages/studiocms/test/test-utils.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/blog, @studiocms/wysiwyg

refactor: implement draft exclusion for GET.pageFolderTree() in SDK (#1164)
  .changeset/many-onions-itch.md
  packages/@withstudiocms/sdk/src/modules/get/index.ts
Due: tools-utils

refactor: replace .returning/returningAll with transactions for better SQL dialect support
  .changeset/loud-insects-wear.md
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
  packages/@withstudiocms/sdk/src/modules/plugins/index.ts
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/@withstudiocms/sdk/src/modules/resetTokenBucket/index.ts
  packages/@withstudiocms/sdk/src/modules/rest_api/index.ts
  packages/@withstudiocms/sdk/src/modules/update/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
Due: integrations, tools-utils, studiocms

refactor: update insert operations to use updateTable for better data handling in SDK modules
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/update/index.ts
Due: tools-utils

refactor: update insert/update operations to use transactions for improved atomicity and MySQL compatibility
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
Due: tools-utils

Tweak Component Registry html transformation and fix components (#1165)
  .changeset/smooth-numbers-rescue.md
  packages/@withstudiocms/component-registry/src/transform-html.ts
  playground/studiocms.config.mts
Due: tools-utils, @withstudiocms/component-registry

refactor: replace .returning/returningAll with transactions for better SQL dialect support (#1166)
  .changeset/loud-insects-wear.md
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
  packages/@withstudiocms/sdk/src/modules/plugins/index.ts
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/@withstudiocms/sdk/src/modules/resetTokenBucket/index.ts
  packages/@withstudiocms/sdk/src/modules/rest_api/index.ts
  packages/@withstudiocms/sdk/src/modules/update/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[type]/_routes/tags.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
Due: integrations, tools-utils, studiocms

purge old dep update changesets to free up api access
  .changeset/dependencies-GH-585.md
  .changeset/dependencies-GH-664.md
  .changeset/dependencies-GH-674.md
  .changeset/dependencies-GH-695.md
  .changeset/dependencies-GH-717.md
  .changeset/dependencies-GH-718.md
  .changeset/dependencies-GH-724.md
  .changeset/dependencies-GH-728.md
  .changeset/dependencies-GH-734.md
  .changeset/dependencies-GH-737.md
  .changeset/dependencies-GH-746.md
  .changeset/dependencies-GH-766.md
  .changeset/dependencies-GH-780.md
  .changeset/dependencies-GH-804.md
  .changeset/dependencies-GH-805.md
  .changeset/dependencies-GH-810.md
  .changeset/dependencies-GH-830.md
  .changeset/dependencies-GH-841.md
  .changeset/dependencies-GH-862.md
  .changeset/dependencies-GH-887.md
  .changeset/dependencies-GH-900.md
  .changeset/dependencies-GH-927.md
  .changeset/dependencies-GH-928.md
  .changeset/dependencies-GH-949.md
  .changeset/dependencies-GH-956.md
  .changeset/dependencies-GH-957.md
  .changeset/dependencies-GH-966.md
  .changeset/dependencies-GH-968.md
  .changeset/dependencies-GH-969.md
  .changeset/dependencies-GH-998.md
  .changeset/pre.json
Due: none

refactor: simplify schema migration helpers and remove unused class
  .changeset/eager-hairs-fix.md
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

fix: remove unused slug from page collector
  .changeset/tricky-houses-act.md
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
Due: tools-utils

purge old dep update changesets to free up api access (#1167)
  .changeset/dependencies-GH-585.md
  .changeset/dependencies-GH-664.md
  .changeset/dependencies-GH-674.md
  .changeset/dependencies-GH-695.md
  .changeset/dependencies-GH-717.md
  .changeset/dependencies-GH-718.md
  .changeset/dependencies-GH-724.md
  .changeset/dependencies-GH-728.md
  .changeset/dependencies-GH-734.md
  .changeset/dependencies-GH-737.md
  .changeset/dependencies-GH-746.md
  .changeset/dependencies-GH-766.md
  .changeset/dependencies-GH-780.md
  .changeset/dependencies-GH-804.md
  .changeset/dependencies-GH-805.md
  .changeset/dependencies-GH-810.md
  .changeset/dependencies-GH-830.md
  .changeset/dependencies-GH-841.md
  .changeset/dependencies-GH-862.md
  .changeset/dependencies-GH-887.md
  .changeset/dependencies-GH-900.md
  .changeset/dependencies-GH-927.md
  .changeset/dependencies-GH-928.md
  .changeset/dependencies-GH-949.md
  .changeset/dependencies-GH-956.md
  .changeset/dependencies-GH-957.md
  .changeset/dependencies-GH-966.md
  .changeset/dependencies-GH-968.md
  .changeset/dependencies-GH-969.md
  .changeset/dependencies-GH-998.md
  .changeset/pre.json
Due: none

refactor: simplify schema migration helpers and remove unused class (#1168)
  .changeset/eager-hairs-fix.md
  .changeset/tricky-houses-act.md
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
Due: tools-utils

chore: update mode to 'exit' in pre.json for beta release preparation
  .changeset/pre.json
Due: none

docs: remove early development warning from README files
  README.md
  packages/studiocms/README.md
Due: integrations, studiocms

docs: update README to remove beta warning
  .changeset/tricky-buses-reply.md
Due: none

Refactor code structure for improved readability and maintainability
  packages/studiocms/CHANGELOG.beta.md
Due: integrations, studiocms

chore: add initial changelog for version 0.1.0-beta.32
  packages/studiocms/CHANGELOG.md
Due: integrations, studiocms

docs: add patch changes section to CHANGELOG for version 0.1.0-beta.32
  packages/studiocms/CHANGELOG.md
Due: integrations, studiocms

fix: correct formatting in CHANGELOG for consistency
  packages/studiocms/CHANGELOG.md
Due: integrations, studiocms

chore: Leaving beta (#1172)
  .changeset/pre.json
  .changeset/tricky-buses-reply.md
  README.md
  packages/studiocms/CHANGELOG.beta.md
  packages/studiocms/CHANGELOG.md
  packages/studiocms/README.md
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
