Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

tweak test conditions
  .github/workflows/ci-testing.yml
Due: none

tweak test conditions (#1648)
  .github/workflows/ci-testing.yml
Due: none

start of oslo merge
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/asn1/asn1.ts
  packages/@withstudiocms/internal_helpers/src/asn1/index.ts
  packages/@withstudiocms/internal_helpers/src/asn1/integer.ts
  packages/@withstudiocms/internal_helpers/src/asn1/string.ts
  packages/@withstudiocms/internal_helpers/src/binary/big.ts
  packages/@withstudiocms/internal_helpers/src/binary/bits.ts
  packages/@withstudiocms/internal_helpers/src/binary/bytes.ts
  packages/@withstudiocms/internal_helpers/src/binary/index.ts
  packages/@withstudiocms/internal_helpers/src/binary/uint.ts
  packages/@withstudiocms/internal_helpers/src/encoding/base32.ts
  packages/@withstudiocms/internal_helpers/src/encoding/base64.ts
  packages/@withstudiocms/internal_helpers/src/encoding/hex.ts
  packages/@withstudiocms/internal_helpers/src/encoding/index.ts
  packages/@withstudiocms/internal_helpers/src/jwt/index.ts
  packages/@withstudiocms/internal_helpers/test/asn1/asn1.test.ts
  packages/@withstudiocms/internal_helpers/test/asn1/integer.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/big.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/bits.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/bytes.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/uint.test.ts
  packages/@withstudiocms/internal_helpers/test/encoding/base32.test.ts
  packages/@withstudiocms/internal_helpers/test/encoding/base64.test.ts
  packages/@withstudiocms/internal_helpers/test/encoding/hex.test.ts
  packages/@withstudiocms/internal_helpers/test/jwt/index.test.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/internal_helpers

lint
  packages/@withstudiocms/internal_helpers/src/jwt/index.ts
  packages/@withstudiocms/internal_helpers/test/asn1/asn1.test.ts
  packages/@withstudiocms/internal_helpers/test/asn1/integer.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/big.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/bits.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/bytes.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/uint.test.ts
  packages/@withstudiocms/internal_helpers/test/encoding/base64.test.ts
  packages/@withstudiocms/internal_helpers/test/encoding/hex.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix tests
  packages/@studiocms/blog/test/layouts/__snapshots__/Layout.test.ts.snap
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Editor.test.ts.snap
  packages/@withstudiocms/internal_helpers/test/binary/big.test.ts
  packages/@withstudiocms/internal_helpers/test/binary/bits.test.ts
  packages/effectify/test/__snapshots__/zod.test.ts.snap
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/__snapshots__/virtuals.components.test.ts.snap
Due: integrations, plugins, tools-utils, studiocms, @studiocms/blog, @studiocms/wysiwyg, @withstudiocms/internal_helpers

crypto
  packages/@withstudiocms/internal_helpers/src/crypto/ecdsa/curve-nist.ts
  packages/@withstudiocms/internal_helpers/src/crypto/ecdsa/curve-sec.ts
  packages/@withstudiocms/internal_helpers/src/crypto/ecdsa/curve.ts
  packages/@withstudiocms/internal_helpers/src/crypto/ecdsa/ecdsa.ts
  packages/@withstudiocms/internal_helpers/src/crypto/ecdsa/index.ts
  packages/@withstudiocms/internal_helpers/src/crypto/ecdsa/math.ts
  packages/@withstudiocms/internal_helpers/src/crypto/hash/index.ts
  packages/@withstudiocms/internal_helpers/src/crypto/hmac/index.ts
  packages/@withstudiocms/internal_helpers/src/crypto/random/index.ts
  packages/@withstudiocms/internal_helpers/src/crypto/rsa/index.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha1/index.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha2/index.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha2/sha224.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha2/sha256.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha2/sha384.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha2/sha512.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha2/sha512_224.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha2/sha512_256.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha3/hash.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha3/index.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha3/sha3.ts
  packages/@withstudiocms/internal_helpers/src/crypto/sha3/xof.ts
  packages/@withstudiocms/internal_helpers/src/crypto/subtle/index.ts
  packages/@withstudiocms/internal_helpers/test/crypto/ecdsa/curve.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/ecdsa/ecdsa.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/hmac/index.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/rsa/index.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha1/index.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha224.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha256.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha384.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha512.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha512_224.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha512_256.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha3/hash.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha3/xof.test.ts
  packages/@withstudiocms/internal_helpers/tsconfig.json
Due: tools-utils, @withstudiocms/internal_helpers

update tests
  packages/@withstudiocms/internal_helpers/src/crypto/rsa/index.ts
  packages/@withstudiocms/internal_helpers/test/crypto/ecdsa/curve.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/ecdsa/ecdsa.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/hmac/index.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/rsa/index.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha1/index.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha224.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha256.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha384.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha512.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha512_224.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha2/sha512_256.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha3/hash.test.ts
  packages/@withstudiocms/internal_helpers/test/crypto/sha3/xof.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

fix
  .changeset/pretty-bobcats-sell.md
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/tsconfig.json
Due: tools-utils, @withstudiocms/internal_helpers

lint
  packages/@withstudiocms/internal_helpers/tsconfig.json
Due: tools-utils, @withstudiocms/internal_helpers

feat(oauth): integrate deprecated arctic code for OAuth processing
  .changeset/tired-drinks-shop.md
  .changeset/vast-zoos-lick.md
  packages/@studiocms/oauth/package.json
  packages/@studiocms/oauth/src/auth0/impl.ts
  packages/@studiocms/oauth/src/discord/impl.ts
  packages/@studiocms/oauth/src/github/impl.ts
  packages/@studiocms/oauth/src/google/impl.ts
  packages/@studiocms/oauth/src/internal/client.ts
  packages/@studiocms/oauth/src/internal/index.ts
  packages/@studiocms/oauth/src/internal/oauth2.ts
  packages/@studiocms/oauth/src/internal/oidc.ts
  packages/@studiocms/oauth/src/internal/providers/auth0.ts
  packages/@studiocms/oauth/src/internal/providers/authentik.ts
  packages/@studiocms/oauth/src/internal/providers/discord.ts
  packages/@studiocms/oauth/src/internal/providers/gitea.ts
  packages/@studiocms/oauth/src/internal/providers/github.ts
  packages/@studiocms/oauth/src/internal/providers/gitlab.ts
  packages/@studiocms/oauth/src/internal/providers/google.ts
  packages/@studiocms/oauth/src/internal/providers/slack.ts
  packages/@studiocms/oauth/src/internal/request.ts
  packages/@studiocms/oauth/src/internal/utils.ts
  packages/@studiocms/oauth/test/internal/oidc.test.ts
  packages/@studiocms/oauth/test/internal/request.test.ts
  packages/@studiocms/oauth/test/internal/utils.test.ts
  packages/@withstudiocms/internal_helpers/package.json
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/internal_helpers

refactor(tests): migrate tests to use allure-js-commons for better reporting
  packages/@studiocms/oauth/test/internal/oidc.test.ts
  packages/@studiocms/oauth/test/internal/request.test.ts
  packages/@studiocms/oauth/test/internal/utils.test.ts
Due: none

chore: remove arctic dependency from catalog
  pnpm-workspace.yaml
Due: none

feat: migrate from @oslojs packages to new internal helper exports
  .changeset/neat-beers-turn.md
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/auth-kit/src/modules/encryption.ts
  packages/@withstudiocms/auth-kit/src/modules/session.ts
  packages/@withstudiocms/auth-kit/src/utils/password.ts
  packages/@withstudiocms/auth-kit/src/utils/session.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/auth-kit

Integrate OAuth processing with new client structure and providers (#1650)
  .changeset/tired-drinks-shop.md
  .changeset/vast-zoos-lick.md
  packages/@studiocms/oauth/package.json
  packages/@studiocms/oauth/src/auth0/impl.ts
  packages/@studiocms/oauth/src/discord/impl.ts
  packages/@studiocms/oauth/src/github/impl.ts
  packages/@studiocms/oauth/src/google/impl.ts
  packages/@studiocms/oauth/src/internal/client.ts
  packages/@studiocms/oauth/src/internal/index.ts
  packages/@studiocms/oauth/src/internal/oauth2.ts
  packages/@studiocms/oauth/src/internal/oidc.ts
  packages/@studiocms/oauth/src/internal/providers/auth0.ts
  packages/@studiocms/oauth/src/internal/providers/authentik.ts
  packages/@studiocms/oauth/src/internal/providers/discord.ts
  packages/@studiocms/oauth/src/internal/providers/gitea.ts
  packages/@studiocms/oauth/src/internal/providers/github.ts
  packages/@studiocms/oauth/src/internal/providers/gitlab.ts
  packages/@studiocms/oauth/src/internal/providers/google.ts
  packages/@studiocms/oauth/src/internal/providers/slack.ts
  packages/@studiocms/oauth/src/internal/request.ts
  packages/@studiocms/oauth/src/internal/utils.ts
  packages/@studiocms/oauth/test/internal/oidc.test.ts
  packages/@studiocms/oauth/test/internal/request.test.ts
  packages/@studiocms/oauth/test/internal/utils.test.ts
  packages/@withstudiocms/internal_helpers/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tools-utils, @withstudiocms/internal_helpers

feat: migrate from @oslojs packages to new internal helper exports (#1652)
  .changeset/neat-beers-turn.md
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/auth-kit/src/modules/encryption.ts
  packages/@withstudiocms/auth-kit/src/modules/session.ts
  packages/@withstudiocms/auth-kit/src/utils/password.ts
  packages/@withstudiocms/auth-kit/src/utils/session.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/auth-kit

chore: update dependency versions in pnpm-workspace.yaml
  packages/studiocms/frontend/components/dashboard/DashboardGridItem.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/styles/dashboard-base.css
  playground/src/components/Code.astro
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

feat: add changeset for Astro v7 support
  .changeset/little-colts-flash.md
Due: none

fix: update button classes for consistency in InnerSidebarElement and VersionCheck components
  packages/studiocms/frontend/components/dashboard/content-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/components/dashboard/sidebar/VersionCheck.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
Due: integrations, studiocms

fix: update button class for consistency in InnerSidebarElement component
  packages/studiocms/frontend/components/dashboard/taxonomy/InnerSidebarElement.astro
Due: integrations, studiocms

chore: update Vitest dependencies and snapshots
  packages/@studiocms/blog/test/components/index.test.ts
  packages/@studiocms/blog/test/layouts/__snapshots__/Layout.test.ts.snap
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Editor.test.ts.snap
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  pnpm-lock.yaml
Due: integrations, plugins, studiocms, @studiocms/blog, @studiocms/wysiwyg

fix: update Astro and related package versions for compatibility
  .github/renovate.json
  packages/@withstudiocms/buildkit/jsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tools-utils, @withstudiocms/buildkit

fix: update matchFileNames pattern for Template Dependencies in renovate.json
  .github/renovate.json
Due: none

fix: replace Effect.flatMap with Effect.map for improved readability and to fix LSP warnings
  .changeset/green-items-teach.md
  .vscode/settings.json
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/middleware/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/search.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/taxonomy.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/sdk

refactor: extract toModuleSpecifier and accept URL inputs
  .github/workflows/ci-path-resolver.yml
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
  packages/@withstudiocms/internal_helpers/src/toModuleSpecifier.ts
  packages/@withstudiocms/internal_helpers/src/utils/pageTypeFilter.ts
  packages/@withstudiocms/internal_helpers/test/toModuleSpecifier.test.ts
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

Start of upgrading to Astro v7 (#1655)
  .changeset/green-items-teach.md
  .changeset/little-colts-flash.md
  .github/renovate.json
  .vscode/settings.json
  packages/@studiocms/blog/test/components/index.test.ts
  packages/@studiocms/blog/test/layouts/__snapshots__/Layout.test.ts.snap
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Editor.test.ts.snap
  packages/@withstudiocms/buildkit/jsconfig.json
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/middleware/index.ts
  packages/studiocms/frontend/components/dashboard/DashboardGridItem.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/components/dashboard/sidebar/VersionCheck.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/InnerSidebarElement.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/search.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/taxonomy.ts
  packages/studiocms/frontend/styles/dashboard-base.css
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  playground/src/components/Code.astro
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/blog, @studiocms/wysiwyg, @withstudiocms/buildkit, @withstudiocms/sdk
