Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Cleanup deprecated route resolver functions and related tests (#1750)
  .changeset/four-coins-kneel.md
  packages/studiocms/src/consts.ts
  packages/studiocms/src/types.ts
  packages/studiocms/test/consts.test.ts
Due: integrations, studiocms

Rework Markdown remark package (#1751)
  .changeset/hip-items-kick.md
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/markdown-remark/src/core/index.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/index.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-collect-headings.ts
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-images.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/index.ts
  packages/@studiocms/markdown-remark/src/core/remark-plugins/remark-collect-images.ts
  packages/@studiocms/markdown-remark/src/integration/components/types.ts
  packages/@studiocms/markdown-remark/src/integration/components/virtual.ts
  packages/@studiocms/markdown-remark/src/integration/consts.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/src/integration/shared.ts
  packages/@studiocms/markdown-remark/src/types.ts
  packages/@studiocms/markdown-remark/test/core/index.test.ts
  packages/@studiocms/markdown-remark/test/core/remark-plugins/remark-collect-images.test.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/src/lib/shared.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/markdown.ts
  pnpm-lock.yaml
Due: plugins, tools-utils, @studiocms/md, @withstudiocms/internal_helpers

Remove Turso sponsorship from README files (#1752)
  .changeset/rare-wolves-sort.md
  README.md
  packages/studiocms/README.md
Due: integrations, studiocms

Update tsdown configurations for 0.23.0 upgrade preparation
  .changeset/breezy-pears-decide.md
  packages/@studiocms/blog/tsdown.config.ts
  packages/@studiocms/cloudinary-image-service/tsdown.config.ts
  packages/@studiocms/devapps/tsdown.config.ts
  packages/@studiocms/html/tsdown.config.ts
  packages/@studiocms/markdoc/tsdown.config.ts
  packages/@studiocms/markdown-remark/tsdown.config.ts
  packages/@studiocms/md/tsdown.config.ts
  packages/@studiocms/mdx/tsdown.config.ts
  packages/@studiocms/oauth/tsdown.config.ts
  packages/@studiocms/s3-storage/tsdown.config.ts
  packages/@studiocms/wysiwyg/tsdown.config.ts
  packages/@withstudiocms/api-spec/tsdown.config.ts
  packages/@withstudiocms/auth-kit/tsdown.config.ts
  packages/@withstudiocms/cli-kit/tsdown.config.ts
  packages/@withstudiocms/component-registry/tsdown.config.ts
  packages/@withstudiocms/config-utils/tsdown.config.ts
  packages/@withstudiocms/effect/tsdown.config.ts
  packages/@withstudiocms/internal_helpers/tsdown.config.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/tsdown.config.ts
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/tsdown.config.ts
  packages/@withstudiocms/template-lang/tsdown.config.ts
  packages/effectify/tsdown.config.ts
  tsdown.shared.ts
Due: integrations, plugins, tools-utils, @studiocms/devapps, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Update build scripts to include TypeScript declaration generation
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/sdk/package.json
Due: tools-utils, @withstudiocms/kysely, @withstudiocms/sdk

Add @tsdown/css dependency and update related configurations
  package.json
  packages/@studiocms/wysiwyg/src/routes/grapes.css.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsdown.shared.ts
Due: plugins, @studiocms/wysiwyg

Fix noBundleConfig to ensure dependencies are not bundled
  tsdown.shared.ts
Due: none

Add @tsdown/css to ignored dependencies in renovate configuration
  .github/renovate.json
Due: none

chore: update tsdown and @tsdown/css to version 0.23.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: remove tsdown and @tsdown/css from ignored dependencies
  .github/renovate.json
Due: none

chore: update tsdown and @tsdown/css to version 0.23.0 (#1755)
  .github/renovate.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update tsdown configurations for 0.23.0 upgrade preparation (#1754)
  .changeset/breezy-pears-decide.md
  .github/renovate.json
  package.json
  packages/@studiocms/blog/tsdown.config.ts
  packages/@studiocms/cloudinary-image-service/tsdown.config.ts
  packages/@studiocms/devapps/tsdown.config.ts
  packages/@studiocms/html/tsdown.config.ts
  packages/@studiocms/markdoc/tsdown.config.ts
  packages/@studiocms/markdown-remark/tsdown.config.ts
  packages/@studiocms/md/tsdown.config.ts
  packages/@studiocms/mdx/tsdown.config.ts
  packages/@studiocms/oauth/tsdown.config.ts
  packages/@studiocms/s3-storage/tsdown.config.ts
  packages/@studiocms/wysiwyg/src/routes/grapes.css.ts
  packages/@studiocms/wysiwyg/tsdown.config.ts
  packages/@withstudiocms/api-spec/tsdown.config.ts
  packages/@withstudiocms/auth-kit/tsdown.config.ts
  packages/@withstudiocms/cli-kit/tsdown.config.ts
  packages/@withstudiocms/component-registry/tsdown.config.ts
  packages/@withstudiocms/config-utils/tsdown.config.ts
  packages/@withstudiocms/effect/tsdown.config.ts
  packages/@withstudiocms/internal_helpers/tsdown.config.ts
  packages/@withstudiocms/kysely/tsdown.config.ts
  packages/@withstudiocms/sdk/tsdown.config.ts
  packages/@withstudiocms/template-lang/tsdown.config.ts
  packages/effectify/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsdown.shared.ts
Due: integrations, plugins, tools-utils, @studiocms/devapps, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Update dompurify dependency version
  .changeset/deep-months-sink.md
Due: none

Update katex dependency version
  .changeset/silver-cars-work.md
Due: none

Update boxen to version 9.0.0 across packages
  .changeset/humble-papayas-wonder.md
  packages/@withstudiocms/cli-kit/package.json
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/cli-kit

Update `studiocms add` command to support new OAuth plugin structure and improve plugin validation
  .changeset/lemon-eggs-join.md
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/add/npm-utils.ts
  packages/studiocms/src/cli/add/validatePlugins.ts
Due: integrations, studiocms

Refactor import path resolution in ValidatePlugins to improve clarity and maintainability
  packages/studiocms/src/cli/add/validatePlugins.ts
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**
