Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

feat: add utility function to integrate Effect-based web handlers with HttpApiBuilder
  packages/effectify/src/webHandler.ts
Due: none

refactor: update error classes and function names to include effectify namespace
  packages/effectify/src/_internal/codecs/FunctionSchema.ts
  packages/effectify/src/astro/context.ts
  packages/effectify/src/scalar.ts
  packages/effectify/src/scrypt.ts
  packages/effectify/src/webHandler.ts
Due: none

fix: update error tags in Scrypt and WebHandler tests to include effectify namespace
  packages/effectify/test/scrypt.test.ts
  packages/effectify/test/webHandler.test.ts
Due: none

feat: add tests for SyncFunctionSchema to validate synchronous function behavior
  packages/effectify/test/schemas.test.ts
Due: none

feat: add example for converting Effect-based web handler to HttpApi format
  packages/effectify/README.md
Due: none

feat: add comments to clarify conversion process from web handler to Effect API and Astro API route handler
  packages/effectify/scratchpad/webHandler.ts
Due: none

[ci] changesets
  .changeset/tender-owls-dream.md
Due: none

feat: add 'effectify' to changeset releases for patch updates
  .github/scripts/effect-changeset.mjs
Due: none

chore(deps): update effect platform and version to 0.94.4 and 3.19.16
  pnpm-lock.yaml
Due: none

lint
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/schemas.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/studiocms/src/plugins/analytics/assets/schemas.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/kysely

chore: add changeset for patch updates to dependencies
  .changeset/warm-parts-slide.md
Due: none

fix(deps): update tsdown version to 0.20.3 in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: integrate effectify package and refactor Scrypt implementation
  .changeset/eager-hounds-battle.md
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/scrypt.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/effect

feat: add effectify package to dependencies
  .changeset/fancy-toes-walk.md
  packages/@withstudiocms/api-spec/package.json
  pnpm-lock.yaml
Due: tools-utils

feat: enhance Scrypt integration with Effectify and update error handling in tests
  packages/@withstudiocms/effect/src/scrypt.ts
  packages/@withstudiocms/effect/test/scrypt.test.ts
Due: tools-utils, @withstudiocms/effect

Refactor Astro API context and remove unused scalar file
  packages/@withstudiocms/api-spec/scripts/build-scalar.ts
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
  packages/@withstudiocms/api-spec/src/_internal/html.ts
  packages/@withstudiocms/api-spec/src/_internal/httpApiScalar.ts
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/scalar.ts
  packages/effectify/src/scalar.ts
Due: tools-utils

refactor: remove unused Astro API context and related functions from http-app.ts
  packages/@withstudiocms/effect/src/astro/http-app.ts
Due: tools-utils, @withstudiocms/effect

Switch CLAUDE and GEMINI to AGENTS standard
  .coderabbit.yaml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

fix: update command for base64
  AGENTS.md
Due: none

Update agent policies and database configuration in documentation
  .github/copilot-instructions.md
  AGENTS.md
Due: none

refactor: Rework API specification to use individual specs for easier implementation
  .changeset/lazy-seals-admire.md
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
Due: tools-utils

refactor: Remove unused API specification class and update REST API versioning
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
Due: tools-utils

fix: Cast types for server launch to resolve type error in test server
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
Due: tools-utils

fix: Simplify type casting for server launch in test server
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
Due: tools-utils

fix: Add missing description field to API documentation route
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
Due: tools-utils

refactor: Rename layer import for clarity and update API documentation route creation
  packages/@withstudiocms/api-spec/scripts/test-srv.ts
Due: tools-utils

feat: add effectify dependency and new schemas for plugin validation
  .changeset/some-dolls-show.md
  packages/studiocms/package.json
  packages/studiocms/src/schemas/external-schemas.ts
  packages/studiocms/src/schemas/plugins/i18n.effect.ts
  packages/studiocms/src/schemas/plugins/index.effect.ts
  packages/studiocms/src/schemas/plugins/shared.effect.ts
  pnpm-lock.yaml
Due: integrations, studiocms

feat: enhance plugin schemas with Astro integration logger and new rendering augmentations
  packages/studiocms/src/global.d.ts
  packages/studiocms/src/schemas/external-schemas.ts
  packages/studiocms/src/schemas/plugins/index.effect.ts
Due: integrations, studiocms

feat: add missing schema properties for AstroIntegrationLoggerSchema
  packages/studiocms/src/schemas/external-schemas.ts
Due: integrations, studiocms

feat: add effect-based configuration resolver and update peer dependencies
  .changeset/warm-nights-fix.md
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/types.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/config-utils

chore: format peerDependencies section in package.json
  packages/@withstudiocms/config-utils/package.json
Due: tools-utils, @withstudiocms/config-utils

feat: add effect-based config resolver utility for Astro integrations
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
Due: tools-utils, @withstudiocms/config-utils

feat: add InternalPluginHooksSchema for shared plugin hook validation and refactor BasePluginHooksSchema
  packages/studiocms/src/schemas/plugins/index.effect.ts
Due: integrations, studiocms

refactor: remove unused Next plugin hooks interfaces from global.d.ts
  packages/studiocms/src/global.d.ts
Due: integrations, studiocms

fix: correct base class reference in StudioCMSStorageManagerSchema
  packages/studiocms/src/schemas/plugins/index.effect.ts
Due: integrations, studiocms

chore: update TODO comments for deprecating configResolverBuilder in favor of effect-based resolver
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
Due: tools-utils, @withstudiocms/config-utils

feat(static): introduce static file serving router and example usage
  .changeset/green-poets-help.md
  packages/effectify/README.md
  packages/effectify/package.json
  packages/effectify/scratchpad/static.ts
  packages/effectify/scratchpad/static/index.html
  packages/effectify/src/static.ts
Due: none

Potential fix for code scanning alert no. 133: Overly permissive regular expression range
  packages/effectify/src/static.ts
Due: none

feat(static): enhance static file serving with logging and 404 handling
  packages/effectify/scratchpad/static.ts
  packages/effectify/src/static.ts
Due: none

feat(static): add makeStaticFileMiddleware and update static file router example
  packages/effectify/README.md
Due: none
