Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

fix: Restore checkout step in CI jobs for type checks and bundle analysis
  .github/actions/bundle-analysis/action.yml
  .github/actions/type-check/action.yml
  .github/workflows/ci-testing.yml
Due: none

fix: Update run commands in CI actions to maintain formatting consistency
  .github/actions/bundle-analysis/action.yml
  .github/actions/type-check/action.yml
Due: none

fix: Update commit message for Allure report action to reflect changes
  .github/actions/allure-report/action.yml
Due: none

chore: update devcontainer configuration and welcome message; set Node.js version to 22.20.0
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/welcome-message.txt
  .gitignore
  .node-version
  .prototools
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  playground/astro.config.mts
Due: none

fix: disable code review effort estimation and related features in configuration
  .coderabbit.yaml
Due: none

Rework testing CI (#951)
  .github/actions/allure-report/action.yml
  .github/actions/bundle-analysis/action.yml
  .github/actions/coverage-report/action.yml
  .github/actions/type-check/action.yml
  .github/workflows/ci-testing.yml
  knip.config.ts
  package.json
Due: none

fix: update Allure Test Report link in README for accurate reporting
  README.md
Due: none

refactor: update import paths to use frontend directory structure
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/partials/UserListItems.astro
  packages/studiocms/test/components.test.ts
  packages/studiocms/test/components/auth/component-scripts/formListener.test.ts
  packages/studiocms/test/components/auth/oAuthButtonProviders.test.ts
  packages/studiocms/test/layouts.test.ts
  packages/studiocms/test/middleware/utils.test.ts
Due: integrations, studiocms

refactor: reorganize component structure and update paths for recently created, signed up, and updated pages
  packages/studiocms/src/handlers/plugin-components/Recently-created-pages.astro
  packages/studiocms/src/handlers/plugin-components/Recently-signed-up.astro
  packages/studiocms/src/handlers/plugin-components/Recently-updated-pages.astro
  packages/studiocms/src/handlers/plugin-components/Totals.astro
  packages/studiocms/src/handlers/plugin-components/utils.ts
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

fix: exclude frontend directory from coverage reports
  vitest.config.ts
Due: none

fix: update import path for utils in test file
  packages/studiocms/test/components/default-grid-items/utils.test.ts
Due: integrations, studiocms

fix: update component import paths in defaultPlugin to use relative paths
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

Refactor code structure for improved readability and maintainability
  packages/studiocms/src/frontend/fonts/css/onest-variable.css
  packages/studiocms/src/frontend/fonts/css/syntax.css
  packages/studiocms/src/frontend/fonts/woff2/onest-variable.woff2
  packages/studiocms/src/frontend/fonts/woff2/syntax.woff2
  packages/studiocms/src/frontend/styles/auth-layout.css
  packages/studiocms/src/frontend/styles/code-component.css
  packages/studiocms/src/frontend/styles/dashboard-base.css
  packages/studiocms/src/frontend/styles/dashboard-diff.css
Due: integrations, studiocms

fix: update entrypoint path for dashboard route in pluginHandler
  packages/studiocms/src/frontend/routes.ts
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, studiocms

fix: refactor authentication configuration handling in processedConfig
  packages/studiocms/src/frontend/routes.ts
Due: integrations, studiocms

refactor: enhance route processing by mapping configuration to route groups
  packages/studiocms/src/frontend/routes.ts
Due: integrations, studiocms

refactor: implement flat mapping of processed configuration to route groups
  packages/studiocms/src/frontend/routes.ts
Due: integrations, studiocms

refactor: streamline route configuration processing and inject extra routes
  packages/studiocms/src/frontend/routes.ts
Due: integrations, studiocms

refactor: consolidate OAuth button providers and update imports across components
  packages/studiocms/src/frontend/components/auth/OAuthButtonStack.astro
  packages/studiocms/src/frontend/components/dashboard/DashboardGridItem.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/frontend/components/dashboard/profile/SocialSignin.astro
  packages/studiocms/src/frontend/components/dashboard/profile/oAuthButtonProviders.ts
  packages/studiocms/src/frontend/components/dashboard/shared.ts
  packages/studiocms/src/frontend/components/shared/oAuthButtonProviders.ts
  packages/studiocms/src/frontend/pages/[dashboard]/login.astro
  packages/studiocms/src/frontend/pages/[dashboard]/signup.astro
  packages/studiocms/src/frontend/scripts/dateTimeListener.ts
  packages/studiocms/src/frontend/scripts/dateWithTimeAndZone.ts
  packages/studiocms/src/frontend/scripts/formdata-utils.ts
  packages/studiocms/src/frontend/scripts/timeAgo.ts
  packages/studiocms/src/frontend/setup-pages/2-next.astro
Due: integrations, studiocms

refactor: update import paths for OAuth button providers to shared module
  packages/studiocms/src/frontend/components/dashboard/user-mgmt/SocialSignin.astro
  packages/studiocms/src/frontend/pages/[dashboard]/profile.astro
  packages/studiocms/src/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/test/components/auth/oAuthButtonProviders.test.ts
Due: integrations, studiocms

refactor: update user registration logic to include authEnabled condition
  packages/studiocms/src/frontend/routes.ts
Due: integrations, studiocms

chore: update devcontainer configuration (#952)
  .coderabbit.yaml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/welcome-message.txt
  .gitignore
  .node-version
  .prototools
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  playground/astro.config.mts
Due: none

feat(routes): enhance route handling and middleware integration for StudioCMS
  packages/studiocms/src/frontend/routes.ts
  packages/studiocms/src/frontend/types.ts
  packages/studiocms/src/frontend/utils.ts
  packages/studiocms/src/handlers/routeHandler.ts
  packages/studiocms/src/index.ts
Due: integrations, studiocms

fix(ci-crowdin-sync): adjust translation upload settings for Crowdin actions
  .github/workflows/ci-crowdin-sync.yml
Due: none

New Crowdin translations by GitHub Action
  packages/studiocms/src/handlers/plugin-i18n/no.ts
  packages/studiocms/src/integrations/webVitals/i18n/no.ts
  packages/studiocms/src/virtuals/i18n/translations/no.json
Due: integrations, studiocms

[ci] changesets
  .changeset/swift-lies-doubt.md
Due: none

fix(tests): update test case for getLangFromUrl to use correct URL
  packages/studiocms/test/virtuals/i18n/server.test.ts
Due: integrations, studiocms

chore: add thick-rules-drive changeset for internal code cleanup
  .changeset/thick-rules-drive.md
Due: none

chore(studiocms) more code cleanup (#962)
  .changeset/thick-rules-drive.md
  .github/workflows/ci-crowdin-sync.yml
  packages/studiocms/src/frontend/routes.ts
  packages/studiocms/src/frontend/types.ts
  packages/studiocms/src/frontend/utils.ts
  packages/studiocms/src/handlers/routeHandler.ts
  packages/studiocms/src/index.ts
  packages/studiocms/test/virtuals/i18n/server.test.ts
Due: integrations, studiocms

feat: implement core migrator functionality with error handling and migration helpers
  cspell.json
  packages/@withstudiocms/kysely/.gitignore
  packages/@withstudiocms/kysely/LICENSE
  packages/@withstudiocms/kysely/README.md
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/scripts/create-migration.ts
  packages/@withstudiocms/kysely/src/client.ts
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/src/core/errors.ts
  packages/@withstudiocms/kysely/src/core/migrator.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/src/drivers/libsql.ts
  packages/@withstudiocms/kysely/src/drivers/mysql.ts
  packages/@withstudiocms/kysely/src/drivers/postgres.ts
  packages/@withstudiocms/kysely/src/index.ts
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.ts
  packages/@withstudiocms/kysely/src/migrator.ts
  packages/@withstudiocms/kysely/src/tables.ts
  packages/@withstudiocms/kysely/tsconfig.json
  packages/@withstudiocms/kysely/tsconfig.tspc.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tools-utils

refactor: change exported functions to constants for better encapsulation
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/src/core/migrator.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
Due: tools-utils

fix: reorder exports for drivers and core modules in package.json
  packages/@withstudiocms/kysely/package.json
Due: tools-utils

setup initial migration file
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.ts
  packages/@withstudiocms/kysely/src/tables.ts
Due: tools-utils

feat: add Kysely package configuration to ignore migrations and dependencies
  knip.config.ts
Due: none

feat: add 'kysely' to the list of packages used within the StudioCMS project
  knip.config.ts
Due: none

feat: add new configuration tables for site, mailer, and notification settings
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.ts
Due: tools-utils

feat: implement migration stub file and update create-migration script to read from it
  packages/@withstudiocms/kysely/scripts/create-migration.ts
  packages/@withstudiocms/kysely/scripts/stubs/migration-stub.stub
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.ts
Due: tools-utils
