Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

fix(ci): update tangled-mirror action to use specific commit reference
  .github/workflows/ci-push-main.yml
Due: none

fix(cspell): remove 'gwennlbh' from ignored words list
  cspell.json
Due: none

feat(ci): add tangled mirror job to CI workflow (#1417)
  .github/workflows/ci-push-main.yml
Due: none

feat(api): refactor Dashboard API groups and add new handler files
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/config.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/content.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/emailNotifications.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/mailer.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/plugins.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/profile.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/resetPassword.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/search.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/taxonomy.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/templates.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/verifyEndpoints.ts
Due: integrations, tools-utils, studiocms

feat: Update API token creation payload and implement new dashboard API handlers
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/config.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/content.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/emailNotifications.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/mailer.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/plugins.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/profile.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/resetPassword.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/search.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/taxonomy.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/templates.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/verifyEndpoints.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/public.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, tools-utils, studiocms

feat(api): add content handlers and utility functions for dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/_shared.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/content.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
Due: integrations, studiocms

feat(api): implement create handlers for user management and password reset links
  packages/@withstudiocms/api-spec/src/dashboard/routes/create-endpoints.ts
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/config.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/content.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
Due: integrations, tools-utils, studiocms

fix(api): clarify return value in createUser handler with a TODO comment
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
Due: integrations, studiocms

feat(api): implement email notification handlers and integrate with dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/emailNotifications.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
Due: integrations, studiocms

feat(api): add mailer handlers for setup, update, and test email services in Dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/mailer.ts
Due: integrations, studiocms

feat(api): add plugin handlers for managing plugin settings in Dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/plugins.ts
Due: integrations, studiocms

feat(api): add profile handlers for user profile updates in Dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/profile.ts
Due: integrations, studiocms

feat(api): add reset password and search handlers to Dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/resetPassword.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/search.ts
Due: integrations, studiocms

feat(api): add taxonomy handlers for managing categories and tags in Dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/taxonomy.ts
Due: integrations, studiocms

feat(api): add templates handlers for updating email templates in Dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/templates.ts
Due: integrations, studiocms

fix(api): update import paths for shared modules in Dashboard API handlers
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/taxonomy.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/templates.ts
Due: integrations, studiocms

feat(api): add UsersHandlers for managing user permissions in Dashboard API
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
Due: integrations, studiocms

fix(api): add TODO comment to clarify admin access for updating user notification preferences
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
Due: integrations, studiocms

Remove deprecated dashboard API routes and related functionality
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/verifyEndpoints.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/api-tokens.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/config.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/diff.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/folder.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/create-reset-link.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/create-user-invite.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/create-user.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/email-notification-settings-site.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/mailer/check-email.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/mailer/config.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/plugins/[plugin].ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/profile.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/resend-verify-email.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/reset-password.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/search-list.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/taxonomy-search.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/taxonomy.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/templates.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/update-user-notifications.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/users.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/verify-email.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/verify-session.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/[...path].ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/frontend/utils.ts
Due: integrations, studiocms

feat(auth): refactor login and signup payloads to use JSON format
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/studiocms/frontend/pages/[dashboard]/login.astro
  packages/studiocms/frontend/pages/[dashboard]/signup.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/auth.ts
Due: integrations, tools-utils, studiocms

remove duplicate route definition
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, studiocms

feat(config): add API documentation configuration option
  .changeset/wise-kids-stop.md
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/src/schemas/config/api.ts
  packages/studiocms/src/schemas/config/index.ts
Due: integrations, studiocms

refactor(api): remove unused list pages endpoint and update changelog route
  .changeset/breezy-teams-add.md
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/@withstudiocms/api-spec/src/sdk/schemas.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, tools-utils, studiocms

fix(api): update endpoint documentation and remove reference to non-draft pages
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
Due: tools-utils

Update packages/studiocms/src/schemas/config/api.ts
  packages/studiocms/src/schemas/config/api.ts
Due: integrations, studiocms

Update packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
Due: tools-utils

feat(config): add API documentation configuration option (#1420)
  .changeset/wise-kids-stop.md
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/src/schemas/config/api.ts
  packages/studiocms/src/schemas/config/index.ts
Due: integrations, studiocms

refactor(api): remove unused list pages endpoint and update changelog route (#1421)
  .changeset/breezy-teams-add.md
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/@withstudiocms/api-spec/src/sdk/schemas.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, tools-utils, studiocms

fix(api): update notification preferences endpoint permissions and enhance client-side error handling
  .changeset/petite-regions-change.md
  packages/studiocms/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
Due: integrations, studiocms

fix(api): update notification preferences endpoint permissions and enhance client-side error handling (#1422)
  .changeset/petite-regions-change.md
  packages/studiocms/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
Due: integrations, studiocms

chore(api): migrate frontend pages to use new dashboard API client
  .changeset/rare-bees-begin.md
  packages/studiocms/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/unverified-email.astro
Due: integrations, studiocms

chore(api): refactor user management actions to use dashboard API client
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
Due: integrations, studiocms

chore(api): integrate dashboard API client for category and tag management
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
Due: integrations, studiocms

chore(api): update error messages for user management actions
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
Due: integrations, studiocms

chore(api): implement revert functionality using dashboard API client
  packages/studiocms/frontend/pages/[dashboard]/content-management/diff.astro
Due: integrations, studiocms

chore(api): update error messages for SMTP configuration actions
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
Due: integrations, studiocms

chore(api): migrate frontend pages to use new dashboard API client (#1429)
  .changeset/rare-bees-begin.md
  packages/studiocms/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/[dashboard]/unverified-email.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
Due: integrations, studiocms

Migrate dashboard components to use new API spec clients
  .changeset/khaki-weeks-stick.md
  packages/studiocms/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/ContentSearch.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreateFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/scripts/formdata.ts
Due: integrations, studiocms

feat(dashboard): integrate dashboardClient for page and folder deletion with error handling
  packages/studiocms/frontend/components/dashboard/content-mgmt/PageHeader.astro
Due: integrations, studiocms
