Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

feat: remove `studiocmsMinimumVersion` from plugins to streamline API
  .changeset/tame-wings-send.md
  packages/@studiocms/auth0/src/index.ts
  packages/@studiocms/auth0/test/index.test.ts
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/blog/test/index.test.ts
  packages/@studiocms/cloudinary-image-service/src/index.ts
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
  packages/@studiocms/discord/src/index.ts
  packages/@studiocms/discord/test/index.test.ts
  packages/@studiocms/github/src/index.ts
  packages/@studiocms/github/test/index.test.ts
  packages/@studiocms/google/src/index.ts
  packages/@studiocms/google/test/index.test.ts
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/s3-storage/src/index.ts
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
Due: plugins, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

chore: add TODO to remove `studiocmsMinimumVersion` in future release
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, studiocms

chore: update TODO comment to specify removal of `studiocmsMinimumVersion` from Plugin API in future release
  packages/studiocms/src/schemas/plugins/index.ts
Due: integrations, studiocms

feat: deprecate `studiocmsMinimumVersion` in plugins API (#1448)
  .changeset/free-pants-brush.md
  .changeset/tame-wings-send.md
  packages/@studiocms/auth0/src/index.ts
  packages/@studiocms/auth0/test/index.test.ts
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/blog/test/index.test.ts
  packages/@studiocms/cloudinary-image-service/src/index.ts
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
  packages/@studiocms/discord/src/index.ts
  packages/@studiocms/discord/test/index.test.ts
  packages/@studiocms/github/src/index.ts
  packages/@studiocms/github/test/index.test.ts
  packages/@studiocms/google/src/index.ts
  packages/@studiocms/google/test/index.test.ts
  packages/@studiocms/html/src/index.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@studiocms/s3-storage/src/index.ts
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/test-utils.ts
  packages/studiocms/test/schemas/plugins/index.test.ts
  packages/studiocms/test/test-utils.test.ts
Due: integrations, plugins, studiocms, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

fix(tsdown): restructure deps configuration in markdown-remark, upgrade, and create-studiocms
  packages/@studiocms/markdown-remark/tsdown.config.ts
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/create-studiocms/tsdown.config.ts
Due: none

fix(tsdown): restructure deps configuration in markdown-remark, upgrade, and create-studiocms (#1460)
  packages/@studiocms/markdown-remark/tsdown.config.ts
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/create-studiocms/tsdown.config.ts
Due: none

fix(analytics): update import paths to use .js extensions
  .changeset/thirty-bikes-admire.md
  packages/studiocms/src/plugins/analytics/index.ts
Due: integrations, studiocms

fix(analytics): update import paths to use .js extensions (#1461)
  .changeset/thirty-bikes-admire.md
  packages/studiocms/src/plugins/analytics/index.ts
Due: integrations, studiocms

fix: update build scripts and import paths for consistency
  package.json
  packages/@studiocms/markdown-remark/package.json
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/tsdown.config.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/handlers/storage-manager/core/api-core.ts
  packages/studiocms/src/handlers/storage-manager/core/astro-context.ts
  packages/studiocms/src/handlers/storage-manager/core/database.ts
  packages/studiocms/src/handlers/storage-manager/core/effectify-astro-context.ts
  packages/studiocms/src/handlers/storage-manager/core/url-mapping.ts
  playground/astro.config.mts
Due: integrations, tools-utils, studiocms

fix: update dev scripts to remove unnecessary watch flags and add effect dependencies
  packages/@studiocms/markdown-remark/package.json
  packages/@withstudiocms/api-spec/package.json
  packages/effectify/package.json
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/src/consts.ts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms

fix: add changeset for import path fixes, build script updates, and Astro config tweaks
  .changeset/ninety-mirrors-find.md
Due: none

fix: uncomment and restore essential imports and function definitions in astro.config.mts
  playground/astro.config.mts
Due: none

fix: add '@effect/platform-node' to ignored dependencies in playground configuration
  knip.config.ts
Due: none

fix(studiocms) Add Effect to the vite optimize deps list (#1463)
  .changeset/ninety-mirrors-find.md
  knip.config.ts
  package.json
  packages/@studiocms/markdown-remark/package.json
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/tsdown.config.ts
  packages/effectify/package.json
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/src/consts.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/handlers/storage-manager/core/api-core.ts
  packages/studiocms/src/handlers/storage-manager/core/astro-context.ts
  packages/studiocms/src/handlers/storage-manager/core/database.ts
  packages/studiocms/src/handlers/storage-manager/core/effectify-astro-context.ts
  packages/studiocms/src/handlers/storage-manager/core/url-mapping.ts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms

fix(templates): update dependencies to include Effect packages
  templates/blog-libsql/package.json
  templates/blog-mysql/package.json
  templates/blog-postgres/package.json
  templates/headless-libsql/package.json
  templates/headless-mysql/package.json
  templates/headless-postgres/package.json
Due: none

fix(dependencies): add Effect packages to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(templates): standardize effect package formatting in template package.json files
  templates/blog-libsql/package.json
  templates/blog-mysql/package.json
  templates/blog-postgres/package.json
  templates/headless-libsql/package.json
  templates/headless-mysql/package.json
  templates/headless-postgres/package.json
Due: none

fix(studiocms): update peerDependencies and metadata for @effect/platform and @effect/platform-node
  .changeset/honest-taxes-bathe.md
  packages/studiocms/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

fix(s3-storage): await authorization checks in S3ApiService methods
  .changeset/social-mails-check.md
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
Due: none

fix(studiocms): update peerDependencies and metadata for @effect/platform and @effect/platform-node (#1466)
  .changeset/honest-taxes-bathe.md
  packages/studiocms/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

chore(templates): Adds effect and `@effect/platform*` deps to templates (#1465)
  pnpm-lock.yaml
  templates/blog-libsql/package.json
  templates/blog-mysql/package.json
  templates/blog-postgres/package.json
  templates/headless-libsql/package.json
  templates/headless-mysql/package.json
  templates/headless-postgres/package.json
Due: none

fix(studiocms): enhance rank validation in createResetLink endpoint
  .changeset/floppy-keys-shave.md
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
Due: integrations, studiocms

fix(users): Prevent unauthorized modification of user notification preferences
  .changeset/strict-socks-remain.md
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
Due: integrations, studiocms

fix(rest-api): Improve permission checks for user rank assignment
  .changeset/gold-canyons-cough.md
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, studiocms

fix(s3-storage): await authorization checks in S3ApiService methods (#1468)
  .changeset/social-mails-check.md
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
Due: none

fix(studiocms): enhance rank validation in createResetLink endpoint (#1470)
  .changeset/floppy-keys-shave.md
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
Due: integrations, studiocms

fix(users): Prevent unauthorized modification of user notification preferences (#1471)
  .changeset/strict-socks-remain.md
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
Due: integrations, studiocms

fix(rest-api): Improve permission checks for user rank assignment (#1472)
  .changeset/gold-canyons-cough.md
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, studiocms

fix(renovate): add Astro-related packages to ignoreDeps list
  .github/renovate.json
Due: none

fix(renovate): add Astro-related packages to ignoreDeps list (#1477)
  .github/renovate.json
Due: none

fix(api): improve user filtering logic in RestApiSecureHandler
  .changeset/itchy-tips-own.md
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, studiocms

feat(integration): add Astro integration definition and error handling
  packages/effectify/src/astro/integration.ts
Due: none

feat(integration): add defineIntegration utility inspired by astro-integration-kit
  .changeset/heavy-monkeys-fail.md
Due: none

feat(integration): enhance error handling in defineIntegration hooks
  packages/effectify/src/astro/integration.ts
Due: none

fix(api): improve user filtering logic in RestApiSecureHandler (#1480)
  .changeset/itchy-tips-own.md
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, studiocms

add scratchpad example
  packages/effectify/scratchpad/astro/integration.ts
Due: none

feat(integration): enhance error handling in defineIntegration by re-throwing EffectifyIntegrationHookError
  packages/effectify/src/astro/integration.ts
Due: none

feat(tests): add comprehensive tests for EffectifyIntegrationHookError and defineIntegration functionality
  packages/effectify/test/astro/integration.test.ts
Due: none

feat(codecov): include effectify package in coverage paths
  .codecov.yml
Due: none

feat(vitest): include effectify scripts in coverage paths
  vitest.config.ts
Due: none
