Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

fix: update 404 page to use config for title and description
  .changeset/social-beds-talk.md
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/pages/404.astro
Due: integrations, studiocms

feat: add Scalar API documentation support with customizable configuration options
  .changeset/tough-points-report.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/scripts/build-scalar.ts
  packages/@withstudiocms/api-spec/src/_internal/html.ts
  packages/@withstudiocms/api-spec/src/_internal/httpApiScalar.ts
  packages/@withstudiocms/api-spec/src/scalar.ts
  packages/@withstudiocms/api-spec/srv/index.ts
Due: tools-utils

fix: update 404 page to use config for title and description (#1231)
  .changeset/social-beds-talk.md
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/pages/404.astro
Due: integrations, studiocms

feat(api-spec): enhance REST API specification (#1229)
  .changeset/wise-pens-film.md
  knip.config.ts
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/_utils/build-partial-schema.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/middleware.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
  packages/@withstudiocms/api-spec/srv/index.ts
  packages/@withstudiocms/api-spec/tsconfig.json
  packages/@withstudiocms/api-spec/tsconfig.tspc.json
  packages/@withstudiocms/api-spec/tsdown.config.ts
  pnpm-lock.yaml
Due: tools-utils

feat(api-spec): add custom Scalar API documentation builder (#1232)
  .changeset/tough-points-report.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/scripts/build-scalar.ts
  packages/@withstudiocms/api-spec/src/_internal/html.ts
  packages/@withstudiocms/api-spec/src/_internal/httpApiScalar.ts
  packages/@withstudiocms/api-spec/src/scalar.ts
  packages/@withstudiocms/api-spec/srv/index.ts
Due: tools-utils

[ci] changesets
  .changeset/quick-emus-run.md
Due: none

Add changeset for terminal-link dependency update
  .changeset/lemon-geckos-grab.md
Due: none

fix(deps): update tsdown configuration to include inlineOnly and checks options
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/@withstudiocms/api-spec/tsdown.config.ts
  packages/create-studiocms/tsdown.config.ts
Due: tools-utils

fix(upgrade): update upgrade guide URL generation for versioning
  .changeset/floppy-days-eat.md
  packages/@studiocms/upgrade/src/steps/verify.ts
Due: none

feat(api): add SDK API specification and endpoints
  .changeset/tasty-pugs-train.md
  cspell.json
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/sdk/errors.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes.ts
Due: tools-utils

fix(api): correct endpoint method for full changelog to POST
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes.ts
Due: tools-utils

fix(upgrade): update upgrade guide URL generation for versioning (#1244)
  .changeset/floppy-days-eat.md
  packages/@studiocms/upgrade/src/steps/verify.ts
Due: none

feat(api): add SDK exports to package.json and index.ts
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/sdk/index.ts
Due: tools-utils

feat(api): add SDK API specification and endpoints (#1245)
  .changeset/tasty-pugs-train.md
  cspell.json
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/sdk/errors.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes.ts
Due: tools-utils

feat(auth): implement authentication API endpoints and error handling
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/auth/errors.ts
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/auth/schemas.ts
  packages/@withstudiocms/api-spec/src/index.ts
Due: tools-utils

feat(cspell): add new custom words for improved spell checking
  cspell.json
Due: none

feat(api-spec): add Auth API specification documentation
  .changeset/crisp-jobs-move.md
Due: none

feat(auth): enhance API schemas and endpoints for improved payload handling
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/auth/schemas.ts
Due: tools-utils

feat(auth): enhance success response annotations for login, logout, and OAuth endpoints
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
Due: tools-utils

refactor(api): rework path parameter setup for REST API to improve clarity and OpenAPI compatibility
  .changeset/real-dogs-bow.md
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
Due: tools-utils

refactor(api): move buildPartialSchema utility to internal directory for better organization
  packages/@withstudiocms/api-spec/src/_internal/build-partial-schema.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
Due: tools-utils

feat(api-spec): Implements Auth API spec (#1247)
  .changeset/crisp-jobs-move.md
  cspell.json
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/auth/errors.ts
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/auth/schemas.ts
  packages/@withstudiocms/api-spec/src/index.ts
Due: tools-utils

refactor(api): rework path parameter setup for REST API to improve clarity and OpenAPI compatibility (#1248)
  .changeset/real-dogs-bow.md
  packages/@withstudiocms/api-spec/src/_internal/build-partial-schema.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
Due: tools-utils

feat(api-spec): rework API spec naming conventions and simplify endpoint structure
  .changeset/mighty-llamas-wink.md
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes.ts
Due: tools-utils

refactor(package.json): update export file extensions to .mts and .mjs for consistency
  packages/@withstudiocms/api-spec/package.json
Due: tools-utils

fix: update import statements to use .mjs for compatibility with new tsdown version
  .changeset/afraid-results-tie.md
  packages/@studiocms/upgrade/upgrade.mjs
  packages/create-studiocms/create-studiocms.mjs
Due: none

feat(api-spec): rework API spec naming conventions and simplify endpoint structure (#1251)
  .changeset/mighty-llamas-wink.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/settings.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/users.ts
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes.ts
Due: tools-utils

fix: update import statements to use .mjs for compatibility with new tsdown version (#1252)
  .changeset/afraid-results-tie.md
  packages/@studiocms/upgrade/upgrade.mjs
  packages/create-studiocms/create-studiocms.mjs
Due: none

feat(api-spec): implement Integrations API specification and endpoints
  .changeset/tame-results-accept.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/integrations/errors.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/integrations/schemas.ts
  packages/@withstudiocms/api-spec/src/integrations/storage/index.ts
  pnpm-lock.yaml
Due: tools-utils

feat(api-spec): add DbStudio integration with query endpoint and schemas
  packages/@withstudiocms/api-spec/src/integrations/db-studio/index.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/integrations/schemas.ts
Due: tools-utils

chore(api-spec): add comments to categorize DbStudio and Storage Manager endpoints
  packages/@withstudiocms/api-spec/src/integrations/index.ts
Due: tools-utils

feat(api-spec): add astro-context export to package.json
  packages/@withstudiocms/api-spec/package.json
Due: tools-utils

fix(api-spec): update description for Integrations API to clarify internal integrations
  packages/@withstudiocms/api-spec/src/integrations/index.ts
Due: tools-utils

feat(api-spec): implement Integrations API specification and endpoints (#1253)
  .changeset/tame-results-accept.md
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/integrations/db-studio/index.ts
  packages/@withstudiocms/api-spec/src/integrations/errors.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/@withstudiocms/api-spec/src/integrations/schemas.ts
  packages/@withstudiocms/api-spec/src/integrations/storage/index.ts
  pnpm-lock.yaml
Due: tools-utils

feat: replace chalk with node:util's styleText for consistent styling across CLI outputs
  .changeset/three-pandas-smash.md
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/@withstudiocms/buildkit/lib/cmds/help.js
  packages/@withstudiocms/buildkit/package.json
  packages/@withstudiocms/buildkit/test/builder.test.js
  packages/studiocms/package.json
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/add/tryToInstallPlugins.ts
  packages/studiocms/src/cli/add/updateStudioCMSConfig.ts
  packages/studiocms/src/cli/add/validatePlugins.ts
  packages/studiocms/src/cli/crypto/genJWT/index.ts
  packages/studiocms/src/cli/init/steps/env.ts
  packages/studiocms/src/cli/init/steps/next.ts
  packages/studiocms/src/cli/migrator/index.ts
  packages/studiocms/src/cli/users/shared.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/utils/checkRequiredEnvVars.ts
  packages/studiocms/src/cli/utils/context.ts
  packages/studiocms/src/cli/utils/logger.ts
  packages/studiocms/src/cli/utils/user-utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/buildkit

feat(clack): update @clack/prompts to version 1.0.0 and add new prompt options
  .changeset/slick-sides-attend.md
  cspell.json
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/clack.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/effect

feat(clack): add CI and TTY environment checks with error handling
  packages/@withstudiocms/effect/src/clack.ts
Due: tools-utils, @withstudiocms/effect

fix: add validation for empty project directory and handle optional chaining in user input validation
  .changeset/mighty-buckets-send.md
  packages/create-studiocms/src/steps/projectName.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
Due: integrations, studiocms

feat: replace chalk with node:util's styleText for consistent styling across CLI outputs (#1254)
  .changeset/three-pandas-smash.md
  packages/@withstudiocms/buildkit/lib/cmds/builder.js
  packages/@withstudiocms/buildkit/lib/cmds/help.js
  packages/@withstudiocms/buildkit/package.json
  packages/@withstudiocms/buildkit/test/builder.test.js
  packages/studiocms/package.json
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/add/tryToInstallPlugins.ts
  packages/studiocms/src/cli/add/updateStudioCMSConfig.ts
  packages/studiocms/src/cli/add/validatePlugins.ts
  packages/studiocms/src/cli/crypto/genJWT/index.ts
  packages/studiocms/src/cli/init/steps/env.ts
  packages/studiocms/src/cli/init/steps/next.ts
  packages/studiocms/src/cli/migrator/index.ts
  packages/studiocms/src/cli/users/shared.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/utils/checkRequiredEnvVars.ts
  packages/studiocms/src/cli/utils/context.ts
  packages/studiocms/src/cli/utils/logger.ts
  packages/studiocms/src/cli/utils/user-utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/buildkit

feat(clack): update @clack/prompts to version 1.0.0 and add new prompt options (#1255)
  .changeset/mighty-buckets-send.md
  .changeset/slick-sides-attend.md
  cspell.json
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/clack.ts
  packages/create-studiocms/src/steps/projectName.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/effect
