Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Rename CNAME.txt to CNAME
  CNAME
  CNAME.txt
Due: none

Rename gitignore.txt to .gitignore
  .gitignore
Due: none

Rename nojekyll.txt to .nojekyll
  .nojekyll
  nojekyll.txt
Due: none

deploy: 1c8178ffdbbe5deb51b4a9be229eba1de4b90e59
  .nojekyll
  history.jsonl
Due: none

Ensure test pages deployment includes cname
  .github/workflows/ci-testing.yml
Due: none

correct readme badge link
  README.md
Due: none

add security policy
  SECURITY.md
Due: none

Ensure test pages deployment includes cname (#1604)
  .github/workflows/ci-testing.yml
  README.md
Due: none

deploy: 6281424163548176240dd8b1d5861e9ad3200dfe
  history.jsonl
Due: none

Replace tsdown bundler with Vite loader
  .changeset/nice-books-mate.md
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/loader.ts
  packages/@withstudiocms/config-utils/src/types.ts
  packages/@withstudiocms/config-utils/src/utils/createMinimalViteDevServer.ts
  packages/@withstudiocms/config-utils/src/utils/dynamicResult.ts
  packages/@withstudiocms/config-utils/src/utils/index.ts
  packages/@withstudiocms/config-utils/src/utils/tryCatch.ts
  packages/@withstudiocms/config-utils/src/utils/vite-plugin-load-fallback.ts
  packages/@withstudiocms/config-utils/test/loader.test.ts
  packages/@withstudiocms/config-utils/test/utils/tryCatch.test.ts
  packages/studiocms/src/cli/utils/loadConfig.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/config-utils

lint
  packages/@withstudiocms/config-utils/src/loader.ts
  packages/studiocms/src/cli/utils/loadConfig.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/config-utils

more cleanup
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/db/plugins.ts
Due: integrations, studiocms

LINT
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/db/plugins.ts
Due: integrations, studiocms

tests
  packages/@withstudiocms/config-utils/test/fixtures/loader-js/example.config.js
  packages/@withstudiocms/config-utils/test/fixtures/loader-ts/example.config.ts
  packages/@withstudiocms/config-utils/test/loader.test.ts
Due: tools-utils, @withstudiocms/config-utils

apply code suggestions
  .changeset/nice-books-mate.md
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/loader.ts
  packages/studiocms/src/cli/utils/loadConfig.ts
  packages/studiocms/src/db/plugins.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/config-utils

lint
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
Due: tools-utils, @withstudiocms/config-utils

add more test cases
  packages/@withstudiocms/config-utils/test/fixtures/loader-both/example.config.js
  packages/@withstudiocms/config-utils/test/fixtures/loader-both/example.config.ts
  packages/@withstudiocms/config-utils/test/fixtures/loader-neither/.gitkeep
  packages/@withstudiocms/config-utils/test/loader.test.ts
Due: tools-utils, @withstudiocms/config-utils

lint
  packages/@withstudiocms/config-utils/test/loader.test.ts
Due: tools-utils, @withstudiocms/config-utils

Replace tsdown with Vite for bundling and update loader API (#1606)
  .changeset/nice-books-mate.md
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/loader.ts
  packages/@withstudiocms/config-utils/src/types.ts
  packages/@withstudiocms/config-utils/src/utils/createMinimalViteDevServer.ts
  packages/@withstudiocms/config-utils/src/utils/dynamicResult.ts
  packages/@withstudiocms/config-utils/src/utils/index.ts
  packages/@withstudiocms/config-utils/src/utils/tryCatch.ts
  packages/@withstudiocms/config-utils/src/utils/vite-plugin-load-fallback.ts
  packages/@withstudiocms/config-utils/test/fixtures/loader-both/example.config.js
  packages/@withstudiocms/config-utils/test/fixtures/loader-both/example.config.ts
  packages/@withstudiocms/config-utils/test/fixtures/loader-js/example.config.js
  packages/@withstudiocms/config-utils/test/fixtures/loader-neither/.gitkeep
  packages/@withstudiocms/config-utils/test/fixtures/loader-ts/example.config.ts
  packages/@withstudiocms/config-utils/test/loader.test.ts
  packages/@withstudiocms/config-utils/test/utils/tryCatch.test.ts
  packages/studiocms/src/cli/debug/index.ts
  packages/studiocms/src/cli/utils/loadConfig.ts
  packages/studiocms/src/db/plugins.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/config-utils

api types cleanup
  .changeset/curly-rivers-rule.md
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

Update .changeset/curly-rivers-rule.md
  .changeset/curly-rivers-rule.md
Due: none

Clean up client API types (#1607)
  .changeset/curly-rivers-rule.md
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

tweak tsdown config for internal helpers
  packages/@withstudiocms/internal_helpers/tsdown.config.ts
Due: tools-utils, @withstudiocms/internal_helpers

lint
  packages/@withstudiocms/internal_helpers/tsdown.config.ts
Due: tools-utils, @withstudiocms/internal_helpers

Tweak tsdown configuration for internal helpers (#1609)
  packages/@withstudiocms/internal_helpers/tsdown.config.ts
Due: tools-utils, @withstudiocms/internal_helpers

Update changesets
  .changeset/dark-dogs-make.md
  .changeset/eighty-views-knock.md
  .changeset/mighty-houses-listen.md
  .changeset/public-bats-do.md
Due: none

update tests
  packages/@studiocms/oauth/src/google/index.ts
  packages/@studiocms/oauth/test/github/index.test.ts
  packages/@studiocms/oauth/test/google/index.test.ts
Due: none

lint
  knip.config.ts
  packages/@studiocms/oauth/src/auth0/index.ts
  packages/@studiocms/oauth/src/discord/index.ts
  packages/@studiocms/oauth/src/github/index.ts
Due: none

update root readme
  README.md
Due: none

more deduplication
  packages/@studiocms/oauth/src/auth0/effect.ts
  packages/@studiocms/oauth/src/discord/effect.ts
  packages/@studiocms/oauth/src/github/effect.ts
  packages/@studiocms/oauth/src/google/effect.ts
  packages/@studiocms/oauth/src/shared.ts
Due: none

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**
