Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

refactor: streamline form data handling in CreatePage and EditPage components
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
Due: integrations, studiocms

fix: correct spelling of 'grey' to 'gray' in createClackMessageUpdate function
  packages/@withstudiocms/cli-kit/src/messages.ts
Due: tools-utils, @withstudiocms/cli-kit

fix: wrap inline script in IIFE to avoid top-level return (fixes #1555)
  packages/studiocms/frontend/components/shared/Code.astro
Due: integrations, studiocms

fix: Refactor zodToEffect function for better type inference and add tests for schema conversion
  packages/effectify/src/zod.ts
  packages/effectify/test/zod.types.test.ts
Due: none

fix: Add changeset for zod to Effect type conversion
  .changeset/grumpy-swans-lose.md
Due: none

fix: Update Node.js version to 22.22.2 in configuration files
  .node-version
  .prototools
  package.json
Due: none

revert node changes
  .node-version
  .prototools
  package.json
Due: none

fix: Update action references to latest commit for consistency across workflows
  .github/actions/effect-check/action.yml
  .github/actions/type-check/action.yml
  .github/workflows/ci-bot-changesets.yml
  .github/workflows/ci-check-changeset.yml
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-report-bot.yml
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-testing.yml
Due: none

lint
  packages/effectify/src/zod.ts
  packages/effectify/test/zod.types.test.ts
  playground/astro.config.mts
Due: none

fix: Update UsersTableBase schema to omit additional fields for improved data handling
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
Due: tools-utils

fix: Restrict data exposure on public RestAPI endpoints to enhance privacy
  .changeset/itchy-donkeys-mix.md
Due: none

Refactor zodToEffect for improved type inference and add tests (#1559)
  .changeset/grumpy-swans-lose.md
  .github/actions/effect-check/action.yml
  .github/actions/type-check/action.yml
  .github/workflows/ci-bot-changesets.yml
  .github/workflows/ci-check-changeset.yml
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-report-bot.yml
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-testing.yml
  packages/effectify/src/zod.ts
  packages/effectify/test/zod.types.test.ts
  playground/astro.config.mts
Due: none

Restrict data exposure on public RestAPI endpoints (#1560)
  .changeset/itchy-donkeys-mix.md
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
Due: tools-utils

Add changeset for studiocms dependency update
  .changeset/honest-mails-jog.md
Due: none

refactor(ci): remove unused Zizmor security analysis job and clean up comments
  .github/workflows/ci-checks.yml
Due: none

refactor(ci): remove unused Zizmor security analysis job and clean up comments (#1561)
  .github/workflows/ci-checks.yml
Due: none

lint
  biome.json
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/rehype-collect-headings.ts
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/panels/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/oauth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/resetPassword.ts
  packages/studiocms/src/plugins/analytics/assets/dashboard-grid-items/SummaryCard.astro
  packages/studiocms/src/test-utils.ts
  packages/studiocms/src/virtuals/i18n/plugin.ts
Due: integrations, plugins, studiocms, @studiocms/wysiwyg

fix(errors): update QueryParseError methods to use arrow functions for proper context binding
  packages/@withstudiocms/kysely/src/core/errors.ts
Due: tools-utils, @withstudiocms/kysely

style(errors): format class declarations for consistency
  packages/@withstudiocms/kysely/src/core/errors.ts
Due: tools-utils, @withstudiocms/kysely

lint
  packages/@withstudiocms/kysely/src/core/errors.ts
Due: tools-utils, @withstudiocms/kysely

chore(deps): add patch updates for markdown-remark, kysely, wysiwyg, and studiocms
  .changeset/three-jobs-punch.md
Due: none

refactor(migrator): clean up import statements and formatting
  packages/@withstudiocms/kysely/src/core/migrator.ts
Due: tools-utils, @withstudiocms/kysely

fix: downgrade kysely version from 0.29.3 to 0.28.17 in pnpm-workspace.yaml
  .github/renovate.json
  packages/@withstudiocms/kysely/src/core/migrator.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tools-utils, @withstudiocms/kysely

refactor(migrator): improve formatting of kyselyMigrator function
  packages/@withstudiocms/kysely/src/core/migrator.ts
Due: tools-utils, @withstudiocms/kysely

refactor(basics): simplify conditional rendering and improve code readability
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/blocks/basics.ts
Due: plugins, @studiocms/wysiwyg

refactor(basics): improve formatting of style injection in block definitions
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/blocks/basics.ts
Due: plugins, @studiocms/wysiwyg

refactor(shared): remove unused spread operator from createStudioCMSMD options
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/src/lib/shared.ts
Due: plugins, @studiocms/md

refactor(tests): update snapshot files to use HTML entity encoding for attributes
  packages/@studiocms/blog/test/layouts/__snapshots__/Layout.test.ts.snap
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Editor.test.ts.snap
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/__snapshots__/virtuals.components.test.ts.snap
Due: integrations, plugins, studiocms, @studiocms/blog, @studiocms/wysiwyg

chore(dependencies): add patch updates for @studiocms/wysiwyg and @studiocms/md
  .changeset/lazy-buckets-double.md
Due: none

[ci] changesets
  .changeset/shy-coins-flow.md
Due: none

fix(deps): update command type definitions for GrapesJS compatibility
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/commands/index.ts
Due: plugins, @studiocms/wysiwyg

fix(deps): format AddCmd function for improved readability
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/commands/index.ts
Due: plugins, @studiocms/wysiwyg

chore: remove astro-integration-kit dependency and update related utilities
  .changeset/public-bats-do.md
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/astro-integration/addIntegrationArray.ts
  packages/@withstudiocms/internal_helpers/src/astro-integration/injectScripts.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/config-utils, @withstudiocms/internal_helpers

chore: remove astro-integration-kit dependency from component-registry and lockfile
  packages/@withstudiocms/component-registry/package.json
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/component-registry

chore: remove unused rendering hook tests from multiple plugin test files
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/markdoc/test/index.test.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/mdx/test/index.test.ts
  packages/@withstudiocms/component-registry/src/utils.ts
Due: plugins, tools-utils, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @withstudiocms/component-registry

feat(internal_helpers): introduce addVirtualImports for Astro integration
  .changeset/eager-mirrors-write.md
  .changeset/eight-meals-invent.md
  .changeset/seven-socks-wink.md
  packages/@studiocms/blog/package.json
  packages/@studiocms/blog/src/index.ts
  packages/@studiocms/blog/vitest.config.ts
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/src/index.ts
  packages/@studiocms/html/package.json
  packages/@studiocms/html/vitest.config.ts
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdoc/vitest.config.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/markdown-remark/src/integration/integration-utils.ts
  packages/@studiocms/md/package.json
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/vitest.config.ts
  packages/@studiocms/mdx/package.json
  packages/@studiocms/mdx/src/index.ts
  packages/@studiocms/mdx/vitest.config.ts
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/vitest.config.ts
  packages/@withstudiocms/component-registry/package.json
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/astro-integration/addVirtualImports.ts
  packages/@withstudiocms/internal_helpers/src/astro-integration/index.ts
  packages/@withstudiocms/internal_helpers/src/vite/index.ts
  packages/@withstudiocms/internal_helpers/src/vite/virtualImportsPlugin.ts
  packages/@withstudiocms/internal_helpers/test/virtualImportsPlugin.test.ts
  packages/studiocms/tsconfig.json
  pnpm-lock.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/blog, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/component-registry, @withstudiocms/internal_helpers

refactor: remove astro-integration-kit dependency and update imports to internal_helpers
  packages/studiocms/package.json
  packages/studiocms/src/handlers/astroConfigCheck.ts
  packages/studiocms/src/handlers/changelog.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/routeHandler.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/integrations/dynamic-sitemap/index.ts
  packages/studiocms/src/integrations/node-namespace.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/test/virtuals/utils.test.ts
  packages/studiocms/vitest.config.ts
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**
