Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

fix(migrator): improve SaveError handling to provide clearer error messages on ID conflicts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils, @withstudiocms/kysely

fix(@studiocms/md): migrate to new `@studiocms/markdown-remark` package (#1370)
  .changeset/sweet-meals-join.md
  .changeset/wicked-lights-battle.md
  packages/@studiocms/markdown-remark/src/core/plugin-utils/import-plugin.ts
  packages/@studiocms/md/package.json
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/test/lib/markdown-prerender.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: plugins, @studiocms/md

fix(migrator): handle concurrent schema updates to prevent errors (#1372)
  .changeset/eager-hairs-obey.md
  packages/@withstudiocms/kysely/src/utils/errors.ts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/src/utils/types.ts
Due: tools-utils, @withstudiocms/kysely

feat(api): rework API handling and migrate to Effect HttpApi Spec
  .changeset/old-jobs-relate.md
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
  packages/studiocms/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

feat(api): enhance API with new integrations and dynamic HTTP handler types
  .changeset/pretty-months-drive.md
  packages/@withstudiocms/api-spec/src/astro-context.ts
  packages/@withstudiocms/api-spec/src/integrations/routes/db-studio.ts
  packages/effectify/package.json
  packages/effectify/src/httpApi.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/db-studio-driver.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/parseLogLevel.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integrations.ts
  packages/studiocms/frontend/pages/studiocms_api/_middleware/astroLocals.ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/db-studio.ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[type]/_routes/storage.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/storage-manager/core/effectify-astro-context.ts
Due: integrations, tools-utils, studiocms

feat(api): add schema tweaks for better alignment with real API
  .changeset/stale-cities-float.md
Due: none

feat(api): implement API clients for authentication, dashboard, integrations, REST, and SDK
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integrations.ts
  packages/studiocms/package.json
  packages/studiocms/src/client/apiClient.ts
Due: integrations, studiocms

feat(api): add consistent error handling for storage manager requests
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integrations.ts
Due: integrations, studiocms

feat(api): remove unused API handlers index file
  packages/studiocms/frontend/pages/studiocms_api/_handlers/index.ts
Due: integrations, studiocms

feat(api): enhance API documentation and routing structure with new integration and SDK routes
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/package.json
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, studiocms

feat(api): add type annotations for API routes to improve type safety
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/integrations/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/sdk/[...path].ts
Due: integrations, studiocms

feat(api): add route configuration retrieval and virtual imports for StudioCMS
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/routeHandler.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

feat(api): enhance routeHandler to retrieve and process route and Astro project configurations in parallel
  packages/studiocms/src/handlers/routeHandler.ts
Due: integrations, studiocms

feat(api): mark routes for future replacement with combined API route
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, studiocms

feat(api): implement authentication API handlers for login, logout, and password reset
  packages/@withstudiocms/api-spec/src/auth/routes/basePaths.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
Due: integrations, tools-utils, studiocms

feat(api): implement OAuth handlers and restructure auth utilities
  packages/@withstudiocms/api-spec/src/auth/routes/oAuthPaths.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
Due: integrations, tools-utils, studiocms

feat(api): integrate Auth API handlers into the main API collection
  packages/studiocms/frontend/pages/studiocms_api/[...all].ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
Due: integrations, studiocms

feat(api): enhance OAuth handlers to return 404 for disabled providers and improve error handling
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
Due: integrations, studiocms

feat(api): consolidate Auth API handlers into a single Astro route and remove unused effects
  packages/studiocms/frontend/pages/studiocms_api/auth/[path].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/auth/[provider]/_effects/index.ts
Due: integrations, studiocms

feat(api): refactor changelog processing and enhance auth registration error handling
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, studiocms

feat(api): enhance authentication and integrations APIs with new handlers and improved structure
  packages/@withstudiocms/api-spec/src/auth/index.ts
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/integrations/index.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integrations.ts
Due: integrations, tools-utils, studiocms

fix(api): correct destructuring in AstroLocalsAuthLive for improved clarity
  packages/studiocms/frontend/pages/studiocms_api/_middleware/astroLocals.ts
Due: integrations, studiocms

feat(api): enhance error handling and documentation in authentication and changelog utilities
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/db-studio-driver.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/parseLogLevel.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
Due: integrations, studiocms

fix(api): simplify listPages handler by consolidating mapping logic
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, studiocms

refactor(api): streamline API client creation by consolidating client initialization logic
  packages/studiocms/src/client/apiClient.ts
Due: integrations, studiocms

feat(api): add peerDependencies and enhance API client imports for improved structure
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/src/tables.ts
  packages/studiocms/frontend/components/dashboard/sidebar/VersionCheck.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integrations.ts
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/sdk

feat(api): enhance error handling in auth, integrations, and sdk handlers
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/integrations.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, studiocms

feat(api): refactor error handling in SDK API to use centralized catchError utility
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, studiocms

feat(api): enhance SDK API response handling with utility functions for changelog, pages, and version responses
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, studiocms

feat(api): implement full changelog request handling and improve version update error management
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/studiocms/frontend/components/dashboard/sidebar/VersionCheck.astro
  packages/studiocms/frontend/components/dashboard/sidebar/VersionCheckChangelog.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, tools-utils, studiocms

feat(api): remove unused endpoints and improve type safety in user management components
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/PageTypeHandler.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItem.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, tools-utils, studiocms

feat(api): update user data types to use CombinedUserData for improved consistency
  packages/studiocms/frontend/pages/studiocms_api/partials/user-list-items.astro
Due: integrations, studiocms

feat(api): enhance DbStudioElement to use Effect for executing SQL queries and improve error handling
  packages/studiocms/src/toolbar/db-viewer/db-shared-types.ts
  packages/studiocms/src/toolbar/db-viewer/viewer.ts
Due: integrations, studiocms

feat(api): enhance signup and login forms with Effect for improved error handling and validation
  packages/studiocms/frontend/pages/[dashboard]/login.astro
  packages/studiocms/frontend/pages/[dashboard]/signup.astro
Due: integrations, studiocms

feat(api): remove now unused formListener function for login and registration forms
  packages/studiocms/frontend/scripts/auth/formListener.ts
Due: integrations, studiocms

feat(api): fix import to correct module for server-only code
  .changeset/red-cars-film.md
  .changeset/shaggy-pears-press.md
Due: none

feat(api): remove unused formListener test file
  packages/studiocms/test/components/formListener.test.ts
Due: integrations, studiocms

feat(rendering): extend rendering functionality to support site-wide and page-specific post-processors
  .changeset/icy-pandas-trade.md
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/types.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/components/Renderer.astro
  packages/studiocms/src/virtuals/components/renderFn.ts
Due: integrations, studiocms

fix(rendering): rename pluginPostProcessors to renderPostProcessors for consistency
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/components/Renderer.astro
Due: integrations, studiocms

fix(rendering): add export for renderPostProcessors in vitest configuration
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**
