Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

feat(delete): integrate cache invalidation for deleted tags and categories
  packages/@withstudiocms/sdk/src/modules/delete/index.ts
Due: tools-utils

feat(taxonomy): enhance dynamic entry handling and improve context menu management
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/TaxonomySearch.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeLeaf.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeNode.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeRenderer.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/shared-client.ts
Due: integrations, studiocms

feat(taxonomy): improve error handling for entries parsing and enhance taxonomy node event management
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/TaxonomySearch.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeNode.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/shared-client.ts
Due: integrations, studiocms

feat(taxonomy): update event names for collapsing and expanding taxonomy nodes
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeNode.astro
Due: integrations, studiocms

fix(taxonomy): update type casting for cloned template in DynamicKeyValuePair
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
Due: integrations, studiocms

feat(taxonomy): enhance accessibility and validation for dynamic key-value pairs
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
Due: integrations, studiocms

style(taxonomy): update styling for dynamic key-value pair component
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
Due: integrations, studiocms

style(taxonomy): remove commented-out styles from dynamic key-value pair component
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
Due: integrations, studiocms

feat(taxonomy): enhance validation and cleanup for dynamic key-value pairs
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
Due: integrations, studiocms

feat(taxonomy): add alert messages for empty and duplicate keys in dynamic key-value pair
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

fix(taxonomy): update fallback message for empty keys in dynamic key-value pair
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
Due: integrations, studiocms

feat(taxonomy): implement REST API for taxonomy management with parameter extraction and validation
  .changeset/loud-peaches-itch.md
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/param-extractor.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/index.ts
Due: integrations, studiocms

fix(taxonomy): correct logger parameter in GET request for taxonomy API
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/[id].ts
Due: integrations, studiocms

fix(tests): simplify footer HTML structure validation in tests
  packages/@studiocms/blog/test/components/index.test.ts
  packages/@studiocms/blog/test/layouts/Layout.test.ts
  packages/@studiocms/blog/test/test-utils.ts
Due: plugins, @studiocms/blog

feat(taxonomy): enhance REST API with GET, PATCH, and DELETE methods for taxonomy management
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
Due: integrations, studiocms

feat(taxonomy): implement PATCH and DELETE methods for taxonomy management in REST API
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/build-partial-schema.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/index.ts
Due: integrations, studiocms

feat(routes): add REST API routes for dynamic taxonomy handling
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/param-extractor.ts
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, studiocms

fix(config): filter out 'migrator' from studiocmsScopedPackages in astro.config
  playground/astro.config.mts
Due: none

feat(taxonomy): implement taxonomy pages and utilities (#1117)
  .changeset/common-clubs-sink.md
  .changeset/thin-sloths-mate.md
  packages/@studiocms/devapps/src/index.ts
  packages/@withstudiocms/sdk/src/consts.ts
  packages/@withstudiocms/sdk/src/modules/delete/index.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/studiocms/frontend/components/dashboard/sidebarConfig.ts
  packages/studiocms/frontend/components/dashboard/taxonomy/InnerSidebarElement.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/TaxonomySearch.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/utils.ts
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeLeaf.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeNode.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeNodeTree.astro
  packages/studiocms/frontend/components/shared/taxonomy/TaxonomyTreeRenderer.astro
  packages/studiocms/frontend/components/shared/taxonomy/shared.ts
  packages/studiocms/frontend/layouts/TaxonomyLayout.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/index.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/shared-client.ts
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/studiocms_api/dashboard/taxonomy-search.ts
  packages/studiocms/frontend/pages/studiocms_api/dashboard/taxonomy.ts
  packages/studiocms/frontend/styles/folder-tree.css
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/virtuals/i18n/translations/en.json
  packages/studiocms/src/virtuals/lib/routeMap.ts
  packages/studiocms/src/virtuals/notifier/client.ts
  packages/studiocms/src/virtuals/notifier/index.ts
  packages/studiocms/test/virtuals/notifier/client.test.ts
Due: integrations, tools-utils, studiocms, @studiocms/devapps

fix(schema): update type guard and partial schema documentation for clarity
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/build-partial-schema.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/index.ts
Due: integrations, studiocms

feat(taxonomy): implement REST API for taxonomy management (#1119)
  .changeset/loud-peaches-itch.md
  packages/@studiocms/blog/test/components/index.test.ts
  packages/@studiocms/blog/test/layouts/Layout.test.ts
  packages/@studiocms/blog/test/test-utils.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/build-partial-schema.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/param-extractor.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/index.ts
  packages/studiocms/src/handlers/frontend/routes.ts
  playground/astro.config.mts
Due: integrations, plugins, studiocms, @studiocms/blog

feat(cli): implement input validation prompts for user creation and modification
  .changeset/young-adults-rest.md
  packages/studiocms/src/cli/users/shared.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
Due: integrations, studiocms

fix(cli): streamline password prompts for user creation
  packages/studiocms/src/cli/users/steps/createUsers.ts
Due: integrations, studiocms

fix: improve ID generation for categories and tags, enabling proper entry handling in pageData
  .changeset/cyan-groups-relax.md
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/shared.ts
  packages/studiocms/frontend/components/dashboard/sidebar-modals/UserManagementModals.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/layouts/TaxonomyLayout.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/shared-client.ts
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/studiocms_api/dashboard/taxonomy.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/index.ts
Due: integrations, tools-utils, studiocms

fix: update placeholders for categories and tags selection to reflect availability
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
Due: integrations, studiocms

fix: refine category editing logic and update UI component imports
  packages/studiocms/frontend/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/studiocms_api/dashboard/taxonomy.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

fix: update @studiocms/ui version to 1.0.0-beta.5 in lockfile and workspace configuration
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(cli): rework input validation prompts for user creation and modification (#1126)
  .changeset/young-adults-rest.md
  packages/studiocms/src/cli/users/shared.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
Due: integrations, studiocms

fix: update tag handling in EditPage and improve ID assignment logic in taxonomy API
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/pages/studiocms_api/dashboard/taxonomy.ts
Due: integrations, studiocms

feat: enable multiple selection for categories and tags in CreatePage
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
Due: integrations, studiocms

feat: replace @libsql/kysely-libsql with kysely-turso across the project
  .changeset/rich-mirrors-refuse.md
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-headless/package.json
  knip.config.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/drivers/libsql.ts
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/studiocms/src/consts.ts
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms

New Crowdin translations by GitHub Action
  packages/studiocms/src/virtuals/i18n/translations/de.json
  packages/studiocms/src/virtuals/i18n/translations/es.json
  packages/studiocms/src/virtuals/i18n/translations/fr.json
  packages/studiocms/src/virtuals/i18n/translations/nl.json
  packages/studiocms/src/virtuals/i18n/translations/no.json
  packages/studiocms/src/virtuals/i18n/translations/zh.json
Due: integrations, studiocms

refactor: change dialect property to a getter for improved encapsulation
  packages/@withstudiocms/kysely/src/test-utils.ts
Due: tools-utils

fix(ci): correct client-payload syntax in Crowdin sync workflow
  .github/workflows/ci-crowdin-sync.yml
Due: none

fix: correct dependency name from @libsql/kysely-client to @libsql/kysely-libsql in changeset
  .changeset/rich-mirrors-refuse.md
Due: none

feat(studiocms) migrate from `@libsql/kysely-libsql` to `kysely-turso` (#1129)
  .changeset/rich-mirrors-refuse.md
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-headless/package.json
  knip.config.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/drivers/libsql.ts
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/studiocms/src/consts.ts
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms

fix(ci): correct client-payload syntax in Crowdin sync workflow (#1131)
  .github/workflows/ci-crowdin-sync.yml
Due: none

feat(studiocms) Improve taxonomy handling and allow pages to utilize the new feature (#1128)
  .changeset/cyan-groups-relax.md
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/shared.ts
  packages/studiocms/frontend/components/dashboard/sidebar-modals/UserManagementModals.astro
  packages/studiocms/frontend/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/layouts/TaxonomyLayout.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/shared-client.ts
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/studiocms_api/dashboard/taxonomy.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/[taxonomy]/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms

feat(studiocms): refactor REST API structure and consolidate routes
  .changeset/clear-items-wonder.md
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/rest-router.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[taxonomy]/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/[...id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/categories.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/folders.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/pages.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/_routes/tags.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/folders/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/folders/index.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/pages/[id].ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/pages/index.ts
  packages/studiocms/src/handlers/frontend/routes.ts
Due: integrations, studiocms

feat(studiocms): refactor createRestRouter invocation for improved readability
  packages/studiocms/frontend/pages/studiocms_api/rest/utils/rest-router.ts
  packages/studiocms/frontend/pages/studiocms_api/rest/v1/public/[type]/[...id].ts
Due: integrations, studiocms

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
