Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

fix: update @biomejs/biome dependency version to 2.3.2 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

feat: add SDKResetTokenBucketModule for managing reset tokens with database integration
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/index.ts
  packages/@withstudiocms/sdk/src/modules/resetTokenBucket/index.ts
Due: tools-utils

feat: implement SDKNotificationSettingsModule for managing site notification settings
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/context.ts
  packages/@withstudiocms/sdk/src/index.ts
  packages/@withstudiocms/sdk/src/modules/notificationSettings/index.ts
Due: tools-utils

feat: add default exports for SDK modules in the SDK package
  packages/@withstudiocms/sdk/src/cache.ts
  packages/@withstudiocms/sdk/src/index.ts
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
  packages/@withstudiocms/sdk/src/modules/notificationSettings/index.ts
  packages/@withstudiocms/sdk/src/modules/resetTokenBucket/index.ts
  packages/@withstudiocms/sdk/src/modules/rest_api/index.ts
  packages/@withstudiocms/sdk/src/modules/util/index.ts
Due: tools-utils

feat: refactor SDK module imports and create aggregated SDKModules index
  packages/@withstudiocms/sdk/src/index.ts
  packages/@withstudiocms/sdk/src/modules/index.ts
Due: tools-utils

feat: add SDKInitModule for initializing core SDK utilities and update SDKModules index
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/modules/index.ts
  packages/@withstudiocms/sdk/src/modules/init/index.ts
Due: tools-utils

feat: update SDKInitModule to use initialized siteConfig and ghostUser functions
  packages/@withstudiocms/sdk/src/modules/init/index.ts
Due: tools-utils

feat: implement SDKPluginsModule for managing plugin data with caching and validation
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/consts.ts
  packages/@withstudiocms/sdk/src/lib/pluginUtils.ts
  packages/@withstudiocms/sdk/src/modules/index.ts
  packages/@withstudiocms/sdk/src/modules/plugins/index.ts
Due: tools-utils

feat: reorder SDKModules exports for improved organization
  packages/@withstudiocms/sdk/src/modules/index.ts
Due: tools-utils

feat: add SDKGetModule for enhanced data retrieval and caching operations
  packages/@withstudiocms/sdk/src/consts.ts
  packages/@withstudiocms/sdk/src/lib/utils.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
  packages/@withstudiocms/sdk/src/modules/index.ts
  packages/@withstudiocms/sdk/src/modules/util/users.ts
Due: tools-utils

feat: implement SDKClearModule for cache-clearing operations and update SDKModules index
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/modules/clear/index.ts
  packages/@withstudiocms/sdk/src/modules/index.ts
Due: tools-utils

style: improve comment formatting in SDKModules index for better readability
  packages/@withstudiocms/sdk/src/modules/index.ts
Due: tools-utils

feat: implement SDKUpdateModule for updating page content and related operations
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/modules/index.ts
  packages/@withstudiocms/sdk/src/modules/update/index.ts
Due: tools-utils

feat: enhance SDKUpdateModule with CombinedPageUpdateData type for improved data handling
  packages/@withstudiocms/sdk/src/modules/update/index.ts
Due: tools-utils

feat: implement SDKDeleteModule for comprehensive deletion operations in the SDK
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/modules/delete/index.ts
  packages/@withstudiocms/sdk/src/modules/index.ts
Due: tools-utils

feat: add SDKMiddlewareModule for middleware cache management and verification
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/consts.ts
  packages/@withstudiocms/sdk/src/modules/index.ts
  packages/@withstudiocms/sdk/src/modules/middleware/index.ts
  packages/@withstudiocms/sdk/src/modules/plugins/index.ts
Due: tools-utils

feat: implement SDKPostModule for page insertion and related operations
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/src/modules/index.ts
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/@withstudiocms/sdk/src/types.ts
Due: tools-utils

feat: enhance SDKPostModule with UUID generation for page data insertion
  packages/@withstudiocms/sdk/src/modules/post/index.ts
Due: tools-utils

feat: update README and package.json with comprehensive SDK description
  packages/@withstudiocms/sdk/README.md
  packages/@withstudiocms/sdk/package.json
Due: tools-utils

feat: enhance README with detailed features and usage information
  packages/@withstudiocms/kysely/README.md
Due: tools-utils

feat: add description to package.json for clarity on SDK functionality
  packages/@withstudiocms/kysely/package.json
Due: tools-utils

feat: add Kysely and SDK components to Codecov configuration and Vitest projects
  .codecov.yml
  vitest.config.ts
Due: none

feat: add 'sdk' to projectsWithTests in Vitest configuration
  vitest.config.ts
Due: none

fix: update import paths for UI components to use client versions
  packages/studiocms/src/frontend/components/dashboard/DoubleSidebar.astro
  packages/studiocms/src/frontend/components/dashboard/MainSidebarContent.astro
  packages/studiocms/src/frontend/components/dashboard/SingleSidebar.astro
  packages/studiocms/src/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/CreateFolder.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/InnerSidebarElement.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/src/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/src/frontend/components/dashboard/profile/BasicInfo.astro
  packages/studiocms/src/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/src/frontend/components/dashboard/profile/UpdatePassword.astro
  packages/studiocms/src/frontend/components/dashboard/sidebar/VersionCheck.astro
  packages/studiocms/src/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/src/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/src/frontend/pages/[dashboard]/login.astro
  packages/studiocms/src/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/src/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/src/frontend/pages/[dashboard]/unverified-email.astro
  packages/studiocms/src/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/src/frontend/scripts/auth/formListener.ts
  packages/studiocms/src/virtuals/i18n/LanguageSelector.astro
  packages/studiocms/src/virtuals/scripts/template-editor.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

fix: resolve Astro picocolor bug affecting StudioCMS UI and dev environments
  .changeset/rare-sites-add.md
Due: none

fix: update query selectors for dropdown options and improve selected value display
  packages/studiocms/src/virtuals/i18n/client.ts
  packages/studiocms/src/virtuals/scripts/template-editor.ts
Due: integrations, studiocms

fix: update @studiocms/ui version to 1.0.0-beta.4 in pnpm-lock and pnpm-workspace files
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: rename callback parameter from 'c' to 'client' for clarity in database operations
  packages/@withstudiocms/sdk/src/lib/utils.ts
  packages/@withstudiocms/sdk/src/modules/config/index.ts
Due: tools-utils

Fixes Astro picocolor bug (#973)
  .changeset/rare-sites-add.md
  packages/studiocms/src/frontend/components/dashboard/DoubleSidebar.astro
  packages/studiocms/src/frontend/components/dashboard/MainSidebarContent.astro
  packages/studiocms/src/frontend/components/dashboard/SingleSidebar.astro
  packages/studiocms/src/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/CreateFolder.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/InnerSidebarElement.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/src/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/src/frontend/components/dashboard/profile/BasicInfo.astro
  packages/studiocms/src/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/src/frontend/components/dashboard/profile/UpdatePassword.astro
  packages/studiocms/src/frontend/components/dashboard/sidebar/VersionCheck.astro
  packages/studiocms/src/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/src/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/src/frontend/pages/[dashboard]/login.astro
  packages/studiocms/src/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/src/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/src/frontend/pages/[dashboard]/unverified-email.astro
  packages/studiocms/src/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/src/frontend/scripts/auth/formListener.ts
  packages/studiocms/src/virtuals/i18n/LanguageSelector.astro
  packages/studiocms/src/virtuals/i18n/client.ts
  packages/studiocms/src/virtuals/scripts/template-editor.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

[ci] changesets
  .changeset/open-islands-glow.md
Due: none

chore: update pnpm workspace configuration and dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: standardize quotes in pnpm workspace configuration
  pnpm-workspace.yaml
Due: none

fix(deps) update effect deps (#977)
  .changeset/open-islands-glow.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: clean up component registry code and improve error handling
  .changeset/better-kiwis-create.md
  packages/@withstudiocms/component-registry/src/registry/PropsParser.ts
  packages/@withstudiocms/component-registry/src/registry/Registry.ts
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/component-registry/src/utils.ts
Due: tools-utils, @withstudiocms/component-registry

test: add resolver tests to utility test suite
  packages/@withstudiocms/component-registry/test/registry/handler.test.ts
  packages/@withstudiocms/component-registry/test/utils.test.ts
Due: tools-utils, @withstudiocms/component-registry

test: update PropsParser and ComponentRegistry tests to handle empty props gracefully
  packages/@withstudiocms/component-registry/test/Registry.test.ts
  packages/@withstudiocms/component-registry/test/registry/PropsParser.test.ts
Due: tools-utils, @withstudiocms/component-registry

fix: handle empty parsed props in ComponentRegistry
  packages/@withstudiocms/component-registry/src/registry/Registry.ts
Due: tools-utils, @withstudiocms/component-registry

refactor: rename ComponentRegistryOptionsSchema type to ComponentRegistryOptions for clarity
  packages/@withstudiocms/component-registry/src/registry/handler.ts
Due: tools-utils, @withstudiocms/component-registry

refactor(component-registry): clean up component registry code and improve error handling (#978)
  .changeset/better-kiwis-create.md
  packages/@withstudiocms/component-registry/src/registry/PropsParser.ts
  packages/@withstudiocms/component-registry/src/registry/Registry.ts
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/component-registry/src/utils.ts
  packages/@withstudiocms/component-registry/test/Registry.test.ts
  packages/@withstudiocms/component-registry/test/registry/PropsParser.test.ts
  packages/@withstudiocms/component-registry/test/registry/handler.test.ts
  packages/@withstudiocms/component-registry/test/utils.test.ts
Due: tools-utils, @withstudiocms/component-registry

fix(toaster): update import path for Toaster component on setup pages
  .changeset/thick-rivers-admire.md
  packages/studiocms/src/frontend/setup-pages/1-start.astro
  packages/studiocms/src/frontend/setup-pages/2-next.astro
Due: integrations, studiocms
