Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

test: enhance mocking of fs module in readJson tests for better clarity
  packages/@studiocms/cloudinary-image-service/tests/utils/readJson.test.ts
Due: plugins, @studiocms/cloudinary-image-service

feat: add tests for '@studiocms/cloudinary-image-service' (#801)
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/cloudinary-image-service/tests/cloudinary-js-service.test.ts
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
  packages/@studiocms/cloudinary-image-service/tests/utils/readJson.test.ts
  packages/@studiocms/cloudinary-image-service/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/cloudinary-image-service

[ci] lint
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
Due: plugins, @studiocms/cloudinary-image-service

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-804.md
Due: none

fix: enable draft toggle on edit page
  .changeset/brave-parrots-shake.md
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
Due: integrations, studiocms

fix: enable draft toggle submission on edit page
  .changeset/brave-parrots-shake.md
Due: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-805.md
Due: none

fix: enable draft toggle on edit page for index slug (#807)
  .changeset/brave-parrots-shake.md
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
Due: integrations, studiocms

[ci] changesets
  .changeset/wise-experts-kiss.md
Due: none

feat: add tests for `@studiocms/md` package
  packages/@studiocms/md/package.json
  packages/@studiocms/md/src/types.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/md/test/test-utils.ts
  packages/@studiocms/md/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/md

refactor(tests): remove unused mockGlobalThis function and streamline cleanup of globalThis in test-utils
  packages/@studiocms/md/test/test-utils.ts
Due: plugins, @studiocms/md

feat: integrate new effect helper for drizzle libsql db client
  .changeset/green-pumas-rhyme.md
  packages/studiocms/src/cli/utils/useLibSQLDb.ts
  packages/studiocms/src/virtuals/sdk/effect/collectors.ts
  packages/studiocms/src/virtuals/sdk/effect/db.ts
  packages/studiocms/src/virtuals/sdk/effect/foldertree.ts
  packages/studiocms/src/virtuals/sdk/effect/users.ts
  packages/studiocms/src/virtuals/sdk/modules/auth.ts
  packages/studiocms/src/virtuals/sdk/modules/config.ts
  packages/studiocms/src/virtuals/sdk/modules/delete.ts
  packages/studiocms/src/virtuals/sdk/modules/diffTracking.ts
  packages/studiocms/src/virtuals/sdk/modules/get.ts
  packages/studiocms/src/virtuals/sdk/modules/init.ts
  packages/studiocms/src/virtuals/sdk/modules/notificationSettings.ts
  packages/studiocms/src/virtuals/sdk/modules/plugins.ts
  packages/studiocms/src/virtuals/sdk/modules/post.ts
  packages/studiocms/src/virtuals/sdk/modules/resetTokenBucket.ts
  packages/studiocms/src/virtuals/sdk/modules/rest_api.ts
  packages/studiocms/src/virtuals/sdk/modules/update.ts
Due: integrations, studiocms

feat: add tests for `@studiocms/md` package (#808)
  packages/@studiocms/md/package.json
  packages/@studiocms/md/src/types.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/md/test/test-utils.ts
  packages/@studiocms/md/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/md

[ci] lint
  packages/@studiocms/md/test/index.test.ts
Due: plugins, @studiocms/md

feat: add tests for Editor and Renderer components chore: update TypeScript configuration files to include "jsx" option
  packages/@studiocms/html/test/components.test.ts
  packages/@studiocms/html/test/components/editor.test.ts
  packages/@studiocms/html/test/components/renderer.test.ts
  packages/@studiocms/html/tsconfig.json
  packages/@studiocms/html/tsconfig.tspc.json
  packages/@studiocms/html/vitest.config.ts
  tsconfig.base.json
Due: plugins, @studiocms/html

test: enhance tests for Editor and Renderer components
  packages/@studiocms/html/test/components/editor.test.ts
  packages/@studiocms/html/test/components/renderer.test.ts
  packages/@studiocms/html/vitest.config.ts
Due: plugins, @studiocms/html

test: refactor Renderer component tests for clarity and consistency
  packages/@studiocms/html/test/components/renderer.test.ts
Due: plugins, @studiocms/html

feat: add test utilities for plugin testing and CI integration
  .changeset/eager-pans-marry.md
  packages/studiocms/package.json
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/test-utils.ts
Due: integrations, studiocms

feat: integrate new effect helper for drizzle libsql db client (#809)
  .changeset/green-pumas-rhyme.md
  packages/studiocms/src/cli/utils/useLibSQLDb.ts
  packages/studiocms/src/virtuals/sdk/effect/collectors.ts
  packages/studiocms/src/virtuals/sdk/effect/db.ts
  packages/studiocms/src/virtuals/sdk/effect/foldertree.ts
  packages/studiocms/src/virtuals/sdk/effect/users.ts
  packages/studiocms/src/virtuals/sdk/modules/auth.ts
  packages/studiocms/src/virtuals/sdk/modules/config.ts
  packages/studiocms/src/virtuals/sdk/modules/delete.ts
  packages/studiocms/src/virtuals/sdk/modules/diffTracking.ts
  packages/studiocms/src/virtuals/sdk/modules/get.ts
  packages/studiocms/src/virtuals/sdk/modules/init.ts
  packages/studiocms/src/virtuals/sdk/modules/notificationSettings.ts
  packages/studiocms/src/virtuals/sdk/modules/plugins.ts
  packages/studiocms/src/virtuals/sdk/modules/post.ts
  packages/studiocms/src/virtuals/sdk/modules/resetTokenBucket.ts
  packages/studiocms/src/virtuals/sdk/modules/rest_api.ts
  packages/studiocms/src/virtuals/sdk/modules/update.ts
Due: integrations, studiocms

feat: add tests for Editor and Renderer components (#812)
  packages/@studiocms/html/test/components.test.ts
  packages/@studiocms/html/test/components/editor.test.ts
  packages/@studiocms/html/test/components/renderer.test.ts
  packages/@studiocms/html/tsconfig.json
  packages/@studiocms/html/tsconfig.tspc.json
  packages/@studiocms/html/vitest.config.ts
  tsconfig.base.json
Due: plugins, @studiocms/html

apply code nits
  packages/studiocms/src/test-utils.ts
Due: integrations, studiocms

apply nits
  packages/studiocms/src/test-utils.ts
Due: integrations, studiocms

fix: improve type safety and clarity in StudioCMSPluginTester
  packages/studiocms/src/test-utils.ts
Due: integrations, studiocms

feat: add test utilities for plugin testing and CI integration (#813)
  .changeset/eager-pans-marry.md
  packages/studiocms/package.json
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/test-utils.ts
Due: integrations, studiocms

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-810.md
Due: none

feat: add Codecov badges to README files for improved test coverage visibility
  README.md
  packages/@studiocms/auth0/README.md
  packages/@studiocms/blog/README.md
  packages/@studiocms/cloudinary-image-service/README.md
  packages/@studiocms/devapps/README.md
  packages/@studiocms/discord/README.md
  packages/@studiocms/github/README.md
  packages/@studiocms/google/README.md
  packages/@studiocms/html/README.md
  packages/@studiocms/markdoc/README.md
  packages/@studiocms/md/README.md
  packages/@studiocms/mdx/README.md
  packages/@studiocms/wysiwyg/README.md
Due: integrations, plugins, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

feat: add bundle tests for StudioCMS blog and headless templates with configuration and environment setup
  .github/workflows/ci-testing.yml
  .vscode/settings.json
  bundle-tests/studiocms-blog/.env.demo
  bundle-tests/studiocms-blog/.gitignore
  bundle-tests/studiocms-blog/README.md
  bundle-tests/studiocms-blog/astro.config.mts
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-blog/public/favicon.svg
  bundle-tests/studiocms-blog/studiocms.config.mts
  bundle-tests/studiocms-blog/tsconfig.json
  bundle-tests/studiocms-headless/.env.demo
  bundle-tests/studiocms-headless/.gitignore
  bundle-tests/studiocms-headless/README.md
  bundle-tests/studiocms-headless/astro.config.mts
  bundle-tests/studiocms-headless/package.json
  bundle-tests/studiocms-headless/public/favicon.svg
  bundle-tests/studiocms-headless/studiocms.config.mts
  bundle-tests/studiocms-headless/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: mark studiocms blog and headless packages as private
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-headless/package.json
Due: none

feat: enable bundle analysis for StudioCMS blog and headless configurations
  bundle-tests/studiocms-blog/astro.config.mts
  bundle-tests/studiocms-headless/astro.config.mts
  knip.config.ts
Due: none

feat: update bundle test configuration to include specific Astro entry files and ignore sharp dependency
  knip.config.ts
Due: none

feat: add CODECOV_TOKEN to environment variables for bundle analysis tests
  .github/workflows/ci-testing.yml
Due: none

refactor: update bundle analysis job name and remove commented-out code
  .github/workflows/ci-testing.yml
Due: none

refactor: remove GH_COMMIT_SHA from environment variables and uploadOverrides in Astro config
  .github/workflows/ci-testing.yml
  bundle-tests/studiocms-blog/astro.config.mts
  bundle-tests/studiocms-headless/astro.config.mts
Due: none

refactor: update TypeScript configuration to extend strict settings for bundle tests
  bundle-tests/studiocms-blog/tsconfig.json
  bundle-tests/studiocms-headless/tsconfig.json
Due: none

refactor: update permissions for Knip Linter job and change run command to use specific action
  .github/workflows/ci-checks.yml
Due: none

refactor: rename job step to clarify purpose of Knip Linter execution
  .github/workflows/ci-checks.yml
Due: none

refactor: update Knip Linter job name to clarify its purpose
  .github/workflows/ci-checks.yml
Due: none

ci(bundle-tests): Add bundle tests and Codecov bundle analysis (#815)
  .github/workflows/ci-checks.yml
  .github/workflows/ci-testing.yml
  .vscode/settings.json
  bundle-tests/studiocms-blog/.env.demo
  bundle-tests/studiocms-blog/.gitignore
  bundle-tests/studiocms-blog/README.md
  bundle-tests/studiocms-blog/astro.config.mts
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-blog/public/favicon.svg
  bundle-tests/studiocms-blog/studiocms.config.mts
  bundle-tests/studiocms-blog/tsconfig.json
  bundle-tests/studiocms-headless/.env.demo
  bundle-tests/studiocms-headless/.gitignore
  bundle-tests/studiocms-headless/README.md
  bundle-tests/studiocms-headless/astro.config.mts
  bundle-tests/studiocms-headless/package.json
  bundle-tests/studiocms-headless/public/favicon.svg
  bundle-tests/studiocms-headless/studiocms.config.mts
  bundle-tests/studiocms-headless/tsconfig.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: add Codecov badges to README files for improved test coverage visibility (#814)
  README.md
  packages/@studiocms/auth0/README.md
  packages/@studiocms/blog/README.md
  packages/@studiocms/cloudinary-image-service/README.md
  packages/@studiocms/devapps/README.md
  packages/@studiocms/discord/README.md
  packages/@studiocms/github/README.md
  packages/@studiocms/google/README.md
  packages/@studiocms/html/README.md
  packages/@studiocms/markdoc/README.md
  packages/@studiocms/md/README.md
  packages/@studiocms/mdx/README.md
  packages/@studiocms/wysiwyg/README.md
Due: integrations, plugins, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

feat: implement internal markdown integration for Astro
  packages/@studiocms/md/src/components/TinyMDE.astro
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/test/components/editor.test.ts
  packages/@studiocms/md/test/components/renderer.test.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/md/test/lib/markdown-prerender.test.ts
  packages/@studiocms/md/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/md
