Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

feat: enhance config file watching and reporting in integration utilities (#796)
  .changeset/cuddly-results-heal.md
  .codecov.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-testing.yml
  .vscode/settings.json
  README.md
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/types.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/astro.config.mts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/src/pages/file-watcher.ts
  packages/@withstudiocms/config-utils/test/integration-utils.test.ts
  packages/@withstudiocms/internal_helpers/README.md
  packages/@withstudiocms/internal_helpers/src/astro-integration/addIntegrationArray.ts
  packages/@withstudiocms/internal_helpers/src/astro-integration/getLatestVersion.ts
  packages/@withstudiocms/internal_helpers/src/astro-integration/injectScripts.ts
  packages/@withstudiocms/internal_helpers/src/utils/jsonUtils.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/getLatestVersion.test.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/integrationLogger.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/jsonUtils.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/loadChangelog.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/pageTypeFilter.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/safeString.test.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: @withstudiocms/config-utils, @withstudiocms/internal_helpers

feat: update Codecov configuration to include specific plugin paths
  .codecov.yml
Due: none

feat: update Codecov configuration to include specific plugin paths (#797)
  .codecov.yml
Due: none

feat: add 'devapps' initial tests (#795)
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/src/utils/pathGenerator.ts
  packages/@studiocms/devapps/tests/configs.test.ts
  packages/@studiocms/devapps/tests/index.test.ts
  packages/@studiocms/devapps/tests/schema.test.ts
  packages/@studiocms/devapps/tests/schema/index.test.ts
  packages/@studiocms/devapps/tests/utils/app-utils.test.ts
  packages/@studiocms/devapps/tests/utils/pathGenerator.test.ts
  packages/@studiocms/devapps/vitest.config.ts
  vitest.config.ts
Due: none

[ci] lint
  packages/@studiocms/devapps/tests/configs.test.ts
  packages/@studiocms/devapps/tests/schema.test.ts
  packages/@studiocms/devapps/tests/schema/index.test.ts
  packages/@studiocms/devapps/tests/utils/pathGenerator.test.ts
  vitest.config.ts
Due: none

feat: add integration tests for logger and error handling utilities
  packages/@withstudiocms/component-registry/test/errors.test.ts
  packages/@withstudiocms/component-registry/test/registry/consts.test.ts
  packages/@withstudiocms/component-registry/test/utils.test.ts
Due: @withstudiocms/component-registry

feat: exclude 'runtime.ts' from coverage reports
  vitest.config.ts
Due: none

feat: add comprehensive tests for decoder utilities including decodeCodePoint, htmlDecodeTree, and XML decoding
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-codepoint.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-data-html.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-data-xml.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/index.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/util.test.ts
Due: @withstudiocms/component-registry

feat: add tests for PropsParser and resolver functionality
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/decode-codepoint.ts
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/util.ts
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/component-registry/test/registry/PropsParser.test.ts
  packages/@withstudiocms/component-registry/test/registry/handler.test.ts
Due: @withstudiocms/component-registry

feat: add v8 ignore comments to PropsParser and ComponentRegistry for improved performance
  packages/@withstudiocms/component-registry/src/registry/PropsParser.ts
  packages/@withstudiocms/component-registry/src/registry/Registry.ts
Due: @withstudiocms/component-registry

feat: update v8 ignore comments in index.ts for clarity on coverage exclusions
  packages/@withstudiocms/component-registry/src/index.ts
Due: @withstudiocms/component-registry

feat: add v8 ignore comments in PropsParser and prefixError function for improved coverage handling
  packages/@withstudiocms/component-registry/src/errors.ts
  packages/@withstudiocms/component-registry/src/registry/PropsParser.ts
Due: @withstudiocms/component-registry

feat: add v8 ignore comments in EntityDecoder for improved performance and coverage handling
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/util.ts
Due: @withstudiocms/component-registry

feat: update v8 ignore comments in PropsParser for improved coverage handling
  packages/@withstudiocms/component-registry/src/registry/PropsParser.ts
Due: @withstudiocms/component-registry

feat: add v8 ignore comments in EntityDecoder for improved coverage handling
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/util.ts
Due: @withstudiocms/component-registry

feat: add codecov badge to README for improved visibility on coverage status
  packages/@withstudiocms/component-registry/README.md
Due: @withstudiocms/component-registry

feat: add tests for createComponentProxy to validate component proxying behavior
  packages/@withstudiocms/component-registry/test/component-proxy/index.test.ts
Due: @withstudiocms/component-registry

feat: add missing test case for function component proxying in createComponentProxy
  packages/@withstudiocms/component-registry/test/component-proxy/index.test.ts
Due: @withstudiocms/component-registry

feat: enhance createComponentProxy to accept custom test props for improved testing
  packages/@withstudiocms/component-registry/src/component-proxy/index.ts
  packages/@withstudiocms/component-registry/test/component-proxy/index.test.ts
Due: @withstudiocms/component-registry

feat: add tests for CodeBlock and CodeSpan components in createComponentProxy
  .changeset/whole-times-wash.md
  packages/@withstudiocms/component-registry/test/component-proxy/index.test.ts
Due: @withstudiocms/component-registry

fix: add missing v8 ignore comments for code decoding in createComponentProxy
  packages/@withstudiocms/component-registry/src/component-proxy/index.ts
Due: @withstudiocms/component-registry

feat: add integration tests and fixtures for component registry functionality
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/astro.config.mts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/src/components/test-comp.astro
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/src/pages/index.ts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/tsconfig.json
  packages/@withstudiocms/component-registry/test/registry-test.test.ts
  packages/@withstudiocms/component-registry/test/test-utils.ts
  pnpm-lock.yaml
Due: @withstudiocms/component-registry

test: refactor endpoint response test for clarity and structure
  knip.config.ts
  packages/@withstudiocms/component-registry/test/registry-test.test.ts
Due: @withstudiocms/component-registry

feat: update ignore patterns for test fixtures in component registry configuration
  knip.config.ts
Due: none

test: improve clarity of determineBranch test for valid index return
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/util.test.ts
Due: @withstudiocms/component-registry

feat: add drizzle integration with LibSQL client and enhance error handling
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/drizzle.ts
  packages/@withstudiocms/effect/test/drizzle.test.ts
  pnpm-lock.yaml
Due: @withstudiocms/effect

feat: add new Drizzle helper for AstroDB and Drizzle libsql connections
  .changeset/deep-dolls-attack.md
Due: none

feat: add initial test suite and configuration for HTML package
  packages/@studiocms/html/package.json
  packages/@studiocms/html/test/components.test.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/html/test/shared.test.ts
  packages/@studiocms/html/test/test-utils.ts
  packages/@studiocms/html/test/types.test.ts
  packages/@studiocms/html/vitest.config.ts
  vitest.config.ts
Due: none

chore: apply suggestions
  packages/@studiocms/html/package.json
  vitest.config.ts
Due: none

feat: enhance TransactionClient and related types for better schema support
  packages/@withstudiocms/effect/src/drizzle.ts
Due: @withstudiocms/effect

test: improve error handling in HTML options validation and update globalThis usage in tests
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/html/test/shared.test.ts
  packages/@studiocms/html/test/test-utils.ts
Due: none

refactor: remove unused mock functions from test-utils for HTML package
  packages/@studiocms/html/test/test-utils.ts
Due: none

feat: introduce more testing for the `@withstudiocms/component-registry` package (#798)
  .changeset/whole-times-wash.md
  knip.config.ts
  packages/@withstudiocms/component-registry/README.md
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/decode-codepoint.ts
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/util.ts
  packages/@withstudiocms/component-registry/src/component-proxy/index.ts
  packages/@withstudiocms/component-registry/src/errors.ts
  packages/@withstudiocms/component-registry/src/index.ts
  packages/@withstudiocms/component-registry/src/registry/PropsParser.ts
  packages/@withstudiocms/component-registry/src/registry/Registry.ts
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-codepoint.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-data-html.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/decode-data-xml.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/index.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/decoder/util.test.ts
  packages/@withstudiocms/component-registry/test/component-proxy/index.test.ts
  packages/@withstudiocms/component-registry/test/errors.test.ts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/astro.config.mts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/src/components/test-comp.astro
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/src/pages/index.ts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/tsconfig.json
  packages/@withstudiocms/component-registry/test/registry-test.test.ts
  packages/@withstudiocms/component-registry/test/registry/PropsParser.test.ts
  packages/@withstudiocms/component-registry/test/registry/consts.test.ts
  packages/@withstudiocms/component-registry/test/registry/handler.test.ts
  packages/@withstudiocms/component-registry/test/test-utils.ts
  packages/@withstudiocms/component-registry/test/utils.test.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: @withstudiocms/component-registry

[ci] lint
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/decode-codepoint.ts
Due: @withstudiocms/component-registry

test: enhance studiocmsHTML tests with logger integration and shared.htmlConfig persistence
  packages/@studiocms/html/test/index.test.ts
Due: none

feat(withstudiocms/effect): Add drizzle effect wrapper (#799)
  .changeset/deep-dolls-attack.md
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/drizzle.ts
  packages/@withstudiocms/effect/test/drizzle.test.ts
  pnpm-lock.yaml
Due: @withstudiocms/effect

feat: add tests for '@studiocms/cloudinary-image-service'
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/cloudinary-image-service/tests/cloudinary-js-service.test.ts
  packages/@studiocms/cloudinary-image-service/tests/index.test.ts
  packages/@studiocms/cloudinary-image-service/tests/utils/readJson.test.ts
  packages/@studiocms/cloudinary-image-service/vitest.config.ts
  vitest.config.ts
Due: none

feat: add initial test suite and configuration for `@studiocms/html` package (#800)
  packages/@studiocms/html/package.json
  packages/@studiocms/html/test/components.test.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/html/test/shared.test.ts
  packages/@studiocms/html/test/test-utils.ts
  packages/@studiocms/html/test/types.test.ts
  packages/@studiocms/html/vitest.config.ts
  vitest.config.ts
Due: none

[ci] lint
  packages/@studiocms/html/test/components.test.ts
  packages/@studiocms/html/test/index.test.ts
  packages/@studiocms/html/test/shared.test.ts
  packages/@studiocms/html/test/test-utils.ts
  packages/@studiocms/html/vitest.config.ts
Due: none

chore: apply suggestions
  packages/@studiocms/cloudinary-image-service/package.json
Due: none

Path conditions:
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
