Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

fix(plugins): allow undefined config in parseAndMerge function
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/studiocms/src/db/plugins.ts
Due: integrations, tools-utils, studiocms

feat(migrator): update knip configuration and add migration handling
  .changeset/busy-ways-allow.md
  .changeset/many-frogs-post.md
  .changeset/mighty-ends-fall.md
  knip.config.ts
Due: none

feat(migrator): update README, remove unused syntax font files, and add LICENSE
  packages/@studiocms/migrator/LICENSE
  packages/@studiocms/migrator/README.md
  packages/@studiocms/migrator/src/fonts/css/syntax.css
  packages/@studiocms/migrator/src/fonts/woff2/syntax.woff2
Due: none

feat(migrator): add create-migration script and update migration index dynamically
  package.json
  packages/@withstudiocms/kysely/scripts/create-migration.ts
  packages/@withstudiocms/kysely/src/migrator.ts
Due: tools-utils

feat(migrator): enhance importMigration to support vitest and dynamic migration loading
  packages/@withstudiocms/kysely/src/migrator.ts
Due: tools-utils

feat(migrator): enhance AstroDB integration and schema definitions
  packages/@studiocms/migrator/astro.config.mts
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/src/db/astro-db-drizzle-client.ts
  packages/@studiocms/migrator/src/db/astro-db-schema.ts
  packages/@studiocms/migrator/src/db/astrodb.ts
  packages/@studiocms/migrator/src/db/drizzle-schema.ts
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/core-types.ts
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/error-map.ts
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/index.ts
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/schemas.ts
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/types.ts
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/utils.ts
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/virtual.ts
  packages/@studiocms/migrator/src/lib/tableMap.ts
  packages/@studiocms/migrator/src/pages/data-migrations.ts
  packages/@studiocms/migrator/src/pages/index.astro
  packages/@studiocms/migrator/start.mjs
  pnpm-lock.yaml
Due: none

feat(migrator): add serveUI function to launch Astro-based UI for the migrator tool
  packages/@studiocms/migrator/start.mjs
Due: none

feat(migrator): refactor migrator scripts and implement custom logger for improved logging
  package.json
  packages/@studiocms/migrator/astro.config.mts
  packages/@studiocms/migrator/logger.mjs
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/start.mjs
Due: none

feat(migrator): implement connection test and enhance logging across migration functions
  packages/@studiocms/migrator/src/db/astrodb.ts
  packages/@studiocms/migrator/src/lib/logger.ts
  packages/@studiocms/migrator/src/pages/data-migrations.ts
  packages/@studiocms/migrator/src/pages/index.astro
  packages/@studiocms/migrator/src/pages/schema-migrations.ts
  packages/@studiocms/migrator/start.mjs
Due: none

feat(migrator): add logger.mjs to package files for improved logging functionality
  packages/@studiocms/migrator/package.json
Due: none

feat(migrator): add JSDoc comments for logger functions to improve code documentation
  packages/@studiocms/migrator/logger.mjs
Due: none

feat(config): remove unused features and component registry from configuration
  studiocms.config.mts
Due: none

feat(migrator): update README with environment variable requirements and enhance logging messages
  packages/@studiocms/migrator/README.md
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/start.mjs
Due: none

fix(migrator): improve error logging and update JSON stringification in remap functions
  packages/@studiocms/migrator/src/lib/remapUtils.ts
  packages/@studiocms/migrator/src/lib/tableMap.ts
  packages/@studiocms/migrator/start.mjs
Due: none

refactor(migrator): streamline boolean conversion and enhance JSON stringification in remap functions
  packages/@studiocms/migrator/src/lib/remapUtils.ts
  packages/@studiocms/migrator/start.mjs
Due: none

fix(migrator): enhance error logging for configuration loading and server startup
  packages/@studiocms/migrator/start.mjs
Due: none

[ci] changesets
  .changeset/many-cows-attack.md
Due: none

lint
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/index.ts
  packages/@studiocms/migrator/src/lib/astro-db-drizzle-compat/utils.ts
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/sdk/src/index.ts
  packages/@withstudiocms/sdk/src/lib/pluginUtils.ts
  packages/studiocms/src/virtuals/sdk/index.ts
Due: integrations, tools-utils, studiocms

chore: add changeset for patch updates to dependencies
  .changeset/shaky-paws-love.md
Due: none

refactor(cli): clean up utilities and update initCMD to use new Kysely SDK
  .changeset/neat-donuts-wear.md
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/add/tryToInstallPlugins.ts
  packages/studiocms/src/cli/init/index.ts
  packages/studiocms/src/cli/init/steps/env.ts
  packages/studiocms/src/cli/init/steps/next.ts
  packages/studiocms/src/cli/utils/checkRequiredEnvVars.ts
  packages/studiocms/src/cli/utils/studiocmsEnv.ts
Due: integrations, studiocms

fix(cli): improve error handling and update database dialect references
  packages/studiocms/src/cli/add/tryToInstallPlugins.ts
  packages/studiocms/src/cli/init/steps/env.ts
  packages/studiocms/src/cli/utils/studiocmsEnv.ts
Due: integrations, studiocms

refactor(env): simplify debug logging for OAuth and database configuration
  packages/studiocms/src/cli/init/steps/env.ts
Due: integrations, studiocms

refactor(cli): enhance environment setup prompts and validation
  packages/studiocms/src/cli/init/steps/env.ts
Due: integrations, studiocms

refactor(env): change input prompts for client secrets to password fields
  packages/studiocms/src/cli/init/steps/env.ts
Due: integrations, studiocms

refactor(env): remove redundant validation for database port input prompts
  packages/studiocms/src/cli/init/steps/env.ts
Due: integrations, studiocms

feat(middleware): add error handling middleware and templates
  packages/studiocms/src/frontend/middleware/error-handler.ts
  packages/studiocms/src/frontend/middleware/templates/errors.ts
  packages/studiocms/src/frontend/routes.ts
Due: integrations, studiocms

feat(middleware): add error handling middleware to prevent dead pages
  .changeset/legal-spoons-argue.md
Due: none

feat(middleware): enhance error handling templates with stack trace visibility in development mode
  packages/studiocms/src/frontend/middleware/error-handler.ts
  packages/studiocms/src/frontend/middleware/templates/errors.ts
Due: integrations, studiocms

refactor(migrator): restructure logger and add path resolver utility
  .changeset/sour-snakes-sneeze.md
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/src/lib/logger.ts
  packages/@studiocms/migrator/start.mjs
  packages/@studiocms/migrator/utils/logger.mjs
  packages/@studiocms/migrator/utils/resolver.mjs
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor: replace createResolver with createPathResolver across the codebase
  .changeset/curly-cameras-bet.md
  packages/studiocms/src/frontend/routes.ts
  packages/studiocms/src/frontend/utils.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/integrations/dynamic-sitemap/index.ts
  packages/studiocms/src/virtuals/utils.ts
  packages/studiocms/vitest.config.ts
Due: integrations, studiocms

refactor(routes): streamline dashboard route definitions using array mapping
  packages/studiocms/src/frontend/routes.ts
Due: integrations, studiocms

test(pathResolver): add comprehensive test suite for path resolver functionality
  packages/@withstudiocms/internal_helpers/test/pathResolver.test.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor(pathResolver): enhance type definitions for createPathResolver function
  packages/@studiocms/migrator/package.json
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor(pathResolver): simplify type check for baseOption in createPathResolver function
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
Due: tools-utils, @withstudiocms/internal_helpers

Update packages/@withstudiocms/internal_helpers/src/pathResolver.ts
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
Due: tools-utils, @withstudiocms/internal_helpers

refactor(cli): clean up utilities and update initCMD to use new Kysely SDK (#1044)
  .changeset/neat-donuts-wear.md
  packages/studiocms/src/cli/add/index.ts
  packages/studiocms/src/cli/add/tryToInstallPlugins.ts
  packages/studiocms/src/cli/init/index.ts
  packages/studiocms/src/cli/init/steps/env.ts
  packages/studiocms/src/cli/init/steps/next.ts
  packages/studiocms/src/cli/utils/checkRequiredEnvVars.ts
  packages/studiocms/src/cli/utils/studiocmsEnv.ts
Due: integrations, studiocms

feat(middleware): Implements error handling middleware (#1045)
  .changeset/legal-spoons-argue.md
  packages/studiocms/src/frontend/middleware/error-handler.ts
  packages/studiocms/src/frontend/middleware/templates/errors.ts
  packages/studiocms/src/frontend/routes.ts
Due: integrations, studiocms

cleanup(studiocms): implement new path resolver utility (#1046)
  .changeset/curly-cameras-bet.md
  .changeset/sour-snakes-sneeze.md
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/src/lib/logger.ts
  packages/@studiocms/migrator/start.mjs
  packages/@studiocms/migrator/utils/logger.mjs
  packages/@studiocms/migrator/utils/resolver.mjs
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
  packages/@withstudiocms/internal_helpers/test/pathResolver.test.ts
  packages/studiocms/src/frontend/routes.ts
  packages/studiocms/src/frontend/utils.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/integrations/dynamic-sitemap/index.ts
  packages/studiocms/src/virtuals/utils.ts
  packages/studiocms/vitest.config.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
