Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

chore(studiocms/i18n): fix missing translation (#892)
  .changeset/old-doodles-work.md
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

update and cleanup styles (#898)
  .changeset/icy-tables-stand.md
  packages/studiocms/src/components/dashboard/sidebar/VersionCheck.astro
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, studiocms

cleanup content management and smtp config pages
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/routes/dashboard/smtp-configuration.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

update formatting
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
Due: integrations, studiocms

move hero image input and add description
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
Due: integrations, studiocms

add changeset
  .changeset/small-socks-act.md
Due: none

remove un-used import
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
Due: integrations, studiocms

init new package
  .changeset/evil-plums-hear.md
  packages/@withstudiocms/template-lang/.gitignore
  packages/@withstudiocms/template-lang/LICENSE
  packages/@withstudiocms/template-lang/README.md
  packages/@withstudiocms/template-lang/package.json
  packages/@withstudiocms/template-lang/src/engine.ts
  packages/@withstudiocms/template-lang/src/index.ts
  packages/@withstudiocms/template-lang/src/parser.ts
  packages/@withstudiocms/template-lang/src/renderer.ts
  packages/@withstudiocms/template-lang/src/types.ts
  packages/@withstudiocms/template-lang/test/engine.test.ts
  packages/@withstudiocms/template-lang/test/parser.test.ts
  packages/@withstudiocms/template-lang/test/renderer.test.ts
  packages/@withstudiocms/template-lang/tsconfig.json
  packages/@withstudiocms/template-lang/tsconfig.tspc.json
  packages/@withstudiocms/template-lang/vitest.config.ts
  pnpm-lock.yaml
Due: tools-utils

fix linting rules and lint
  biome.json
  packages/@studiocms/html/src/lib/shared.ts
  packages/@studiocms/markdoc/src/lib/shared.ts
  packages/@studiocms/md/src/lib/shared.ts
  packages/@studiocms/mdx/src/lib/shared.ts
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/components/customCode.ts
  packages/@studiocms/wysiwyg/src/lib/shared.ts
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/util.ts
  packages/@withstudiocms/template-lang/src/engine.ts
  packages/@withstudiocms/template-lang/src/index.ts
  packages/@withstudiocms/template-lang/src/parser.ts
  packages/@withstudiocms/template-lang/src/renderer.ts
  packages/@withstudiocms/template-lang/src/types.ts
  packages/@withstudiocms/template-lang/test/engine.test.ts
  packages/@withstudiocms/template-lang/test/parser.test.ts
  packages/@withstudiocms/template-lang/test/renderer.test.ts
  packages/studiocms/src/integrations/webVitals/webVitalsRouteSummary.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/component-registry

fix: update import statements to remove file extensions
  packages/@withstudiocms/template-lang/test/engine.test.ts
  packages/@withstudiocms/template-lang/test/parser.test.ts
  packages/@withstudiocms/template-lang/test/renderer.test.ts
Due: tools-utils

fix: add 'template-lang' to projectsWithTests
  vitest.config.ts
Due: none

fix: update import paths to use index file for TemplateEngine, TemplateParser, and TemplateRenderer
  packages/@withstudiocms/template-lang/test/engine.test.ts
  packages/@withstudiocms/template-lang/test/parser.test.ts
  packages/@withstudiocms/template-lang/test/renderer.test.ts
Due: tools-utils

feat: add template-lang component to Codecov configuration and update README with badge
  .codecov.yml
  packages/@withstudiocms/template-lang/README.md
Due: tools-utils

feat: add template-lang package to README with Codecov badge
  README.md
Due: none

fix: add 'template-lang' to atWithStudioCMSPackages
  knip.config.ts
Due: none

cleanup content management and smtp config pages (#902)
  .changeset/small-socks-act.md
  packages/studiocms/src/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/routes/dashboard/smtp-configuration.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

new(withstudiocms/template-lang): Initialize new package (#903)
  .changeset/evil-plums-hear.md
  .codecov.yml
  README.md
  biome.json
  knip.config.ts
  packages/@studiocms/html/src/lib/shared.ts
  packages/@studiocms/markdoc/src/lib/shared.ts
  packages/@studiocms/md/src/lib/shared.ts
  packages/@studiocms/mdx/src/lib/shared.ts
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/components/customCode.ts
  packages/@studiocms/wysiwyg/src/lib/shared.ts
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/util.ts
  packages/@withstudiocms/template-lang/.gitignore
  packages/@withstudiocms/template-lang/LICENSE
  packages/@withstudiocms/template-lang/README.md
  packages/@withstudiocms/template-lang/package.json
  packages/@withstudiocms/template-lang/src/engine.ts
  packages/@withstudiocms/template-lang/src/index.ts
  packages/@withstudiocms/template-lang/src/parser.ts
  packages/@withstudiocms/template-lang/src/renderer.ts
  packages/@withstudiocms/template-lang/src/types.ts
  packages/@withstudiocms/template-lang/test/engine.test.ts
  packages/@withstudiocms/template-lang/test/parser.test.ts
  packages/@withstudiocms/template-lang/test/renderer.test.ts
  packages/@withstudiocms/template-lang/tsconfig.json
  packages/@withstudiocms/template-lang/tsconfig.tspc.json
  packages/@withstudiocms/template-lang/vitest.config.ts
  packages/studiocms/src/integrations/webVitals/webVitalsRouteSummary.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/component-registry

feat(template-engine): integrate template engine and add default email templates
  packages/studiocms/package.json
  packages/studiocms/src/consts.ts
  packages/studiocms/src/virtuals/sdk/consts.ts
  packages/studiocms/src/virtuals/sdk/modules/config-types.ts
  packages/studiocms/src/virtuals/sdk/modules/config.ts
  packages/studiocms/src/virtuals/template-engine/default-templates.ts
  packages/studiocms/src/virtuals/template-engine/index.ts
  pnpm-lock.yaml
Due: integrations, studiocms

feat(template-engine): implement template engine for email notifications and deprecate old template retrieval method
  packages/studiocms/src/index.ts
  packages/studiocms/src/routes/api/auth/forgot-password.ts
  packages/studiocms/src/routes/api/dashboard/create-user-invite.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/auth/verify-email.ts
  packages/studiocms/src/virtuals/mailer/template.ts
  packages/studiocms/src/virtuals/notifier/index.ts
  packages/studiocms/src/virtuals/template-engine/index.ts
Due: integrations, studiocms

feat(template-editor): add TemplateEditor component for managing email templates and integrate with template engine
  packages/studiocms/package.json
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/routes/dashboard/smtp-configuration.astro
  packages/studiocms/src/virtuals/sdk/modules/config.ts
  packages/studiocms/src/virtuals/template-engine/index.ts
  pnpm-lock.yaml
Due: integrations, studiocms

fix(template-editor): adjust padding and overflow styles for better layout in TemplateEditor component
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

feat(template-editor): add preview modal for template editing and enhance internationalization support
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditorPreviewModal.astro
  packages/studiocms/src/routes/dashboard/smtp-configuration.astro
  packages/studiocms/src/virtuals/i18n/translations/en.json
Due: integrations, studiocms

refactor(template-editor): improve code formatting and consistency in TemplateEditor component
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

fix(template-editor): add validation and error handling for template saving process
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

fix(consts): update TemplateConfigId to use correct constant value for email templates
  packages/studiocms/src/consts.ts
Due: integrations, studiocms

fix(template-editor): restore border and border-radius styles for template preview iframe
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditorPreviewModal.astro
Due: integrations, studiocms

fix(template-editor): update cspell configuration and improve TemplateEditor component styling
  cspell.json
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditorPreviewModal.astro
  packages/studiocms/src/routes/dashboard/smtp-configuration.astro
Due: integrations, studiocms

fix(template-editor): enable display of indent guides in the template editor
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

fix(template-editor): enable auto-indent feature in the template editor
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

feat(api): implement templates API for updating template configurations
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/handlers/routeHandler.ts
  packages/studiocms/src/routes/api/dashboard/templates.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, studiocms

fix(api): enhance template update API with demo mode and authorization checks
  packages/studiocms/src/routes/api/dashboard/templates.ts
Due: integrations, studiocms

feat(template-editor): enhance Ace Editor with autocompletion and snippet support
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

feat(tests): add default templates tests for key exports and required variables
  packages/studiocms/src/virtuals/template-engine/index.ts
  packages/studiocms/test/virtuals/lib/routeMap.test.ts
  packages/studiocms/test/virtuals/template-engine/default-template.test.ts
Due: integrations, studiocms

fix(template-editor): update Ace Editor import to use named export for improved compatibility
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

fix(template-editor): update imports for template engine and Ace Editor to use dynamic imports for improved performance
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

fix(template-editor): update Ace Editor integration to use named import for improved functionality
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

feat(template-editor): refactor template editor logic into separate TypeScript file for improved organization and maintainability
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/components/dashboard/smtp-config/template-editor.ts
  packages/studiocms/src/routes/dashboard/smtp-configuration.astro
Due: integrations, studiocms

chore(template-editor): move license information to template-editor.ts for better organization
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/src/components/dashboard/smtp-config/template-editor.ts
Due: integrations, studiocms

fix(template-editor): update script tag to use module import for template editor for improved compatibility
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms

fix(template-editor): update script import to remove file extension for consistency
  packages/studiocms/src/components/dashboard/smtp-config/TemplateEditor.astro
Due: integrations, studiocms
