Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

unified service layer
  packages/@studiocms/oauth/src/auth0/effect.ts
  packages/@studiocms/oauth/src/auth0/endpoint.ts
  packages/@studiocms/oauth/src/auth0/impl.ts
  packages/@studiocms/oauth/src/discord/effect.ts
  packages/@studiocms/oauth/src/discord/endpoint.ts
  packages/@studiocms/oauth/src/discord/impl.ts
  packages/@studiocms/oauth/src/github/effect.ts
  packages/@studiocms/oauth/src/github/endpoint.ts
  packages/@studiocms/oauth/src/github/impl.ts
  packages/@studiocms/oauth/src/google/effect.ts
  packages/@studiocms/oauth/src/google/endpoint.ts
  packages/@studiocms/oauth/src/google/impl.ts
  packages/@studiocms/oauth/src/service.ts
  packages/@studiocms/oauth/src/shared.ts
Due: none

lint
  packages/@studiocms/oauth/src/auth0/endpoint.ts
  packages/@studiocms/oauth/src/discord/endpoint.ts
  packages/@studiocms/oauth/src/discord/impl.ts
  packages/@studiocms/oauth/src/github/endpoint.ts
  packages/@studiocms/oauth/src/google/endpoint.ts
  packages/@studiocms/oauth/src/service.ts
  packages/@studiocms/oauth/src/shared.ts
Due: none

add changeset
  .changeset/upset-parents-crash.md
Due: none

fix LSP warnings for SDK
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
Due: tools-utils, @withstudiocms/sdk

add changeset
  .changeset/silly-trains-bow.md
Due: none

fix wysiwyg
  .changeset/cyan-teeth-throw.md
  packages/@studiocms/wysiwyg/src/routes/store.ts
Due: plugins, @studiocms/wysiwyg

lint
  packages/@studiocms/wysiwyg/src/routes/store.ts
Due: plugins, @studiocms/wysiwyg

Update .changeset/cyan-teeth-throw.md
  .changeset/cyan-teeth-throw.md
Due: none

Fix LSP warnings in SDK (#1613)
  .changeset/silly-trains-bow.md
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
Due: tools-utils, @withstudiocms/sdk

Fix WYSIWYG LSP errors (#1614)
  .changeset/cyan-teeth-throw.md
  packages/@studiocms/wysiwyg/src/routes/store.ts
Due: plugins, @studiocms/wysiwyg

fix: prevent Windows backslash escapes in virtual module imports
  .changeset/windows-virtual-module-paths.md
  packages/@studiocms/blog/vitest.config.ts
  packages/@studiocms/markdoc/src/index.ts
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/mdx/src/index.ts
  packages/@withstudiocms/component-registry/src/registry/handler.ts
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
  packages/@withstudiocms/internal_helpers/src/utils/pageTypeFilter.ts
  packages/@withstudiocms/internal_helpers/test/pathResolver.test.ts
  packages/@withstudiocms/internal_helpers/test/utils.test.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/src/virtuals/utils.ts
  packages/studiocms/vitest.config.ts
Due: integrations, plugins, tools-utils, studiocms, @studiocms/blog, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @withstudiocms/component-registry, @withstudiocms/internal_helpers

style: apply biome formatting to Windows path-escape changes
  packages/@studiocms/markdown-remark/src/integration/index.ts
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
  packages/studiocms/src/handlers/pluginHandler.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

refactor: simplify path resolution and improve error handling
  .github/workflows/ci-path-resolver.yml
  packages/@withstudiocms/internal_helpers/src/pathResolver.ts
  packages/@withstudiocms/internal_helpers/test/pathResolver.test.ts
  packages/@withstudiocms/internal_helpers/test/toModuleSpecifier.test.ts
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/test/virtuals/utils.test.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/internal_helpers

update jsdocs for s3 storage plugin
  .changeset/sparkly-lizards-tease.md
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
Due: none

update jsdocs for s3 storage plugin (#1625)
  .changeset/sparkly-lizards-tease.md
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
Due: none

Create ready-times-shine.md
  .changeset/ready-times-shine.md
Due: none

Create big-mugs-sing.md
  .changeset/big-mugs-sing.md
Due: none

Update grapesjs dependency to version ^0.23.3
  .changeset/grumpy-cows-shout.md
Due: none

Update @studiocms plugin dependencies
  .changeset/mighty-bananas-speak.md
Due: none
