Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

refactor(tests): enhance RouteSummaryRowSchema test with Allure reporting and async handling
  packages/studiocms/test/integrations/webVitals/schemas.test.ts
Due: integrations, studiocms

refactor(tests): enhance Web Vitals Utils tests with Allure reporting and improve test structure
  packages/studiocms/test/integrations/webVitals/utils/checkDate.test.ts
  packages/studiocms/test/integrations/webVitals/utils/webVitalsUtils.test.ts
Due: integrations, studiocms

refactor(tests): update expected values in Web Vitals Utils tests for accuracy
  packages/studiocms/test/integrations/webVitals/utils/webVitalsUtils.test.ts
Due: integrations, studiocms

refactor(tests): enhance Web Vitals tests with Allure reporting and improve test structure
  packages/studiocms/test/integrations/webVitals/utils/buildDataObject.test.ts
  packages/studiocms/test/integrations/webVitals/utils/buildPageRouteDataObject.test.ts
  packages/studiocms/test/integrations/webVitals/utils/buildPerPageDataObject.test.ts
Due: integrations, studiocms

refactor(tests): enhance Robots integration and utils tests with Allure reporting and improve test structure
  packages/studiocms/test/integrations/robots/core.test.ts
  packages/studiocms/test/integrations/robots/index.test.ts
  packages/studiocms/test/integrations/robots/utils.test.ts
Due: integrations, studiocms

refactor(tests): enhance dynamic sitemap tests with Allure reporting and improve test structure
  packages/studiocms/test/integrations/dynamic-sitemap/index.test.ts
  packages/studiocms/test/integrations/dynamic-sitemap/sitemap-index.xml.test.ts
Due: integrations, studiocms

refactor(tests): remove obsolete tests for formListener, oAuthButtonProviders, and utils components
  packages/studiocms/test/components/auth/oAuthButtonProviders.test.ts
  packages/studiocms/test/components/default-grid-items/utils.test.ts
  packages/studiocms/test/components/formListener.test.ts
  packages/studiocms/test/components/utils.test.ts
Due: integrations, studiocms

refactor(tests): unify test suite naming by replacing localSuiteName with parentSuiteName
  packages/@studiocms/blog/test/components/index.test.ts
  packages/@studiocms/blog/test/index.test.ts
  packages/@studiocms/blog/test/layouts/Layout.test.ts
Due: plugins, @studiocms/blog

refactor(tests): update allure suite naming to use localSuiteName for consistency
  packages/studiocms/test/fixtures/allureTester.ts.ts
  packages/studiocms/test/layouts.test.ts
Due: integrations, studiocms

refactor(tests): integrate allureTester for improved test reporting and structure
  packages/studiocms/test/components.test.ts
  packages/studiocms/test/fixtures/allureTester.ts.ts
Due: integrations, studiocms

refactor(tests): replace allureTester implementation and remove obsolete file
  packages/studiocms/test/components.test.ts
  packages/studiocms/test/fixtures/allureTester.ts
Due: integrations, studiocms

refactor(tests): integrate allureTester for improved test reporting
  packages/studiocms/test/components/formListener.test.ts
  packages/studiocms/test/components/utils.test.ts
  packages/studiocms/test/config.test.ts
  packages/studiocms/test/consts.test.ts
  packages/studiocms/test/errors.test.ts
  packages/studiocms/test/fixtures/allureTester.ts
  packages/studiocms/test/integrations/node-namespace.test.ts
  packages/studiocms/test/layouts.test.ts
  packages/studiocms/test/middleware/utils.test.ts
  packages/studiocms/test/oAuthUtils.test.ts
  packages/studiocms/test/schemas/config/auth.test.ts
  packages/studiocms/test/schemas/config/dashboard.test.ts
  packages/studiocms/test/schemas/config/developer.test.ts
  packages/studiocms/test/schemas/config/index.test.ts
  packages/studiocms/test/schemas/config/sdk.test.ts
  packages/studiocms/test/schemas/plugins/index.test.ts
  packages/studiocms/test/schemas/plugins/shared.test.ts
  packages/studiocms/test/test-utils.test.ts
  packages/studiocms/test/utils/effects/logger.test.ts
  packages/studiocms/test/utils/tinyMDParser.test.ts
  packages/studiocms/test/virtuals.components.test.ts
  packages/studiocms/test/virtuals/auth/validImages/index.test.ts
  packages/studiocms/test/virtuals/i18n/client.test.ts
  packages/studiocms/test/virtuals/i18n/config.test.ts
  packages/studiocms/test/virtuals/i18n/server.test.ts
  packages/studiocms/test/virtuals/lib/headDefaults.test.ts
  packages/studiocms/test/virtuals/lib/makeAPIRoute.test.ts
  packages/studiocms/test/virtuals/lib/makePublicRoute.test.ts
  packages/studiocms/test/virtuals/lib/routeMap.test.ts
  packages/studiocms/test/virtuals/notifier/client.test.ts
  packages/studiocms/test/virtuals/scripts/user-quick-tools.test.ts
  packages/studiocms/test/virtuals/template-engine/default-template.test.ts
  packages/studiocms/test/virtuals/utils.test.ts
Due: integrations, studiocms

refactor(tests): remove obsolete AstroContainer test fixture
  packages/studiocms/test/fixtures/AstroContainer.ts
Due: integrations, studiocms

refactor(tests): replace allureTester with allure API for improved test reporting
  packages/studiocms/test/components/formListener.test.ts
  packages/studiocms/test/virtuals/i18n/client.test.ts
  packages/studiocms/test/virtuals/scripts/user-quick-tools.test.ts
Due: integrations, studiocms

refactor(tests): enhance Allure reporting integration in web vitals tests
  packages/studiocms/test/components/formListener.test.ts
  packages/studiocms/test/fixtures/allureTester-jsdom.ts
  packages/studiocms/test/integrations/dynamic-sitemap/index.test.ts
  packages/studiocms/test/integrations/dynamic-sitemap/sitemap-index.xml.test.ts
  packages/studiocms/test/integrations/robots/core.test.ts
  packages/studiocms/test/integrations/robots/index.test.ts
  packages/studiocms/test/integrations/robots/utils.test.ts
  packages/studiocms/test/integrations/webVitals/schemas.test.ts
  packages/studiocms/test/integrations/webVitals/utils/buildDataObject.test.ts
  packages/studiocms/test/integrations/webVitals/utils/buildPageRouteDataObject.test.ts
  packages/studiocms/test/integrations/webVitals/utils/buildPerPageDataObject.test.ts
  packages/studiocms/test/integrations/webVitals/utils/checkDate.test.ts
  packages/studiocms/test/integrations/webVitals/utils/webVitalsUtils.test.ts
  packages/studiocms/test/integrations/webVitals/webVitalsRouteSummary.test.ts
  packages/studiocms/test/integrations/webVitals/webVitalsSummary.test.ts
  packages/studiocms/test/virtuals/scripts/user-quick-tools.test.ts
Due: integrations, studiocms

refactor(tests): enhance documentation for allureTesterJsDom fixture
  packages/studiocms/test/fixtures/allureTester-jsdom.ts
Due: integrations, studiocms

Cleanup Kysely types for client and simplify migrations
  packages/@withstudiocms/kysely/scripts/create-migration.ts
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/src/core/errors.ts
  packages/@withstudiocms/kysely/src/core/migrator.ts
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.json
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.ts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

refactor(kysely): remove unused migration schema file
  packages/@withstudiocms/kysely/src/schemas/migration-schema.json
Due: tools-utils

test(kysely): add unit tests for trigger utilities and enhance Allure reporting
  cspell.json
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/utils/triggers.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
  packages/@withstudiocms/kysely/test/utils/triggers.test.ts
  packages/@withstudiocms/kysely/vitest.config.ts
  vitest.config.ts
Due: tools-utils

fix(vitest): update migration path in configuration
  vitest.config.ts
Due: none

test(kysely): add unit test for buildSQLiteTriggerSQL function and enhance SQL generation validation
  packages/@withstudiocms/kysely/test/utils/triggers.test.ts
  vitest.config.ts
Due: tools-utils

fix(vitest): include additional Kysely source files in configuration
  vitest.config.ts
Due: none

fix(kysely): wrap trigger body in BEGIN/END for MySQL compatibility
  packages/@withstudiocms/kysely/src/utils/triggers.ts
Due: tools-utils

test(tables): add unit tests for detectRemovedTables utility
  packages/@withstudiocms/kysely/src/utils/tables.ts
  packages/@withstudiocms/kysely/test/utils/tables.test.ts
Due: tools-utils

feat(tests): add unit tests for getDialect function and enhance dialect identification
  packages/@withstudiocms/kysely/.gitignore
  packages/@withstudiocms/kysely/src/utils/introspection.ts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/src/utils/sql.ts
  packages/@withstudiocms/kysely/test/utils/introspection.test.ts
Due: tools-utils

fix(errors): add unit tests for handleCause utility and improve error handling validation
  packages/@withstudiocms/kysely/src/utils/indexes.ts
  packages/@withstudiocms/kysely/src/utils/introspection.ts
  packages/@withstudiocms/kysely/test/utils/errors.test.ts
Due: tools-utils

fix(tests): update suite name variable for clarity in error utilities tests
  packages/@withstudiocms/kysely/test/utils/errors.test.ts
Due: tools-utils

fix(tests): update describe block to use parent suite name in error utilities tests
  packages/@withstudiocms/kysely/test/utils/errors.test.ts
Due: tools-utils

fix(config): add driver directory to vitest configuration for migration scripts
  vitest.config.ts
Due: none

[ci] changesets
  .changeset/tall-spiders-push.md
Due: none

im tired of the changeset status thingy failing now
  .changeset/wet-games-try.md
Due: none

test: add schema definitions tests for ColumnType and Generated columns
  packages/@withstudiocms/kysely/src/core/schema.ts
  packages/@withstudiocms/kysely/test/core/schema.test.ts
Due: tools-utils

docs: add message annotation to ColumnType schema to clarify usage
  packages/@withstudiocms/kysely/src/core/schema.ts
Due: tools-utils

docs: add codecov badge to @withstudiocms/kysely README
  README.md
  packages/@withstudiocms/kysely/README.md
Due: tools-utils

test: add unit tests for error classes in Kysely
  packages/@withstudiocms/kysely/test/core/errors.test.ts
Due: tools-utils

fix: update README and tests for clarity and accuracy in Kysely
  packages/@withstudiocms/kysely/README.md
  packages/@withstudiocms/kysely/test/core/schema.test.ts
  packages/@withstudiocms/kysely/test/utils/triggers.test.ts
Due: tools-utils

test: add validation for Generated column Insert type in schema tests
  packages/@withstudiocms/kysely/test/core/schema.test.ts
Due: tools-utils

docs: add TypeScript-Based Migrations feature to README
  packages/@withstudiocms/kysely/README.md
Due: tools-utils
