Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

fix: remove 'archive/**' from coverage exclusion list in vitest configuration
  vitest.config.ts
Due: none

feat(wysiwyg): enhance routing and entrypoint resolution, update sanitization options in tests
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/src/components/Editor.astro
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/test/components/Editor.test.ts
  packages/@studiocms/wysiwyg/test/components/Render.test.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
  packages/@studiocms/wysiwyg/test/routes/grapes-css.test.ts
  packages/@studiocms/wysiwyg/test/routes/store.test.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@studiocms/wysiwyg/test/types.test.ts
Due: plugins, @studiocms/wysiwyg

more suggestions
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/components/tabs/Tabs.ts
  packages/@studiocms/wysiwyg/src/styles/editor.css
  packages/@studiocms/wysiwyg/src/styles/grapes.css
  packages/@studiocms/wysiwyg/test/components/Render.test.ts
  pnpm-lock.yaml
Due: plugins, @studiocms/wysiwyg

refactor(tests): streamline component tests by removing AstroContainer and updating render logic
  packages/studiocms/test/components.test.ts
  packages/studiocms/test/fixtures/AstroContainer.ts
  packages/studiocms/test/fixtures/renderer.astro
  packages/studiocms/test/fixtures/tsconfig.json
  packages/studiocms/test/layouts.test.ts
  packages/studiocms/test/virtuals.components.test.ts
Due: integrations, studiocms

fix(tests): update example in ContainerTestOptions to use correct test syntax
  packages/studiocms/test/fixtures/AstroContainer.ts
Due: integrations, studiocms

fix(tests): correct example syntax in ContainerTestOptions documentation
  packages/studiocms/test/fixtures/AstroContainer.ts
Due: integrations, studiocms

refactor(tests): simplify ContainerTestOptions interface by inlining type definition
  packages/studiocms/test/fixtures/AstroContainer.ts
Due: integrations, studiocms

refactor(tests): streamline component tests (#838)
  packages/studiocms/test/components.test.ts
  packages/studiocms/test/fixtures/AstroContainer.ts
  packages/studiocms/test/fixtures/renderer.astro
  packages/studiocms/test/fixtures/tsconfig.json
  packages/studiocms/test/layouts.test.ts
  packages/studiocms/test/virtuals.components.test.ts
Due: integrations, studiocms

remove(wysiwyg): remove unused test utilities for WYSIWYG component
  packages/@studiocms/wysiwyg/test/test-utils.ts
Due: plugins, @studiocms/wysiwyg

test(wysiwyg): update test assertions
  packages/@studiocms/wysiwyg/test/components/Editor.test.ts
  packages/@studiocms/wysiwyg/test/components/Render.test.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
Due: plugins, @studiocms/wysiwyg

apply suggestions
  packages/@studiocms/wysiwyg/test/index.test.ts
Due: plugins, @studiocms/wysiwyg

[ci] changesets
  .changeset/lovely-donuts-attack.md
Due: none

chore(deps): changeset for dependency update
  .changeset/dependencies-GH-841.md
Due: none

apply moar suggestions from adam
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/src/styles/editor.css
  packages/@studiocms/wysiwyg/src/styles/grapes.css
  packages/@studiocms/wysiwyg/test/components/Editor.test.ts
  packages/@studiocms/wysiwyg/test/components/Render.test.ts
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Editor.test.ts.snap
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Render.test.ts.snap
  packages/@studiocms/wysiwyg/test/fixtures/AstroContainer.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
  packages/@studiocms/wysiwyg/test/routes/grapes-css.test.ts
  packages/@studiocms/wysiwyg/test/routes/partial.test.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
  pnpm-lock.yaml
Due: plugins, @studiocms/wysiwyg

update(biome): update CSS linter rules to biome configuration
  biome.json
Due: none

format
  packages/@studiocms/wysiwyg/test/routes/grapes-css.test.ts
  packages/@studiocms/wysiwyg/test/routes/partial.test.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
Due: plugins, @studiocms/wysiwyg

apply rabbit's suggestions
  biome.json
  packages/@studiocms/wysiwyg/package.json
Due: plugins, @studiocms/wysiwyg

fix
  packages/@studiocms/wysiwyg/package.json
Due: plugins, @studiocms/wysiwyg

Apply suggestions from code review
  packages/@studiocms/wysiwyg/src/index.ts
Due: plugins, @studiocms/wysiwyg

remove unused import
  packages/@studiocms/wysiwyg/src/index.ts
Due: plugins, @studiocms/wysiwyg

feat(tests): add comprehensive tests for WYSIWYG package (#822)
  biome.json
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/src/common/grapesBlocks/components/tabs/Tabs.ts
  packages/@studiocms/wysiwyg/src/components/Editor.astro
  packages/@studiocms/wysiwyg/src/index.ts
  packages/@studiocms/wysiwyg/test/components/Editor.test.ts
  packages/@studiocms/wysiwyg/test/components/Render.test.ts
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Editor.test.ts.snap
  packages/@studiocms/wysiwyg/test/components/__snapshots__/Render.test.ts.snap
  packages/@studiocms/wysiwyg/test/fixtures/AstroContainer.ts
  packages/@studiocms/wysiwyg/test/index.test.ts
  packages/@studiocms/wysiwyg/test/lib/utils.test.ts
  packages/@studiocms/wysiwyg/test/routes/grapes-css.test.ts
  packages/@studiocms/wysiwyg/test/routes/partial.test.ts
  packages/@studiocms/wysiwyg/test/routes/store.test.ts
  packages/@studiocms/wysiwyg/test/test-utils.ts
  packages/@studiocms/wysiwyg/test/types.test.ts
  packages/@studiocms/wysiwyg/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/wysiwyg

[ci] changesets
  .changeset/young-teams-prove.md
Due: none

feat(tests): add tests for `@studiocms/auth0` package
  packages/@studiocms/auth0/package.json
  packages/@studiocms/auth0/test/index.test.ts
  packages/@studiocms/auth0/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/auth0

format
  packages/@studiocms/auth0/test/index.test.ts
Due: plugins, @studiocms/auth0

feat(tests): add tests for `@studiocms/auth0` package (#845)
  packages/@studiocms/auth0/package.json
  packages/@studiocms/auth0/test/index.test.ts
  packages/@studiocms/auth0/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/auth0

feat(tests): add tests for Discord, GitHub, and Google OAuth plugins
  packages/@studiocms/discord/package.json
  packages/@studiocms/discord/test/index.test.ts
  packages/@studiocms/discord/vitest.config.ts
  packages/@studiocms/github/package.json
  packages/@studiocms/github/test/index.test.ts
  packages/@studiocms/github/vitest.config.ts
  packages/@studiocms/google/package.json
  packages/@studiocms/google/test/index.test.ts
  packages/@studiocms/google/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/discord, @studiocms/github, @studiocms/google

feat(tests): add tests for Discord, GitHub, and Google OAuth plugins (#846)
  packages/@studiocms/discord/package.json
  packages/@studiocms/discord/test/index.test.ts
  packages/@studiocms/discord/vitest.config.ts
  packages/@studiocms/github/package.json
  packages/@studiocms/github/test/index.test.ts
  packages/@studiocms/github/vitest.config.ts
  packages/@studiocms/google/package.json
  packages/@studiocms/google/test/index.test.ts
  packages/@studiocms/google/vitest.config.ts
  vitest.config.ts
Due: plugins, @studiocms/discord, @studiocms/github, @studiocms/google

chore(deps): update @astrojs/db version to ^0.18.0 across multiple packages
  packages/@studiocms/devapps/package.json
  packages/@withstudiocms/effect/package.json
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @studiocms/devapps, @withstudiocms/effect

chore(deps): update @studiocms/web-vitals version to ^4.5.3 in lockfiles
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(ci): implement GitHub App token generation for enhanced security in workflows
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-changesets.yml
  .github/workflows/ci-crowdin-sync.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
Due: none

feat(ci): add GitHub Action to post automated comments on PRs
  .github/workflows/test-github-app.yml
Due: none

feat(ci): update GitHub App token usage to v2 and adjust user login conditions for PR workflows
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-changesets.yml
  .github/workflows/ci-crowdin-sync.yml
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
  .github/workflows/test-github-app.yml
Due: none

chore(deps): update @astrojs/db version to ^0.18.0 across multiple packages (#847)
  packages/@studiocms/devapps/package.json
  packages/@withstudiocms/effect/package.json
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms, @studiocms/devapps, @withstudiocms/effect

fix(ci): update install action version across multiple workflows
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-changesets.yml
  .github/workflows/ci-crowdin-discord-bot.yml
  .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
  .github/workflows/ci-testing.yml
Due: none

feat(ci): update token generation steps to use Apollo Git Bot across multiple workflows
  .github/CODEOWNERS
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-changesets.yml
  .github/workflows/ci-crowdin-sync.yml
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
Due: none

feat(ci): implement GitHub App token generation for enhanced security in workflows (#849)
  .github/CODEOWNERS
  .github/workflows/ci-checks.yml
  .github/workflows/ci-crowdin-changesets.yml
  .github/workflows/ci-crowdin-discord-bot.yml
  .github/workflows/ci-crowdin-sync.yml
  .github/workflows/ci-labeler.yml
  .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-renovate-changeset.yml
  .github/workflows/ci-testing.yml
Due: none

fix(ci): correct condition for PR snapshot preview job to exclude specific users
  .github/workflows/ci-pkg-pr-new.yml
Due: none

Update .github/workflows/ci-pkg-pr-new.yml
  .github/workflows/ci-pkg-pr-new.yml
Due: none

fix(ci): correct condition for PR snapshot preview job to exclude specific users (#851)
  .github/workflows/ci-pkg-pr-new.yml
Due: none

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
