Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

feat(profile): refactor API token, basic info, and password update components for improved error handling and UI consistency
  packages/studiocms/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/frontend/components/dashboard/profile/BasicInfo.astro
  packages/studiocms/frontend/components/dashboard/profile/UpdatePassword.astro
Due: integrations, studiocms

feat(api): implement centralized error handling for dashboard components using shared catch tags
  packages/studiocms/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreateFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/frontend/components/dashboard/profile/BasicInfo.astro
  packages/studiocms/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/frontend/components/dashboard/profile/UpdatePassword.astro
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

feat(template-editor): integrate dashboardClient for template saving with centralized error handling
  packages/studiocms/frontend/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
Due: integrations, studiocms

feat(taxonomy): integrate dashboardClient for taxonomy operations with improved error handling
  packages/studiocms/frontend/components/dashboard/taxonomy/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/TaxonomySearch.astro
Due: integrations, studiocms

feat(user-mgmt): integrate dashboardClient for user creation and invite with improved validation and error handling
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
Due: integrations, studiocms

feat(api): centralize error handling by integrating shared catch tags across dashboard components
  packages/studiocms/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/frontend/pages/[dashboard]/login.astro
  packages/studiocms/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/frontend/pages/[dashboard]/signup.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/[dashboard]/unverified-email.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

feat(api): update user creation response message for clarity
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
Due: integrations, studiocms

feat(studiocms): Migrate dashboard components to use new API spec clients (#1430)
  .changeset/khaki-weeks-stick.md
  packages/studiocms/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/ContentSearch.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreateFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditFolder.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/frontend/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/frontend/components/dashboard/profile/BasicInfo.astro
  packages/studiocms/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/frontend/components/dashboard/profile/UpdatePassword.astro
  packages/studiocms/frontend/components/dashboard/smtp-config/TemplateEditor.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/MetaContainer.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/PageHeader.astro
  packages/studiocms/frontend/components/dashboard/taxonomy/TaxonomySearch.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/frontend/pages/[dashboard]/login.astro
  packages/studiocms/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/frontend/pages/[dashboard]/signup.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/categories.astro
  packages/studiocms/frontend/pages/[dashboard]/taxonomy/tags.astro
  packages/studiocms/frontend/pages/[dashboard]/unverified-email.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
  packages/studiocms/frontend/scripts/formdata.ts
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

feat(StorageFileBrowser): migrate to new API spec client for typesafe interactions
  .changeset/cool-flies-switch.md
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

feat(api): implement new SDK routes for page partials and user list items
  .changeset/moody-bats-drum.md
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItem.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItems.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/frontend/pages/studiocms_api/partials/editor.astro
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/frontend/utils.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, tools-utils, studiocms

chore(partials): remove unused render and user list items partials
  packages/studiocms/frontend/pages/studiocms_api/partials/render.astro
  packages/studiocms/frontend/pages/studiocms_api/partials/user-list-items.astro
Due: integrations, studiocms

fix(api): change renderMarkdown endpoint method from GET to POST
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
Due: tools-utils

fix typecheck error
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, studiocms

feat(api): enhance userListItems endpoint payload and response descriptions
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
Due: tools-utils

fix(api): change render endpoint method from GET to POST
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
Due: tools-utils

fix(user-list): refactor userListItemHref to use URLSearchParams for query parameters
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItem.astro
Due: integrations, studiocms

feat(api): add SDK utility endpoints for markdown rendering and user-list HTML, replacing legacy routes
  .changeset/moody-bats-drum.md
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItem.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItems.astro
Due: integrations, tools-utils, studiocms

refactor(user-mgmt): update user type definition to use CombinedUserData for better clarity
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
Due: integrations, studiocms

chore(md): simplify config schema and remove AstroMD flavor to reduce bundle size
  .changeset/twenty-olives-relate.md
  packages/@studiocms/md/package.json
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/src/types.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/md/test/lib/markdown-prerender.test.ts
  packages/@studiocms/md/test/test-utils.ts
  pnpm-lock.yaml
Due: plugins, @studiocms/md

chore(md): clean up template strings in internalMarkdownIntegration function
  packages/@studiocms/md/src/index.ts
Due: plugins, @studiocms/md

chore(tests): remove hardcoded flavor option from customOptions in plugin tests
  packages/@studiocms/md/test/index.test.ts
Due: plugins, @studiocms/md

Implement structural updates and optimizations across multiple modules
  playground/src/components/Code.astro
  playground/src/components/code-component.css
  playground/src/components/syntax.css
  playground/src/components/syntax.woff2
  playground/src/components/test-comp.astro
Due: none

chore(tests): update snapshot formatting for Code component in components.test.ts.snap
  packages/studiocms/test/__snapshots__/components.test.ts.snap
Due: integrations, studiocms

chore: remove bundle tests and related configurations
  .github/actions/bundle-analysis/action.yml
  .github/workflows/ci-testing.yml
  bundle-tests/studiocms-blog/.env.demo
  bundle-tests/studiocms-blog/.gitignore
  bundle-tests/studiocms-blog/README.md
  bundle-tests/studiocms-blog/astro.config.mts
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-blog/public/favicon.svg
  bundle-tests/studiocms-blog/studiocms.config.mts
  bundle-tests/studiocms-blog/tsconfig.json
  bundle-tests/studiocms-headless/.env.demo
  bundle-tests/studiocms-headless/.gitignore
  bundle-tests/studiocms-headless/README.md
  bundle-tests/studiocms-headless/astro.config.mts
  bundle-tests/studiocms-headless/package.json
  bundle-tests/studiocms-headless/public/favicon.svg
  bundle-tests/studiocms-headless/studiocms.config.mts
  bundle-tests/studiocms-headless/tsconfig.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(StorageFileBrowser): migrate to new API spec client for typesafe interactions (#1433)
  .changeset/cool-flies-switch.md
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

feat(api): implement new SDK routes for to take over page partial routes (#1434)
  .changeset/moody-bats-drum.md
  packages/@withstudiocms/api-spec/src/sdk/index.ts
  packages/@withstudiocms/api-spec/src/sdk/routes/index.ts
  packages/studiocms/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItem.astro
  packages/studiocms/frontend/components/dashboard/user-mgmt/UserListItems.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/_utils/changelog.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
  packages/studiocms/frontend/pages/studiocms_api/partials/editor.astro
  packages/studiocms/frontend/pages/studiocms_api/partials/render.astro
  packages/studiocms/frontend/pages/studiocms_api/partials/user-list-items.astro
  packages/studiocms/src/handlers/frontend/routes.ts
  packages/studiocms/src/handlers/frontend/utils.ts
  packages/studiocms/src/virtuals/lib/routeMap.ts
Due: integrations, tools-utils, studiocms

chore(md): simplify config schema and remove AstroMD flavor to reduce bundle size (#1436)
  .changeset/twenty-olives-relate.md
  packages/@studiocms/md/package.json
  packages/@studiocms/md/src/index.ts
  packages/@studiocms/md/src/lib/markdown-prerender.ts
  packages/@studiocms/md/src/types.ts
  packages/@studiocms/md/test/index.test.ts
  packages/@studiocms/md/test/lib/markdown-prerender.test.ts
  packages/@studiocms/md/test/test-utils.ts
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  playground/src/components/Code.astro
  playground/src/components/code-component.css
  playground/src/components/syntax.css
  playground/src/components/syntax.woff2
  playground/src/components/test-comp.astro
  pnpm-lock.yaml
Due: integrations, plugins, studiocms, @studiocms/md

chore: remove bundle tests and related configurations (#1437)
  .github/actions/bundle-analysis/action.yml
  .github/workflows/ci-testing.yml
  bundle-tests/studiocms-blog/.env.demo
  bundle-tests/studiocms-blog/.gitignore
  bundle-tests/studiocms-blog/README.md
  bundle-tests/studiocms-blog/astro.config.mts
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-blog/public/favicon.svg
  bundle-tests/studiocms-blog/studiocms.config.mts
  bundle-tests/studiocms-blog/tsconfig.json
  bundle-tests/studiocms-headless/.env.demo
  bundle-tests/studiocms-headless/.gitignore
  bundle-tests/studiocms-headless/README.md
  bundle-tests/studiocms-headless/astro.config.mts
  bundle-tests/studiocms-headless/package.json
  bundle-tests/studiocms-headless/public/favicon.svg
  bundle-tests/studiocms-headless/studiocms.config.mts
  bundle-tests/studiocms-headless/tsconfig.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(api): clean up API handlers and remove unnecessary variables for improved security
  .changeset/fair-files-notice.md
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/studiocms/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/mailer.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/public.ts
Due: integrations, tools-utils, studiocms

feat(api): enhance token revocation with error handling for non-existent and unauthorized tokens
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
Due: integrations, studiocms

feat(api): enhance revokeApiToken handler to check token ownership and existence
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
Due: integrations, studiocms

refactor(api): streamline token revocation logic by verifying token directly and removing redundant checks
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
Due: integrations, studiocms

refactor(api): clean up API handlers and remove unnecessary variables (#1438)
  .changeset/fair-files-notice.md
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/studiocms/frontend/components/dashboard/profile/APITokens.astro
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/mailer.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/public.ts
Due: integrations, tools-utils, studiocms

feat(api): add admin API token revocation endpoint and correct permission ranks order
  .changeset/eighty-forks-attend.md
  .changeset/sweet-jars-remain.md
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/api-tokens.ts
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/@withstudiocms/auth-kit/src/types.ts
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/auth-kit

feat(api): add admin API token revocation endpoint and correct permission ranks order (#1440)
  .changeset/eighty-forks-attend.md
  .changeset/sweet-jars-remain.md
  packages/@withstudiocms/api-spec/src/dashboard/index.ts
  packages/@withstudiocms/api-spec/src/dashboard/routes/api-tokens.ts
  packages/@withstudiocms/api-spec/src/dashboard/schemas.ts
  packages/@withstudiocms/auth-kit/src/types.ts
  packages/studiocms/frontend/pages/[dashboard]/user-management/edit.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/apiTokens.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/create.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/users.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/auth-kit

fix lint error
  .changeset/nice-terms-fix.md
  packages/studiocms/frontend/styles/dashboard-base.css
Due: integrations, studiocms

fix: simplify userListItems handler by directly using payload
  packages/studiocms/frontend/pages/studiocms_api/_handlers/sdk.ts
Due: integrations, studiocms

feat: deprecate `studiocmsMinimumVersion` in plugins API, recommend using `peerDependencies`
  .changeset/free-pants-brush.md
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/handlers/storage-manager/no-op.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/plugins/analytics/index.ts
  packages/studiocms/src/schemas/plugins/index.ts
  packages/studiocms/src/test-utils.ts
  packages/studiocms/test/schemas/plugins/index.test.ts
  packages/studiocms/test/test-utils.test.ts
Due: integrations, studiocms
