Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

fix: remove integration-utils from ignore list in changeset config
  .changeset/config.json
Due: none

fix: remove integration-utils from ignore list in changeset config (#1174)
  .changeset/config.json
Due: none

chore: remove version field from test fixture package.json files
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
Due: tools-utils, @withstudiocms/component-registry, @withstudiocms/config-utils

chore: remove version field from test fixture package.json files (#1175)
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
Due: tools-utils, @withstudiocms/component-registry, @withstudiocms/config-utils

fix: update changeset config to include test patterns and restructure privatePackages
  .changeset/config.json
Due: none

fix: update package names for test fixtures and correct ignore pattern in changeset config
  .changeset/config.json
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
Due: tools-utils, @withstudiocms/component-registry, @withstudiocms/config-utils

fix: update changeset config (#1176)
  .changeset/config.json
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
Due: tools-utils, @withstudiocms/component-registry, @withstudiocms/config-utils

fix: update package names and ignore patterns in changeset config
  .changeset/config.json
  .changeset/pre.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
Due: tools-utils, @withstudiocms/config-utils

fix: update package names and ignore patterns in changeset config (#1177)
  .changeset/config.json
  .changeset/pre.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
Due: tools-utils, @withstudiocms/config-utils

refactor: remove integration test files and update ignore patterns in changeset config
  .changeset/config.json
  .changeset/pre.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/astro.config.mts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/example.config.mjs
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/src/pages/file-watcher.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/src/pages/index.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/tsconfig.json
  packages/@withstudiocms/config-utils/test/integration-utils.test.ts
Due: tools-utils, @withstudiocms/config-utils

fix: remove integration-utils from pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: remove integration test files and update ignore patterns in… (#1178)
  .changeset/config.json
  .changeset/pre.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/astro.config.mts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/example.config.mjs
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/src/pages/file-watcher.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/src/pages/index.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/tsconfig.json
  packages/@withstudiocms/config-utils/test/integration-utils.test.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/config-utils

fix(deps): update workspace package dependency specifiers to use caret (^) for versioning
  .changeset/kind-deserts-slide.md
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-headless/package.json
  package.json
  packages/@studiocms/auth0/package.json
  packages/@studiocms/blog/package.json
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/devapps/package.json
  packages/@studiocms/discord/package.json
  packages/@studiocms/github/package.json
  packages/@studiocms/google/package.json
  packages/@studiocms/html/package.json
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/md/package.json
  packages/@studiocms/mdx/package.json
  packages/@studiocms/migrator/package.json
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/wysiwyg/package.json
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/component-registry/package.json
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/sdk/package.json
  packages/studiocms/package.json
  playground/package.json
  pnpm-lock.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry

fix: Fix create folder bug in s3-storage PUT request handler
  .changeset/lemon-flowers-mix.md
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

fix: Fix create folder bug in s3-storage PUT request handler (#1187)
  .changeset/lemon-flowers-mix.md
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

fix: Update Allure report deployment condition for pull requests and main branch
  .github/workflows/ci-testing.yml
Due: none

fix(deps): update workspace package dependency specifiers to use caret (^) for versioning (#1186)
  .changeset/kind-deserts-slide.md
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-headless/package.json
  package.json
  packages/@studiocms/auth0/package.json
  packages/@studiocms/blog/package.json
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/devapps/package.json
  packages/@studiocms/discord/package.json
  packages/@studiocms/github/package.json
  packages/@studiocms/google/package.json
  packages/@studiocms/html/package.json
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/md/package.json
  packages/@studiocms/mdx/package.json
  packages/@studiocms/migrator/package.json
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/wysiwyg/package.json
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/component-registry/package.json
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/sdk/package.json
  packages/studiocms/package.json
  playground/package.json
  pnpm-lock.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry

fix: Update Allure report deployment condition for pull requests and main branch (#1189)
  .github/workflows/ci-testing.yml
Due: none

chore: update optional dependencies and configuration
  .changeset/cyan-sites-count.md
  .changeset/new-masks-return.md
  packages/@withstudiocms/kysely/package.json
  packages/studiocms/package.json
  packages/studiocms/src/consts.ts
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms

fix: remove unused @studiocms/s3-storage dependency and related code
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: none

fix: update expected value for chunkSizeWarningLimit in AstroConfigViteSettings test
  packages/studiocms/test/consts.test.ts
Due: integrations, studiocms

fix: update dependencies and peerDependencies across multiple packages to resolve conflicts
  .changeset/petite-lemons-smash.md
  packages/@studiocms/auth0/package.json
  packages/@studiocms/blog/package.json
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/devapps/package.json
  packages/@studiocms/discord/package.json
  packages/@studiocms/github/package.json
  packages/@studiocms/google/package.json
  packages/@studiocms/html/package.json
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/md/package.json
  packages/@studiocms/mdx/package.json
  packages/@studiocms/migrator/package.json
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/wysiwyg/package.json
  packages/@withstudiocms/sdk/package.json
  packages/studiocms/package.json
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

fix: reorganize dependencies in pnpm-lock.yaml for clarity and consistency
  pnpm-lock.yaml
Due: none

fix: remove unused @withstudiocms/kysely dependency from package.json and pnpm-lock.yaml
  packages/@studiocms/devapps/package.json
  pnpm-lock.yaml
Due: integrations, @studiocms/devapps

feat: enhance content management page with sidepanel and form inputs
  cspell.json
  packages/studiocms/frontend/pages/[dashboard]/content-management/editpage.astro
  packages/studiocms/frontend/pages/[dashboard]/content-management/temp.astro
  playground/astro.config.mts
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: integrations, studiocms

fix: reverse diff history order for page edit history getter
  .changeset/slimy-cobras-wear.md
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
Due: tools-utils

feat: add makeAstroEndpoint function and AstroAPIContext class for integrating Effect HttpApp with Astro API routes
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/astro/http-app.ts
  packages/@withstudiocms/effect/src/astro/index.ts
Due: tools-utils, @withstudiocms/effect

feat: add makeAstroEndpoint to /astro and /astro/http-app exports for converting Effect HttpApp instances to APIRoutes
  .changeset/strong-ducks-stay.md
Due: none

feat: enhance Astro API integration with new Effect API utilities and route handlers
  .changeset/strong-ducks-stay.md
  packages/@withstudiocms/effect/src/astro/http-app.ts
Due: tools-utils, @withstudiocms/effect

chore: update optional dependencies and configuration (#1197)
  .changeset/cyan-sites-count.md
  .changeset/new-masks-return.md
  .changeset/petite-lemons-smash.md
  packages/@studiocms/auth0/package.json
  packages/@studiocms/blog/package.json
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/devapps/package.json
  packages/@studiocms/discord/package.json
  packages/@studiocms/github/package.json
  packages/@studiocms/google/package.json
  packages/@studiocms/html/package.json
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/md/package.json
  packages/@studiocms/mdx/package.json
  packages/@studiocms/migrator/package.json
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/wysiwyg/package.json
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/sdk/package.json
  packages/studiocms/package.json
  packages/studiocms/src/consts.ts
  packages/studiocms/test/consts.test.ts
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

feat: add SIGTERM handler registration for resource cleanup in Astro API routes
  packages/@withstudiocms/effect/src/astro/http-app.ts
Due: tools-utils, @withstudiocms/effect

fix: reverse diff history order for page edit history getter (#1199)
  .changeset/slimy-cobras-wear.md
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
Due: tools-utils

feat(api-spec): add initial API specification with endpoints and schemas
  packages/@withstudiocms/api-spec/.gitignore
  packages/@withstudiocms/api-spec/LICENSE
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/errors.ts
  packages/@withstudiocms/api-spec/src/rest-api/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/tsconfig.json
  packages/@withstudiocms/api-spec/tsconfig.tspc.json
  pnpm-lock.yaml
Due: tools-utils

feat(api): add pages endpoints and schemas for page retrieval and options
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
Due: tools-utils

fix(api-spec): revert version to 0.0.0 and add changeset for new package initialization
  .changeset/bumpy-clowns-stand.md
  packages/@withstudiocms/api-spec/package.json
Due: tools-utils

fix(api-spec): remove outdated keywords from package.json
  packages/@withstudiocms/api-spec/package.json
Due: tools-utils

fix(license): update copyright year to 2026
  packages/@withstudiocms/api-spec/LICENSE
Due: tools-utils

fix(api-spec): remove unused dependency and update package references
  knip.config.ts
  packages/@withstudiocms/api-spec/package.json
  pnpm-lock.yaml
Due: tools-utils
