Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

feat: remove unused import of sql in plugin test file
  packages/@withstudiocms/kysely/test/plugin.test.ts
Due: tools-utils

feat: add tests for handling default values and table recreation in KyselyTableManager
  packages/@withstudiocms/kysely/test/plugin.test.ts
Due: tools-utils

feat: update test descriptions for clarity in KyselyTableManager tests
  packages/@withstudiocms/kysely/test/plugin.test.ts
Due: tools-utils

feat: implement DBFixture class for managing test database lifecycle in Kysely
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
Due: tools-utils

fix: update import paths to include file extensions for client and migrator
  packages/@withstudiocms/kysely/src/test-utils.ts
Due: tools-utils

feat: add type definitions and default exports for test-utils in package.json
  packages/@withstudiocms/kysely/package.json
Due: tools-utils

refactor: remove dialect from TableManagerOptions and implement getDialect method for dynamic retrieval
  packages/@withstudiocms/kysely/src/plugin.ts
  packages/@withstudiocms/kysely/test/plugin.test.ts
  packages/studiocms/src/db/plugins.ts
Due: integrations, tools-utils, studiocms

refactor: streamline KyselyTableManager options and enhance dialect detection logic
  packages/@withstudiocms/kysely/src/plugin.ts
Due: tools-utils

fix: add v8 ignore comments to prevent linting errors in logger and KyselyTableManager
  packages/@withstudiocms/kysely/src/plugin.ts
  packages/@withstudiocms/kysely/src/utils/logger.ts
Due: tools-utils

refactor: enhance configuration schemas for improved clarity and flexibility
  packages/studiocms/src/index.ts
  packages/studiocms/src/schemas/config/auth.ts
  packages/studiocms/src/schemas/config/dashboard.ts
  packages/studiocms/src/schemas/config/db.ts
  packages/studiocms/src/schemas/config/developer.ts
  packages/studiocms/src/schemas/config/index.ts
  packages/studiocms/src/schemas/config/sdk.ts
Due: integrations, studiocms

refactor: update types and schemas to support JSDoc comments
  .changeset/pretty-animals-dress.md
Due: none

refactor: update parseAndMerge function to accept undefined config
  packages/studiocms/src/cli/utils/loadConfig.ts
Due: integrations, studiocms

refactor: simplify auth configuration tests by removing unused schemas and redundant cases
  packages/studiocms/test/schemas/config/auth.test.ts
Due: integrations, studiocms

Update packages/studiocms/src/schemas/config/auth.ts
  packages/studiocms/src/schemas/config/auth.ts
Due: integrations, studiocms

refactor: improve documentation for auth and db configuration schemas
  packages/studiocms/src/schemas/config/auth.ts
  packages/studiocms/src/schemas/config/db.ts
Due: integrations, studiocms

refactor: simplify locale validation in StudioCMSOptionsSchema
  packages/studiocms/src/schemas/config/index.ts
Due: integrations, studiocms

feat(migrator): add initial setup for StudioCMS migrator package
  package.json
  packages/@studiocms/migrator/.env.demo
  packages/@studiocms/migrator/.gitignore
  packages/@studiocms/migrator/README.md
  packages/@studiocms/migrator/astro.config.mts
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/src/env.d.ts
  packages/@studiocms/migrator/src/pages/index.astro
  packages/@studiocms/migrator/start.mjs
  packages/@studiocms/migrator/tsconfig.json
  pnpm-lock.yaml
Due: none

refactor(migrator): remove development server configuration from Astro config
  packages/@studiocms/migrator/astro.config.mts
Due: none

feat(migrator): update configuration and add AstroDB schema for StudioCMS migration
  packages/@studiocms/migrator/.env.demo
  packages/@studiocms/migrator/astro.config.mts
  packages/@studiocms/migrator/db/config.ts
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/start.mjs
  pnpm-lock.yaml
Due: none

feat(migrator): remove deprecated tables and add AstroDB to Kysely mapping
  packages/@studiocms/migrator/db/config.ts
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/src/lib/tableMap.ts
Due: none

feat(migrator): add clients.ts file for database client configuration
  packages/@studiocms/migrator/src/db/clients.ts
Due: none

refactor(migrator): remove unused type references from env.d.ts
  packages/@studiocms/migrator/src/env.d.ts
Due: none

feat(migrator): integrate StudioCMS UI components and enhance configuration for migration utility
  packages/@studiocms/migrator/astro.config.mts
  packages/@studiocms/migrator/package.json
  packages/@studiocms/migrator/public/favicon.svg
  packages/@studiocms/migrator/src/components/PageHeader.astro
  packages/@studiocms/migrator/src/db/client.ts
  packages/@studiocms/migrator/src/db/clients.ts
  packages/@studiocms/migrator/src/env.d.ts
  packages/@studiocms/migrator/src/layouts/Layout.astro
  packages/@studiocms/migrator/src/pages/index.astro
  packages/@studiocms/migrator/src/styles/global.css
  packages/@studiocms/migrator/start.mjs
  pnpm-lock.yaml
  studiocms.config.mts
Due: none

feat(migrator): add schema migration API endpoint and response utility
  packages/@studiocms/migrator/astro.config.mts
  packages/@studiocms/migrator/src/components/ErrorCard.astro
  packages/@studiocms/migrator/src/components/PageHeader.astro
  packages/@studiocms/migrator/src/db/astrodb.ts
  packages/@studiocms/migrator/src/fonts/css/onest-variable.css
  packages/@studiocms/migrator/src/fonts/css/syntax.css
  packages/@studiocms/migrator/src/fonts/woff2/onest-variable.woff2
  packages/@studiocms/migrator/src/fonts/woff2/syntax.woff2
  packages/@studiocms/migrator/src/layouts/Layout.astro
  packages/@studiocms/migrator/src/lib/response-utils.ts
  packages/@studiocms/migrator/src/lib/tableMap.ts
  packages/@studiocms/migrator/src/pages/index.astro
  packages/@studiocms/migrator/src/pages/schema-migrations.ts
  packages/@studiocms/migrator/src/styles/global.css
Due: none

refactor(migrator): update import statements for Badge and Button components
  packages/@studiocms/migrator/src/pages/index.astro
Due: none

fix(migrator): update dotenv configuration to suppress warnings and add missing bin entry
  packages/@studiocms/migrator/astro.config.mts
  packages/@studiocms/migrator/package.json
Due: none

feat(migrator): implement migration status and error handling components, enhance database connection tests, and update styles
  packages/@studiocms/migrator/src/components/ErrorCard.astro
  packages/@studiocms/migrator/src/components/MigrationStatus.astro
  packages/@studiocms/migrator/src/components/StatusTables.astro
  packages/@studiocms/migrator/src/content/strings/errors.ts
  packages/@studiocms/migrator/src/db/client.ts
  packages/@studiocms/migrator/src/lib/tableMap.ts
  packages/@studiocms/migrator/src/pages/index.astro
  packages/@studiocms/migrator/src/styles/global.css
Due: none

feat(migrator): enhance error handling by adding error cases and refactoring migration status logic
  packages/@studiocms/migrator/src/components/MigrationStatus.astro
  packages/@studiocms/migrator/src/content/strings/errors.ts
  packages/@studiocms/migrator/src/db/client.ts
  packages/@studiocms/migrator/src/lib/errors.ts
  packages/@studiocms/migrator/src/lib/response-utils.ts
  packages/@studiocms/migrator/src/pages/index.astro
Due: none

chore(config): add comment for testing/dev context of migrator package
  studiocms.config.mts
Due: none

feat(migrator): enhance error handling in database configuration and migration status retrieval
  packages/@studiocms/migrator/db/config.ts
  packages/@studiocms/migrator/src/db/client.ts
  packages/@studiocms/migrator/src/pages/index.astro
Due: none

feat(migrator): implement migration metadata retrieval and enhance UI components for data migration status
  packages/@studiocms/migrator/src/components/MigrationMeta.astro
  packages/@studiocms/migrator/src/db/astrodb.ts
  packages/@studiocms/migrator/src/db/client.ts
  packages/@studiocms/migrator/src/lib/tableMap.ts
  packages/@studiocms/migrator/src/pages/data-migrations.ts
  packages/@studiocms/migrator/src/pages/index.astro
  packages/@studiocms/migrator/src/styles/global.css
Due: none

feat(migrator): implement remapping functions and categorize AstroDB tables for migration
  packages/@studiocms/migrator/src/lib/remapUtils.ts
  packages/@studiocms/migrator/src/lib/tableMap.ts
  packages/@studiocms/migrator/src/pages/data-migrations.ts
Due: none

feat(migrator): refactor migration functions to handle arrays and improve data mapping for multiple tables
  packages/@studiocms/migrator/src/lib/remapUtils.ts
  packages/@studiocms/migrator/src/pages/data-migrations.ts
Due: none

feat(migrator): update configuration for Kysely integration and add PassthroughMigrationProvider
  .gitignore
  packages/@studiocms/migrator/astro.config.mts
  packages/@studiocms/migrator/package.json
  packages/@withstudiocms/kysely/src/core/migrator.ts
  packages/@withstudiocms/kysely/src/migrator.ts
  pnpm-lock.yaml
Due: tools-utils

feat(migrator): add migration for dropping deprecated schema and update migrations record
  packages/@withstudiocms/kysely/src/migrations/20251130T150847_drop_deprecated.ts
  packages/@withstudiocms/kysely/src/migrator.ts
Due: tools-utils

feat(migrator): update migration metadata for dropping deprecated tables
  packages/@withstudiocms/kysely/src/migrations/20251130T150847_drop_deprecated.ts
Due: tools-utils

feat(migrator): add PassthroughMigrationProvider class for serving static migrations
  packages/@withstudiocms/kysely/src/core/migrator.ts
Due: tools-utils

feat(studiocms) Introduce new helper for plugins to have their own tables (#1030)
  .changeset/fluffy-zebras-beg.md
  cspell.json
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/scratchpad/plugin-helpers.ts
  packages/@withstudiocms/kysely/src/kysely.ts
  packages/@withstudiocms/kysely/src/plugin.ts
  packages/@withstudiocms/kysely/src/test-utils.ts
  packages/@withstudiocms/kysely/src/utils/logger.ts
  packages/@withstudiocms/kysely/test/plugin.test.ts
  packages/@withstudiocms/kysely/test/test-utils.ts
  packages/studiocms/package.json
  packages/studiocms/src/db/plugins.ts
Due: integrations, tools-utils, studiocms

feat(studiocms): Return of proper JSDocs in our configs (#1031)
  .changeset/pretty-animals-dress.md
  packages/studiocms/src/cli/utils/loadConfig.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/schemas/config/auth.ts
  packages/studiocms/src/schemas/config/dashboard.ts
  packages/studiocms/src/schemas/config/db.ts
  packages/studiocms/src/schemas/config/developer.ts
  packages/studiocms/src/schemas/config/index.ts
  packages/studiocms/src/schemas/config/sdk.ts
  packages/studiocms/test/schemas/config/auth.test.ts
Due: integrations, studiocms
