Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**

refactor: streamline session and user handling, update types for improved clarity
  packages/@withstudiocms/auth-kit/src/modules/session.ts
  packages/@withstudiocms/auth-kit/src/modules/user.ts
  packages/@withstudiocms/auth-kit/src/types.ts
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/studiocms/src/utils/effects/smtp.ts
  packages/studiocms/src/virtuals/auth/core.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/auth-kit

refactor: remove TODO comment and improve formatting of updateLocalUser function
  packages/studiocms/src/virtuals/auth/core.ts
Due: integrations, studiocms

refactor: update timestamps in fake user and session objects for consistency
  packages/@withstudiocms/auth-kit/test/modules/session.test.ts
  packages/@withstudiocms/auth-kit/test/modules/user.test.ts
Due: tools-utils, @withstudiocms/auth-kit

refactor: simplify page data handling in Recently-created and Recently-updated pages, and clean up Totals and pluginHandler code
  packages/studiocms/src/handlers/plugin-components/Recently-created-pages.astro
  packages/studiocms/src/handlers/plugin-components/Recently-updated-pages.astro
  packages/studiocms/src/handlers/plugin-components/Totals.astro
  packages/studiocms/src/handlers/pluginHandler.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

Refactor API routes and improve user data handling
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/api-tokens.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/config.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/content/diff.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/create-user-invite.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/create-user.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/email-notification-settings-site.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/profile.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/reset-password.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/search-list.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/update-user-notifications.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/users.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/verify-email.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/verify-session.ts
  packages/studiocms/src/frontend/pages/studiocms_api/rest/v1/folders/index.ts
  packages/studiocms/src/frontend/pages/studiocms_api/rest/v1/pages/[id]/index.ts
  packages/studiocms/src/frontend/pages/studiocms_api/rest/v1/pages/index.ts
  packages/studiocms/src/frontend/pages/studiocms_api/rest/v1/public/folders/index.ts
  packages/studiocms/src/frontend/pages/studiocms_api/rest/v1/public/pages/[id].ts
  packages/studiocms/src/frontend/pages/studiocms_api/rest/v1/public/pages/index.ts
  packages/studiocms/src/frontend/pages/studiocms_api/rest/v1/users/index.ts
  packages/studiocms/src/frontend/pages/studiocms_api/sdk/fallback-list-pages.json.ts
  packages/studiocms/src/frontend/pages/studiocms_api/sdk/full-changelog.json.ts
  packages/studiocms/src/frontend/pages/studiocms_api/sdk/list-pages.ts
  packages/studiocms/src/frontend/pages/studiocms_api/sdk/update-latest-version-cache.ts
Due: integrations, studiocms

fix: correct variable syntax in TypeCheck action names
  .github/actions/type-check/action.yml
  .github/workflows/ci-testing.yml
Due: none

refactor: update type definitions for SiteConfig and improve DynamicSettingsRenderer component
  packages/studiocms/src/frontend/components/dashboard/DashboardGrid.astro
  packages/studiocms/src/frontend/components/dashboard/configuration/ConfigForm.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/CreatePage.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/EditPage.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/InnerSidebarElement.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/PageHeader.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/PageList.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/PluginFields.astro
  packages/studiocms/src/frontend/components/dashboard/content-mgmt/shared.ts
  packages/studiocms/src/frontend/components/dashboard/plugins/SettingsRenderer.astro
  packages/studiocms/src/frontend/components/dashboard/profile/Notifications.astro
  packages/studiocms/src/frontend/components/dashboard/sidebar/VersionCheck.astro
  packages/studiocms/src/frontend/components/dashboard/user-mgmt/InnerSidebarElement.astro
  packages/studiocms/src/frontend/components/dashboard/user-mgmt/UserListItem.astro
  packages/studiocms/src/frontend/components/shared/DynamicSettingsRenderer.astro
  packages/studiocms/src/frontend/pages/[dashboard]/content-management/diff.astro
  packages/studiocms/src/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/src/frontend/pages/[dashboard]/user-management/edit.astro
Due: integrations, studiocms

refactor: update OAuth provider search logic and standardize date formatting in user objects
  packages/@studiocms/auth0/src/effect/auth0.ts
  packages/@studiocms/discord/src/effect/discord.ts
  packages/@studiocms/github/src/effect/github.ts
  packages/@studiocms/google/src/effect/google.ts
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/studiocms/package.json
  playground/package.json
  pnpm-lock.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/auth0, @studiocms/discord, @studiocms/github, @studiocms/google

refactor: update image type definitions to allow null values and simplify data fetching in blog routes
  packages/@studiocms/blog/src/components/BaseHead.astro
  packages/@studiocms/blog/src/components/PostHeader.astro
  packages/@studiocms/blog/src/components/heroHelper.ts
  packages/@studiocms/blog/src/layouts/Layout.astro
  packages/@studiocms/blog/src/routes/[...slug].astro
  packages/@studiocms/blog/src/routes/blog/[...slug].astro
  packages/@studiocms/blog/src/routes/blog/index.astro
  packages/@studiocms/blog/src/routes/rss.xml.ts
  packages/@studiocms/blog/src/utils/remapFilter.ts
Due: plugins, @studiocms/blog

refactor: add plugin data types to virtual module for improved type safety
  packages/@withstudiocms/sdk/src/types.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, tools-utils, studiocms

refactor: enhance error handling and logging, update database connection tests, and improve type safety across modules
  packages/@withstudiocms/kysely/src/core/errors.ts
  packages/@withstudiocms/kysely/src/migrations/20251025T040912_init.ts
  packages/@withstudiocms/sdk/src/modules/diffTracking/index.ts
  packages/@withstudiocms/sdk/src/modules/get/index.ts
  packages/@withstudiocms/sdk/src/modules/init/index.ts
  packages/@withstudiocms/sdk/src/modules/post/index.ts
  packages/@withstudiocms/sdk/src/modules/util/collectors.ts
  packages/@withstudiocms/sdk/src/modules/util/getFromNPM.ts
  packages/@withstudiocms/sdk/src/modules/util/parsers.ts
  packages/studiocms/src/frontend/layouts/BaseLayout.astro
  packages/studiocms/src/frontend/layouts/FirstTimeSetupLayout.astro
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/src/handlers/astroConfigCheck.ts
  packages/studiocms/src/index.ts
Due: integrations, tools-utils, studiocms

refactor: integrate cache management into SDK context, enhance logger functionality, and clean up unused code
  packages/@withstudiocms/sdk/src/cache.ts
  packages/@withstudiocms/sdk/src/context.ts
  packages/@withstudiocms/sdk/src/index.ts
  packages/@withstudiocms/sdk/src/lib/logger.ts
  packages/studiocms/src/frontend/pages/studiocms_api/dashboard/content/page.ts
  packages/studiocms/src/utils/effects/logger.ts
  packages/studiocms/src/virtuals/sdk/index.ts
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms

refactor: update ignore patterns in biome configuration, enhance error handling settings, and improve code comments for clarity
  biome.json
  packages/@withstudiocms/component-registry/src/component-proxy/decoder/util.ts
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/studiocms/src/virtuals/scripts/user-quick-tools.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry

refactor: update .gitignore for allure results and simplify test data structures in remapFilter tests
  .gitignore
  packages/@studiocms/blog/test/utils/remapFilter.test.ts
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
  packages/studiocms/test/middleware/utils.test.ts
Due: integrations, plugins, studiocms, @studiocms/blog

refactor: reintroduce internationalization files for web vitals in multiple languages
  packages/studiocms/src/integrations/webVitals/i18n/de.ts
  packages/studiocms/src/integrations/webVitals/i18n/en.ts
  packages/studiocms/src/integrations/webVitals/i18n/es.ts
  packages/studiocms/src/integrations/webVitals/i18n/fr.ts
  packages/studiocms/src/integrations/webVitals/i18n/nl.ts
  packages/studiocms/src/integrations/webVitals/i18n/no.ts
  packages/studiocms/src/integrations/webVitals/i18n/zh.ts
Due: integrations, studiocms

refactor: integrate new Kysely based SDK into StudioCMS
  .changeset/public-experts-vanish.md
Due: none

refactor: clean up package.json exports and remove unused SDK references in index.ts
  packages/studiocms/package.json
  packages/studiocms/src/index.ts
Due: integrations, studiocms

refactor: remove unused reference to @astrojs/db in index.ts
  packages/studiocms/src/index.ts
Due: integrations, studiocms

refactor: reorganize CLI user creation logic and integrate new database client handling
  packages/studiocms/src/cli/migrator/index.ts
  packages/studiocms/src/cli/users/index.ts
  packages/studiocms/src/cli/users/steps/createUsers.ts
  packages/studiocms/src/cli/utils/getCliDbClient.ts
  packages/studiocms/src/cli/utils/loadConfig.ts
Due: integrations, studiocms

refactor: integrate database client handling and add query execution for current time
  packages/studiocms/src/cli/users/index.ts
Due: integrations, studiocms

refactor: rename functions for consistency in user creation step
  packages/studiocms/src/cli/users/steps/createUsers.ts
Due: integrations, studiocms

refactor: replace libsqlModifyUsers with new modifyUsers implementation and remove obsolete files
  packages/studiocms/src/cli/users/index.ts
  packages/studiocms/src/cli/users/steps/modifyUsers.ts
  packages/studiocms/src/cli/utils/useLibSQLDb.ts
Due: integrations, studiocms

Refactor code structure for improved readability and maintainability
  README.md
  bundle-tests/studiocms-blog/astro.config.mts
  bundle-tests/studiocms-blog/package.json
  bundle-tests/studiocms-headless/astro.config.mts
  bundle-tests/studiocms-headless/package.json
  package.json
  packages/@withstudiocms/effect/src/drizzle.ts
  packages/studiocms/README.md
  packages/studiocms/package.json
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/effect

refactor: enhance logger output formatting and add debug logging for middleware cache verification
  packages/@withstudiocms/sdk/src/lib/logger.ts
  packages/@withstudiocms/sdk/src/modules/middleware/index.ts
Due: tools-utils

refactor: remove obsolete @studiocms/web-vitals dependency from package.json
  playground/package.json
  pnpm-lock.yaml
Due: none

refactor: update comments for clarity in astroConfigCheck and changelog modules; add TODO for initCMD refactor
  packages/studiocms/src/cli/init/index.ts
  packages/studiocms/src/handlers/astroConfigCheck.ts
  packages/studiocms/src/handlers/changelog.ts
Due: integrations, studiocms

refactor: update package dependencies and improve WordPress API converters for better data handling
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/src/effects/WordPressAPI/converters.ts
  packages/@studiocms/devapps/src/effects/WordPressAPI/importers.ts
  packages/@studiocms/devapps/src/index.ts
  packages/@studiocms/devapps/src/routes/outerbase.astro
  packages/@studiocms/devapps/src/virt.d.ts
  pnpm-lock.yaml
Due: integrations, @studiocms/devapps

refactor: remove obsolete '@astrojs/db' dependency from devapps package
  pnpm-lock.yaml
Due: none

refactor: add @studiocms/devapps dependency and update related configurations
  packages/@studiocms/devapps/src/apps/libsql-viewer.ts
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, @studiocms/devapps

refactor: enhance database connection messages with emojis for better visibility
  packages/studiocms/src/index.ts
Due: integrations, studiocms

refactor: update package dependencies to use catalog references for improved consistency
  .changeset/public-experts-vanish.md
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/sdk/package.json
  packages/studiocms/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, tools-utils, studiocms

feat: implement KyselyTableManager with support for table creation, indexing, and triggers
  packages/@withstudiocms/kysely/scratchpad/PluginHelper.ts
Due: tools-utils

feat: add KyselyTableManager and logger implementation with example usage for plugin management
  cspell.json
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/scratchpad/plugin-helpers.ts
  packages/@withstudiocms/kysely/src/plugin.ts
  packages/@withstudiocms/kysely/src/utils/logger.ts
Due: tools-utils

feat: add configuration loading and parsing utilities for StudioCMS
  packages/@withstudiocms/kysely/scratchpad/plugin-helpers.ts
  packages/studiocms/package.json
  packages/studiocms/src/db/plugins.ts
Due: integrations, tools-utils, studiocms

feat: introduce new plugin helpers for database interactions
  .changeset/fluffy-zebras-beg.md
Due: none

feat: add tests for KyselyTableManager to validate table creation and existence handling
  packages/@withstudiocms/kysely/src/plugin.ts
  packages/@withstudiocms/kysely/test/plugin.test.ts
Due: tools-utils

feat: refine type exports and enhance DatabaseDialect handling in plugin helpers
  packages/@withstudiocms/kysely/scratchpad/plugin-helpers.ts
  packages/@withstudiocms/kysely/src/plugin.ts
  packages/studiocms/src/db/plugins.ts
Due: integrations, tools-utils, studiocms

feat: add v8 ignore comments for dialect handling in KyselyTableManager
  packages/@withstudiocms/kysely/src/plugin.ts
Due: tools-utils

feat: add v8 ignore comments for improved dialect handling in Kysely utilities
  packages/@withstudiocms/kysely/src/kysely.ts
  packages/@withstudiocms/kysely/src/utils/logger.ts
Due: tools-utils

feat: update trigger creation logic and enhance test coverage for KyselyTableManager
  packages/@withstudiocms/kysely/scratchpad/plugin-helpers.ts
  packages/@withstudiocms/kysely/test/plugin.test.ts
Due: tools-utils
