Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

[ci] changesets
  .changeset/strong-toes-design.md
Due: none

[ci] changesets
  .changeset/salty-falcons-begin.md
Due: none

chore(deps): add label for template dependencies in Renovate config
  .github/renovate.json
  .github/workflows/ci-bot-changesets.yml
Due: none

chore: update dependencies in blog and headless templates
  pnpm-lock.yaml
  templates/blog-libsql/package.json
  templates/blog-mysql/package.json
  templates/blog-postgres/package.json
  templates/headless-libsql/package.json
  templates/headless-mysql/package.json
  templates/headless-postgres/package.json
Due: none

chore: update dependencies in blog and headless templates (#1528)
  pnpm-lock.yaml
  templates/blog-libsql/package.json
  templates/blog-mysql/package.json
  templates/blog-postgres/package.json
  templates/headless-libsql/package.json
  templates/headless-mysql/package.json
  templates/headless-postgres/package.json
Due: none

chore(deps): add label for template dependencies in Renovate config (#1527)
  .github/renovate.json
  .github/workflows/ci-bot-changesets.yml
Due: none

[ci] changesets
  .changeset/thin-sheep-unite.md
Due: none

Delete .changeset/thin-sheep-unite.md
  .changeset/thin-sheep-unite.md
Due: none

Update nodemailer to version ^8.0.3
  .changeset/sour-toes-relax.md
Due: none

chore: update dependency catalogs in pnpm-workspace.yaml
  .github/renovate.json
  cspell.json
  package.json
  packages/@studiocms/auth0/package.json
  packages/@studiocms/blog/package.json
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/devapps/package.json
  packages/@studiocms/discord/package.json
  packages/@studiocms/github/package.json
  packages/@studiocms/google/package.json
  packages/@studiocms/html/package.json
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/markdown-remark/package.json
  packages/@studiocms/md/package.json
  packages/@studiocms/mdx/package.json
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/wysiwyg/package.json
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/component-registry/package.json
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/internal_helpers/package.json
  packages/effectify/package.json
  packages/studiocms/package.json
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

fix(deps): update zod dependency to ^4.3.6
  packages/@withstudiocms/sdk/package.json
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/sdk

fix(deps): update @astrojs/internal-helpers and vite versions to 0.8.0 and 7.3.1 respectively
  pnpm-lock.yaml
Due: none

fix(deps): update astro dependency to catalog:astrojs-current in package.json and pnpm-lock.yaml
  packages/@withstudiocms/effect/package.json
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/effect

fix(deps): update astro dependency to catalog:astrojs-current in multiple package.json and pnpm-lock.yaml files
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/component-registry/package.json
  packages/effectify/package.json
  packages/studiocms/src/virtuals/lib/headDefaults.ts
  pnpm-lock.yaml
Due: integrations, tools-utils, studiocms, @withstudiocms/auth-kit, @withstudiocms/component-registry

chore: update Astro and related dependencies to version 6.0.8, adjust workspace package references, and comment out unused configurations
  packages/@studiocms/blog/src/components/BaseHead.astro
  packages/studiocms/frontend/components/shared/BaseHead.astro
  packages/studiocms/frontend/layouts/AuthLayout.astro
  packages/studiocms/frontend/styles/auth-layout.css
  packages/studiocms/src/consts.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/index.ts
  playground/package.json
  playground/studiocms.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: integrations, plugins, studiocms, @studiocms/blog

fix: comment out unused SSR optimization settings in AstroConfigViteSettings
  packages/studiocms/src/consts.ts
Due: integrations, studiocms

fix: update snapshots for AuthLayout component to reflect changes in HTML structure
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
Due: integrations, studiocms

fix: update imports to use virtual modules and enable DB Studio dev toolbar app
  packages/studiocms/src/client/apiClient.ts
  packages/studiocms/src/consts.ts
  packages/studiocms/src/handlers/setupDbStudio.ts
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/auth/verify-email.ts
  playground/astro.config.mts
  playground/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

fix: remove unused astro6ClientShimPlugin and related code from consts.ts
  packages/studiocms/src/consts.ts
Due: integrations, studiocms

fix: update Zod usage to be compatible with Zod v4 and remove migration task comments
  packages/@withstudiocms/sdk/src/lib/pluginUtils.ts
Due: tools-utils, @withstudiocms/sdk

refactor: update code component styles and layout adjustments
  cspell.json
  packages/@studiocms/blog/src/components/BaseHead.astro
  packages/@studiocms/blog/src/components/Navigation.astro
  packages/@studiocms/blog/src/components/navigation.css
  packages/@studiocms/blog/src/layouts/Layout.astro
  packages/@studiocms/blog/src/styles/base.css
  packages/studiocms/frontend/components/shared/Code.astro
  packages/studiocms/frontend/layouts/AuthLayout.astro
  packages/studiocms/frontend/layouts/BaseLayout.astro
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/layouts/FirstTimeSetupLayout.astro
  packages/studiocms/frontend/pages/[dashboard]/smtp-configuration.astro
  packages/studiocms/frontend/styles/auth-layout.css
  packages/studiocms/frontend/styles/code-component.css
  packages/studiocms/frontend/styles/dashboard-base.css
  playground/src/components/Code.astro
  playground/src/components/code-component.css
  playground/studiocms.config.mts
Due: integrations, plugins, studiocms, @studiocms/blog

fix: remove unused event listener and clean up theme toggle styles
  packages/studiocms/frontend/components/dashboard/MainSidebarContent.astro
  packages/studiocms/frontend/styles/dashboard-base.css
Due: integrations, studiocms

fix: move global CSS imports to layout components
  packages/studiocms/frontend/components/shared/BaseHead.astro
  packages/studiocms/frontend/layouts/AuthLayout.astro
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/layouts/FirstTimeSetupLayout.astro
Due: integrations, studiocms

fix: remove unused dependency 'astro/toolbar' from optimizeDepsInclude
  packages/studiocms/src/consts.ts
Due: integrations, studiocms

test: update layout component tests and add new snapshot for blog layout
  packages/@studiocms/blog/test/layouts/Layout.test.ts
  packages/@studiocms/blog/test/layouts/__snapshots__/Layout.test.ts.snap
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
Due: integrations, plugins, studiocms, @studiocms/blog

test: enhance layout component tests with cleaned HTML output and updated snapshot
  packages/@studiocms/blog/test/layouts/Layout.test.ts
  packages/@studiocms/blog/test/layouts/__snapshots__/Layout.test.ts.snap
  packages/@studiocms/blog/test/test-utils.ts
Due: plugins, @studiocms/blog

feat: introduce layout IDs and update layout components for consistency
  packages/@studiocms/blog/src/components/BaseHead.astro
  packages/@studiocms/blog/src/layouts/Layout.astro
  packages/@studiocms/blog/src/layouts/consts.ts
  packages/studiocms/frontend/consts.ts
  packages/studiocms/frontend/layouts/AuthLayout.astro
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/layouts/FirstTimeSetupLayout.astro
  packages/studiocms/frontend/styles/auth-layout.css
  packages/studiocms/frontend/styles/dashboard-base.css
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
Due: integrations, plugins, studiocms, @studiocms/blog

fix: update entrypoint resolution for DB Studio dev toolbar app
  packages/studiocms/src/handlers/setupDbStudio.ts
Due: integrations, studiocms

cleanup unused event listeners
  packages/@studiocms/devapps/src/apps/wp-importer.ts
  packages/studiocms/frontend/components/dashboard/SingleSidebar.astro
  packages/studiocms/frontend/components/shared/ThemeManager.astro
  packages/studiocms/src/toolbar/db-viewer/index.ts
Due: integrations, studiocms, @studiocms/devapps

refactor: reorder import statements for consistency across layout files
  packages/studiocms/frontend/layouts/AuthLayout.astro
  packages/studiocms/frontend/layouts/DashboardLayout.astro
  packages/studiocms/frontend/layouts/FirstTimeSetupLayout.astro
Due: integrations, studiocms

fix: clean up commented-out code in ThemeManager.astro
  packages/studiocms/frontend/components/shared/ThemeManager.astro
Due: integrations, studiocms

fix: update snapshot scripts for ThemeManager and AuthLayout components
  packages/studiocms/test/__snapshots__/components.test.ts.snap
  packages/studiocms/test/__snapshots__/layouts.test.ts.snap
Due: integrations, studiocms

fix: update TODO comment for temporary shim in virtual.d.ts
  packages/studiocms/src/virtual.d.ts
Due: integrations, studiocms

fix: enhance log level parsing in middleware for improved logging
  packages/studiocms/frontend/middleware/index.ts
Due: integrations, studiocms

Format plugin files
  packages/@studiocms/blog/src/components/BaseHead.astro
  packages/@studiocms/blog/src/components/Footer.astro
  packages/@studiocms/blog/src/components/Navigation.astro
  packages/@studiocms/blog/src/components/PageList.astro
  packages/@studiocms/blog/src/components/PostHeader.astro
  packages/@studiocms/blog/src/components/RSSIcon.astro
  packages/@studiocms/blog/src/components/editor.astro
  packages/@studiocms/blog/src/layouts/Layout.astro
  packages/@studiocms/html/src/components/editor.astro
  packages/@studiocms/markdoc/src/components/editor.astro
  packages/@studiocms/md/src/components/markdown-editor.astro
  packages/@studiocms/mdx/src/components/editor.astro
  packages/@studiocms/wysiwyg/src/components/Editor.astro
  packages/@studiocms/wysiwyg/src/routes/partial.astro
Due: plugins, @studiocms/blog, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

fix: update snapshot and test expectations for layout and post rendering
  packages/@studiocms/blog/test/components/index.test.ts
  packages/@studiocms/blog/test/layouts/__snapshots__/Layout.test.ts.snap
Due: plugins, @studiocms/blog

feat: implement zod to Effect schema conversion with comprehensive tests and documentation
  cspell.json
  packages/@withstudiocms/sdk/package.json
  packages/effectify/README.md
  packages/effectify/package.json
  packages/effectify/src/zod.ts
  packages/effectify/test/__snapshots__/zod.test.ts.snap
  packages/effectify/test/zod.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tools-utils, @withstudiocms/sdk

fix: enhance TODO comment for zod to Effect type conversion with detailed examples
  packages/effectify/src/zod.ts
Due: none

feat: add changesets for Astro v6 updates, linting .astro files, and scoping CSS to prevent leakage
  .changeset/dark-dogs-make.md
  .changeset/eighty-views-knock.md
Due: none

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**
