Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

refactor(api-spec): update endpoint identifiers for consistency across categories, folders, pages, and tags
  packages/@withstudiocms/api-spec/src/rest-api/errors.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
Due: tools-utils

feat(effect): Effect HttpApp to APIRoute converter (#1200)
  .changeset/strong-ducks-stay.md
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/astro/http-app.ts
  packages/@withstudiocms/effect/src/astro/index.ts
Due: tools-utils, @withstudiocms/effect

fix: add @libsql/client to ignored dependencies in renovate configuration
  .github/renovate.json
Due: none

fix: add @vitest/coverage-v8 and vitest to ignored dependencies in renovate configuration
  .github/renovate.json
Due: none

fix: update ignored dependencies in renovate configuration (#1209)
  .github/renovate.json
Due: none

Implements new Effect HttpAPI Spec docs package (#1202)
  .changeset/bumpy-clowns-stand.md
  knip.config.ts
  packages/@withstudiocms/api-spec/.gitignore
  packages/@withstudiocms/api-spec/LICENSE
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/src/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/errors.ts
  packages/@withstudiocms/api-spec/src/rest-api/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/schemas.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/categories.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/folders.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/index.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/pages.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/public/tags.ts
  packages/@withstudiocms/api-spec/src/rest-api/v1/secure/index.ts
  packages/@withstudiocms/api-spec/tsconfig.json
  packages/@withstudiocms/api-spec/tsconfig.tspc.json
  pnpm-lock.yaml
Due: tools-utils

Create eighty-rules-provide.md
  .changeset/eighty-rules-provide.md
Due: none

Start of cli-kit migration
  .codecov.yml
  knip.config.ts
  packages/@withstudiocms/cli-kit/CHANGELOG.md
  packages/@withstudiocms/cli-kit/LICENSE
  packages/@withstudiocms/cli-kit/package.json
  packages/@withstudiocms/cli-kit/src/colors.ts
  packages/@withstudiocms/cli-kit/src/context.ts
  packages/@withstudiocms/cli-kit/src/utils.ts
  packages/@withstudiocms/cli-kit/test/colors.test.ts
  packages/@withstudiocms/cli-kit/test/context.test.ts
  packages/@withstudiocms/cli-kit/test/test-utils.ts
  packages/@withstudiocms/cli-kit/test/utils.test.ts
  packages/@withstudiocms/cli-kit/tsconfig.json
  packages/@withstudiocms/cli-kit/tsconfig.tspc.json
  packages/@withstudiocms/cli-kit/vitest.config.ts
  pnpm-lock.yaml
Due: tools-utils

feat(tests): add cli-kit to projects with tests
  vitest.config.ts
Due: none

feat(tests): add test for pathToFileURL on Windows platform
  packages/@withstudiocms/cli-kit/src/utils.ts
  packages/@withstudiocms/cli-kit/test/utils.test.ts
Due: tools-utils

feat(utils): add function to normalize Windows file paths
  packages/@withstudiocms/cli-kit/src/utils.ts
Due: tools-utils

chore(deps): remove unused devDependency @types/figlet
  packages/@withstudiocms/cli-kit/package.json
  pnpm-lock.yaml
Due: tools-utils

feat(context): add module documentation for CLI context management feat(messages): create messages module for formatted output and user interaction
  packages/@withstudiocms/cli-kit/src/context.ts
  packages/@withstudiocms/cli-kit/src/messages.ts
Due: tools-utils

refactor(cli-kit): remove unused dependencies and scripts for simplification
  .changeset/late-sloths-read.md
  packages/@withstudiocms/cli-kit/package.json
  pnpm-lock.yaml
Due: tools-utils

fix(scripts): update build script quotes for consistency
  packages/@withstudiocms/cli-kit/package.json
Due: tools-utils

feat(readme): add comprehensive documentation for CLI kit
  packages/@withstudiocms/cli-kit/README.md
Due: tools-utils

test(messages): add comprehensive test suite for message utilities
  packages/@withstudiocms/cli-kit/test/messages.test.ts
Due: tools-utils

feat(tests): add additional test cases for action key handling
  packages/@withstudiocms/cli-kit/src/messages.ts
  packages/@withstudiocms/cli-kit/test/messages.test.ts
Due: tools-utils

fix(action): add v8 ignore comments for key handling logic
  packages/@withstudiocms/cli-kit/src/messages.ts
Due: tools-utils

feat(package): add keywords to package.json for improved discoverability
  packages/@withstudiocms/cli-kit/package.json
Due: tools-utils

feat(colors): define StyleTextCustomHexOptions interface for improved type safety
  packages/@withstudiocms/cli-kit/src/colors.ts
  packages/@withstudiocms/cli-kit/src/context.ts
  packages/@withstudiocms/cli-kit/src/messages.ts
  packages/@withstudiocms/cli-kit/src/utils.ts
  packages/@withstudiocms/cli-kit/test/utils.test.ts
Due: tools-utils

fix(s3): add regex validation and error handling for S3 object keys
  .changeset/curly-readers-appear.md
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

fix(s3): update regex for S3 object keys and enhance error messages for invalid formats
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

fix(s3): update regex for S3 object keys and improve error messages for invalid formats
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

fix(s3): add validation for S3 object key format in upload process
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
Due: none

Migrate `@withstudiocms/cli-kit` package (#1210)
  .changeset/late-sloths-read.md
  .codecov.yml
  knip.config.ts
  packages/@withstudiocms/cli-kit/CHANGELOG.md
  packages/@withstudiocms/cli-kit/LICENSE
  packages/@withstudiocms/cli-kit/README.md
  packages/@withstudiocms/cli-kit/package.json
  packages/@withstudiocms/cli-kit/src/colors.ts
  packages/@withstudiocms/cli-kit/src/context.ts
  packages/@withstudiocms/cli-kit/src/messages.ts
  packages/@withstudiocms/cli-kit/src/utils.ts
  packages/@withstudiocms/cli-kit/test/colors.test.ts
  packages/@withstudiocms/cli-kit/test/context.test.ts
  packages/@withstudiocms/cli-kit/test/messages.test.ts
  packages/@withstudiocms/cli-kit/test/test-utils.ts
  packages/@withstudiocms/cli-kit/test/utils.test.ts
  packages/@withstudiocms/cli-kit/tsconfig.json
  packages/@withstudiocms/cli-kit/tsconfig.tspc.json
  packages/@withstudiocms/cli-kit/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: tools-utils

fix(s3): add regex validation and error handling for S3 object keys (#1211)
  .changeset/curly-readers-appear.md
  packages/@studiocms/s3-storage/src/s3-storage-manager.ts
  packages/studiocms/src/virtuals/scripts/StorageFileBrowser.ts
Due: integrations, studiocms

fix(migrator): enhance schema migration logic and add dialect handling
  cspell.json
  packages/@withstudiocms/kysely/src/plugin.ts
  packages/@withstudiocms/kysely/src/utils/indexes.ts
  packages/@withstudiocms/kysely/src/utils/introspection.ts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/src/utils/tables.ts
Due: tools-utils

fix(schema): update management utilities to support PostgreSQL
  .changeset/quiet-states-heal.md
Due: none

fix(migrator): update timestamp format in now() function to YYMMDDMM
  cspell.json
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

fix(migrator): refactor now() function to return timestamp difference from base year
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

fix(migrator): update now() function to use UTC for base year calculation
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

fix(migrator): enhance schema migration logic to check for existing rows in v1 table
  packages/@withstudiocms/kysely/src/utils/migrator.ts
Due: tools-utils

feat(auth): implement middleware-level permission checks for dashboard routes
  .changeset/metal-trains-lead.md
  packages/studiocms/frontend/middleware/_authmap.ts
  packages/studiocms/frontend/middleware/index.ts
  packages/studiocms/package.json
  pnpm-lock.yaml
Due: integrations, studiocms

feat(auth): add user session validation and redirect to logout for unauthorized access
  packages/studiocms/frontend/middleware/index.ts
Due: integrations, studiocms

Fix postgres migrations (#1213)
  .changeset/quiet-states-heal.md
  cspell.json
  packages/@withstudiocms/kysely/src/plugin.ts
  packages/@withstudiocms/kysely/src/utils/indexes.ts
  packages/@withstudiocms/kysely/src/utils/introspection.ts
  packages/@withstudiocms/kysely/src/utils/migrator.ts
  packages/@withstudiocms/kysely/src/utils/tables.ts
Due: tools-utils

feat(middleware): implement data middleware and associated error handling
  packages/@withstudiocms/effect/src/astro/data-middleware.ts
  packages/@withstudiocms/effect/test/astro/data-middleware.test.ts
Due: tools-utils, @withstudiocms/effect

feat(middleware): add dataMiddleware for passing headerData in response object
  .changeset/two-rats-chew.md
Due: none

feat(astro): export dataMiddleware from index file
  packages/@withstudiocms/effect/src/astro/index.ts
Due: tools-utils, @withstudiocms/effect

fix(middleware): update documentation to clarify response header processing in defineDataMiddleware
  packages/@withstudiocms/effect/src/astro/data-middleware.ts
Due: tools-utils, @withstudiocms/effect

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
