Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true
  comment: #this is a top-level key
    layout: "diff, flags, files, components" # show component info in the PR comment
    behavior: default
    require_changes: false # if true: only post the comment if coverage changes
    require_base: false # [true :: must have a base report to post]
    require_head: true # [true :: must have a head report to post]
    hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: withstudiocms_auth-kit
      name: "@withstudiocms/auth-kit"
      paths:
        - packages/@withstudiocms/auth-kit/**
    - component_id: withstudiocms_buildkit
      name: "@withstudiocms/buildkit"
      paths:
        - packages/@withstudiocms/buildkit/**
    - component_id: withstudiocms_component-registry
      name: "@withstudiocms/component-registry"
      paths:
        - packages/@withstudiocms/component-registry/**
    - component_id: withstudiocms_config-utils
      name: "@withstudiocms/config-utils"
      paths:
        - packages/@withstudiocms/config-utils/**
    - component_id: withstudiocms_effect
      name: "@withstudiocms/effect"
      paths:
        - packages/@withstudiocms/effect/**
    - component_id: withstudiocms_internal_helpers
      name: "@withstudiocms/internal_helpers"
      paths:
        - packages/@withstudiocms/internal_helpers/**

fix: update package name and refine ignore list in config
  .changeset/config.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
Due: @withstudiocms/config-utils

fix: specify integration tests for @withstudiocms/config-utils
  .changeset/ripe-flies-scream.md
Due: none

feat: add 'devapps' initial tests
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/src/__tests__/integration.test.ts
  packages/@studiocms/devapps/src/effects/WordPressAPI/__tests__/configs.test.ts
  packages/@studiocms/devapps/src/effects/WordPressAPI/__tests__/schema.test.ts
  packages/@studiocms/devapps/src/schema/__tests__/index.test.ts
  packages/@studiocms/devapps/src/utils/__tests__/app-utils.test.ts
  packages/@studiocms/devapps/src/utils/__tests__/pathGenerator.test.ts
  packages/@studiocms/devapps/tsconfig.json
  packages/@studiocms/devapps/vitest.config.ts
  vitest.config.ts
Due: none

feat: add integration tests and update configurations for testing utilities (#794)
  .changeset/config.json
  .changeset/ripe-flies-scream.md
  .vscode/settings.json
  knip.config.ts
  package.json
  packages/@withstudiocms/config-utils/README.md
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/astro.config.mts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/example.config.mjs
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/package.json
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/src/pages/index.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/tsconfig.json
  packages/@withstudiocms/config-utils/test/integration-utils.test.ts
  packages/@withstudiocms/config-utils/test/test-utils.ts
  packages/@withstudiocms/config-utils/test/utils/tryCatch.test.ts
  packages/@withstudiocms/config-utils/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: @withstudiocms/config-utils

refactor
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/src/schema/__tests__/index.test.ts
  packages/@studiocms/devapps/tests/configs.test.ts
  packages/@studiocms/devapps/tests/index.test.ts
  packages/@studiocms/devapps/tests/schema.test.ts
  packages/@studiocms/devapps/tests/schema/index.test.ts
  packages/@studiocms/devapps/tests/utils/app-utils.test.ts
  packages/@studiocms/devapps/tests/utils/pathGenerator.test.ts
  packages/@studiocms/devapps/tsconfig.json
  packages/@studiocms/devapps/vitest.config.ts
Due: none

feat: enhance config file watching and reporting in integration utilities
  .changeset/cuddly-results-heal.md
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/types.ts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/astro.config.mts
  packages/@withstudiocms/config-utils/test/fixtures/integration-utils/src/pages/file-watcher.ts
  packages/@withstudiocms/config-utils/test/integration-utils.test.ts
  packages/@withstudiocms/internal_helpers/README.md
  packages/@withstudiocms/internal_helpers/src/utils/jsonUtils.ts
  packages/@withstudiocms/internal_helpers/test/utils/jsonUtils.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/pageTypeFilter.test.ts
  vitest.config.ts
Due: @withstudiocms/config-utils, @withstudiocms/internal_helpers

fix: update type definition for readFileSync parameter in readJson function
  packages/@withstudiocms/internal_helpers/src/utils/jsonUtils.ts
Due: @withstudiocms/internal_helpers

refactor: update import paths to use index.js for utility modules
  packages/@withstudiocms/internal_helpers/src/utils/jsonUtils.ts
  packages/@withstudiocms/internal_helpers/test/utils/jsonUtils.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/loadChangelog.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/pageTypeFilter.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/safeString.test.ts
Due: @withstudiocms/internal_helpers

refactor: update import paths to use index.js for utility modules in test files
  packages/@withstudiocms/internal_helpers/test/utils/jsonUtils.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/loadChangelog.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/pageTypeFilter.test.ts
  packages/@withstudiocms/internal_helpers/test/utils/safeString.test.ts
Due: @withstudiocms/internal_helpers

feat: add integration tests for getLatestVersion and integrationLogger functions refactor: update addIntegrationArray and injectScripts with v8 ignore comments
  packages/@withstudiocms/internal_helpers/src/astro-integration/addIntegrationArray.ts
  packages/@withstudiocms/internal_helpers/src/astro-integration/getLatestVersion.ts
  packages/@withstudiocms/internal_helpers/src/astro-integration/injectScripts.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/getLatestVersion.test.ts
  packages/@withstudiocms/internal_helpers/test/astro-integration/integrationLogger.test.ts
  pnpm-lock.yaml
Due: @withstudiocms/internal_helpers

refactor: simplify type definitions for cache data in getLatestVersion function
  packages/@withstudiocms/internal_helpers/src/astro-integration/getLatestVersion.ts
Due: @withstudiocms/internal_helpers

refactor: update LatestVersionCheck to use ISO 8601 format for lastChecked and improve cache handling
  packages/@withstudiocms/internal_helpers/src/astro-integration/getLatestVersion.ts
Due: @withstudiocms/internal_helpers

refactor: implement abort controller for fetch request in getLatestVersion function
  packages/@withstudiocms/internal_helpers/src/astro-integration/getLatestVersion.ts
Due: @withstudiocms/internal_helpers

refactor: change error handling in getLatestVersion to log warnings instead of throwing errors
  packages/@withstudiocms/internal_helpers/src/astro-integration/getLatestVersion.ts
Due: @withstudiocms/internal_helpers

test: enhance getLatestVersion tests for error handling and logging
  packages/@withstudiocms/internal_helpers/test/astro-integration/getLatestVersion.test.ts
Due: @withstudiocms/internal_helpers

test: add warning for unsuccessful fetch response in getLatestVersion
  packages/@withstudiocms/internal_helpers/test/astro-integration/getLatestVersion.test.ts
Due: @withstudiocms/internal_helpers

refactor: unify file IO handling in getLatestVersion function
  packages/@withstudiocms/internal_helpers/src/astro-integration/getLatestVersion.ts
Due: @withstudiocms/internal_helpers

chore: comment out default settings in codecov configuration
  .codecov.yml
Due: none

chore: enable project coverage visibility in codecov configuration
  .codecov.yml
Due: none

chore: comment out unused configuration options in codecov file
  .codecov.yml
Due: none

chore: uncomment comment section in codecov configuration
  .codecov.yml
Due: none

chore: update comment layout in codecov configuration to include files
  .codecov.yml
Due: none

chore: add 'carryforward' to integration paths in codecov configuration
  .codecov.yml
  .vscode/settings.json
Due: none

chore: update paths in codecov configuration to remove wildcard characters
  .codecov.yml
Due: none

chore: reorganize flag management configuration in codecov file
  .codecov.yml
Due: none

chore: comment out tools-utils configuration in coverage section
  .codecov.yml
Due: none

chore: update flag management configuration to set auto target and thresholds
  .codecov.yml
Due: none

chore: update patch target in flag management configuration from 90% to 80%
  .codecov.yml
Due: none

chore: update tools-utils configuration in codecov file to enable informational status and set target to 80%
  .codecov.yml
Due: none

chore: add flags for tools-utils in Codecov steps for coverage reports
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-testing.yml
Due: none

chore: update Codecov flags to include integrations and plugins
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-testing.yml
Due: none

chore: remove deprecated flag management configuration for tools-utils
  .codecov.yml
Due: none

chore: update Codecov configuration to enable target settings for integrations and plugins
  .codecov.yml
Due: none

chore: update CI workflows and README for improved testing visibility
  .github/workflows/ci-push-main.yml
  .github/workflows/ci-testing.yml
  README.md
Due: none

chore: update GitHub Actions badge in README for clarity
  README.md
Due: none

chore: adjust continue-on-error condition for test coverage step in CI workflow
  .github/workflows/ci-testing.yml
Due: none

chore: update Codecov action condition to always upload test results
  .github/workflows/ci-testing.yml
Due: none

Apply suggestions.
  packages/@studiocms/devapps/src/utils/pathGenerator.ts
  packages/@studiocms/devapps/tests/configs.test.ts
  packages/@studiocms/devapps/tests/index.test.ts
  packages/@studiocms/devapps/tests/schema.test.ts
  packages/@studiocms/devapps/tests/schema/index.test.ts
  packages/@studiocms/devapps/tests/utils/app-utils.test.ts
  packages/@studiocms/devapps/tests/utils/pathGenerator.test.ts
  packages/@studiocms/devapps/tsconfig.json
  packages/@studiocms/devapps/vitest.config.ts
Due: none

update Vitest configuration to use defineProject
  packages/@studiocms/devapps/vitest.config.ts
Due: none

simplify tests for WordPress API configs by removing mocks and using Effect patterns
  packages/@studiocms/devapps/tests/configs.test.ts
Due: none
