Repository withstudiocms/studiocms: changes, and which Codecov flags are due for each by the changed paths.
All: integrations, plugins, tools-utils, studiocms, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg, @withstudiocms/auth-kit, @withstudiocms/buildkit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Path conditions:
  integrations: any of: packages/studiocms/**, packages/@studiocms/devapps/**
  plugins: any of: packages/@studiocms/auth0/**, packages/@studiocms/blog/**, packages/@studiocms/cloudinary-image-service/**, packages/@studiocms/discord/**, packages/@studiocms/github/**, packages/@studiocms/google/**, packages/@studiocms/html/**, packages/@studiocms/markdoc/**, packages/@studiocms/md/**, packages/@studiocms/mdx/**, packages/@studiocms/wysiwyg/**
  tools-utils: any of: packages/@withstudiocms/**
  studiocms: any of: packages/studiocms/**
  @studiocms/devapps: any of: packages/@studiocms/devapps/**
  @studiocms/auth0: any of: packages/@studiocms/auth0/**
  @studiocms/blog: any of: packages/@studiocms/blog/**
  @studiocms/cloudinary-image-service: any of: packages/@studiocms/cloudinary-image-service/**
  @studiocms/discord: any of: packages/@studiocms/discord/**
  @studiocms/github: any of: packages/@studiocms/github/**
  @studiocms/google: any of: packages/@studiocms/google/**
  @studiocms/html: any of: packages/@studiocms/html/**
  @studiocms/markdoc: any of: packages/@studiocms/markdoc/**
  @studiocms/md: any of: packages/@studiocms/md/**
  @studiocms/mdx: any of: packages/@studiocms/mdx/**
  @studiocms/wysiwyg: any of: packages/@studiocms/wysiwyg/**
  @withstudiocms/auth-kit: any of: packages/@withstudiocms/auth-kit/**
  @withstudiocms/buildkit: any of: packages/@withstudiocms/buildkit/**
  @withstudiocms/component-registry: any of: packages/@withstudiocms/component-registry/**
  @withstudiocms/config-utils: any of: packages/@withstudiocms/config-utils/**
  @withstudiocms/effect: any of: packages/@withstudiocms/effect/**
  @withstudiocms/internal_helpers: any of: packages/@withstudiocms/internal_helpers/**
  @withstudiocms/template-lang: any of: packages/@withstudiocms/template-lang/**
  @withstudiocms/kysely: any of: packages/@withstudiocms/kysely/**
  @withstudiocms/sdk: any of: packages/@withstudiocms/sdk/**
  @withstudiocms/cli-kit: any of: packages/@withstudiocms/cli-kit/**

feat(vitest): include tsdown.config.ts in coverage paths
  vitest.config.ts
Due: none

feat(vitest): update coverage paths to include tsdown.config.ts in subdirectories
  vitest.config.ts
Due: none

feat(integration): introduce defineIntegration utility with schema validation and error handling
  .changeset/heavy-monkeys-fail.md
  packages/effectify/src/astro/integration.ts
  packages/effectify/test/astro/integration.test.ts
Due: none

feat(integration): add defineIntegration utility for Astro with schema validation and error handling
  packages/effectify/README.md
Due: none

fix(integration): improve error handling in defineIntegration hooks and update logger usage
  packages/effectify/README.md
  packages/effectify/src/astro/integration.ts
Due: none

fix(integration): simplify logging message in astro integration setup
  packages/effectify/README.md
Due: none

fix(integration): simplify error logging in defineIntegration hook
  packages/effectify/src/astro/integration.ts
Due: none

fix(tests): update error message assertion in EffectifyIntegrationHookError test
  packages/effectify/test/astro/integration.test.ts
Due: none

feat(effectify): add Astro integration definition and error handling (#1481)
  .changeset/heavy-monkeys-fail.md
  .codecov.yml
  packages/effectify/README.md
  packages/effectify/scratchpad/astro/integration.ts
  packages/effectify/src/astro/integration.ts
  packages/effectify/test/astro/integration.test.ts
  vitest.config.ts
Due: none

chore: remove legacy Zod-based configuration utilities and logger integration
  .changeset/eleven-humans-cross.md
  .changeset/tidy-carpets-say.md
  package.json
  packages/@studiocms/wysiwyg/src/routes/partial.astro
  packages/@studiocms/wysiwyg/src/routes/store.ts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/astro.config.mts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/src/components/test-comp.astro
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/src/pages/index.ts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/tsconfig.json
  packages/@withstudiocms/component-registry/test/registry-test.test.ts
  packages/@withstudiocms/component-registry/test/test-utils.ts
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/index.ts
  packages/@withstudiocms/config-utils/src/types.ts
  packages/@withstudiocms/config-utils/src/zod-utils.ts
  packages/@withstudiocms/config-utils/test/test-utils.ts
  packages/@withstudiocms/config-utils/test/zod-utils.test.ts
  packages/studiocms/frontend/components/dashboard/sidebarConfig.ts
  packages/studiocms/frontend/middleware/error-handler.ts
  packages/studiocms/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/verifyEndpoints.ts
  packages/studiocms/package.json
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/mailer/index.ts
  packages/studiocms/src/virtuals/notifier/index.ts
  packages/studiocms/src/virtuals/stubs/logger.stub.js
  packages/studiocms/src/virtuals/utils.ts
  packages/studiocms/vitest.config.ts
  pnpm-lock.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/wysiwyg, @withstudiocms/component-registry, @withstudiocms/config-utils

chore: remove deepmerge-ts dependency from config-utils and pnpm-lock
  packages/@withstudiocms/config-utils/package.json
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/config-utils

chore: remove buildLoggerVirtual test from utils test suite
  packages/studiocms/test/virtuals/utils.test.ts
Due: integrations, studiocms

chore: StudioCMS cleanup of unused/legacy code that we simply no longer need (#1483)
  .changeset/eleven-humans-cross.md
  .changeset/tidy-carpets-say.md
  package.json
  packages/@studiocms/wysiwyg/src/routes/partial.astro
  packages/@studiocms/wysiwyg/src/routes/store.ts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/astro.config.mts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/package.json
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/src/components/test-comp.astro
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/src/pages/index.ts
  packages/@withstudiocms/component-registry/test/fixtures/registry-test/tsconfig.json
  packages/@withstudiocms/component-registry/test/registry-test.test.ts
  packages/@withstudiocms/component-registry/test/test-utils.ts
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/src/astro-integration-utils.ts
  packages/@withstudiocms/config-utils/src/index.ts
  packages/@withstudiocms/config-utils/src/types.ts
  packages/@withstudiocms/config-utils/src/zod-utils.ts
  packages/@withstudiocms/config-utils/test/test-utils.ts
  packages/@withstudiocms/config-utils/test/zod-utils.test.ts
  packages/studiocms/frontend/components/dashboard/sidebarConfig.ts
  packages/studiocms/frontend/middleware/error-handler.ts
  packages/studiocms/frontend/pages/[dashboard]/password-reset.astro
  packages/studiocms/frontend/pages/studiocms_api/_handlers/dashboard/verifyEndpoints.ts
  packages/studiocms/package.json
  packages/studiocms/src/index.ts
  packages/studiocms/src/virtual.d.ts
  packages/studiocms/src/virtuals/mailer/index.ts
  packages/studiocms/src/virtuals/notifier/index.ts
  packages/studiocms/src/virtuals/stubs/logger.stub.js
  packages/studiocms/src/virtuals/utils.ts
  packages/studiocms/test/virtuals/utils.test.ts
  packages/studiocms/vitest.config.ts
  pnpm-lock.yaml
Due: integrations, plugins, tools-utils, studiocms, @studiocms/wysiwyg, @withstudiocms/component-registry, @withstudiocms/config-utils

feat(config-utils): migrate internal config loading utility from esbuild to tsdown
  .changeset/public-impalas-warn.md
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/src/loader.ts
  packages/@withstudiocms/config-utils/src/types.ts
  packages/@withstudiocms/config-utils/test/loader.test.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/config-utils

refactor(types): remove unused dependencies property from LoadAndBundleConfigFileResult interface
  packages/@withstudiocms/config-utils/src/types.ts
Due: tools-utils, @withstudiocms/config-utils

feat(config-utils): migrate internal config loading utility to tsdown (#1485)
  .changeset/public-impalas-warn.md
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/src/loader.ts
  packages/@withstudiocms/config-utils/src/types.ts
  packages/@withstudiocms/config-utils/test/loader.test.ts
  pnpm-lock.yaml
Due: tools-utils, @withstudiocms/config-utils

feat: unify tsdown configurations and update package references across the repository
  .changeset/spicy-sails-kiss.md
  packages/@studiocms/upgrade/package.json
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/@studiocms/upgrade/upgrade.mjs
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/tsdown.config.ts
  packages/create-studiocms/create-studiocms.mjs
  packages/create-studiocms/package.json
  packages/create-studiocms/tsdown.config.ts
  packages/effectify/package.json
  packages/effectify/tsdown.config.ts
Due: tools-utils

chore: remove tsdown references from pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Migrate more packages to tsdown
  .changeset/spicy-words-cross.md
  .changeset/spotty-rockets-end.md
  packages/@studiocms/markdown-remark/tsdown.config.ts
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/auth-kit/tsdown.config.ts
  packages/@withstudiocms/cli-kit/package.json
  packages/@withstudiocms/cli-kit/tsdown.config.ts
  packages/@withstudiocms/component-registry/package.json
  packages/@withstudiocms/component-registry/src/virtual.d.ts
  packages/@withstudiocms/component-registry/tsdown.config.ts
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/tsdown.config.ts
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/astro/context-utils.ts
  packages/@withstudiocms/effect/src/astro/types.ts
  packages/@withstudiocms/effect/src/clack.ts
  packages/@withstudiocms/effect/src/deepmerge.ts
  packages/@withstudiocms/effect/src/logger.ts
  packages/@withstudiocms/effect/src/scrypt.ts
  packages/@withstudiocms/effect/src/smtp.ts
  packages/@withstudiocms/effect/tsdown.config.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/tsdown.config.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/tsconfig.json
  packages/@withstudiocms/kysely/tsdown.config.ts
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/src/context.ts
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/tsconfig.json
  packages/@withstudiocms/sdk/tsdown.config.ts
  packages/@withstudiocms/template-lang/package.json
  packages/@withstudiocms/template-lang/tsdown.config.ts
  pnpm-lock.yaml
  tsdown.shared.ts
Due: tools-utils, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

feat: add effectify and kysely dependencies to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: enhance error handling in AuthAPI and RestAPI, update build script for TypeScript declaration generation
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/tsdown.config.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
  packages/studiocms/src/handlers/storage-manager/core/database.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/sdk

fix: resolve type errors from newly migrated packages
  .changeset/silver-sloths-kick.md
Due: none

feat: unify tsdown configurations across projects (#1486)
  .changeset/spicy-sails-kiss.md
  packages/@studiocms/upgrade/package.json
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/@studiocms/upgrade/upgrade.mjs
  packages/@withstudiocms/api-spec/package.json
  packages/@withstudiocms/api-spec/tsdown.config.ts
  packages/create-studiocms/create-studiocms.mjs
  packages/create-studiocms/package.json
  packages/create-studiocms/tsdown.config.ts
  packages/effectify/package.json
  packages/effectify/tsdown.config.ts
  pnpm-lock.yaml
Due: tools-utils

Migrate `@withstudiocms` Scoped packages to tsdown (#1490)
  .changeset/silver-sloths-kick.md
  .changeset/spicy-words-cross.md
  .changeset/spotty-rockets-end.md
  packages/@studiocms/markdown-remark/tsdown.config.ts
  packages/@withstudiocms/auth-kit/package.json
  packages/@withstudiocms/auth-kit/tsdown.config.ts
  packages/@withstudiocms/cli-kit/package.json
  packages/@withstudiocms/cli-kit/tsdown.config.ts
  packages/@withstudiocms/component-registry/package.json
  packages/@withstudiocms/component-registry/src/virtual.d.ts
  packages/@withstudiocms/component-registry/tsdown.config.ts
  packages/@withstudiocms/config-utils/package.json
  packages/@withstudiocms/config-utils/tsdown.config.ts
  packages/@withstudiocms/effect/package.json
  packages/@withstudiocms/effect/src/astro/context-utils.ts
  packages/@withstudiocms/effect/src/astro/types.ts
  packages/@withstudiocms/effect/src/clack.ts
  packages/@withstudiocms/effect/src/deepmerge.ts
  packages/@withstudiocms/effect/src/logger.ts
  packages/@withstudiocms/effect/src/scrypt.ts
  packages/@withstudiocms/effect/src/smtp.ts
  packages/@withstudiocms/effect/tsdown.config.ts
  packages/@withstudiocms/internal_helpers/package.json
  packages/@withstudiocms/internal_helpers/tsdown.config.ts
  packages/@withstudiocms/kysely/package.json
  packages/@withstudiocms/kysely/src/core/client.ts
  packages/@withstudiocms/kysely/tsconfig.json
  packages/@withstudiocms/kysely/tsdown.config.ts
  packages/@withstudiocms/sdk/package.json
  packages/@withstudiocms/sdk/src/context.ts
  packages/@withstudiocms/sdk/src/modules/auth/index.ts
  packages/@withstudiocms/sdk/tsconfig.json
  packages/@withstudiocms/sdk/tsdown.config.ts
  packages/@withstudiocms/template-lang/package.json
  packages/@withstudiocms/template-lang/tsdown.config.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/auth/auth.ts
  packages/studiocms/frontend/pages/studiocms_api/_handlers/rest-api/v1/secure.ts
  packages/studiocms/src/handlers/storage-manager/core/database.ts
  pnpm-lock.yaml
  tsdown.shared.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/auth-kit, @withstudiocms/component-registry, @withstudiocms/config-utils, @withstudiocms/effect, @withstudiocms/internal_helpers, @withstudiocms/template-lang, @withstudiocms/kysely, @withstudiocms/sdk, @withstudiocms/cli-kit

Update @markdoc/markdoc dependency to version 0.5.6
  .changeset/five-goats-try.md
Due: none

chore: migrate packages to use tsdown instead of custom esbuild pipeline
  .changeset/mighty-houses-listen.md
  packages/@studiocms/auth0/package.json
  packages/@studiocms/auth0/tsdown.config.ts
  packages/@studiocms/blog/package.json
  packages/@studiocms/blog/tsdown.config.ts
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/cloudinary-image-service/tsdown.config.ts
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/tsdown.config.ts
  packages/@studiocms/discord/package.json
  packages/@studiocms/discord/tsdown.config.ts
  packages/@studiocms/github/package.json
  packages/@studiocms/github/tsdown.config.ts
  packages/@studiocms/google/package.json
  packages/@studiocms/google/tsdown.config.ts
  packages/@studiocms/html/package.json
  packages/@studiocms/html/tsdown.config.ts
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/markdoc/tsdown.config.ts
  packages/@studiocms/md/package.json
  packages/@studiocms/md/tsdown.config.ts
  packages/@studiocms/mdx/package.json
  packages/@studiocms/mdx/tsdown.config.ts
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/s3-storage/tsdown.config.ts
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/src/routes/grapes.css.ts
  packages/@studiocms/wysiwyg/tsdown.config.ts
  pnpm-lock.yaml
Due: integrations, plugins, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

chore(deps): add workspace dependencies for effect, kysely, and sdk in wysiwyg package
  pnpm-lock.yaml
Due: none

chore: update dev script and tsdown config for improved build process
  package.json
  packages/@withstudiocms/component-registry/tsdown.config.ts
Due: tools-utils, @withstudiocms/component-registry

chore: migrate `@studiocms` scoped packages to use tsdown (#1500)
  .changeset/mighty-houses-listen.md
  package.json
  packages/@studiocms/auth0/package.json
  packages/@studiocms/auth0/tsdown.config.ts
  packages/@studiocms/blog/package.json
  packages/@studiocms/blog/tsdown.config.ts
  packages/@studiocms/cloudinary-image-service/package.json
  packages/@studiocms/cloudinary-image-service/tsdown.config.ts
  packages/@studiocms/devapps/package.json
  packages/@studiocms/devapps/tsdown.config.ts
  packages/@studiocms/discord/package.json
  packages/@studiocms/discord/tsdown.config.ts
  packages/@studiocms/github/package.json
  packages/@studiocms/github/tsdown.config.ts
  packages/@studiocms/google/package.json
  packages/@studiocms/google/tsdown.config.ts
  packages/@studiocms/html/package.json
  packages/@studiocms/html/tsdown.config.ts
  packages/@studiocms/markdoc/package.json
  packages/@studiocms/markdoc/tsdown.config.ts
  packages/@studiocms/md/package.json
  packages/@studiocms/md/tsdown.config.ts
  packages/@studiocms/mdx/package.json
  packages/@studiocms/mdx/tsdown.config.ts
  packages/@studiocms/s3-storage/package.json
  packages/@studiocms/s3-storage/tsdown.config.ts
  packages/@studiocms/wysiwyg/package.json
  packages/@studiocms/wysiwyg/src/routes/grapes.css.ts
  packages/@studiocms/wysiwyg/tsdown.config.ts
  pnpm-lock.yaml
Due: integrations, plugins, @studiocms/devapps, @studiocms/auth0, @studiocms/blog, @studiocms/cloudinary-image-service, @studiocms/discord, @studiocms/github, @studiocms/google, @studiocms/html, @studiocms/markdoc, @studiocms/md, @studiocms/mdx, @studiocms/wysiwyg

fix(deps): correct now deprecated `onlyAllowBundle` to `onlyBundle` in tsdown config files
  packages/@studiocms/markdown-remark/tsdown.config.ts
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/create-studiocms/tsdown.config.ts
Due: none

fix(deps): correct now deprecated `onlyAllowBundle` to `onlyBundle` in tsdown config files (#1501)
  packages/@studiocms/markdown-remark/tsdown.config.ts
  packages/@studiocms/upgrade/tsdown.config.ts
  packages/create-studiocms/tsdown.config.ts
Due: none

chore: update exports and lint configurations across multiple packages
  .changeset/sharp-areas-dream.md
  biome.json
  packages/@studiocms/markdown-remark/src/core/rehype-plugins/callouts/index.ts
  packages/@withstudiocms/component-registry/src/runtime.ts
  packages/@withstudiocms/kysely/src/client.ts
  packages/studiocms/src/cli/utils/user-utils.ts
  packages/studiocms/src/plugins/analytics/assets/webVital.ts
  packages/studiocms/src/virtuals/auth/index.ts
  packages/studiocms/src/virtuals/i18n/client.ts
  packages/studiocms/src/virtuals/mailer/index.ts
Due: integrations, tools-utils, studiocms, @withstudiocms/component-registry, @withstudiocms/kysely

fix(deps): remove mysql2 from ignored dependencies list
  .github/renovate.json
Due: none

fix(deps): remove mysql2 from ignored dependencies list (#1507)
  .github/renovate.json
Due: none

feat: add Astro 6 support to peer dependency ranges
  pnpm-workspace.yaml
Due: none

fix: add client-side shim for Astro 6 virtual modules
  packages/studiocms/src/consts.ts
Due: integrations, studiocms

[ci] changesets
  .changeset/brave-bottles-yell.md
Due: none

Create silly-turtles-fix.md
  .changeset/silly-turtles-fix.md
Due: none

[ci] changesets
  .changeset/blue-ties-mate.md
Due: none

[ci] changesets
  .changeset/sixty-suns-hope.md
Due: none
